
<!-- Listing Categories -->
	{include file="$style_dir/blocks/category_list.html" type='video'}
<!-- Listing Categories End -->

<div style="width:600px; float:left" >
    <div class="heading">Videos</div>
    {section name=v_list loop=$videos}
        {include file="$style_dir/blocks/video.html" video=$videos[v_list]}
    {/section}
    <div class="clear"></div>
</div>

<div class="verticle_ad" align="center">{AD place='ad_160x600'}</div>
<div class="clear"></div>

{include file="$style_dir/blocks/pagination.html"}