<div class="video_title">{$vdo.title}</div>
{if has_access('admin_access')}<div>{ANCHOR place=watch_admin_options data=$vdo}</div>{/if}

<!-- Video Left -->
<div class="video_left" align="left">

<div class="player_container">
    <div id="videoPlayer" class='video_player'>
    This content requires JavaScript and Macromedia Flash Player 7 or higher. <a href=http://www.macromedia.com/go/getflash/>Get Flash</a><br/><br/>
    </div>
    <script language="javascript">
        {FlashPlayer vdetails = $vdo}
    </script>
</div>
<div class="clear"></div>

    <!-- Video Options -->
    <div class="video_options" align="center">
        <a href="#"><span class="share_video">&nbsp;</span> Share This Video</a>
        <a href="#"><span class="add_favorite">&nbsp;</span> Add To Favorites</a>
        <a href="#"><span class="flag_video">&nbsp;</span> Report this video</a>
    </div>
    
    
    <!-- Video Comments Options -->
    {include file="$style_dir/blocks/add_comment.html"}
    
    <!-- Displaying Comments -->
    {include file="$style_dir/blocks/comments.html" id=$vdo.videoid type=v}
</div></div>


<!-- Video Right-->
<div class="video_right" align="center">
	{AD place='ad_300x250' style='margin-bottom:10px' align='center'}
    <!-- Video Details option -->
    <div class="video_details" align="left">
        <span class="vd_heading">About This Video</span>
        <div class="vd_user">
        {assign var='udetails' value=$userquery->get_user_details($vdo.userid)}
            <a class="vd_thumb" href="#"><img src="{$userquery->getUserThumb($udetails)}" class="mid_user_thumb" /></a>
            {$udetails.username} uploaded on {$vdo.date_added|date_format}<br />
            {$vdo.views|number_format} times viewed<br />
            <div class="clear"></div>
            
        </div>
        <div class="vd_desc">
        {$vdo.description}
        </div>
        <img src="{$imageurl}/dot.gif" class="tags_icon" /> {$vdo.tags|tags:video}<br />
    Categories : {$vdo.category|categories:video}
    </div>

<div class="clear"></div>
{ANCHOR place="video_bookmarks" data=$vdo}
    <div class="video_details" align="left">
      <strong>
      <label for="embed_code">Embed Code</label>
      <br />
<input type="text" name="embed_code" id="embed_code" style="margin-bottom:5px; width:99%" value="{$cbvid->embed_code($vdo)|htmlspecialchars}"/>
      <br />
      <label for="link_video">Link This Video<br />
      </label>
      <input type="text" name="link_video" id="link_video" style="width:99%" value="{videoLink vdetails=$vdo}" />
    </strong></div>
</div>