{ANCHOR place="before_edit_video_form_thumbs"}
<div class="formSection clear">
    <h4>{lang code='thumbs'} <i class="glyphicon glyphicon-chevron-down pull-right"></i></h4>
    <div class="sectionContent " style="display: none;">
        <div class="row">
            <h5>{lang code="extracted_thumbs"}</h5>
            {foreach from=$vidthumbs item=vid_thumb}
                <div class="col-md-3">
                    <div class="form-group text-center">
                        <label for="{$vid_thumb|getname}"><img class="edit-img-thumbnail" src="{$vid_thumb}" width="100" height="100" />
                            <input class="show" style="margin:5px auto;" type="radio" value="{$vid_thumb|get_thumb_num}" id="{$vid_thumb|getname}" name="default_thumb" {if $v.default_thumb==$vid_thumb|get_thumb_num}checked{/if}/>{lang code='default'}
                        </label>
                    </div>
                </div>
            {/foreach}
        </div>
        {if !empty($vidthumbs_custom)}
            <hr/>
            <div class="row">
                <h5>{lang code="custom_thumbs"}</h5>
                {foreach from=$vidthumbs_custom item=vid_thumb}
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <label for="{$vid_thumb|getname}"><img class="edit-img-thumbnail" src="{$vid_thumb}" width="100" height="100" />
                                <input class="show" style="margin:5px auto;" type="radio" value="{$vid_thumb|get_thumb_num}" id="{$vid_thumb|getname}" name="default_thumb" {if $v.default_thumb==$vid_thumb|get_thumb_num}checked{/if} />{lang code='default'}
                            </label>
                        </div>
                    </div>
                {/foreach}
            </div>
        {/if}
        <div style="clear: both;"></div>
        {ANCHOR place="before_edit_video_form_thumbs_upload"}
        <div class="row">
            <h5>{lang code='upload_custom_thumbnail'}</h5>
            <input name="vid_thumb[]" id="new_thumbs" type="file" />
            <label for="upload_thumbs"></label>
            <div class="form-group pull-right">
                <input type="submit" id="upload_thumbs" value="{lang code='upload'}" class="btn btn-primary btn-sm"/>
            </div>
        </div>
        {ANCHOR place="after_edit_video_form_thumbs_upload"}
    </div>
</div>