<div class="clearfix thumb-holder userAppending no_overflow">
    <a
        {if $popup_video && $video.status|lower == 'successful'}
            class="video-link cd-popup-trigger no_overflow" onclick="_cb.getModalVideo({$video.videoid})"
        {else}
            class="video-link no_overflow" href="{video_link($video)}"
        {/if}
         title="{display_clean($video.title|title)}">
        <img class="lazy img-responsive no_select{if Video::getInstance()->isToBlur($video['videoid'])} blur{/if}" alt="{display_clean($video.title)|title}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')}/>
    </a>
    {ANCHOR place='in_video_thumb' data=$video}
    {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful' && Session::isCookieConsent('fast_qlist')}
        <button data-quick="quick-{$video.videoid}" class="icon-plus2 cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260}" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist">
        </button>
    {/if}
    {if config('enable_favorite_icon') == 'yes' && User::getInstance()->isUserConnected() && Video::isFavorite($video.videoid)}
        <span class="manage_favorite watch-rating-icon pointer glyphicon glyphicon-heart " title="{lang('remove_from_favorites')}" data-id="{$video.videoid}"></span>
    {/if}
    {if $video.duration>1}
        <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
    {/if}
</div>
<div class="clearfix video-info {if config('enable_hide_uploader_name') == 'yes'}nouploader{/if}">
    <h2 class="title" title="{display_clean($video.title)}">
        <a href="{video_link($video)}">{display_clean($video.title|truncate:50)}</a>
    </h2>

    {if config('enable_hide_uploader_name') != 'yes'}
        <span class="author">{lang code="by"}
            {if isSectionEnabled('channels') && $anonymous_id != $video.userid && $video.disabled_channel !='yes'}
                <a href="{userquery::getInstance()->profile_link($video)}">{display_clean($video.user_username)}</a>
            {elseif $anonymous_id != $video.userid}
                {display_clean($video.user_username)}
            {/if}
		</span>
    {/if}

    <div class="clearfix views-date">
        <span>{$video.views}&nbsp;{lang code="views"}</span>
        <time class="date" >{$video.date_added|niceTime}</time>
    </div>
</div>