{if $display_type=='popVideos_sidebar'}
    <div class="featured-video clearfix">
        <div class="video_thumb">
            <a href="{video_link($pop_video)}" class="no_overflow">
                <img src="{getThumb vdetails=$pop_video size=168x105}" {ANCHOR place="video_thumb" data=$pop_video} class="img-responsive {if Video::getInstance()->isToBlur($pop_video.videoid)}blur{/if}" {Video::get_thumbs_preview($pop_video, '168x105')}/>
                {if $pop_video.duration>1}
                    <time class="duration" title="Video duration : {$pop_video.duration|SetTime}">{$pop_video.duration|SetTime}</time>
                {/if}
            </a>
        </div>

        <div class="details_block">
            <strong class="title"><a href="{video_link($pop_video)}">{display_clean($pop_video.title|truncate:50)}</a></strong>

            {if config('enable_hide_uploader_name') != 'yes'}
            <span class="author">
            {if isSectionEnabled('channels') && $anonymous_id != $pop_video.userid && $pop_video.disabled_channel !='yes'}
                {lang code="by"} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean($pop_video.user_username)}</a>
            {elseif $anonymous_id != $pop_video.userid}
                {lang code="by"} {display_clean($pop_video.user_username)}
            {/if}
            </span>
            {/if}

            <div class="views-date">
                <span>{$pop_video.views}&nbsp;{lang code="views"}</span>
            </div>
        </div>
    </div>
{/if}

{if $display_type=='homeVideos'}

    <div class="clearfix thumb-holder userAppending no_overflow">
        <a class="video-link" href="{video_link($video)}" title="{display_clean($video.title)|title}">
            <img alt="{display_clean($video.title)|title}" class="img-responsive {if Video::getInstance()->isToBlur($video['videoid'])}blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')}/>
        </a>
        {ANCHOR place='in_video_thumb' data=$video}
        {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
            <button data-quick="quick-{$video.videoid}" class="icon-plus2 cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260}" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist">
            </button>
        {/if}
        {if $video.duration>1}
            <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
        {/if}
    </div>
    <div class="clearfix video-info {if config('enable_hide_uploader_name') == 'yes'}nouploader{/if}">
        <h2 class="title" title="{display_clean($video.title)}">
            <a href="{video_link($video)}">{display_clean($video.title|truncate:50)}</a>
        </h2>

        {if config('enable_hide_uploader_name') != 'yes'}
        <span class="author">
			{if isSectionEnabled('channels') && $anonymous_id != $video.userid && $video.disabled_channel !='yes'}
                {lang code="by"} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean($video.user_username)}</a>
            {elseif $anonymous_id != $video.userid}
                {lang code="by"} {display_clean($video.user_username)}
            {/if}
		</span>
        {/if}

        <div class="clearfix views-date">
            <span>{$video.views}&nbsp;{lang code="views"}</span>
            <time class="date" >{$video.date_added|niceTime}</time>
        </div>
    </div>
{/if}

{if $display_type=='ajaxHome'}
    {if $total_vids}
        <div style="display:none;" class="total_videos_recent">{$total_vids}</div>
    {/if}

    {if config('homepage_recent_video_style') == 'modern'}
        {include file="$style_dir/blocks/videos/video-new.html" width=270}
    {elseif  in_array(config('homepage_recent_video_style'), [false, 'classic'])}
        <div style="display:none;" class="item-video col-lg-4 col-md-4 col-sm-4 col-xs-12 recentAppending" data-id="{$video.videoid}">
            <div class="clearfix thumb-holder">
                <a
                        {if config('popup_video') == 'yes'}
                            class="video-link cd-popup-trigger no_overflow" onclick="_cb.getModalVideo({$video.videoid})"
                        {else}
                            class="video-link no_overflow"
                        {/if}
                        href="{video_link($video)}" title="{display_clean($video.title|title)}">
                    <img class="lazy img-responsive no_select{if Video::getInstance()->isToBlur($video['videoid'])} blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')}>
                </a>
                {ANCHOR place='in_video_thumb' data=$video}
                {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
                    <button data-quick="quick-{$video.videoid}" class="icon-plus2 add_icon cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260}" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist"></button>
                {/if}
                {if $video.duration>1}
                    <time class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</time>
                {/if}
            </div>
            <div class="clearfix video-info {if config('enable_hide_uploader_name') == 'yes'}nouploader{/if}">
                <h2 class="title" title="{display_clean($video.title)}">
                    <a href="{video_link($video)}">{display_clean($video.title|truncate:50)}</a>
                </h2>

                {if config('enable_hide_uploader_name') != 'yes'}
                <span class="author">
                    {if isSectionEnabled('channels') && $anonymous_id != $video.userid && $video.disabled_channel !='yes'}
                        {lang code="by"} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean($video.user_username)}</a>
                    {elseif $anonymous_id != $video.userid}
                        {lang code="by"} {display_clean($video.user_username)}
                    {/if}
                </span>
                {/if}

                <div class="clearfix views-date">
                    <span>{$video.views}&nbsp;{lang code="views"}</span>
                    <time class="date">{$video.date_added|niceTime}</time>
                </div>
            </div>
        </div>
    {/if}
{/if}

{* Used by editor's pick only *}
{if $display_type=='featuredVideos_sidebar'}
    <div class="featured-video clearfix" data-id-video="{$video.videoid}">
        <div class="video_thumb">
            <a href="{video_link($video)}">
                <img src="{getThumb vdetails=$video size=168x105}" {ANCHOR place="video_thumb" data=$video} class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" {Video::get_thumbs_preview($video, '168x105')}/>
                {if $video.duration>1}
                    <time class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</time>
                {/if}
            </a>
        </div>

        <div class="details_block">
            <strong class="title"><a href="{video_link($video)}">{display_clean($video.title|truncate:50)}</a></strong>
            <span class="author">
			{if isSectionEnabled('channels') && $anonymous_id != $video.userid && $video.disabled_channel !='yes'}
                {lang code='by'} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean($video.user_username)}</a>
            {elseif $anonymous_id != $video.userid}
                {lang code='by'} {display_clean($video.user_username)}
            {/if}
			</span>
            <div class="views-date">
                <span>{$video.views}&nbsp;{lang code="views"}</span>
            </div>
        </div>
    </div>
{/if}

{if $display_type=='featuredHome'}
    {if $total_vids}
        <div style="display:none;" class="total_videos_featured">{$total_vids}</div>
    {/if}
    <div style="display:none;" class="item-video col-lg-6 col-md-6 col-sm-6 col-xs-12 featAppending" data-id="{$video.videoid}">
        <div class="clearfix thumb-holder">
            <a {if config('popup_video') == 'yes'}
                class="video-link cd-popup-trigger no_overflow" onclick="_cb.getModalVideo({$video.videoid})"
            {else}
                class="video-link no_overflow"
            {/if}
                    href="{video_link($video)}" title="{display_clean($video.title|title)}">
                <img class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" src="{getThumb vdetails=$video size=632x395}" {Video::get_thumbs_preview($video, '632x395')}/>
                <h2 class="title">{display_clean($video.title|truncate:50)}</h2>
            </a>
            {ANCHOR place='in_video_thumb' data=$video}
            {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
                <button data-quick="quick-{$video.videoid}" class="icon-plus2 add_icon cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260 }" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist">
                </button>
            {/if}
            {if $video.duration>1}
                <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
            {/if}
        </div>
    </div>
{/if}

{if $display_type=='normal' || $display_type==''}
    <div class="item-video col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="clearfix thumb-holder">
            <a class="video-link" href="{video_link($video)}" title="{display_clean($video.title)|title}">
                <img class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')}/>
            </a>

            {ANCHOR place='in_video_thumb' data=$video}
            {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
                <button data-quick="quick-{$video.videoid}" class="icon-plus2 cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260}" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist">
                </button>
            {/if}
            {if $video.duration>1}
                <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
            {/if}

        </div>
        <div class="clearfix video-info {if config('enable_hide_uploader_name') == 'yes'}nouploader{/if}">
            <h2 class="title" title="{display_clean($video.title)}">
                <a href="{video_link($video)}">{display_clean($video.title|truncate:50)}</a>
            </h2>

            {if config('enable_hide_uploader_name') != 'yes'}
            <span class="author">
                {if isSectionEnabled('channels') && $anonymous_id != $video.userid && $video.disabled_channel !='yes'}
                    {lang code="by"} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean($video.user_username)}</a>
                {elseif $anonymous_id != $video.userid}
                    {lang code="by"} {display_clean($video.user_username)}
                {/if}
            </span>
            {/if}

            <div class="clearfix views-date">
                <span>{$video.views}&nbsp;{lang code="views"}</span>
                <time class="date">{$video.date_added|niceTime}</time>
            </div>
        </div>
    </div>
{/if}

{if $display_type=='playlistVideos'}
    <div class="video_thumb">
        <a class="video_link" href="{video_link($video)}" title="{display_clean($video.title)|title}">
            <img class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')}/>
            <div class="play-info">
                <strong class="title">{display_clean($video.title|truncate:30)}</strong>
                <i class="icon-playweb"></i>
                {if $video.duration>1}
                    <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
                {/if}
            </div>
        </a>
        {ANCHOR place='in_video_thumb' data=$video}
        {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
            <i data-quick="quick-{$video.videoid}" class="icon-plus2 add_icon cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" title="Add {display_clean($video.title)} to Quicklist"></i>
        {/if}
    </div>
{/if}

{if $display_type=='related'}
    <div class="item_video row clearfix">
        <div class="col-xs-6">
            <div class="row cb_item_thumb video_thumb">
                <a class="video-link" href="{video_link($video)}" title="{display_clean($video.title)|title}">
                    {if $video.duration>1}
                        <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
                    {/if}
                    <i class="icon-playweb play-icon"></i>
                    <img class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')} border="1"/>
                </a>
                {ANCHOR place='in_video_thumb' data=$video}
                {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
                    <button data-quick="quick-{$video.videoid}"
                            class="icon-plus2 add_icon cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260 }" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist">
                    </button>
                {/if}
            </div>
        </div>
        <div class="col-xs-6">
            <h5 class="dropdown hide_btn">
                <a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" data-delay="1000" data-close-others="false" onClick="location.href='{video_link($video)}'" href="{video_link($video)}">{display_clean($video.title|truncate:15)} </a>
            </h5>

            {if config('enable_hide_uploader_name') != 'yes'}
            <h5>
                {if isSectionEnabled('channels') && $video.disabled_channel !='yes'}
                    {lang code="by"} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean(name($video))}</a>
                {else}
                    {lang code="by"} {display_clean(name($video))}
                {/if}
            </h5>
            {/if}

            <div class="clearfix views-time">
                <span><i class="icon-eye"></i> {$video.views}&nbsp;{lang code="views"}</span>
            </div>
        </div>
    </div>
{/if}

{if $display_type=='morefrom-channel'}
    <div class="item_video clearfix">
        <div class="clearfix vid_thumb">
            <div class="cb_item_thumb video_thumb">
                <a class="video-link" href="{video_link($video)}" title="{display_clean($video.title)|title}">
                    {if $video.duration>1}
                        <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
                    {/if}
                    <i class="icon-playweb play-icon"></i>
                    <img class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')} border="1"/>
                </a>
                {ANCHOR place='in_video_thumb' data=$video}
                {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
                    <button data-quick="quick-{$video.videoid}"
                            class="icon-plus2 add_icon cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" vtitle="{display_clean($video.title)}" v-id="{$video.videoid}" vlink="{video_link($video)}" vthumb="{getThumb vdetails=$video size=416x260}" vduration="{$video.duration|SetTime}" vauthor="{if config('enable_hide_uploader_name') != 'yes'}{lang code='by'} {display_clean($video.user_username)}{/if}" title="Add {display_clean($video.title)} to Quicklist">
                    </button>
                {/if}
            </div>
        </div>
        <div class="clearfix">
            <h5 class="dropdown hide_btn">
                <a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" data-delay="1000" data-close-others="false" onClick="location.href='{video_link($video)}'" href="{video_link($video)}">{display_clean($video.title|truncate:15)} </a>
            </h5>
        </div>
    </div>
{/if}

{if $display_type=='view_videos'}
    <div class="item_video">
        <div class="clearfix">
            <div class="cb_item_thumb video_thumb">
                <a class="video-link" href="{video_link($video)}" title="{display_clean($video.title)|title}">
                    {if $video.duration>1}
                        <span class="duration" title="Video duration : {$video.duration|SetTime}">{$video.duration|SetTime}</span>
                    {/if}
                    <i class="icon-playweb play-icon"></i>
                    <img class="img-responsive {if Video::getInstance()->isToBlur($video.videoid)}blur{/if}" src="{getThumb vdetails=$video size=416x260}" {Video::get_thumbs_preview($video, '416x260')} border="1"/>
                </a>
                {ANCHOR place='in_video_thumb' data=$video}
                {if config('enable_quicklist') == 'yes' && !Video::getInstance()->isToBlur($video['videoid']) && $video.status|lower == 'successful'}
                    <img src="{$imageurl}/dot.gif" data-quick="quick-{$video.videoid}" class="icon-plus2 add_icon cb_quickie cb-btn-quick-{$video.videoid} {if in_array($video.videoid, $qlist_vids)}icon-tick{/if}" title="Add {display_clean($video.title)} to Quicklist" alt="">
                {/if}
            </div>
        </div>
        <div class="clearfix">
            <h5 class="dropdown hide_btn">
                <a data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" data-delay="1000" data-close-others="false" onClick="location.href='{video_link($video)}'" href="{video_link($video)}">{display_clean($video.title|truncate:30)} </a>
            </h5>

            {if config('enable_hide_uploader_name') != 'yes'}
            <h5>
                {if isSectionEnabled('channels') && $video.disabled_channel !='yes'}
                    {lang code="by"} <a href="{userquery::getInstance()->profile_link($video)}">{display_clean(name($video))}</a>
                {elseif $anonymous_id != $video.userid}}
                    {lang code="by"} {display_clean(name($video))}
                {/if}
                {$video.date_added|niceTime}
            </h5>
            {/if}

            <h5><i class="icon-eye"></i> {$video.views}&nbsp;{lang code="views"}</h5>
        </div>
    </div>
{/if}
