
<footer>
    <div id="footer" class="row">
        <div class="col-md-6">
            <ul>
                <li><a href="#">ClipBucket</a></li>
                <li><a href="#">Good Page</a></li>
                <li><a href="#">Bad Page</a></li>
                <li><a href="#">Faqs Page</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="pull-right">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Bad Page</a></li>
                <li><a href="#">&copy; 2013 Clipbucket.com</a></li>
            </ul>
        </div>
    </div>
</footer>
{$Cbucket->footer()}