.breadcrumb>li+li:before {
	font-family: FontAwesome;
	font-size: 14px;
	content: "\f105";
	margin-right: 2px;
	padding: 0 5px 0 2px;
}
.breadcrumb>li>a {
	padding: 0 4px;
	font-size: 13px;
}
.breadcrumb:first-child{
	padding-left: 10px;
}

.thumb_banner{
	position: absolute;
	top: 2px;
	width: 100%;
	font-size: 10px;
	text-align: center;
	z-index: 3;
}

.thumb-holder .processing{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgb(0 0 0 / 0.5);
	text-align: center;
	line-height: 175px;
}

.thumb-holder .processing .fa{
	font-size: 2em;
	display: block;
	margin-top: 20%;
}

.thumb-holder .processing span{
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
}

.slider-video-container .processing {
	position: absolute;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	pointer-events: none;
	background-color: rgb(0 0 0 / 0.5);
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
}
.slider-video-container .processing span {
	display: block;
	margin-top:0.5rem;
}
.slider-video-container .processing .fa {
	width: 25px;
	height: 25px;
	font-size: 25px;
}
