.breadcrumb>li+li:before {
	font-family: FontAwesome;
	font-size: 14px;
	content: "\f105";
	margin-right: 2px;
	padding: 0 5px 0 2px;
}
.breadcrumb>li>a {
	padding: 0 4px;
	font-size: 13px;
}
.breadcrumb:first-child{
	padding-left: 10px;
}

.thumb_banner{
	position: absolute;
	top: 2px;
	width: 100%;
	font-size: 10px;
	text-align: center;
	z-index: 3;
}

.cb_player .thumb-holder{
	position: relative;
	color: white;
	max-width: 695px;
	border-radius: 5px;
	overflow: hidden;
	width: fit-content;
	margin: auto;
}

.thumb-holder .processing{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgb(0 0 0 / 0.5);
	text-align: center;
	line-height: 175px;
	z-index: 2;
}

.thumb-holder .processing .fa{
	font-size: 2em;
	display: block;
	margin-top: 20%;
}

.thumb-holder .processing span{
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
}

.slider-video-container .processing, .slider-container-featured .processing {
	position: absolute;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	pointer-events: none;
	background-color: rgb(0 0 0 / 0.5);
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
}
.slider-video-container .processing span, .slider-container-featured .processing span{
	display: block;
	margin-top:0.5rem;
}
.slider-video-container .processing .fa, .slider-container-featured .processing .fa {
	width: 25px;
	height: 25px;
	font-size: 25px;
}

/* Theme switch */
.theme-switch {
	display: inline-flex;
	border: 1px solid var(--color-footer-dropdown);
	border-radius: 20px;
	font-family: "Segoe UI", system-ui, sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 5px;
}

.theme-switch button {
	all: unset;
	padding: 4px 12px;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.3s, color 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.theme-switch button.active {
	background-color: #0a84ff;
	border-radius: 20px;
	color: white;
}

.theme_transition {
	transition: all 0.5s ease;
}
/* Theme switch */

/* Channels page slogans */
.channel_slogan{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 10px);
	position: absolute;
	bottom: 3px;
	left: 5px;
}
/* Channels page slogans */
.watch-rating-inline {
	display: inline-block;
	white-space: nowrap;
}

.watch-rating-icon, .item-photo .photo-info span.watch-rating-icon {
	color: #e74c3c;
	font-size: 18px;
	line-height: 1;
	margin-right: 8px;
	vertical-align: middle;
}

.watch-rating-inline .rating {
	display: inline-block;
	vertical-align: middle;
}