@font-face {
	font-family: 'icomoon';
	src:    url('../fonts/icomoon.eot');
	src:    url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-audio:before {
    content: "\e90a";
}
.icon-close:before {
    content: "\e90b";
}
.icon-down-arrow:before {
    content: "\e90c";
}
.icon-facebook:before {
    content: "\e90d";
}
.icon-flag:before {
    content: "\e90e";
}
.icon-gplus:before {
    content: "\e90f";
}
.icon-info:before {
    content: "\e910";
}
.icon-left-arrow:before {
    content: "\e911";
}
.icon-linkedin:before {
    content: "\e912";
}
.icon-photo:before {
    content: "\e913";
}
.icon-photos:before {
    content: "\e914";
}
.icon-plus2:before {
    content: "\e915";
}
.icon-plusrounded:before {
    content: "\e916";
}
.icon-radio-off:before {
    content: "\e917";
}
.icon-radio-on:before {
    content: "\e918";
}
.icon-right-arrow:before {
    content: "\e919";
}
.icon-search:before {
    content: "\e91a";
}
.icon-share:before {
    content: "\e91b";
}
.icon-subscribers:before {
    content: "\e91c";
}
.icon-thumbdown:before {
    content: "\e91d";
}
.icon-thumbup:before {
    content: "\e91e";
}
.icon-tick:before {
    content: "\e91f";
}
.icon-twitter:before {
    content: "\e920";
}
.icon-upload:before {
    content: "\e921";
}
.icon-video:before {
    content: "\e922";
}
.icon-videos:before {
    content: "\e923";
}
.icon-views:before {
    content: "\e924";
}
.icon-zoom:before {
    content: "\e925";
}
.icon-audio-volume1:before {
    content: "\e907";
}
.icon-audio-volume2:before {
    content: "\e908";
}
.icon-audio-volume3:before {
    content: "\e909";
}
.icon-next:before {
    content: "\e901";
}
.icon-pause22:before {
    content: "\e902";
}
.icon-plus:before {
    content: "\e903";
}
.icon-prev:before {
    content: "\e904";
}
.icon-shuffle:before {
    content: "\e905";
}
.icon-svg:before {
    content: "\e906";
}
.icon-cc:before {
    content: "\e900";
}
.icon-setting:before {
    content: "\e613";
}
.icon-pause2:before {
    content: "\e60b";
}
.icon-hd:before {
    content: "\e603";
}
.icon-togglescreen:before {
    content: "\e601";
}
.icon-cb:before {
    content: "\e600";
}
.icon-fullscreen:before {
    content: "\e602";
}
.icon-pause:before {
    content: "\e604";
}
.icon-pause-big:before {
    content: "\e605";
}
.icon-play:before {
    content: "\e606";
}
.icon-play-big:before {
    content: "\e607";
}
.icon-volume1:before {
    content: "\e608";
}
.icon-volume2:before {
    content: "\e609";
}
.icon-volume3:before {
    content: "\e60a";
}
.icon-pause3:before {
    content: "\e60c";
}
.icon-play2:before {
    content: "\e60d";
}
.icon-play22:before {
    content: "\e60e";
}
.icon-volume12:before {
    content: "\e60f";
}
.icon-volume22:before {
    content: "\e610";
}
.icon-volumefull:before {
    content: "\e611";
}
.icon-volumemute:before {
    content: "\e612";
}