
.plans-main-container {
    container-name: plans-main-container;
    container-type: inline-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.plans-main-container-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
    gap: 2rem;
    align-items: stretch;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
}

.plans-main-container .plans-container {
    display: flex;
    flex-direction: column; /* Permet de conserver la structure interne */
    box-sizing: border-box; /* Inclut les bordures et marges dans la largeur/hauteur */

    border : 1px solid rgba(0,0,0,0.2);
    border-radius:9px;
}

.plans-main-container .plans-container .top {
    padding: 2rem;
    border-bottom:1px solid rgba(0,0,0,0.2);
    position: relative;
}

.plans-main-container .plans-container .top .name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.plans-main-container .plans-container .top .name .radio {
    display: none;
}

.plans-main-container .plans-container .top .price-tag {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}
.plans-main-container .plans-container .top .price-tag .price {
    font-size: clamp(2rem, 5vw, 3rem); /* Dynamically scales the price size */
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    white-space: nowrap; /* Prevents wrapping of the price */
    flex-shrink: 1; /* Shrinks the price if necessary */
}
.plans-main-container .plans-container .top .price-tag .frequence {
    margin-left: 1rem;
    white-space: nowrap; /* Prevents wrapping */
}
.plans-main-container .plans-container .top .btn_subscribe {
    width: 100%;
    margin-top:2rem;
}

.plans-main-container .plans-container .bottom  {
    padding: 2rem;
    flex-grow: 1;
}

.plans-main-container .plans-container .bottom .feature-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.plans-main-container .plans-container .bottom .description {
    margin-top: 1rem;
    font-size: 0.9em;
}

.plans-main-container .plans-container  .bottom_and_quota {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.plans-main-container .plans-container  .quota {
    display: flex;
    background: rgba(0,0,0,0.07);
    padding:1rem;
    border-top:1px solid rgba(0,0,0,0.2);
    align-items: center;
}

.plans-main-container .plans-container .quota .left{
    margin-right:1.5rem;
}

.plans-main-container .plans-container .quota .left i{
    font-size: 4rem;
    color:rgba(0,0,0,0.4);
}

.plans-main-container .plans-container .quota .right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
}

.plans-main-container .plans-container .quota .infos span{
    font-weight: bold;
    color:rgba(0,0,0,0.7);
    text-align: left;
}
.plans-main-container .plans-container .quota .infos {
    text-align: right;
}
.plans-main-container .left-detail {
    display: none;
}
.plans-main-container .plans-container .bottom_and_quota .btn_subscribe {
    display: none;
}

@media only screen and (min-width: 990px) {

    /* bascule si pas la place d'en avoir 3 plans l'un a coté de l'autre */
    @container plans-main-container (width <= calc(260px * 4 + 6rem)) {
        .plans-main-container:has(.plans-container:nth-child(4)) .plans-main-container-flex {
            display: flex;
            flex-direction: column;
            width: 260px;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .left-detail {
            display: block;
            flex-grow: 1;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .bottom_and_quota {
            display: none;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .top .btn_subscribe {
            display: none;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-container .top {
            cursor: pointer;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-container:has(.radio:checked) .bottom_and_quota {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 260px - 2rem);
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 9px;
            height: auto;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-container:has(.radio:checked) .bottom_and_quota .quota {
            position: relative;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-container:has(.radio:checked) .bottom_and_quota .btn_subscribe {
            position: absolute;
            bottom: -5rem;
            left: 0;
            width: 100%;
            display: inline-block;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-main-container-flex {
            overflow: auto;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-container .top .name .radio {
            display: inline-block;
            margin-right: 1rem;
            vertical-align: text-top;
        }

        .plans-main-container:has(.plans-container:nth-child(4)) .plans-container:has(.radio:checked) {
            border-color: var(--color-main-01);
        }

    }

}

.plans-main-container .badge-custom {
    position: absolute;
    top:1rem; right:1rem;
    color: var(--color-main-01);
    display: inline-block;
    font-weight: 100;
}

.plans-main-container .badge-custom .badge-actif, .plans-main-container .badge-custom .badge-popular {
    color: var(--color-main-01);
    background : var(--color-background);
    padding:0.2rem 0.5rem;
    display: inline-block;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:4px;
}
.plans-main-container .badge-custom .badge-popular {
    color: #b7501d;
}