{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div class="container">
    {include file="$style_dir/blocks/manage/account_menu.html"}
    <div class="cb-box marginBottom row">

        <div class="row">
            <div class="col-md-2 leftSidebar">
                {include file="$style_dir/blocks/group/group_left.html"}
            </div>
            <div class="col-md-7 nopadding ">
                <div class="well well-sm margin-bottom-10"><a class="theme_color" href="#">{$group.group_name|htmlspecialchars_decode}</a></div>
                <div class="btn-group">
                    <a class="btn btn-primary" {if $mode == "" || $mode == "main"}class="btn btn-primary selected"{/if} href="{group_link details=$group}" onClick="groupsAjax(event,this);" id="gpViewInfo">
                    {lang code="info"}
                    </a>
                    <a class="btn btn-primary" {if $mode == "view_topics"}class="btn btn-primary selected"{/if} href="{group_link details=$group type=view_topics}" onClick="groupsAjax(event,this);" id="gpViewTopics">
                    {lang code="grp_topics_title"}
                    </a>
                    <a class="btn btn-primary" {if $mode == "view_members"}class="btn btn-primary selected"{/if} href="{group_link details=$group type='view_members'}" id="gpAllMembers" onClick="groupsAjax(event,this);">
                    {lang code="members"}
                    </a>
                    <a class="btn btn-primary" {if $mode == "view_videos"}class="btn btn-primary selected"{/if} href="{group_link details=$group type='view_videos'}" id="gpAllVideos" onClick="groupsAjax(event,this);">
                    {lang code="videos"}
                    </a>
                    <a class="btn btn-primary" {if $mode == "view_report_form"}class="btn btn-primary selected"{/if} href="{group_link details=$group}{if config('seo')=='yes'}?{else}&{/if}mode=view_report_form" onClick="groupsAjax(event,this);" id="gpAllReport">
                    {lang code='report'}
                    </a>
                </div>

                <div id="ajaxGroupResultContainer">
                    {if $usr_vids}
                    <div class="groupSep"><span class="SepText">{lang code='grp_add_vdo_msg'}</span></div>
                    <form name="add_group_videos" id="add_group_videos" method="post" action="">

                        {foreach from=$usr_vids item=video}
                        {if $cbgroup->is_group_video($video.videoid,$group.group_id)}
                        {assign var='check_this' value='yes'}
                        {else}
                        {assign var='check_this' value=''}
                        {/if}
                        {include file="$style_dir/blocks/video.html" video=$video display_type='add_type'}
                        {/foreach}

                        <div class="clear"></div>
                        {include file="$style_dir/blocks/pagination.html"}
                        <div align="center">
                            <input type="submit" name="add_videos" id="add_videos" value="{lang code='grp_add_vdos'}" class="btn btn-primary btn-sm">
                        </div>
                    </form>

                    {else}
                    <div align="center" style="font-weight:bold;;font-style:italic">{lang code='you_dont_have_any_videos'}</div>
                    {/if}

                </div>
                {include file="$style_dir/blocks/group/group_topics.html" group=$group}


                {if $mode == "view_report_form"}
                <div class="groupSep"><span class="SepText">{lang code="Report"} {lang code="group"}</span></div>
                {show_flag_form id=$group.group_id type=Group display="block"}
                {/if}
            </div>
        </div>

    </div>
</div>
</div>
<div style="height:20px"> </div>