{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div class="container">
	{include file="$style_dir/blocks/manage/account_menu.html"}
	<div class="row cb-box marginBottom">
		<!--<div class="col-md-3 leftSidebar">
			<ul class="">
                {foreach $leftMenuLinks as $key => $value}
                    <li class="">
                        <a href="#" class="" data-toggle="dropdown">{$key}</a>
                        <ul class="">
                            {foreach $value as $subKey => $subValue}
                                <li><a href="{$subValue}">{$subKey}</a></li>
                            {/foreach}
                        </ul>
                    </li>
                {/foreach}
            </ul>
		</div>-->
		 <!-- Listing Categories -->
        
        {include file="$style_dir/blocks/category_list.html" type='group'}
        
        <!-- Listing Categories End -->
		<div class="col-md-9">
				<div class="page-hidding">
                {assign var=sorting_links value=sorting_links()}
                <h4 class="smaller lighter pull-left">Browsing All Categories: 
                    <small>
                    {if isset($smarty.get.sort)}
                    {foreach from=$sorting_links item=name key=sort}
                        {if $smarty.get.sort==$sort} 
                           <!--<span class="glyphicon glyphicon-sort"></span> Most {$name}-->
                        {/if}
                    {/foreach}
                    {/if}
                    </small>
                </h4>
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button">Recent</button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" type="button">All Time</button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                </div>
            </div>
				{foreach $groups as $key => $group}
					<div class="row">
						<div class="col-md-3 text-center">
							<a href="{group_link details=$group}">
								<img src="{$cbgroup->get_group_thumb($group)}" class="group_thumb" />
							</a>
						</div>
						<div class="col-md-9">
							<h3><a href="{group_link details=$group}">{$group.group_name}</a></h3>
							<table class="table table-bordered table-striped" style="font-size:0.9em">
								<tr>
									<td>{lang code='views'}</td><td>{$group.total_views|number_format}</td>
								</tr>
								<tr>
									<td>{lang code='total_members'}</td><td>{$group.total_members|number_format}</td>
								</tr>
								<tr>
									<td>{lang code='total_videos'}</td><td>{$group.total_videos|number_format}</td>
								</tr>
								<tr>
									<td>{lang code='total_topics'}</td><td>{$group.total_topics|number_format}</td>
								</tr>
								<tr>
									<td>{lang code='owner'}</td><td><a href="{$userquery->profile_link($group)}">{$group.username}</a></td>
								</tr>
							</table>
						</div>
					</div>
				{/foreach}
		</div>
	</div>
</div>