{$myAccountLinks = $userquery->my_account_links()}
{$topMenuLinks = array_slice($myAccountLinks, 0, 6)}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div class="container">
    <div class="userAccountMenu navbar navbar-default cb-box">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="userPicContainer">
                <a class="navbar-brand" href="#">
                    <img src="http://cb.dev/images/avatars/no_avatar.png" alt="">
                    My Account
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {foreach $topMenuLinks as $key => $value}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$key}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {foreach $value as $subKey => $subValue}
                                <li><a href="{$subValue}">{$subKey}</a></li>
                            {/foreach}
                        </ul>
                    </li>
                {/foreach}
            </ul>
            <div class="pull-right">
                <a class="btn btn-info" href="{$userquery->profile_link($userquery->udetails)}">{lang code='com_my_channel'}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="leftSidebar col-md-3 cb-box ">
            <ul class="">
                {foreach $leftMenuLinks as $key => $value}
                    <li class="">
                        <a href="#" class="" data-toggle="dropdown">{$key}</a>
                        <ul class="">
                            {foreach $value as $subKey => $subValue}
                                <li><a href="{$subValue}">{$subKey}</a></li>
                            {/foreach}
                        </ul>
                    </li>
                {/foreach}
            </ul>
        </div>
        <div class="mainContent col-md-9">
            <div class="cb-box">
                <div class="alert alert-info">
                     <span class="messages">{lang code='messages'}</span>
                     {$cbpm->get_new_messages()}
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{$userquery->getUserThumb($user)}" alt="{$user.username}" class="img-thumbnail show">
                        <a href="{$userquery->profile_link($user)}">{lang code='com_view_channel'}</a>
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li><span>{lang code='username'} : <strong>{$user.username}</strong></span></li>
                            <li><span>{lang code='joined'} : <strong>{$user.doj|date_format}</strong></span></li>
                            <li><span>{lang code='last_logged_in'} : <strong>{$user.last_logged|nicetime}</strong></span></li>
                            <li><span>{lang code='total_logins'} : <strong>{$user.num_visits|number_format}</strong></span></li>
                            <li><span>{lang code='profile_views'} : <strong>{$user.profile_hits|number_format}</strong></span></li>
                            <li><span>{lang code='total_videos'} : <strong>{$user.total_videos|number_format}</strong></span></li>
                            <li><span>{lang code='total_videos_watched'} : <strong>{$user.total_watched|number_format}</strong></span></li>
                            <li><span>{lang code='total_collections'} : <strong>{$user.total_collections|number_format}</strong></span></li>
                            <li><span>{lang code='total_photos'} : <strong>{$user.total_photos|number_format}</strong></span></li>
                            <li><span>{lang code='comments_made'} : <strong>{$user.total_comments|number_format}</strong></span></li>
                            <li><span>{lang code='subscribers'} : <strong>{$user.subscribers|number_format}</strong></span></li>
                            {assign var=category value=$userquery->get_category($user.category)}
                            <li><span>{lang code='category'} : <strong>{$category.category_name}</strong></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

