{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div class="container">
	{include file="$style_dir/blocks/manage/account_menu.html"}
	<div class="cb-box row">
		<div class="col-md-3 leftSidebar">
			<ul class="">
                {foreach $leftMenuLinks as $key => $value}
                    <li class="">
                        <a href="#" class="" data-toggle="dropdown">{$key}</a>
                        <ul class="">
                            {foreach $value as $subKey => $subValue}
                                <li><a href="{$subValue}">{$subKey}</a></li>
                            {/foreach}
                        </ul>
                    </li>
                {/foreach}
            </ul>
		</div>
		<div class="col-md-9">
			<h2>Photos</h2>
			<div class="clearfix">
				<div class="btn-group ">
					{$time_links = time_links()}
					{foreach from=$time_links item=name key=sort name=times}
					    <a href="{link name=time sort=$sort type=photos}" {if $smarty.get.time==$sort} class="btn btn-primary btn-sm selected"{/if} class="btn btn-primary btn-sm">{$name}</a> 
					{/foreach}
				</div>
				<div class="btn-group show">
					{$sorting_links = sorting_links()}
					{foreach from=$sorting_links item=name key=sort}
						<a {if $smarty.get.sort==$sort} class="btn btn-primary btn-xs selected"{else} class="btn btn-primary btn-xs" {/if} href="{link name=sort sort=$sort type=photos}">{$name}</a></li>
					{/foreach}
				</div>	
			</div>
			<div class="row">
				{section name=p_list loop=$photos}
				   {include file="$style_dir/blocks/photo.html" photo=$photos[p_list]}
				{sectionelse}
				   {lang code='no_results_found'}
				{/section}
			</div>
		</div>
	</div>	
	{include file="$style_dir/blocks/pagination.html"}
</div>