<div class="manager-list">
    <div class="controller scrolltoFixed white-grad">
        <div class="buttons">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn  btn-mini check-all"><input type="checkbox"></label>
                </div>
                <div class="btn-group">
                    <a class="btn btn-mini" onclick="group_action('activate_videos');" >Approve</a>  
                    <a class="btn btn-mini" onclick="group_action('disapprove_videos');" >Disapprove</a>
                    <a class="btn btn-mini" onclick="
                        cb_confirm('{lang code="Confirm Delete?"}','{lang code="Are you sure you want to delete selected videos from this group?"}'
                        ,function(){
                            group_action('delete_videos');
                        })
                    
                   ">Delete</a>
                </div>

            </div>

            <div class="right-button">
                {if $pending_videos}
                <a class="btn btn-mini btn-inverse"
                   
                   onclick="groupToggleList(this,'all_videos','pending_videos');">{lang code='Pending'}  
                    <span class="badge badge-info">
                        {$pending_videos|count}
                    </span>
                </a>
                {/if}

            </div>
        </div>
    </div>


    <form name="group-members-form" method="post" id="group-form" action="{$queryString}">

        <input type="hidden" name="todo" id="action_mode" value="yes"/>

        <table id="group-members-list" class="table table-striped list-block {if !$videos}display-none{/if}">
            <thead >
                <tr>
                    <th width="20"></th>
                    <th width="40"></th>
                    <th></th>
                    <th width="65"></th>
                </tr>
            </thead>

            {$count=0}
            {foreach $group_videos as $key => $videos}
            
            {$count=$count+1}
            <tbody id="{$key}" {if $count==2} class="display-none" {/if}>


                   {foreach $videos as $video}
                   {$videolink=videoLink($video)}
                   <tr>
                    <td><input type="checkbox" class="check-item" name="check_vid[]" value="{$video.videoid}"></td>
                    <td><a href="{$videolink}"><img src="{getThumb vdetails=$video size='120x90'}" width="60" /></a></td>
                    <td>
                        <a href="{$videolink}">{$video.title}</a>

                        
                        {if $video.approved!='yes'}
                            <span class="badge badge-danger">pending</span>
                        {/if}
                        
                        <span class="badge badge-inverse">{$video.duration|SetTime}</span>
                    </td>
                    <td>

                        <div class="dropdown">
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                Actions <i class="caret"></i>
                            </a>
                            {$video_title=$video.title}
                            <ul class="dropdown-menu">
                                <li>{if $video.approved=='no'}
                                    <a href="{$queryString}approve={$video.videoid}">Approve</a>
                                    {else}
                                    <a href="{$queryString}disapprove={$video.videoid}">Disapprove</a>
                                    {/if}
                                </li>

                                <li><a href="javascript:void(0)"
                                       onClick="cb_confirm('{lang code='Confirm delete'}',
                                           '{lang code="Are you sure you want to remove $video_title from this group"}',function(){
                                       window.location = '{$queryString}delete={$video.videoid}';
                                       })">Delete</a>
                                </li>


                                {if $cbgroup->is_group_admin($user.userid,$group)}

                                {if $user.userid != $group.userid}
                                <li class="divider"></li>

                                <li><a href="javascript:void(0)"
                                       onClick="cb_confirm('{lang code='Confirm delete'}',
                                           '{lang code="Are you sure you want to remove $username from admins? "}',function(){
                                       window.location = '{$queryString}remove_admin={$user.userid}';
                                       })">Remove admin</a></li>
                                {/if}
                                {else}
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)"
                                       onClick="cb_confirm('{lang code='Confirm delete'}',
                                           '{lang code="Are you sure you want to make $username admin of {$group.group_name} ? "}',function(){
                                       window.location = '{$queryString}make_admin={$user.userid}';
                                       })">Make admin</a></li>
                                {/if}

                            </ul>
                        </div>
                    </td>
                </tr>
                {/foreach}
            </tbody>
            {/foreach}
        </table>

        {if !$group_videos}
        <div class="alert">{lang code='There are no videos in this group'}</div>
        {/if}
    </form>  

    {include_template_file file='blocks/pagination.html'}
</div>