<link href="../theme/stylesheet.css" rel="stylesheet" type="text/css" />
<span class="page_title">Video Categories</span>


<table width="99%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="200" align="left" valign="middle" class="left_head" style="text-indent:10px">Manage Video Categories</td>
    <td class="head">&nbsp;</td>
    <td width="100" class="right_head">&nbsp;</td>
  </tr>
</table>


{if $edit_category != "show"}
<form action="" method="post" enctype="multipart/form-data" name="add_category" id="Add Category">

<table width="98%" border="0" cellpadding="0" cellspacing="0" class="block">
  <tr>
      <td class="td_body">&nbsp;</td>
      <td align="right" class="td_body">* are required fields</td>
    </tr>
    <tr>
      <td valign="top" class="td_body">Category Name*</td>
      <td class="td_body"><label>
        <input name="title" type="text" id="title" value="{$default_name}" size="45" />
      </label></td>
    </tr>
    <tr>
      <td valign="top" class="td_body">Category Description*</td>
      <td class="td_body"><textarea name="description" id="description" cols="33" rows="5">{$default_name}</textarea></td>
    </tr>
    <tr>
      <td valign="top" class="td_body">Category Thumb</td>
      <td class="td_body"><label>
        <input name="category_thumb" type="file" id="category_thumb" size="45">
      </label></td>
    </tr>
    <tr>
      <td class="td_body">&nbsp;</td>
      <td align="right" class="td_body"><input type="submit" name="add_cateogry" id="button" value="Add Category" onclick="return validate_category_form(add_category)" class="button"/></td>
    </tr>
</table>
</form>
{/if}
{if $edit_category == "show"}
{section name=list loop=$category_data}
<form action="" method="post" enctype="multipart/form-data" name="edit_category" id="Edit Category">
  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="2" class="block">
    
    <tr>
      <td class="td_body">&nbsp;</td>
      <td align="right" class="td_body">* are required fields</td>
    </tr>
    <tr>
      <td valign="top" class="td_body">Category Name*</td>
      <td class="td_body"><label>
        <input name="title" type="text" id="title" value="{$category_data[list].category_name}" size="45" />
      </label></td>
    </tr>
    <tr>
      <td valign="top" class="td_body">Category Description*</td>
      <td class="td_body"><textarea name="description" id="description" cols="33" rows="5">{$category_data[list].category_description}</textarea></td>
    </tr>
    <tr>
      <td valign="top" class="td_body">Category Thumb</td>
      <td class="td_body"><label>
        <img src="{$category_thumbs}/{$category_data[list].category_thumb}" /> <br /><input name="category_thumb" type="file" id="category_thumb" size="45" />
        <input type="hidden" name="thumb" id="thumb" value="{$category_data[list].category_thumb}" />
      </label></td>
    </tr>
    <tr>
      <td class="td_body">&nbsp;</td>
      <td class="td_body"><label></label></td>
    </tr>
    <tr>
      <td colspan="2" align="right" class="tr_head"><label>
        <input type="submit" name="update_category" id="button" value="Update Category" onclick="return validate_category_form(edit_category)" class="button"/>
      </label></td>
    </tr>
  </table>
</form>
{/section}
{/if}


<div style="margin:10px 0px 10px 0px">
<span class="page_title">Category List</span>
</div>

{if $total != 0}
<table width="67%" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td width="22%" class="left_head">Category Name</td>
    <td width="9%" class="head_sep_left">Thumb</td>
    <td width="34%" class="head_sep_left">Description</td>
    <td width="28%" class="head_sep_left">Date Added</td>
    <td width="7%" align="center" class="right_head">Action</td>
  </tr>
 {assign var = bgcolor value = ""}
{section name=list loop=$category}
  <tr bgcolor="{$bgcolor}">
    <td style="text-indent:10px">{$category[list].category_name}</td>
    <td style="text-indent:10px"><a href="#" onMouseover="fixedtooltip('<img src={$category_thumbs}/{$category[list].category_thumb} border=1/>', this, event, '0px')" onMouseout="delayhidetip()">View Thumb</a></td>
    <td style="text-indent:10px">{$category[list].category_description}</td>
    <td style="text-indent:10px">{$category[list].date_added|date_format}</td>
    <td style="text-indent:10px">
      <li><a href="?category={$category[list].categoryid}">Edit</a></li>
      <li><a href="javascript:Confirm_Delete('?delete_category={$category[list].categoryid}')">Delete</a></li>
    </td>
  </tr>
 {if $bgcolor == ""}
 	 {assign var = bgcolor value = "#EEEEEE"}
 {else}
	 {assign var = bgcolor value = ""}
 {/if}
 
{/section}
</table>
{else}
No Category Has Been Created Yet
{/if}
<br />
<br />

