<span class="page_title">Member Manager</span>

<!-- Displaying Members -->

<table width="99%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle" class="left_head">
    <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
    <td width="50" class="head_sep_left">UID</td>
    <td class="head"><div class="head_sep_left" style="width:250px">User Details</div></td>
    <td width="50" class="right_head">&nbsp;</td>
  </tr>
</table>




<table width="99%" border="0" cellpadding="0" cellspacing="0">
{foreach from=$users item=u}
<tr class="video_opt_td"  bgcolor="{$bgcolor}">
    <td width="30" align="center" valign="top" class="video_opt_td">    <input name="check_user[]" type="checkbox" id="check_user" value="{$videos[list].videoid}" /></td>
    <td width="50" align="center" valign="top" class="video_opt_td">{$u.userid}</td>
    <td valign="top"  class="video_opt_td" 
    onmouseover="$('#usr_opt-{$u.userid}').show()" 
    onmouseout="$('#usr_opt-{$u.userid}').hide()" >
    <div style="float:left; width:35px; margin-left:10px"><img src="{$userquery->getUserThumb($u,'small')}" class="mid_user_thumb" /></div>
    <a href="#" target="_blank" style="text-indent:10px">
    {$u.username}
    </a> &#8212;
    <span class="vdo_sets">Email:<strong><span style="text-transform:none">{$u.email}</span> </strong> &#8226;
    Status:<strong>{$u.usr_status}</strong>  &#8226;
    Level:<strong>{$u.level|get_user_level}</strong> &#8226;
    Last Active:<strong>{$u.last_active}</strong> 
    </span>
    
    <br />style="display:none"
    <div id="usr_opt-{$u.userid}"  class="vid_opts">
   	 
    <a href="view_user.php?uid={$u.userid}">View</a> or 
    <a href="view_user.php?uid={$u.userid}">Edit</a> |
    {if $u.usr_status == Ok}
    <a href="?deactivate={$u.userid}">Deactivate</a>
    {elseif $u.usr_status == ToActivate}
    <a href="?activate={$u.userid}">Activate</a>
    {/if}  | 
    {if $u.ban_status == yes} 
    <a href="?unban={$u.userid}">Unban Member</a> 
    {/if} 
    {if $u.ban_status == no}       
    <a href="?ban={$u.userid}">Ban Member</a> 
    {/if}|
    <a href="?editor_pick={$videos[list].videoid}">Add To Editor's Pick</a> | 
    <a href="view_conversion_log.php?file_name={$videos[list].file_name}">File conversion details</a> | 
    <a href="?delete_user={$u.userid}">Delete</a>
    </div>
    </td>
    <td width="50" valign="top" class="video_opt_td">&nbsp;</td>
  </tr>
{if $bgcolor == ""}
{assign var = bgcolor value = "#EEEEEE"}
{else}
{assign var = bgcolor value = ""}
{/if}  
{/foreach}

  
</table>

<!-- DIsplaying Videos Ends-->
{include file="$style_dir/blocks/pagination.html" }
