{if $data.id}
<div style="width:99%; margin:auto; margin-bottom:15px">
<span class="page_title">Conversion Log For File &quot;{$data.src_name}&quot;</span>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10" class="left_head"></td>
    <td class="head">Source File Information </td>
    <td width="50" class="right_head"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="block">
      
      {foreach from=$data item=value key=field}
          {if $field|truncate:4:'' == src_}
              <tr>
                <td>Source {$field|substr:4:100|replace:'_':' '}</td>
                <td>{$value}</td>
              </tr>
          {/if}
      {/foreach}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="tr_head">Output File Information</td>
      </tr>
      {foreach from=$data item=value key=field}
          {if $field|truncate:7:'' == output_}
              <tr>
                <td>Output File {$field|substr:7:100|replace:'_':' '}</td>
                <td>{$value}</td>
              </tr>
          {/if}
      {/foreach}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10" class="left_head"></td>
    <td class="head">Conversion log for <span class="tr_head">&quot;{$data.src_name}</span>&quot;</td>
    <td width="50" class="right_head"></td>
  </tr>
</table>
<div id='Container'>
<div style="overflow:auto; border:1px solid #EAEAEA; padding:2px">
<div style="background-color:#F3F3F3; border:none; width:100%; min-height:300px;">{$data.file_conversion_log|nl2br}</div>
</div></div>

</div>
{else} <em style="margin-left:10px">File does not exist</em>
{/if}