<?xml version="1.0" encoding="utf-8"?>
<config 
license="Key provided for commercial version"
stagecolor="0x000000" 
autoplay="true" 
buffer="3"
Volume="50" 
fullscreenscale="0" 
normalscale="0" 
logopath="images/platoon.png"
logoalpha="50" 
logoalign="TR" 
Download="false"
logo_target="http://www.hdflvplayer.net/"
skin="skin/skin_black.swf"
skin_autohide="false"   
languageXML="xml/language.xml" 
playlistXML="xml/playlist.xml"
playlist_open="false" 
showPlaylist ="true"
HD_default="false" 
vast="false"
vast_partnerid=""
streamer=""
adXML="xml/ads.xml"
preroll_ads="false"
postroll_ads="false"
midrollXML="xml/midroll.xml"
midroll_ads="false" 
cssURL="css/midrollformat.css"
shareURL="email.php"
embed_visible="true"
UseYouTubeApi="flash"
videoshareURL="videourl.php"
debug="true">
<timer>true</timer>
<zoom>true</zoom>
<email>false</email>
<fullscreen>true</fullscreen>
</config>