{assign var='required_fields' value=$userquery->load_signup_fields()}
{assign var='custom_field' value=$userquery->custom_signup_fields}

<h2>Add New Member</h2>

<div class="height10"></div>

<form name="" method="post" enctype="multipart/form-data" class="form form-horizontal">
    <fieldset>
        {foreach from=$required_fields item=field}
        <div class="control-group">
            <label class="control-label" for="filename">{$field.title}</label>
            <div class="controls">
                {$field.class='input-xlarge'}

                {if $field.type=='checkbox' || $field.type=='radiobutton'}
                {$field.sep=' '}

                {if $field.type=='checkbox'}
                {$field.class='checkbox'}
                {else}
                {$field.class='radio'}
                {/if}
                {/if}

                {$formObj->createField($field)}

                {if $field.hint_2}<p class="help-block">{$field.hint_2}</p>{/if}
            </div>
        </div>
        {/foreach} 
        
        
        <div class="control-group">
            <label class="control-label" for="level">User level</label>
            <div class="controls">
                <select name="level" id="level" class="input-xlarge">
                {assign var=levels value=$userquery->get_levels()}
                {foreach from=$levels item=level}
                        <option value="{$level.user_level_id}"  
                        {if $smarty.post.level==$level.user_level_id} 
                        selected{elseif $level.user_level_id==2}selected{/if}>
                        {$level.user_level_name}</option>
                {/foreach}
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="cpass">Status</label>
            <div class="controls">
                <select name="active" id="active" class="input-xlarge">
                    <option value="verified">Active</option>
                    <option value="unverified">Inactive</option>
                </select>
            </div>
        </div>
        
      
    </fieldset>
    
    {if $custom_field}
    <fieldset class="fieldset">
      <legend>Other</legend>
      {foreach from=$custom_field item=field}
      <div class="control-group">
            <label class="control-label" for="filename">{$field.title}</label>
            <div class="controls">
                {$field.class='input-xlarge'}

                {if $field.type=='checkbox' || $field.type=='radiobutton'}
                {$field.sep=' '}

                {if $field.type=='checkbox'}
                {$field.class='checkbox'}
                {else}
                {$field.class='radio'}
                {/if}
                {/if}

                {$formObj->createField($field)}

                {if $field.hint_2}<p class="help-block">{$field.hint_2}</p>{/if}
            </div>
        </div>
      {/foreach}
    </fieldset>
    {/if}
    
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="add_member" >Add Member</button>
    </div>
    
    
</form>