<div class="home-block">
    <div class="block-title">Status overview <i class="icon-blank"></i></div>
    <div class="block-content">
        <table class="table table-striped table-condensed stats">

            <tbody>
                <tr>
                    <td><i class="icon-film"></i> {'35689'|number_format} Videos</td>
                    <td><a class="btn btn-mini">manage</a></td>
                </tr>

                <tr>
                    <td><i class="icon-picture"></i> {'35689'|number_format} Photos</td>
                    <td><a class="btn btn-mini">manage</a></td>
                </tr>


                <tr>
                    <td><i class="icon-user"></i> {'35689'|number_format} Members</td>
                    <td><a class="btn btn-mini">manage</a></td>
                </tr>


                <tr>
                    <td><i class="icon-groups icon-v3"></i> {'35689'|number_format} Groups</td>
                    <td><a class="btn btn-mini">manage</a></td>
                </tr>
            </tbody>
        </table>


        <table class="table table-striped table-condensed stats">
            <thead>
                <tr>
                    <th>Object</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Failed videos</td>
                    <td>666</td>
                </tr>

                <tr>
                    <td>Processes running</td>
                    <td>65</td>
                </tr>


                <tr>
                    <td>Queued</td>
                    <td>5</td>
                </tr>


                <tr>
                    <td><i class="icon-groups icon-v3"></i> {'35689'|number_format} Groups</td>
                    <td><a class="btn btn-mini">manage</a></td>
                </tr>
            </tbody>
        </table>



        <hr />
        <div>
            you are using ClipBucket v3.0 <br> no new version available
        </div>
    </div>
</div>