<div class="home-box">
    <div class="alert">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">A Peace of information!</h4>

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


    </div>


    <form name="admin-home-blocks-form" id="admin-home-blocks-form" >
        <div class="blocks-container no-blocks" data-container-id="1">
            {list_admin_blocks()}
        </div>
        <div class="blocks-container no-blocks" data-container-id="2">
            {list_admin_blocks(2)}
        </div>
    </form>
    
    <div class="notification-container">
        <ul class="notification">
            <li class="head">Notifications</li>
            <li class="notifications nano">
                <ul>
                    <li>Some notification
                        <div class="desc">some content of notification.</div>
                    </li>
                    <li>Some notification
                        <div class="desc">some content of notification.</div>
                    </li>
                    <li>Some notification
                        <div class="desc">some content of notification.</div>
                    </li>
                    <li>Some notification
                        <div class="desc">some content of notification.</div>
                    </li>
                    <li>Some notification
                        <div class="desc">some content of notification.</div>
                    </li>
                    <li>Some notification
                        <div class="desc">some content of notification.</div>
                    </li>
                </ul>
            </li>


            <li class="head">News</li>
            <li class="notifications">
                <ul>
                    <li>Some News
                        <div class="desc">some content of news.</div>
                    </li>
                    <li>Some News
                        <div class="desc">some content of news.</div>
                    </li>
                    <li>Some News
                        <div class="desc">some content of news.</div>
                    </li>
                    <li>Some News
                        <div class="desc">some content of news.</div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>