<h2>{lang code='Manage members'}</h2>
Manage your members here, read more about managing members here. {*@todo:Put guide link here*}
<div class="height10"></div>
<div class="manager-list">
    <div class="controller scrolltoFixed white-grad">
        <div class="buttons">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn check-all"><input type="checkbox"></label>
                </div>
                <div class="btn-group ">
                   <a class="btn" onclick="$('#mode').val('activate');
                        $('#manage-members-form').submit();">Activate</a>
                       <a class="btn" onclick="$('#mode').val('deactivate');
                        $('#manage-members-form').submit();">Deactivate</a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown">More options <i class="caret"></i></a>

                    <ul class="dropdown-menu pull-right">
                           <li><a onclick="$('#mode').val('featured');
                            $('#manage-members-form').submit();">Make Featured</a></li>
                                <li><a  onclick="$('#mode').val('unfeature');
                            $('#manage-members-form').submit();">Un-feature</a></li>
                               <li><a onclick="$('#mode').val('ban');
                            $('#manage-members-form').submit();">Ban</a></li>
                               <li><a onclick="$('#mode').val('unban');
                            $('#manage-members-form').submit();">Remove ban</a></li>
                        <li class="divider"></li>
                        <li><a onclick="cb_confirm('Delete videos',
                            'Are you sure you want to delete selected users?',function(){
                                $('#mode').val('delete');$('#manage-members-form').submit();
                            })">Delete</a></li>
                    </ul>

                </div>
            </div>

            <div class="right-button">
                <form>
                    <input class="input valignTop" name="username" value="{'username'|get}">
                    <button class="btn btn-primary" name="search" value="do">
                        <i class="icon-search icon-white"></i>
                        Search
                    </button>
                    <a class="btn" data-toggle="modal" data-target="#advance-search-modal">Advance Search</a>
                </form> 
            </div>
        </div>
    </div>

    <form name="manage-members-form" method="post" id="manage-members-form">
        <input type="hidden" name="mode" value="" id="mode"/>

        <table id="manage-members-list" class="table table-striped list-block {if !$users}display-none{/if}">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th width="70">#</th>
                    <th width="60">Photo</th>
                    <th>Username</th>
                    <th width="100">Status</th>
                    <th width="200">Date</th>
                    <th width="120"></th>
                </tr>
            </thead>
            <tbody>

                {foreach $users as $user}
                {$u=$user}
                <tr>
                    <td><input type="checkbox" class="check-item" name="check_user[]" value="{$user.userid}"></td>
                    <td>{$user.userid}</td>
                    <td><img src="{$userquery->getUserThumb($u,'small')}" class="mid_user_thumb" /></td>
                    <td><a href="view_user.php?uid={$u.userid}" class="popover-class" rel="popover" 
                           data-content="{$user.email}<br>{$user.sex}<br>{$user.country}" 
                           data-original-title="{$user.username}">{$user.username}</a>
                        {if $user.featured=='yes'}<span class="label label-success">Featured</span>{/if}


                    </td>
                    <td>
                        <span class="label label-{if $user.status=='verified'}success{else}warning{/if}">{$user.status}</span>
                        <div></div>
                        {if $user.active=='yes'}<span class="label label-success">Active</span>{else}
                        <span class="label label-warning">Inactive</span>{/if}
                    </td>
                    <td>{$user.doj|nicetime}</td>
                    <td>
                        <div class="dropdown btn-group pull-right">
                            <a href="view_user.php?uid={$u.userid}" class="btn">Edit</a>
                            <a href="javascript:void(0)" class="btn dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></a>

                            <ul class="dropdown-menu">
                                {if $u.status == 'verified'}
                                <li><a href="?deactivate={$u.userid}">Deactivate</a></li>
                                {elseif $u.status == 'unverified'}
                                <li><a href="?activate={$u.userid}">Activate</a></li>
                                {/if}
                                {if $u.ban_status == yes} 
                                <li><a href="?unban={$u.userid}">Unban Member</a> </li>
                                {/if} 
                                {if $u.ban_status == no}       
                                <li><a href="?ban={$u.userid}">Ban Member</a> </li>
                                {/if}
                                {if $u.featured != Yes} 
                                <li><a href="?featured={$u.userid}">Feature Member</a> </li>
                                {/if} 
                                {if $u.featured == Yes}       
                                <li><a href="?unfeatured={$u.userid}">Unfeature Member</a></li> 
                                {/if}
                                <li><a href="login_as_user.php?uid={$u.userid}">Login as user</a></li> 
                                <li><a href="javascript:void(0)" onclick="cb_confirm('Delete user',
                                'Are you sure you want to remove {$user.username}?',function(){
                                    window.location = '?deleteuser={$u.userid}';
                                })">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </form>  

</div>

<div class="modal hide fade" id="advance-search-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{lang code='Advance Search'}</h3>
    </div>
    <div class="modal-body">
        <form class="form form-horizontal" id="advance_search">
            <div class="control-group">
                <label class="control-label" for="userid">Userid</label>
                <div class="controls">
                    <input name="userid" type="text" class="input-xlarge" id="userid" value="{'userid'|get_form_val:true}" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input name="username" type="text" class="input-xlarge" id="username" value="{'username'|get_form_val:true}" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input name="email" type="text" class="input-xlarge" id="email" value="{'email'|get_form_val:true}" />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="status">Status</label>
                <div class="controls">
                    <select name="status" id="status" class="input-xlarge">
                        <option value="" ></option>
                        <option value="verified" {if $smarty.get.status=='verified'} selected="selected"{/if}>Verified</option>
                        <option value="unverified" {if $smarty.get.status=='unverified'} selected="selected"{/if}>Unverified</option>
                    </select>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="ban">Is Banned</label>
                <div class="controls">
                    <select name="search_ban" id="ban" class="input-xlarge">
                        <option value="" ></option>
                        <option value="yes" {if $smarty.get.search_ban=='yes'} selected="selected"{/if}>Yes</option>
                        <option value="no" {if $smarty.get.search_ban=='no'} selected="selected"{/if}>No</option>
                    </select>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="featured">Featured</label>
                <div class="controls">
                    <select name="search_featured" id="featured" class="input-xlarge">
                        <option value="" ></option>
                        <option value="yes" {if $smarty.get.search_featured=='yes'} selected="selected"{/if}>Yes</option>
                        <option value="no" {if $smarty.get.search_featured=='no'} selected="selected"{/if}>No</option>
                    </select>
                </div>
            </div>


            
            <div class="control-group">
                <label class="control-label" for="category">Category</label>
                <div class="controls">
                    {$formObj->createField($cat_array)}
                </div>
            </div>

            <input type="hidden" name="search" value="do" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{lang code='Cancel'}</a>
        <a href="javascript:void(0);" class="btn btn-primary" onclick="$('#advance_search').submit();">{lang code='Search'}</a>
    </div>
</div>
<!-- DIsplaying Videos Ends-->
{include file="$style_dir/blocks/pagination.html" }
