{if $mode == 'single'}
<h2>Re-create Photo</h2>
<div class="controller scrolltoFixed white-grad" >
    <div class="buttons">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="edit_photo.php?photo={$p.photo_id}" class="btn">Back to details</a>
            </div>
        </div>
        
        <div class="right-button">
            <a class="btn btn-primary" onclick="$('#mass_recreation').submit();">Re-create Photo</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<form action="recreate_thumbs.php?mode={$mode}&amp;photo={$data.photo_id}" method="post" enctype="multipart/form-data">
        {include file="$style_dir/resizing_settings.html"}
        <a href="recreate_thumbs.php?mode={$mode}&amp;photo={$p.photo_id}&amp;recreate=true" class="btn btn-large btn-primary moveR">Re-create Photo</a>
</form>
{/if}

{if $mode == 'mass' || $mode == ''}
    <h2>Mass Re-creation of Photos</h2>
    <p>This will re-create all the photos uploaded on your website, according to the settings shown below</p>
    <div class="controller scrolltoFixed white-grad" >
        <div class="buttons">
            <div class="right-button">
                <a class="btn btn-primary" onclick="$('#mass_recreation').submit();">Start Recreation</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <p class="alert-danger alert">Take caution while using Mass Recreation. Use MAX of 5 photos per GO.</p>
   {include file="$style_dir/resizing_settings.html"} 
    <form name="mass_recreation" id="mass_recreation" method="get" class="form-horizontal" action="">
            <div class="control-group">
                <label class="control-label" for="the_loop_size">Loop Size</label>
                <div class="controls">
                    <input type="text" name="loop_size" class="input-xlarge" value="{$loop_size}" id="the_loop_size" />
                    <p class="help-block">Number of photos to re-create in one go.</p>
                </div>
            </div>
            <input type="hidden" name="mass_recreation" value="Start Recreation" />
      </form>
      
        {if $indexing}
            <div align="right" style="padding:5px">{$from} - {$to} of {$total}</div>
            <ul>
            {foreach from=$index_msgs item=themsg}
            	<li>{$themsg}</li>
            {/foreach}
            </ul>
            {if  $stop_loop!='yes'}
				<script type="text/javascript">
                var start_index = '{$next_index}';
                var loop_size = '{$smarty.get.loop_size}';
                var mode = '{$mode}';
				var button = '{$button}';
                {literal}$(document).oneTime(2000,function(){$(window.location).attr('href', '?loop_size='+loop_size+'&'+button+'=yes&start_index='+start_index)});{/literal}
                </script>
                redirecting....do not close this window
            {else}
            	Re-creation of photos have been completed.
            {/if}
        {/if}
{/if}

{if $mode == "collection"}
    <h2>Recreate Photos</h2>
    	{assign var=cid value=$smarty.get.cid}
    	{assign var=c_name value=$cid|get_collection_field}
    <div class="controller scrolltoFixed white-grad" >
        <div class="buttons">
            <div class="btn-group">
                <a href="{$cbcollection->collection_links($cid,'vc')}" class="btn">{$c_name}</a>
                <a href="edit_collection.php?collection={$cid}" class="btn">Edit Collection</a>
                {if $items}<a href="manage_items.php?collection={$cid}&type={$cid|get_collection_field:type}" class="btn">Manage Items</a>{/if}
            </div>
            
            <div class="right-button">
                {if $items}<a class="btn btn-primary" onclick="$('#collection_photos_recreate').submit();">Re-create Photos</a>{else}<a href="manage_items.php?collection={$cid}&type={$cid|get_collection_field:type}" class="btn btn-primary">Manage Items</a>{/if}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {if $items}
        {include file="$style_dir/resizing_settings.html"}
        <h2 class="sub_heading">Collection Photos</h2>
        <p>Select photos you want re-created or <a href="javascript:void(0);" class="btn btn-small" id='select-all-thumbs'>Click here to select all</a></p>
        <div class="height20"></div>
        <form action="" method="post" name="collection_photos_recreate" id="collection_photos_recreate">
            <ul class="thumbnails" id="collection-thumbs">
                {foreach from=$items item=photo}
                    <li class="inlineblock relative" style="float: none; vertical-align: top;">
                        <input type="checkbox" class="absolute" value="{$photo.photo_id}" id="re-photo_{$photo.photo_id}" style=" top:-6px; right:-4px; " name="check_photo[]" />
                        <label for="re-photo_{$photo.photo_id}" class="thumbnail">{get_photo output=html details=$photo }</label>
                    </li>
                {/foreach}
            </ul>
            <input type="hidden" name="recreating" value="Re-create Photos" />
        </form>
         
    {else}
        <div class="alert">{lang code='No photos found in collection'}</div>
    {/if}
{/if}