<h2 class="sub_heading">Settings on which photos will be re-created</h2>
    <div class="height10"></div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td>Photo Ratio</td>
            <td>{$Cbucket->configs.photo_ratio}</td>
        </tr>
        <tr>
            <td>Thumb Dimensions</td>
            <td>{$Cbucket->configs.photo_thumb_width} x {$Cbucket->configs.photo_thumb_height}</td>
        </tr>
        <tr>
            <td>Medium Thumb Dimensions</td>
            <td>{$Cbucket->configs.photo_med_width} x {$Cbucket->configs.photo_med_height}</td>
        </tr>
        <tr>
            <td>Large Photo Size</td>
            <td>{$Cbucket->configs.photo_lar_width}</td>
        </tr>
        <tr>
            <td>Cropping</td>
            {assign var=cropping value=$Cbucket->configs.photo_crop}
            <td>
                {if $cropping == 1}
                	Enabled
                {else}
                	Disabled
                {/if}
            </td>
        </tr>
        <tr>
            <td>Watermarking</td>
            {assign var=watermark value=$Cbucket->configs.watermark_photo}
            <td>
                {if $watermark == 1}
                	Enabled
                {else}
                	Disabled
                {/if}
            </td>
        </tr>
        {if $watermark == 1}
        <tr>
            <td>Watermark Placement</td>
            <td>
                	{$Cbucket->configs.watermark_placement}
            </td>
        </tr>
        {/if}
    </table>
    <div class="height20"></div>