

<script>
    $('.conversion-status').lionbars({
        autohide: true
    });
 
    $(document).ready(function(){
        
        $('.file_info').click(function(){
            
            var $id = $(this).attr('data-id');
            
            var $current = $('.file_info_active');
            
            var current_id = $current.attr('data-id');
            
            $('#'+current_id+'-messages').hide();
            $('#'+current_id+'-log').hide();
            
            
            
            $current.removeClass('file_info_active');
            
            $('#'+$id+'-messages').show();
            $('#'+$id+'-log').show();
            $(this).addClass('file_info_active');
            
        })
        
        $('.log_data,.file_output').hide();
        
        $('.file_info:first').trigger('click');
    })

</script>

{if $video}

<h4>Video Log for {$video.file_name} - {$video.title}</h4>

<div class="height10"></div>
<div class="row-fluid ">
    <div class="span4">
        {if $video_files}
        {foreach $video_files as $file}
        {if $file.name}
        <div class="file_info" data-id="{$file.file_id}">
            <span class="file_iteration">#{$file.profile_id}</span>
            <strong>{$file.name} - {$file.format}</strong>
            <div class="">{$file.date_added}</div>
        </div>
        {/if}
        {/foreach}
        {/if}
    </div>
    <div class="span4" style="border-left:1px solid #ccc; min-height:350px; margin-left:-1px; padding-left:15px;">

        {foreach $video_files as $file}
        {if $file.name}
      
            <div class="file_output"  id="{$file.file_id}-messages">
                {$log=json_decode($file.log,true)}

                <div align="center"><h5>Ouput Details</h5></div>

                {$output=json_decode($file.output_results,true)}


                <dl class="dl-horizontal">
                    {foreach $output as $key => $value}
                    <dt>{$key|ucfirst|replace:'_':' '}</dt>
                    <dd>{$value}<dd>
                        {/foreach}
                </dl>


                {$msgs=$log.m}
                {$errs=$log.e}


                <strong>Messages</strong>

                {if $msgs}
                {foreach $msgs as $key => $msg}
                {if $key!='conversion'}
                <div>{$msg}</div>
                {/if}
                {/foreach}
                {/if}

                <div class="height20"></div>
                <strong>Errors / Warnings</strong>

                {if $errs}
                {foreach $errs as $key => $err}
                <div>{$err}</div>
                {/foreach}
                {/if}


                 
        </div>
        {/if}
        {/foreach}
    </div>
    <div class="span4">
        <div class="well well-small conversion-status" align="center" >
            <h5>Conversion Details</h5>

            <dl class="dl-horizontal">
                <dt>Current Status</dt>
                <dd>
                    {$qstatus=$video.queue_status}
                    {if $qstatus=='u'}Processing{/if}
                    {if $qstatus=='f'}Failed{/if}
                    {if $qstatus=='s'}Completed{/if}
                </dd>


                {if $video.date_added}

                <dt>Created On</dt>
                <dd>{$video.date_added}</dd>

                {/if}

                {if $video.time_started}

                <dt>Started On</dt>
                <dd>{$video.time_started|date_format:"%d-%m-%Y %H:%M:%S"}</dd>

                {/if}

                {if $video.time_completed}

                <dt>Completed On</dt>
                <dd>{$video.time_completed|date_format:"%d-%m-%Y %H:%M:%S"}</dd>

                {/if}

                {if $video.conversion_counts}

                <dt>Total Conversions</dt>
                <dd>{$video.conversion_counts}</dd>

                {/if}
            </dl>
            <!--<strong  style="cursor:pointer" onclick="$(this).hide();$('#conv_msg').show()">View messages</strong>-->

            <div id="conv_msg">
                <hr />            
                <div align="left">
                    <strong>Messages</strong>    
                    {$msgs=json_decode($video.messages,true)}
                    {foreach $msgs as $msg}
                    <div>{$msg@iteration}. {$msg}</div>
                    {/foreach}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="controller white-grad">
    <div class="buttons">
        <strong>Conversion Log</strong>

        <div class="right-button">

            <a href="javascript:void(0);" class="btn btn-primary" id="copy-button" data-clipboard-text="copy me">
                <i class="icon-book icon-white"></i> Copy
            </a>

        </div>
    </div>
</div>

<div id="log-div" >
    {if $video_files}
    {foreach $video_files as $file}
    {if $file.name}

    {$msgs=json_decode($file.log,true)}
    <pre class="log_data" id="{$file.file_id}-log" >

        {$msgs.m.conversion}

    </pre>
    {/if}
    {/foreach}
    {/if}
    {/if}

</div>