body {
	margin: 10px;
	padding: 0px;
	font-family: tahoma;
	font-size: 11px;
	color: #000;
}

a {
	color: #06c
}

#container {
	margin: auto;
	width: 880px;
	border: 0px solid #eee;
	padding: 0px;
}

#sub_container {
	margin: auto;
	width: 980px;
	border: 0px solid #eee;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 40px;
}

#head {
	margin: auto;
	width: 900px;
	margin-bottom: 10px
}

#header {
	height: 25px;
	width: 900px;
	border: 1px solid #d4d4d4;
	line-height: 25px;
	background-image: url(images/header_grad.png);
	background-repeat: repeat-x;
	background-position: center;
	margin: auto;
	margin-bottom: 5px;
}

.grey-text {
	color: #797979;
}

.font-size {
	font-size: 9px;
}

.finish {
	width: 50%;
}

.top_tabs {
	float: right;
	margin-top: 14px;
	padding: 0px;
	margin-right: 14px;
	clear: both;
	overflow: hidden;
}

.top_tabs ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	position: relative;
	left: 50%;
}

.top_tabs ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
	position: relative;
	right: 50%;
	top: 1px;
}

.top_tabs ul li a {
	display: block;
	padding: 5px 4px;
	text-align: center;
	float: left;
	text-decoration: none;
	color: #5b5959;
	margin-right: 0px;
	font-size: 14px;
}

.top_tabs ul li span {
	font-size: 10px;
	float: left;
	line-height: 29px;
}

.top_nav {
	background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e3e3e3));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e3e3e3 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3', GradientType=0);
	/* IE6-9 */
	height: 40px;
	border-top: 1px solid #aaaaaa;
}

.cb_container {
	min-width: 990px;
	margin: auto;
}

.cb_navbar {
	margin-top: 3px;
}

.cb_navbar ul {
	padding: 0;
	text-align: center;
}

.cb_navbar li {
	margin: 0;
	padding: 4px 0;
	display: inline-block;
	list-style: none;
	color: #000;
	font-weight: bold;
}

.cb_navbar li.selected {
	color: #428bca;
}

.cb_navbar span {
	background: url(images/nav_arrow.png) no-repeat;
	height: 26px;
	width: 14px;
	float: left;
	margin-right: 5px;
	margin-top: -4px;
}

.nav_des {
	background: #09c;
	padding: 10px;
	text-align: center;
}

.license_des {
	height: 200px;
	background: #f5f5f5;
	border: 1px solid #cfcece;
	padding: 10px;
	overflow: auto;
}

.reg_des {
	background: #f5f5f5;
	border: 1px solid #cfcece;
	padding: 10px;
	height: auto;
}

.cb_btn-group {
	float: right;
	margin-top: 10px;
}

.cb_button {
	background: #428bca;
	color: #fff;
	border: 1px solid #cfcece;
	padding: 7px;
	font-weight: bold;
}

.cb_button-green {
	background: #5cb85c;
	color: #fff;
	border: 1px solid #cfcece;
	padding: 7px;
	font-weight: bold;
}

.left-side {
	width: 375px;
	float: left;
}

.db_font {
	color: #6b6a6a;
	font-size: 16px;
}

.right-side {
	width: 470px;
	float: right;
}

.reg-left-side {
	width: 770px;
	float: left;
}

.ins_dlt {
	padding: 11px;
	border: 1px solid #eed3d7;
	margin-top: 35px;
	font-weight: bold;
	border-radius: 7px;
	background: #f2dede;
	color: #b94a48;
}

.finish-left {
	width: 360px;
	float: left;
}

.finish-right {
	width: 630px;
	float: left;
	background: #f5f5f5;
	padding: 10px;
	border: 1px solid #cfcece;
}

#sub_container .db_fields .field .form-control {
	width: 350px;
	font-size: 15px;
}

#sub_container .field .form-control {

	width: 350px;
	font-size: 15px;
}

#logo {
	font-family: 'Cabin', arial, serif;
	font-size: 28px;
	font-weight: bold;
	padding: 5px 0px 15px 20px;
}

dt {
	font-weight: bold;
	float: left;
	width: 125px;
	display: inline-block;
	padding: 5px 3px;
	line-height: 20px;
}

dd {
	width: auto;
	border-bottom: 1px dotted #999;
	padding: 5px 3px;
	margin: 0;
	line-height: 20px;
}

dd span {
	padding-left: 130px;
}

dt span {
	padding-left: 80px;
}

dd:last-child {
	border-bottom: none
}

.red {
	color: #ed0000;
}

.ok,
.alert_cross,
.warning {
	background-repeat: no-repeat;
	height: 20px;
	padding-left: 23px;
	display: inline-block;
	background-position-y: 4px;
}

.ok {
	background-image: url(images/tick_arrow.png);
}

.alert_cross {
	background-image: url(images/cross_arrow.png);
	background-position-x: 2px;
}

.warning {
	background-image: url(images/warning.png);
}

dl {
	background-color: #F7F7F7;
	padding: 0;
	border: 1px dotted #999;
}

dd.white,
dt.white {
	background-color: #ffffff;
}

.inside_shadow {
	-moz-box-shadow: inset -5px -5px 5px #ccc;
	-webkit-box-shadow: inset -5px -5px 5px #ccc;
	box-shadow: inset -5px -5px 5px #ccc;
}

.field {
	margin-bottom: 10px
}

.field input {
	border: 1px solid #ccc;
	padding: 5px 3px;
	font-size: 13px;
	color: #666;
	width: 300px
}

.field label {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif
}

.errorDiv {
	padding: 5px;
	margin: 10px 0px;
	background-color: rgba(255, 214, 214, 1);
	border-radius: 8px;
}

.alert {
	background: url(images/cross_arrow.png) no-repeat 0;
	padding-left: 25px !important;
	display: inline-block;
	margin-right: 23px;
	line-height: 20px;
	margin-bottom: 0 !important;
}

.line {
	height: 1px;
	background-color: #C9C9C9;
	margin-top: 10px;
	margin-bottom: 10px;
}

.green {
	display: block;
	margin-bottom: 10px
}

.finish {
	margin-left: 28%;
	border: 1px solid #d6d6d6;
	background-color: #f3f3f3;
	width: 38%;
	margin-top: -500px;
	position: absolute;
	height: 500px;
	overflow: auto;
}

.cb-instal-licenc-holder {
	padding: 5px;
	background-color: #F5F5F5;
	border: 1px solid #ADADAD;
	border-radius: 3px;
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.cb-instal-licenc-sec {
	padding: 3px 15px;
	height: 300px;
	color: #555;
	font-size: 14px;
	text-align: left;
	overflow: auto;
}

.small {
	line-height: 8px;
}

.glyphicon:not(.disabled) {
	cursor: pointer;
}

.glyphicon.disabled {
	cursor: no-drop;
}

.glyphicon:not(.disabled):hover {
	background-color: #d5d5d5;
}

.glyphicon.glyphicon-ok {
	background-color: #DFF0D8;
	color: #3c763d;
}

.glyphicon.glyphicon-ok:hover {
	background-color: #d2eeca;
}

.glyphicon.glyphicon-remove {
	background-color: #F2DEDE;
	color: #a94442;
}

.glyphicon.glyphicon-remove:hover {
	background-color: #f3d3d3;
}

.has-error.form-control {
	border-color: #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.spinner-content {
	display: inline-block;
}
