{* This is a video watch video page widget *}

{if $video.userid}

{$user=$userquery->get_user_details_with_profile($video.userid)}

{$widget.before_widget}
{$widget.before_title}{$widget.configs.title}{$widget.after_title}

<div class="well" style="margin-bottom: 5px">     
    <div class="row">
        <div class="spanauto valignTop marginR10">
            <img src="{$userquery->getUserThumb($video,'small')}"/>
        </div>
        <div class="span2 marginL5 author-box-content">
            <h4>{$user.username}</h4>
            {$user.about_me}
            <div class="height5"></div>
            <div class="">
                <h6><i class="icon-film"></i> 
                    {lang code="Videos %s"|sprintf:$user.total_videos} | 
                        <i class="icon-picture"></i> {lang code="Photos %s"|sprintf:$user.total_photos}</h6>
            </div>
        </div>
    </div>
</div>
<div class="btn-group">
    <button class="btn btn-info" style="width:80%"><i class="icon-plus-sign icon-white"></i> Subscribe</button>
    <button class="btn" style="width:10%"><i class="icon-envelope"></i></button>
    <button class="btn" style="width:10%"><i class="icon-add-user icon-v3"></i></button>
</div>
{$widget.after_widget}

{/if}