<div class="height10"></div>
<div id="latest_comment_container"></div>


{if $comments}
    
    {foreach from=$comments.comments item=comment}
        {include file="$style_dir/blocks/comment.html" comment=$comment type=$type parents=$comments.parents}
    {/foreach}

{else}

    <div align="center" class="alert no_comments" id="no_comments">
    {$no_comments=lang("This %s has no comments, be the first to comment on this video..")}
    {$no_comments|sprintf:$object_type}
    </div>

{/if}
<div class="height10"></div>