<div class="modal share_feed_modal hide fade" id="share_feed_modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Modal header</h3>
    </div>
    <div class="modal-body share_feed_body">
        <div style="height: 20px"></div>
        <div class="btn-group dropdown feed_target_selecter">
            <a class="btn btn-small feed_target_text" >On your channel</a>
            <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#" id="feed_target_dd"><i class="caret"></i></a>

            <ul class="dropdown-menu feed_target_type" role="menu" aria-labelledby="feed_target_dd">
                <li><a href="javascript:void(0)" data-target-type="self">{lang code='Own your channel'}</a></li>
                <li><a href="javascript:void(0)" data-target-type="group">{lang code="On your group"}</a></li>
                <li><a href="javascript:void(0)" data-target-type="friend">{lang code="On friends's channel"}</a></li>
            </ul>
            
            <div class="share_feed_target_container">
                <input type="text" class="share_feed_target" id="share_feed_target"/>
            </div>
        </div>

        <div class="height15"></div>

        <form class="share_feed_modal_form">
            <textarea class="share_feed_modal_text mention" 
            placeholder="{lang code='Enter your message here..'}"
            rows="1"
            name="share_message"
            ></textarea>
            
            <input type="hidden" name="object_type" class="object_type" value="" />
            <input type="hidden" name="content_type" class="content_type" value="video" />
            <input type="hidden" name="content_id" class="content_id" value="{$video.videoid}" />
            <input type="hidden" name="action" value="share_video" />
        </form>

        <div class="">
            <div class="feed-context">
                <div class="share_feed-content">
                    {if $content.thumb}
                    <div class="content-thumb">
                        <img src="{$content.thumb}" />
                    </div>
                    {/if}
                    <div class="content-details">
                        {if $content.title}
                        <div class="content-title">
                            {$content.title} 
                            {if $content.sub_title}
                            - {$content.sub_title}
                            {/if}
                        </div>
                        {/if}
                        {if $content.caption}
                        <div class="content-caption">
                            {$content.caption}
                        </div>
                        {/if}

                        {if $content.description}
                        <div class="content-description">
                            {$content.description|truncate:300}
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary share_feed_button" >Save changes</a>
    </div>
</div>