

{if $pagination}

{if !$commentPagination}
{lang code='Pages'} : {if $first_link !=''}

<div class="btn-group inlineblock">
    <a class="btn" {$first_link}>&laquo;</a>{/if}  {if $pre_link !=''}
    <a {$pre_link} class="btn"  >&#8249;</a>{/if} {$pagination}  {if $next_link !=''}
    <a class="btn" {$next_link}>&#8250;</a>{/if} {if $last_link !=''}
    <a class="btn"  {$last_link}>&raquo;</a>{/if}
</div>
{else}

{lang code='Pages'} : 


<div class="btn-group inlineblock">
    {if $first_link !=''}
    <a href="javascript:void(0)" class="btn" onclick="get_comments('{$type}','{$type_id}','{$last_update}','1','{$total}','{$object_type}')">&laquo;</a>
    {/if}  

    {if $pre_link !=''}<a class="btn" href="javascript:void(0)" 
                          onclick="get_comments('{$type}','{$type_id}','{$last_update}','{$pre_page}','{$total}','{$object_type}')" >&#8249;</a>{/if} 

    {$pagination}  

    {if $next_link !=''}<aclass="btn"  href="javascript:void(0)"  
        onclick="get_comments('{$type}','{$type_id}','{$last_update}','{$next_page}','{$total}','{$object_type}')">&#8250;</a>{/if} 

        {if $last_link !=''}
        <a class="btn" href="javascript:void(0)"
           onclick=" get_comments('{$type}','{$type_id}','{$last_update}','{$total_pages}','{$total}','{$object_type}')" >&raquo;</a>
        {/if}
        {/if}
</div>

{/if}