{$pid=$playlist.playlist_id}
<ul class="playlist-list {$pid}-playlist" id="{$pid}-playlist">
    <li><span class=""><input name="check_playlist[]" type="checkbox" class="check_playlist" value="{$pid}"/></span></li>

    <li class="relative thumb">
        <div class="playlist-thumb">
            {$pad=10}
            {foreach $cbvid->action->getPlaylistThumb($playlist.playlist_id) as $pthumb}
            <img src="{$pthumb}" style="top:{$pthumb@index*$pad}px; left:{$pthumb@index*$pad}px"/>
            {/foreach}
        </div>

    </li>
    <li class="plinfo relative">

        <div>
            <span class="pltitle">{$playlist.playlist_name}</span>
            <span class="seperator">|</span> {$playlist.total_items} Videos 
            {if $playlist.privacy=='private'}
            <span class="icon-lock" title="{lang code='This playlist is private'}"></span>{else}
            <span class="icon-globe icon-v3" title="{lang code='This playlist is public'}"></span>{/if}
            
        </div>

        <div class="pldesc">{$playlist.description}</div>

        <div class="subinfo absolute bottom">
            <div>{$playlist.total_comments} {lang code='Comments'} <span class="seperator"></span> {lang code='played %d times'|sprintf:$playlist.played}</div>
            {$created=niceTime($playlist.date_added)}
            {$updated=date('M j, Y',strtotime($playlist.last_updated))}
            <div>{lang code='Created %s'|sprintf:$created}<span class="seperator">|</span> {lang code='Last updated on %s'|sprintf:$updated}</div>
        </div>
    </li>
    <li>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            Options <i class="caret"></i>
        </button>
        
        <div class="dropdown" >
            <ul class="dropdown-menu">
                <li><a href="{$baseurl}/manage_playlists.php?mode=edit_playlist&pid={$playlist.playlist_id}">{lang code='Manage'}</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)"
                       onclick="delete_playlist('{$playlist.playlist_id}')">
                            {lang code='Delete'}</a></li>
            </ul>
        </div>
    </li>
</ul>
<div class="clearfix"></div>
<hr/>