{$feed=feed($feed)}

<div class="{$feed.content_type}-feed {$feed.content_type}-feed-{$feed.feed_id} feed clearfix" id="feed-{$feed.feed_id}">
    <div class="feed-header">
        <div class="feed-author">
            <a href="{$userquery->profile_link($feed.user)}"><img src="{avatar uid=$feed.user.userid size='small'}" /></a>
            <span class="feed-author-name"><a href="{$userquery->profile_link($feed.user)}">{name($feed.user)}</a></span>
        </div>
        <div class="feed-time">{what_time($feed.time)} <i class="icon-globe icon-v3"></i></div>
    </div>
    <div class="feed-context">

        
        {if $feed.message}
        <div class="feed-message{if !$feed.content} feed-message-only{/if}">
            {feed_message($feed)}
        </div>
        {/if}
        
        {if $feed.content}
        {$content=$feed.content}
        <div class="feed-content content-{$feed.content_type} clearfix">
            {if $content.thumb}
            <div class="content-thumb">
                <a href="{$content.link}"><img src="{$content.thumb}" /></a>
            </div>
            {/if}
            <div class="content-details">
                {if $content.title}
                <div class="content-title">
                    {$content.title} 
                    {if $content.sub_title}
                        - {$content.sub_title}
                    {/if}
                </div>
                {/if}
                {if $content.caption}
                <div class="content-caption">
                    {$content.caption}
                </div>
                {/if}
                
                {if $content.description}
                <div class="content-description">
                    {$content.description|truncate:300}
                </div>
                {/if}
            </div>
        </div>
        {/if}
        
        {$liked='no'}
        {if $cbfeeds->is_liked($feed.likes)}
            {$liked='yes'}
        {/if}
        <div class="feed-options clearfix">
            <div class="feed-triangle"></div>
            <div class="feed-action-buttons feed-row">
                <a onclick="like_feed('{$feed.feed_id}');" 
                   id="likeable-{$feed.feed_id}" 
                   class="feed-like-link" 
                   {if $liked=='yes'}
                   data-toggle-text="{lang code='Like'}"
                   data-like="no"
                   {else}
                   data-toggle-text="{lang code='Unlike'}"
                   data-like="yes"
                   {/if}
                   >
                   {if $liked=='yes'}
                   {lang code='Unlike'}
                   {else}
                   {lang code='Like'}
                   {/if}
                </a> &#8226;
            <a href="javascript:void(0);" onclick="$('#add-comment-{$feed.feed_id}').focus()">Comment</a> &#8226; Share
            </div>
        </div>
        
        
        <div class="feed-interaction">
            
            
            <div class="feed-likes feed-row" id="like-phrase-{$feed.feed_id}">
               {get_likes_phrase($feed.likes,$feed.likes_count,$liked)}
            </div>
            
            
            <div class="feed-comment-content">
                {if $feed.comments_count > 0}
                {$feed_comments=feed_comments($feed)}
                {foreach $feed_comments as $comment}
                    {$comment_tpl=get_template('single_feed_comment','path')}
                    {include file=$comment_tpl comment=$comment}
                {/foreach}
                {/if}
            </div>
            
            <div id="new_comment_placeholder_{$feed.feed_id}"></div>
            
            <div class="feed-comment feed-row">
                <div class="feed-comment-author">
                    <img src="{$userquery->avatar($userquery->udetails,'small')}" />
                </div>
                <div class="feed-comment-text">
                    <div class="add-comment-field">
                        <form id="feed-form-{$feed.feed_id}" onsubmit="add_feed_comment('{$feed.feed_id}'); return false;">
                        <textarea class="comment-field mention" 
                        name ="comment_text"
                        id="add-comment-{$feed.feed_id}" data-feed-id="{$feed.feed_id}"></textarea>
 
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<div class="clearfix"></div>