{if !$display_method}
{if !$playlists}
{$playlists=$cbvid->action->get_playlists()}
{/if}


<!-- Video BLock {$video.videoid} -->
{$videolink=videoLink($video)}
<div class="{$video.videoid}-video {$video.videoid} video-box">
    <div class="video-thumb relative">

        {if has_access('video_moderation')}
        <div class="video-badge">
            
            <span class="label
            {if $video.active=='yes'}label-success{else}label-important{/if}"
            id="video-active-{$video.videoid}">
                {if $video.active=='yes'}Active{else}Inactive{/if}
            </span>
        </div>
        {/if}


        <a href="{$videolink}"><img src="{getThumb vdetails=$video size='160x120'}" {ANCHOR place="video_thumb" data=$video} /></a>

        {if $video.duration > 0}
        <span class="duration">{$video.duration|duration}</span>
        {/if}
    </div>

    <div class="dropdown absolute video-options ">


        {$video_menu=get_video_menu($video)}
        
        {if $video_menu}
        <a  class="btn dropdown-toggle"
            data-toggle="dropdown"><i class=" icon-chevron-down"></i>
        </a>

        <ul class="dropdown-menu" style="right: 0; left: auto;" id="video-menu-{$video.videoid}">
            {foreach $video_menu as $menu_category}
                {if $menu_category@iteration > 1}
                <li class="divider"></li>
                {/if}
                {foreach $menu_category as $key=>$menu}
                    <li{if $menu.li_style} style="{$menu.li_style}"{/if} data-key="{$key}">
                    <a href="{$menu.href}" {if $menu.onclick}
                    onclick="{$menu.onclick}"
                    {/if}>{$menu.title}</a>
                    </li>
                {/foreach}
                
                
            {/foreach}
        </ul>
        {/if}
    </div>


    <div class="video-info-cont relative muted">
        <div class="title"><a href="{$videolink}">{$video.title|truncate:60:''}</a></div>
        <div class="video-info absolute bottom">
            <span class="user pull-left">{$video.username}</span>
            <span class="user pull-right">{$video.date_added|niceTime}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{/if}

{if $display_method == 'index_sidebar'}
<div class="video-index-sidebar">
    <a href="{videoLink vdetails=$video}" class="block height100" style="overflow: hidden;">
        <img src="{get_thumb vdetails=$video num='big'}" width="300" class="valignMid" />
    </a>
    <div class="height5"></div>
    <a href="{videoLink vdetails=$video}" class="inlineblock"><h5>{$video.title|truncate:35}</h5></a>
    <span class="pull-right font_12" style="color:#999">{$video.duration|setTime}</span>
</div>
<div class="height20"></div>
{/if}

{if $display_method == 'index_videos'}
<a href="{videoLink vdetails=$video}" id="video-lastest-{$video.videoid}" class="pull-left index-middle-videos video-box">
    <div class="height100 block overflow-hidden relative video-thumb">
        <img src="{getThumb vdetails=$video}" />
        <span class="duration">{$video.duration|setTime}</span>
    </div>
    <div class="height5"></div>
    <p class="font_12">{$video.title|truncate:50}</p>
</a>
{/if}

{if $display_method == 'view_channel'}
<div class="user-video-block popover-class" rel="popover" data-title="{$video.title}" data-content="{$video.description|truncate:100} <div class='popover-footer'> {name($video)} <div class='pull-right'>{$video.views|number_format} {lang code='views'}</div> </div>" data-placement="left" data-trigger="hover" data-delay="500">
    <a href="{videoLink vdetails=$video}">
        <div class="user-video-thumb">
            <img src="{getThumb vdetails=$video}" class="cbv3-center-image" />
            <span class="duration">{$video.duration|setTime}</span>
        </div>
    </a>
</div>
{/if}