{if !$display_method}
{if !$playlists}
    {$playlists=$cbvid->action->get_playlists()}
{/if}


<!-- Video BLock {$video.videoid} -->
{$videolink=videoLink($video)}
<div class="{$video.videoid}-video {$video.videoid} video-box">
    <div class="video-thumb relative">
        <a href="{$videolink}"><img src="{getThumb vdetails=$video size='160x120'}" {ANCHOR place="video_thumb" data=$video} /></a>
        <span class="duration">{$video.duration|duration}</span>
        
        <div class="dropdown absolute video-options btn-group">
            <a class="btn cb-tooltip" rel="tooltip" title="{lang code='Add &quot;%s&quot; to your quicklist'|sprintf:$video.title} "><i class="icon-plus"></i></a>
                <a  class="btn dropdown-toggle"
                data-toggle="dropdown"><i class="caret"></i></a>
        
            <ul class="dropdown-menu" style="right: 0; left: auto;">
                <li><a href="">{lang code='Favorites'}</a></li>
            </ul>
        </div>
    </div>
    <div class="video-info-cont relative">
        <div class="title"><a href="{$videolink}">{$video.title}</a></div>
        <div class="video-info absolute bottom">
            <span class="user pull-left">{$video.username}</span>
            <span class="user pull-right">{$video.date_added|niceTime}</span>
            <div class="clearfix"></div>
            
             <span class="user pull-left">{$video.views|number_format} views</span>
            <span class="user pull-right">{$video|cbv3_rating:perc}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{/if}

{if $display_method == 'index_sidebar'}
<div class="video-index-sidebar">
    <a href="{videoLink vdetails=$video}" class="block height100" style="overflow: hidden;">
        <img src="{get_thumb vdetails=$video num='big'}" width="300" class="valignMid" />
    </a>
    <div class="height5"></div>
    <a href="{videoLink vdetails=$video}" class="inlineblock"><h5>{$video.title|truncate:35}</h5></a>
    <span class="pull-right font_12" style="color:#999">{$video.duration|setTime}</span>
</div>
<div class="height20"></div>
{/if}

{if $display_method == 'index_videos'}
<a href="{videoLink vdetails=$video}" id="video-lastest-{$video.videoid}" class="pull-left index-middle-videos video-box">
    <div class="height100 block overflow-hidden relative video-thumb">
        <img src="{getThumb vdetails=$video}" />
        <span class="duration">{$video.duration|setTime}</span>
    </div>
    <div class="height5"></div>
    <p class="font_12">{$video.title|truncate:50}</p>
</a>
{/if}