
<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-align-justify"></span>
        <span class="navmenu">Menu</span>
</button>-->
<div class="collapse navbar-collapse" id="collapsed-navigation">
    
    <ul class="nav navbar-stacked">
      <li class="wv_heading"><a href="#">Categories</a></li>
      <li><a href="#">Category1</a></li>
      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Category2<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="menu-item dropdown dropdown-submenu"><a class="dropdown-toggle" href="#" data-toggle="dropdown">SubCategory</a>
          <ul class="dropdown-menu">
            <li class="menu-item "><a href="#">Page with comments</a></li>
            <li class="menu-item dropdown dropdown-submenu"><a class="dropdown-toggle" href="#" data-toggle="dropdown">3rd level Category</a>
              <ul class="dropdown-menu"><li><a href="#">4th level link more options</a></li><li><a href="#">4th level link</a></li></ul>
            </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Cate4</a></li>
      <li><a href="#">cate5</a></li>
      <li><a href="#">cate6</a></li>
    </ul>

</div>


<!--<div class="category_list marginTop">
	<h3 class="cat_heading">{lang code='categories'}</h3>
	<div class="categories">
	    <ul id="sidebar" class="nav nav-stacked">
	    	{cbCategories type=$type echo="TRUE" list_style="collapsed" output="a" with_all="TRUE"}
	    </ul>

	</div>
</div>-->

