{if $display_type == "" || $display_type == "normal"}

<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <img src="{$cbcollection->get_thumb($collection,'small',TRUE)}"/>
            </div>
            <div class="col-md-9">
                <a href="{$baseurl}/admin_area/edit_collection.php?collection={$collection.collection_id}">{$collection.collection_name}</a> ({$collection.total_objects} {$collection.type})
                </a>
                <div class="labels">
                    {if $collection.featured=='yes'}<span class="label label-primary">Featured{else}{/if}</span>
                    <span class="label {if $collection.active=='yes'}label-success{else}label-warning{/if}">{if $collection.active=='yes'}Active{else}NotActive{/if}</span>
                    <span class="label label-info"><strong>Type</strong>      {$collection.type}</span>
                    <span class="label label-info"><strong>{$collection.date_added|niceTime}</strong> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <a href="view_user.php?uid={$collection.userid}">{$collection.username}</a>
    </div>
</div>
{/if}

{if $display_type == "view_collection"}

    <div class="collectItemBox">
    	{if $type == "videos"}

        <div class="the_item col-md-2 col-lg-2 col-sm-4 col-xs-6">
            <div class="onePhotoContainer">
                <div class="onePhotoTitle">
                    <a href="{$cbphoto->photo_links($object,'view_item')}">{$object.video_title|truncate:15}</a>
                </div>

                <a href="{$cbphoto->photo_links($object,'view_item')}">
                    <img src="{getThumb vdetails=$object}" alt="{$object.title}" />
                </a>
            </div>

        </div>
        {/if}
        
        {if $type == "photos"}
        <div class="the_item col-md-2 col-lg-2 col-sm-4 col-xs-6">
            <div class="onePhotoContainer">
                <div class="onePhotoTitle">
                    <a href="{$cbphoto->photo_links($object,'view_item')}">{$object.video_title|truncate:15}</a>
                </div>

                <a href="{$cbphoto->photo_links($object,'view_item')}">
                    {get_photo details=$object size='t' output='html' alt=$object.photo_title}
                </a>
            </div>

        </div>
        {/if}
    </div>  
{/if}

{if $display_type == "user_collections"}
	<div class="moveL">
   		<a href="{$cbcollection->collection_links($collection,'view')}" style="width:47px; height:47px;" title="{$collection.collection_name}">
            <img src="{$imageurl}/dot.gif" style="background:url({$cbcollection->get_thumb($collection,'small')}) center top no-repeat;" />
        </a>
    </div>
{/if}