 <ul class="pagination">
{if $pagination}

	{if !$commentPagination}

     <div class="dataTables_paginate paging_bootstrap pagination">
         <ul class="pagination">
             <li class="prev disabled">
                 <a href="#">
                     <i class="icon-double-angle-left"></i></a></li>
             <li class="active">{if $pagination}
                 {if $first_link !=''}<a class="active" {$first_link}>&laquo;</a>{/if}  {if $pre_link !=''}<a {$pre_link} >&#8249;</a>{/if} {$pagination}  {if $next_link !=''}<a {$next_link}>&#8250;</a>{/if}
                 {/if}</li>
             <li class="next"> {if $last_link !=''}<a {$last_link}>&raquo;</a>{/if}</li>
         </ul>

     </div>




     <!--{if $first_link !=''}<li class="previous">-->
            <!---->
        <!--<a {$first_link}><span class="glyphicon glyphicon-fast-backward"></span></a></li>{/if}  {if $pre_link !=''}<li><a {$pre_link} ><span class="glyphicon glyphicon-step-backward"></span></a></li>{/if} -->
        <!---->
        <!--{$pagination} -->

        <!--{if $next_link !=''}<li><a {$next_link}><span class="glyphicon glyphicon-step-forward"></span></a></li>{/if} {if $last_link !=''}<li class="next"><a {$last_link}><span class="glyphicon glyphicon-fast-forward"></a></li>{/if}-->
      <!---->
    <!--{else}-->
    <!---->
      <!--{lang code='Pages'} : {if $first_link !=''}-->
        <!--<a href="javascript:void(0)" onclick="getComments('{$type}','{$type_id}','{$last_update}','1','{$total}','{$object_type}')">&laquo;</a>-->
      <!--{/if}  -->
      <!---->
      <!--{if $pre_link !=''}<a href="javascript:void(0)" -->
       <!--onclick="getComments('{$type}','{$type_id}','{$last_update}','{$pre_page}','{$total}','{$object_type}')" >&#8249;</a>{/if} -->
      <!---->
      <!--{$pagination}  -->
      <!---->
      <!--{if $next_link !=''}<a href="javascript:void(0)"  -->
      <!--onclick="getComments('{$type}','{$type_id}','{$last_update}','{$next_page}','{$total}','{$object_type}')">&#8250;</a>{/if} -->
      <!---->
      <!--{if $last_link !=''}-->
        <!--<a href="javascript:void(0)"-->
        <!--onclick=" getComments('{$type}','{$type_id}','{$last_update}','{$total_pages}','{$total}','{$object_type}')" >&raquo;</a>-->
      <!--{/if}-->
    <!--{/if}-->
  
{/if}
</ul>