{if $cur_class==''}
{assign var=cur_class value=$smarty.cookies.current_style}
{/if}

{if $display_type =='normal' || $display_type==''}
<!-- Video Box -->

<div class="col-md-3">
    <a href="{videoLink($video)}" title="{$video.title|title}">
        <img src="{getThumb vdetails=$video}"  width="203" height="115" id="thumbs_{$video.videoid}"  title=""/></a>
    <p class="duration1"><b class="color">{if
        $video.duration>1}{$video.duration|SetTime}{else}00:00{/if}</b></p>
    <h5><a href="{videoLink($video)}" title="{$video.title|title}"><b>{$video.title|truncate:22}</b></a></h5>
    <small class="font1 new1"><b>{lang code='views'} :{$video.views}</b></small>
    <small class="font2 new1"><b>{$video.date_added|niceTime}</b></small>
    <hr>
</div>



{if $only_once}
    <div class="clearfix"></div>
{/if}
<!-- Video Box -->
{/if}


{if $display_type == "channel_page"}
	<li class="itemBox" onclick="loadObject(this,'videos','{$video.videoid}','viewingArea')">
    	<div align="center"><img src="{getThumb vdetails=$video}" alt="{$video.title}" width="110" height="64" /></div>
    </li> <!-- itemBox {$video.videokey} end -->
{/if}

<div class="col-md-3">
{if $display_type=='add_type'}

    <a href="{videoLink($video)}" title="{$video.title|title}">
        <img src="{getThumb vdetails=$video}"  width="203" height="115" id="thumbs_{$video.videoid}"  title=""/></a>
    <p class="duration1"><b class="color">{if
        $video.duration>1}{$video.duration|SetTime}{else}00:00{/if}</b></p>
    <h5><a href="{videoLink($video)}" title="{$video.title|title}"><b>{$video.title|truncate:22}</b></a></h5>
    <small class="font1 new1"><b>{lang code='views'} :{$video.views}</b></small>
    <small class="font2 new1"><b>{$video.date_added|niceTime}</b></small>
            {if $check_type=='array'}
            <input type="checkbox" class="form-control" name="check_video[]"  style="position:absolute; bottom:0px; left:0px" {if $check_this} checked="checked"{/if} value="{$video.videoid}" />
            {else}
    <div class="col-md-1">
            <input type="checkbox" class="form-control" name="check_video_{$video.videoid}" id="check_video_{$video.videoid}" style="position:absolute; bottom:0px; left:135px; margin-left: 33px;width: 16px;" {if $check_this} checked="checked"{/if} value="yes" />
        </div>
        {/if}
    <hr>
</div>



    {if $only_once}
    <div class="clearfix"></div>
    {/if}

    {/if}
