<?xml version="1.0" encoding="utf-8"?>
<config
      autoplay="true"
      playlist="false"
      buffer="3"
      normalscale="0"
      fullscreenscale="0"
      language = "English"
      Volume="100"
      hdflvplayer_ads="false"
      preroll_ads="false"
      midroll_ads="false"
      postroll_ads="false"
      HD_default="false"
      Download="false"
      logoalpha = "50"
      skin_autohide="false"
      stagecolor=""
      skin=""
      embed_visible="true"
      playlistXML=""
      adXML=""
      midrollXML=""
      debug="true">

<timer>true</timer>

<zoom>true</zoom>

<email>true</email>

<fullscreen>true</fullscreen>

</config>