<div class="container">
    <div id="main" class="clearfix">
        <div class="cb-box">
            <h2>{lang code='usr_activation_title'}</h2>
            <div class="alert alert-info">{lang code='acitvation_html_message'}</div>
            <form method="post" class="cbform" action="{$baseurl}email_confirm.php?mode=activation">
                <div class="clearfix form-group">
                    <label for="av_username">{lang code='username'}</label>
                    <input type="text" name="av_username" id="av_username" class="form-control">
                </div>
                <div class="clearfix form-group">
                    <label for="avcode">{lang code='usr_activation_code_tl'}</label>
                    <input type="text" name="avcode" id="avcode" class="form-control">
                </div>
                <input type="submit" name="activate_user" class="btn btn-primary" value="{lang code='activate_my_account'}">
            </form>
        </div>
    </div>
</div>
