{if $comment.userid !='' && $comment.userid!=0}
{assign var=comm_user value=$userquery->get_user_details($comment.userid)}
{/if}
	<div id="comment_{$comment_id}" class="comment">
    <div class="user_com_thumb_con" align="left">
    	<img src="{$userquery->getuserthumb($comm_user)}" class="user_com_thumb"  />
    </div>
    <div class="comm_other">
    	<div class="user_bar">
        <div style="width:70%; float:left">
    	{if $comment.userid !='' && $comment.userid!=0}
        	<a href="#">{$comm_user.username}</a> commmented {$comment.date_added|niceTime}
        {else}
        	<a href='#comment_{$comment.comment_id}'>{$comment.anonym_name}</a> commmented {$comment.date_added|niceTime}
        {/if}
        </div>
        <div style="width:28%; float:right" align="right">Reply | Spam | Delete</div>
        <div class="cleafix"></div>
        </div>
        
        <div class="comment_cont">{$comment.comment|comment}</div>
        <div class="comment_rating_cont"><span class="thumb_down" onclick="rate_comment('{$comment.comment_id}','down')">Thumbs Down</span><span class="thumb_up" onclick="rate_comment('{$comment.comment_id}','up')">Thumbs Up</span><span id="comment_rating_{$comment.comment_id}" class="comment_rating">{$comment.vote|comment_rating}</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </div>