<div style="width:270px; float:left">
            	<!-- Thumb and Links-->
        		<div class="channel_inner_box" align="center">
                	<div class="usr_thumb_container" align="center">
                    	<img src="{$userquery->getUserThumb($u)}" alt="{$u.username}" class="user_thumb">
                    </div>
                    
                    {if !$userquery->is_subscribed($u.userid)}
                    <span class="cb_button" onClick="subscriber('{$u.userid}','subscribe_user','result_cont')">{lang code='subscribe'}</span><br>
                    {else}
                    <span class="cb_button" onClick="subscriber('{$u.userid}','unsubscribe_user','result_cont')">{lang code='unsubscribe'}</span><br>
                    {/if}
                    
					{assign var='channel_action_links' value=$userquery->get_channel_action_links($u)}
                    <ul class="channel_action_links">
                    {foreach from=$channel_action_links item=link key=link_title}
                        <li><a href="{$link.link}" {if $link.onclick}onClick="{$link.onclick}"{/if}>{$link_title}</a></li>
                    {/foreach}
                    </ul>
   	 			 </div>
                <!-- Thumb and Links Ends-->
                <div style="height:5px"></div>
           		<!-- Profile Details -->
                <div class="channel_inner_box">
                	<span class="channel_heading">{lang code='profile'|capitalize:true}</span>
                    
                    <div class="show_info">
                   	 <div class="item_list float_left" align="left">{lang code='user_channel_views'}</div>
                     <div class="item_list float_right" align="right">{$u.profile_hits|number_format}</div>
                    </div>
                    
                    {if $p.show_dob=='yes'}
                    <div class="show_info">
                   	 <div class="item_list float_left" align="left">{lang code='age'}</div>
                     <div class="item_list float_right" align="right">{$u.dob|get_age} - {$u.dob|date_format}</div>
                    </div>
                    {/if}
                    
                    <div class="show_info">
                   	 <div class="item_list float_left" align="left">{lang code='joined'}</div>
                     <div class="item_list float_right" align="right">{$u.doj|date_format}</div>
                    </div>
                    
                    <div class="show_info">
                   	 <div class="item_list float_left" align="left">{lang code='user_last_login'}</div>
                     <div class="item_list float_right" align="right">{$u.last_logged|nicetime}</div>
                    </div>
                    
                    <div class="show_info">
                   	 <div class="item_list float_left" align="left">{lang code='subscribers'}</div>
                     <div class="item_list float_right" align="right">{$u.subscribers|number_format}</div>
                    </div>
                    
                    <div class="show_info">
                   	 <div class="item_list float_left" align="left">{lang code=country}</div>
                     <div class="item_list float_right" align="right">{$u.country|country}</div>
                    </div>
                    
                    
                 <div class="clearfix"></div>  
            <span class="channel_heading">{lang code='Personal Details'|capitalize:true}</span>
                    {assign var="personal_details" value=$userquery->load_personal_details($p)}
                    {foreach from=$personal_details item=field}
                    {assign var=db_field value=$field.db_field}
                    {if $p.$db_field && $field.auto_view=='yes'}
                        <div class="show_info">
                        {if $field.type !='textarea' && $field.type !='text' && $field.type !='textfield'}
                         <div class="item_list float_left" align="left">{$field.title}</div>
                         <div class="item_list float_right" align="right">{input_value input=$field}</div>
                         <div class="clearfix"></div>
                        {elseif $field.type =='textarea'}
                        	<div class="item_list" align="left" style="margin-top:5px"><strong>{$field.title}</strong></div>
                            <div style=" display:block; padding:5px; font-size:10px; background-color:#eaeaea; margin:3px 0px">{$field.value|nl2br}</div>
                        {else}
                        	<div class="item_list" align="left" style="margin-top:5px">{$field.title}</div>
                            <div class="clearfix"></div>
                         	<div class="item_list">{input_value input=$field}</div>
                        {/if}
                        </div>
                    {/if}
                    {/foreach}
                    
                    
                    {if $p.about_me}
                    <div class="show_info">
                    	<div class="item_list" align="left" style="margin-top:5px"><strong>{lang code='user_about_me'}</strong></div>
              			<div style=" display:block; padding:5px; font-size:10px; background-color:#eaeaea; margin:3px 0px">{$p.about_me|nl2br}</div>
                    </div>
                    {/if}
                
                <div class="clearfix"></div>
           		</div>
              	<!-- Profile Details Ends -->
                
                <!-- User Subscriotions -->
                <div class="channel_inner_box" style="margin-top:5px">
                <span class="channel_heading">{lang code='user_subscriptions' assign='users_videos'}{$users_videos|sprintf:$u.username}</span>
                <hr width="100%" size="1" noshade>
                {assign var=users_items_subscriptions value=func->config(users_items_subscriptions)}
                {assign var='usr_subs' value=$userquery->get_user_subscriptions($u.userid,$users_items_subscriptions)}
                {section name=u_list loop=$usr_subs}
               	 {include file="$style_dir/blocks/user.html" user=$usr_subs[u_list] block_type='small'}
                {sectionelse}
                <div align="center"><em><strong>{lang code='user_no_subscriptions' assign='user_subs'}{$user_subs|sprintf:$u.username}</strong></em></div>
                {/section}
                <div class="clearfix"></div>
                <hr width="100%" size="1" noshade>
                <div align="right"><a href="#">{lang code='more'}</a></div>
                </div>
        
        <!-- User Subscriptions end -->
            </div>