<h2>{lang code='com_manage_subs'}</h2>
{if $subs}
    <table class="table table-striped table-bordered">
        <tr>
            <td width="15">
                <input type="checkbox" name="checkall"/>
            </td>
            <td width="50">&nbsp;</td>
            <td>Username</td>
            <td width="100">views</td>
            <td width="50">&nbsp;</td>
        </tr>
        {foreach from=$subs item=sub}
            <tr>
                <td>
                    <input type="checkbox" name="sub[]" id="check_userd-{$user_detail.userid}" value="{$sub.subscribed_to}" />
                </td>
                <td>
                    <a href="{$userquery->profile_link($sub)}"><img src="{$userquery->getUserThumb($sub)}" alt="{display_clean($sub.username)}" width="40" height="40" border="0"></a>
                </td>
                <td>
                    <a href="{$userquery->profile_link($sub)}">{display_clean($sub.username)}</a> | <a href="{$userquery->get_user_videos_link($sub)}">{lang code='grp_view_vdos'}</a>
                </td>
                <td width="100">
                    {$sub.profile_hits|number_format}
                </td>
                <td>
                    <a href="?mode=subscriptions&delete_subs={$sub.subscribed_to}">
                        <img src="{$imageurl}/cancel.png" width="16" height="16" border="0"/>
                    </a>
                </td>
            </tr>
        {/foreach}
    </table>
{else}
    <div><em><strong>{lang code='no_subs_found'}</strong></em></div>
{/if}