<h2>{lang code='user_change_email'}</h2>
<form method="post" name="edit_profile">
    <div class="form-group">
        <label for="curemail">{lang code='current_email'}</label>
        <input class="form-control" type="text" disabled value="{$user.email}" id="curemail">
    </div>
    <div class="form-group">
        <label for="new_email">{lang code='user_new_email'}</label>
        <input type="text" class="form-control" name="new_email" id="new_email">
    </div>
    <div class="form-group">
        <label for="cnew_email">{lang code='confirm_new_email'}</label>
        <input class="form-control" type="text" name="cnew_email" id="cnew_email">
    </div>
    <div class="form-group">
        <button name="change_email" id="button3" value="submit" class="btn btn-primary">
            {lang code='user_change_email'}
        </button>
    </div>
</form>