<h2>{lang code='user_change_pass'}</h2>
<form method="post" name="edit_profile">
    <div class="form-group">
        <label for="old_pass">{lang code='user_old_pass'}</label>
        <input class="form-control" name="old_pass" type="password" id="old_pass">
    </div>
    <div class="form-group">
        <label for="new_pass">{lang code='user_new_pass'}</label>
        <input class="form-control" name="new_pass" type="password" id="new_pass" />
    </div>
    <div class="form-group">
        <label for="c_new_pass">{lang code='user_c_new_pass'}</label>
        <input class="form-control" name="c_new_pass" type="password" id="c_new_pass" />
    </div>
    <div class="form-group">
        <button name="change_password" id="button4" value="submit" class="btn btn-primary">
            {lang code='user_change_pass'}
        </button>
    </div>
</form>