<form method="post" name="edit_profile">
    <div class="form-group">
        <label for="curemail">{lang code="option_enable_multi_factor_authentification"}</label>
        <select name="enable_mfa" class="form-control">
            <option value="disabled" {if $user.enable_mfa == 'disabled'}selected{/if}>{lang('disabled')|ucfirst}</option>
            <option value="allowed" {if $user.enable_mfa == 'allowed'}selected{/if} {if !$user.email_confirm}disabled="disabled" title="{lang('tips_need_confirm_email')}" {/if} >{lang('allowed_by_email')}</option>
        </select>
    </div>
    <div class="form-group">
        <button name="change_email" value="submit" class="btn btn-primary">
            {lang code='submit_now'}
        </button>
    </div>
</form>