{if Update::IsCurrentDBVersionIsHigherOrEqualTo('5.5.2', '194')}
    {assign var="valid_default" value='1'}
{else}
    {assign var="valid_default" value='yes'}
{/if}
{assign var=order value=[]}
<div class="categories_drag_n_drop category-tree">
    <div class="category-list-header">
        <span class="category-name">{lang('category_name')}</span>
        <span class="category-description">{lang('description')}</span>
        <span class="category-default">{lang('default')}</span>
        <span class="category-actions">{lang('action')}</span>
    </div>
    <ul id="category_flat_list" class="category-flat-list">
        {foreach from=$categories item=category}
            {$order[]= $category.category_id}
            {include file="$style_dir/blocks/category_item.html" category=$category}
        {/foreach}
    </ul>
</div>