{if Update::IsCurrentDBVersionIsHigherOrEqualTo('5.5.2', '194')}
    {assign var="valid_default" value='1'}
{else}
    {assign var="valid_default" value='yes'}
{/if}
{assign var=order value=[]}
<div  class="categories_drag_n_drop row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">{lang('category_name')}</div>
            <div class="col-md-6">{lang('description')}</div>
            <div class="col-md-1">{lang('default')}</div>
            <div class="col-md-2">{lang('action')}</div>
        </div>
        {foreach from=$categories item=category}
            {$order[]= $category.category_id}
            {include file="$style_dir/blocks/category_item.html" category=$category}
        {/foreach}
    </div>
    <input type="hidden" name="order[0]" value="{implode(',',$order)}"/>
</div>