{foreach from=$comments item=comment}
    <div class="itemdiv dialogdiv comment_line" id="comment_{$comment.comment_id}">
        {if $comment != ''}
            {if !empty($comment.userid)}
                {$userdetails = userquery::getInstance()->get_user_details($comment.userid)}
                {$username = $userdetails.username}
                {$avatar = userquery::getInstance()->getUserThumb($userdetails,'small')}
            {else}
                {$username = $comment.anonym_name}
                {$avatar = userquery::getInstance()->get_default_thumb('small')}
            {/if}
            <div class="user">
                <img alt="{display_clean($username)}" title="{display_clean($username)}" src="{$avatar}">
            </div>
            <div class="body clearfix">
                <div class="col-md-7">
                    <span>{Comments::getClean($comment.comment)}</span>
                </div>
                <div class="col-md-3">
                    <i class="icon-time"></i>
                    <span class="green">{$comment.date_added|date_format}</span>
                </div>
                <div class="col-md-2">
                    <span class="btn btn-primary del_cmt" data-id="{$comment.comment_id}">{lang code='delete'}</span>
                </div>
            </div>
        {else}
            <div class="body">
                <p>{lang('no_comments',strtolower(lang($comment_type)))}</p>
            </div>
        {/if}
    </div>
{/foreach}