
    <form method="post" enctype="multipart/form-data" name="edit_category" id="edit_category">
        <input name="category_id" value="{$categ.category_id}" type="hidden" />
        <input name="cur_name" value="{display_clean($categ.category_name)}" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label for="name">Category Name*</label>
                <input name="category_name" class="form-control" type="text" id="name" value="{display_clean($categ.category_name)}" size="45" />
            </div>
            {if config('use_subs')==1}
            <div class="col-md-4">
                <label>Parent Category</label>
                {cbCategories output="dropdown" class='form-control' selected=$categ.parent_id name="parent_id" id="parent_cat" blank_option=TRUE type=$type echo=TRUE parent_only=true}
            </div>
            {/if}
            <div class="col-md-4">
                <label for="default_categ">Make Default Category</label>
                <select class="form-control" name="is_default" id="default_categ">
                    <option class="form-control" {if $categ.is_default=='yes'}selected{/if} value="yes">{lang code='yes'}</option>
                    <option class="form-control" {if $categ.is_default=='no' || $categ.is_default==''}selected{/if} value="no">{lang code='no'}</option>
                </select>
            </div>
        </div>
        <div class="row marginTopLarge">
            <div class="col-md-12">
                <label>{lang code='description'}</label>
                <textarea class="form-control" name="category_desc" id="description" cols="33" rows="5">{display_clean($categ.category_desc)}</textarea>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-10">
                <label>Category Thumb</label>
                <input type="file" name="category_thumb" id="cat_thumb"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default button" id="cancel">{lang code='cancel'}</button>
                <input type="submit" class="btn btn-primary pull-right button" name="update_category" id="button" value="{if empty($categ.category_id)}{lang code='add_new_category'}{else}{lang code='update_category'}{/if}"/>
            </div>
        </div>
    </form>
    <hr/>
</div>