<form id="default_lang" method="post" action="?default">
    <table class="table table-bordered table-striped manageUsersTable">
        <tr>
            <th class="col-md-1">Is default</th>
            <th class="col-md-2">{lang code='language'}</th>
            <th class="col-md-2">{lang code='code'}</th>
            <th class="col-md-2">{lang code='progression'}</th>
            <th class="col-md-1"></th>
        </tr>
        {section name=l_list loop=$language_list}
        <tr id="showWala">
            <td style="vertical-align: middle;">
                <input value="{$language_list[l_list].language_id}" {if $language_list[l_list].language_default=='yes'}checked{/if} name="make_default" type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
                <span class="lbl"></span>
            </td>
            <td style="vertical-align: middle;">{display_clean($language_list[l_list].language_name)}</td>
            <td style="vertical-align: middle;">{display_clean($language_list[l_list].language_code)}</td>
            <td style="text-align: center; vertical-align: middle;">
                <span>{$language_list[l_list].pourcentage_traduction|string_format:"%.2f" }%</span>
                <div class="progress">
                    <div class="progress-bar {if $language_list[l_list].pourcentage_traduction == '100' } progress-bar-success {/if}" role="progressbar" aria-valuenow="{$language_list[l_list].pourcentage_traduction}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{$language_list[l_list].pourcentage_traduction}%">

                    </div>
                </div>
            </td>
            <td style="vertical-align: middle;">
                <div class="dropdown clearfix alignCenter">
                    <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions <i class="caret"></i></button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="?edit_language={$language_list[l_list].language_id}">{lang code='edit'}</a></li>
                        <li role="presentation" {if $language_list[l_list].language_id== 1 or $language_list[l_list].language_default=='yes'} class="disabled" {/if}>
                        <a role="menuitem" tabindex="-1" href="javascript:void(0);"
                           {if $language_list[l_list].language_id !=1 and $language_list[l_list].language_default !='yes' }
                            onclick="deleteLanguage({$language_list[l_list].language_id}, '{display_clean($language_list[l_list].language_name)}')"
                           {/if}
                            >{lang code='delete'}
                        </a>
                        {if $language_list[l_list].language_active!='yes'}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="?action=activate&id={$language_list[l_list].language_id}">{lang code='activate'}</a></li>
                        {/if}
                        <li role="presentation" class="divider"></li>
                        {if $language_list[l_list].language_active=='yes'}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="?action=deactivate&id={$language_list[l_list].language_id}">{lang code='deactivate'}</a>
                        </li>
                        {/if}
                        {if $language_list[l_list].language_default!='yes'}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="?make_default={$language_list[l_list].language_id}">Make Default</a>
                        </li>
                        {else}
                        <li role="presentation" class="disabled"><a href="#">Make Default</a></li>
                        {/if}
                    </ul>
                </div>
            </td>
        </tr>
        {/section}
    </table>
</form>