<fieldset class="fieldset">
  <h4>
    {if $type == 'thumbs'}
      {lang code="extracted_thumbs"}
    {elseif $type == 'poster'}
      {lang code="poster_list"}
    {else}
      {lang code="backdrop_list"}
    {/if}
  </h4>
  <div id="auto_thumbs">
    {foreach from=$vidthumbs item=vid_thumb}
      {include file="$style_dir/blocks/thumb_item.html" data=$data vid_thumb=$vid_thumb}
    {/foreach}
  </div>
  <div style="clear:both;"></div>

  {if !empty($vidthumbs_custom)}
  <hr/>
  <h4>{lang code="custom_thumbs"}</h4>
  <div id="custom_thumbs">
    {foreach from=$vidthumbs_custom item=vid_thumb}
      {include file="$style_dir/blocks/thumb_item.html" data=$data vid_thumb=$vid_thumb}
    {/foreach}
  </div>
  <div style="clear:both;"></div>
  {/if}
</fieldset>
