<div class="row">
  {assign var=vidthumbs value=get_thumb($data,TRUE,'168x105','auto')}
  <ul class="ace-thumbnails">
    {foreach from=$vidthumbs item=vid_thumb}
    <li style="display:inline;">
      <label for="{$vid_thumb|get_thumb_num}" class="no-margin">
        <img src="{$vid_thumb}" width="100" height="63"/>
      </label>
      <div class="tools tools-bottom">
        <input type="radio" id="{$vid_thumb|get_thumb_num}" value="{GetName($vid_thumb)}.{getExt($vid_thumb)}" name="default_thumb" {if $data.default_thumb==$vid_thumb|get_thumb_num}checked{/if} />
      </div>
    </li>
    {/foreach}
  </ul>
  <div style="clear:both;"></div>
  <hr>
  {assign var=vidthumbs value=get_thumb($data,TRUE,'168x105', 'custom')}
  <ul class="ace-thumbnails">
    {foreach from=$vidthumbs item=vid_thumb}
    <li style="display:inline;">
      <label for="{$vid_thumb|get_thumb_num}" class="no-margin">
        <img src="{$vid_thumb}" width="100" height="63"/>
      </label>
      <div class="tools tools-bottom">
        <input type="radio" id="{$vid_thumb|get_thumb_num}" value="{GetName($vid_thumb)}.{getExt($vid_thumb)}" name="default_thumb" {if $data.default_thumb==$vid_thumb|get_thumb_num}checked{/if} />
      </div>
    </li>
    {/foreach}
  </ul>
</div>
