<fieldset class="fieldset">
  {assign var=vidthumbs value=get_thumb($data,TRUE,'168x105')}
  {foreach from=$vidthumbs item=vid_thumb}
  <div class="cbthumbs" id="thumb_{$vid_thumb|get_thumb_num}">
    <div class="row-fluid">
      <ul class="ace-thumbnails">
        <li>
          <img src="{$vid_thumb}" height="94" width="150"/>
          <div class="tools tools-bottom">
            {if $vid_thumb|getname!='processing'}
            <a href="javascript:void(0);" onclick="delete_thumb({$data.videoid}, '{$vid_thumb|get_thumb_num}');">
              <i class="icon-remove red"></i>
            </a>
            {/if}
          </div>
        </li>
      </ul>
    </div>
  </div>
  {/foreach}
  <div style="clear:both;"></div>
</fieldset>
