<tr data-id="{$video.videoid}">
    <td>
        <input name="check_video[]" type="checkbox" id="check_video" value="{$video.videoid}"/>
    </td>
    <td>
        <div class="row">
            {if config('enable_video_poster') == 'yes' && !empty($video.default_poster)}
                {$img_url = VideoThumbs::getDefaultThumbFile($video.videoid, 'original', 'original', 'poster')}
            {else}
                {$img_url = VideoThumbs::getDefaultThumbFile($video.videoid, '168', '105')}
            {/if}
            <div class="col-md-2" style="text-align:center;">
                <img src="{$img_url}" id="thumbs_{$video.videoid}" alt="video_thumb" style="max-height:80px; max-width:100%;"/>
            </div>
            <div class="col-md-6">
                <a href="{DirPath::getUrl('admin_area')}edit_video.php?video={$video.videoid}" title="{display_clean($video.title)}">
                    {display_clean($video.title|truncate:80)}
                </a>
                {if $video.duration>1}({$video.duration|SetTime}){/if}<br/>
                <span>
                    <strong>{$video.date_added|niceTime}</strong> | {lang code='views'} : <strong>{$video.views|number_format}</strong>
                </span>
                <div class="labels">
                    <span class="label {if $video.active=='yes'}label-success{else}label-danger{/if}">
                        {if $video.active=='yes'}{lang code='active'}{else}{lang code='inactive'}{/if}
                    </span>
                    <span class="label {if $video.status=='Successful'}label-success{else}label-warning{/if}">
                        {lang(strtolower($video.status))}
                    </span>
                    {if $video.featured=='yes'}
                        <span class="label label-info">{lang code='featured'}</span>
                    {/if}

                    {foreach from=CBvideo::getInstance()->video_manager_link_new item=links}
                        {CBvideo::getInstance()->video_manager_link_new($links,$video)}
                    {/foreach}

                    {if $video.status|lower == 'successful'}
                        {if config('chromecast')=='yes'}
                            {if $video.is_castable}
                                <span class="label label-success">{lang code='castable'}</span>
                            {else}
                                <span class="label label-warning">{lang code='non_castable'}</span>
                            {/if}
                        {/if}

                        {if $video.bits_color}
                            {if $video.bits_color > 8}
                                <span class="label label-warning">{$video.bits_color} {lang code='bits_color'}</span>
                            {else}
                                <span class="label label-success" title="This video might not be playable on other browsers than chrome-like">{$video.bits_color} {lang code='bits_color'}</span>
                            {/if}
                        {/if}
                    {/if}

                    <span class="label label-info">{strtoupper($video.file_type)}</span>

                    {if config('enable_360_video')=='yes' && !empty($video.fov)}
                        <span class="label label-info">{lang(x_fov, $video.fov)}</span>
                    {/if}

                    {if $video.is_flagged == 1}
                        <span class="label label-danger">{lang('flagged')}</span>
                    {/if}

                    <div class="clearfix"></div>
                    {if config('enable_video_categories') !='no'}
                        {$catString = {$video.category_names}}
                        {$catString = strip_tags($catString)}
                        {$toArray = explode(', ',$catString)}
                        {if count($toArray) > 4}
                            {$moreText = ' + '|cat:{lang code='more'}}
                        {else}
                            {$moreText = ''}
                        {/if}
                        {$finalItems = array_slice($toArray, 0, 4)}
                        {$vcategories = implode(', ',$finalItems)}
                        <span>
                            <span class="label label-info">{lang code='categories'} : {$vcategories} {$moreText}</span>
                        </span>
                    {/if}
                </div>
            </div>

            {if $video.status|lower == 'processing' && Update::IsCurrentDBVersionIsHigherOrEqualTo('5.5.1', '279')}
            <div class="col-md-4">
                <br/>
                {lang code='ongoing_conversion'} :<br/>
                <div class="progress" style="margin-bottom:0;">
                    <div class="progress-bar progress-bar-striped animate" role="progressbar" id="progress-bar" aria-valuenow="{$video.convert_percent}" aria-valuemin="0" aria-valuemax="100" style="width:{$video.convert_percent}%;">
                        {$video.convert_percent}%
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </td>
    <td>
        {if $video.userid != $anonymous_id}
            {$user = "<a href='view_user.php?uid={$video.userid}'>{display_clean($video.user_username)}</a>"}
        {else}
            {$user = display_clean(lang($video.user_username))}
        {/if}
        {lang('uploaded_by_x', $user)}<br/><br/>
        <div class="dropdown">
            <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions <i class="caret"></i>
            </button>
            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" role="menu">
                <li><a role="menuitem" tabindex="-1" href="{DirPath::getUrl('admin_area')}edit_video.php?video={$video.videoid}">{lang code='edit'}</a></li>

                {if $video.status|lower == 'successful'}
                    <li><a role="menuitem" tabindex="-1" href="{DirPath::getUrl('root')}watch_video.php?v={$video.videokey}" target="_blank">{lang code='watch'}</a></li>
                {/if}

                {if $video.featured == yes}
                    <li><a role="menuitem" tabindex="-1" href="?make_unfeature={$video.videoid}">{lang code='make_unfeatured'}</a></li>
                {/if}
                {if $video.featured == no}
                    <li><a role="menuitem" tabindex="-1" href="?make_feature={$video.videoid}">{lang code='make_featured'}</a></li>
                {/if}
                {if $video.active == yes}
                    <li><a role="menuitem" tabindex="-1" href="?deactivate={$video.videoid}">{lang code='deactivate'}</a></li>
                {else}
                    <li><a role="menuitem" tabindex="-1" href="?activate={$video.videoid}">{lang code='activate'}</a></li>
                {/if}
                <li><a role="menuitem" tabindex="-1" href="{DirPath::getUrl('admin_area')}view_conversion_log.php?file_name={$video.file_name}">File conversion details</a></li>
                {if isReconvertAble($video)}
                    <li><a role="menuitem" tabindex="-1" href="?reconvert_video={$video.videoid}">Reconvert</a></li>
                {/if}
                {if $video.status=='Successful'}
                    {if config('chromecast')=='yes' && !$video.is_castable}
                        <li><a href="?check_castable={$video.videoid}">{lang code='castable_status_check'}</a></li>
                    {/if}
                    <li><a href="?update_bits_color={$video.videoid}">{lang code='update_bits_color'}</a></li>
                {/if}
                {if config('player_subtitles') && config('can_upload_subtitles')=='yes'}
                    <li><a role="menuitem" tabindex="-1" href="javascript:getModalUploadSubtitle({$video.videoid});">{lang code='upload_subtitles'}</a></li>
                {/if}
                <li class="divider"></li>
                <li><a role="menuitem" tabindex="-1" href="?delete_video={$video.videoid}">{lang code='delete'}</a></li>
                {foreach from=CBvideo::getInstance()->video_manager_link item=links}
                    {CBvideo::getInstance()->video_manager_link($links,$video)}
                {/foreach}
            </ul>
        </div>
    </td>
</tr>