<div id="notification-block-{$notification.notification_id}" onclick="window.location='{$notification.link}' ">
    <div class="notification {if !$last}notification-padding{/if}" >
        
        <img src="{$notification.actor_thumb}" class="notify_avatar"/>
        <div class="notification_data">{$notification.phrase}
            <div class="notification_time">
                <i class="{get_notify_icon($notification)}"></i> {what_time($notification.time_added)}
            </div>
        </div>
        
    </div>
</div>