{$notifications=$cbfeeds->get_notifications()}
{if $notifications}
<div class="notifications">
    <div class="notify_title">{lang code='Notifications'}</div>
    <div class="seperator"></div>

    <div class="notifications-container  cbv3-scroller">
        <div id="new_notifications"></div>
        {foreach $notifications as $notification}
        {if $notification}
        
            {if $notification@last}{$last=true}{else}{$last=false}{/if}
            
        {$block=get_template('notification_block','path')}
        {include file=$block notification=$notification last=$last}
        {/if}
        {/foreach}
    </div>

    <div class="seperator"></div>
    <div class="all_notifications"><a href="">Show all notifications</a></div>
</div>  
{/if}