<h2>Add New Group</h2>
<form name="add_group" action="" method="post" enctype="multipart/form-data">
     <p class="alert alert-info">* are required fields</p>
     <div class="form-group">
        <label for="users">Select User *</label>
        <select class="form-control" name="users" tabindex="1">
            <option>Select User</option>
            {section name=u_list loop=$users}
            <option value="{$users[u_list].userid}">{$users[u_list].username}</option>
            {/section}
        </select>
    </div>
  <div class="form-group">
      <label for="title">Group Title *</label>
      <input class="form-control" name="title" id="titile" tabindex="2">
      </div>

  <div class="form-group">
      <label for="description">Group Description *</label>
      <textarea class="form-control" name="descriptio" id="description" rows="5" tabindex="3"></textarea>
      </div>

    <div class="form-group">
        <label for="tags">Group Tags *</label>
        <input class="form-control" name="tags" id="tag" tabindex="4">
        </div>

    <div class="form-group">
        <label for="gp_url">Group Url *</label>
        <input class="form-control" name="gp_url" id="gp_url" tabindex="5">
        <small>Only these characters are allowed. a-z, 0-9, Hypen (-), Underscore(_), Period(.)</small>
        </div>

    <div class="form-group">
        <label for="gptype">Group Type </label>
        <input name="gptype" type="radio" tabindex="7" value="1">Private
        <input name="gptype" type="radio" tabindex="8" value="2">Only Invited Members
        <input name="gptype" type="radio" tabindex="7" value="1">Private
        </div>

    <div class="form-group">
        <label for="category">Group Category *</label>
        <select class="form-control" name="category" tabindex="9">
            <option>Choose A Category</option>
            {section name=cat_list loop=$category}
            <option value="{$category[cat_list].category_id}">{$category[cat_list].category_name}</option>
            {/section}
        </select>
    </div>
    <div class="form-group">
        <label for="gpthumb">Group Thumb</label>
        <input class="form-control" type="file" name="gpThumb" id="gpThumb" tabindex="10">
    </div>
    <div class="form-group">
        <input type="submit" tabindex="11" name="create_group" id="create_group" value="Add Group"  class="btn btn-primary"/>
    </div>
</form>
