<div class="heading">
    <h2>{lang code='admin_tool'}</h2>
</div>
<div id="language_list">
    <table class="table table-bordered table-striped manageUsersTable">
        <tr>
            <th class="col-md-2">{lang code='title'}</th>
            <th class="col-md-4">{lang code='description'}</th>
            <th class="col-md-4">{lang code='vdo_status'}</th>
            <th class="col-md-2">{lang code='vdo_actions'}</th>
        </tr>
        {section name=tool_list loop=$admin_tool_list}
        <tr>
            <td style="vertical-align: middle;">{lang code = ($admin_tool_list[tool_list].language_key_label)}</td>
            <td style="vertical-align: middle;">{lang code = ($admin_tool_list[tool_list].language_key_description)}</td>
            <td style="vertical-align: middle;">
                <span id="span-{$admin_tool_list[tool_list].id_tool}">
                    {lang code = ($admin_tool_list[tool_list].language_key_title)}
                </span>
                <div id="progress-{$admin_tool_list[tool_list].id_tool}" style="text-align: center; vertical-align: middle; {if $admin_tool_list[tool_list].language_key_title == 'ready'} display: none; {/if} ">
                    <br/>
                    <div style="padding: 6px;" ><span id="pourcent-{$admin_tool_list[tool_list].id_tool}">{$admin_tool_list[tool_list].pourcentage_progress|string_format:"%.2f"}</span>%
                        (<span id="done-{$admin_tool_list[tool_list].id_tool}">{$admin_tool_list[tool_list].elements_done}</span> / <span id="total-{$admin_tool_list[tool_list].id_tool}">{$admin_tool_list[tool_list].elements_total}</span>)
                    </div>
                    <div  class="progress">
                        <div class="progress-bar" role="progressbar" id="progress-bar-{$admin_tool_list[tool_list].id_tool}" data-id="{$admin_tool_list[tool_list].id_tool}" aria-valuenow="{$admin_tool_list[tool_list].pourcentage_progress}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{$admin_tool_list[tool_list].pourcentage_progress}%">
                        </div>
                    </div>
                </div>
            </td>
            <td style="vertical-align: middle;">
                <div class="dropdown clearfix alignCenter">
                    <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions <i class="caret"></i></button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" role="menu">
                        <li role="presentation" {if $admin_tool_list[tool_list].language_key_title!='ready'}class="disabled"{/if}>
                            <a role="menuitem" class="launch" data-id="{$admin_tool_list[tool_list].id_tool}" >
                                {lang code='launch'}
                            </a>
                        </li>
                        <li role="presentation" {if $admin_tool_list[tool_list].language_key_title!='in_progress'}class="disabled"{/if}>
                            <a role="menuitem" class="stop" data-id="{$admin_tool_list[tool_list].id_tool}" >
                                {lang code='stop'}
                            </a>
                        </li>
                        {if Update::IsCurrentDBVersionIsHigherOrEqualTo(AdminTool::MIN_VERSION_CODE, AdminTool::MIN_REVISION_CODE)}
                        <li role="presentation">
                            <a role="menuitem" class="show_log" data-id="{$admin_tool_list[tool_list].id_tool}" >
                                {lang code='show_log'}
                            </a>
                        </li>
                        {/if}
                    </ul>
                </div>
            </td>
        </tr>
        {/section}
    </table>
</div>
<div class="modal" tabindex="-1" id="logModal" style="width: 100%;">
    <div class="modal-dialog" style="max-width: 90%; width: auto; height: 90%">
        <div class="modal-content" style="height: 100%; overflow-y: scroll;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script>
    var lang = [];
    lang['ready'] = "{lang code='ready'}";
    lang['completed'] = "{lang code='completed'}";
    var can_sse = '{$can_sse}';
</script>
