<div class="form-group">
<h2>Video Categories <button class="btn btn-default pull-right">Add New Category<i class="caret"></i></button></h2>

        </div>
        <hr>
{if $edit_category != "show"}
<form action="category.php" method="post" enctype="multipart/form-data" name="add_category" id="Add Category">
    <div class="row">
        <div class="col-md-4">
                <label>Category Name*</label>
                <input type="text" id="name" name="name" class="form-control" >
             </div>
        {assign var=useSubs value=config(use_subs)}
        {if $useSubs == 1}
        <div class="col-md-4">
            <label>Parent Category</label>
            {cbCategories output="dropdown" class="form-control" name="parent_cat" id="parent_cat" blank_option=TRUE echo=TRUE type="video"}

        </div>
        <div class="col-md-4">
            <label>Make Default Category</label>
            <select class="form-control">
            <option class="form-control" name="default" id="default_0">Yes</option>
            <option class="form-control" name="default" id="default_1">No</option>
                </select>
        </div>
        </div>

<br>
    <div class="wysiwyg-toolbar btn-toolbar center wysiwyg-style2">
        <div class="btn-group">
        <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="icon-font"></i>
            <i class="icon-angle-down icon-on-right"></i></a>
        <ul class="dropdown-menu dropdown-light">
            <li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
            <li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
            <li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li>
            <li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li>
            <li><a data-edit="fontName Open Sans" style="font-family:'Open Sans'">Open Sans</a></li>
            <li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
            <li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
        </ul>
    </div>
        <div class="btn-group">
            <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="icon-text-height">
            </i>&nbsp;<i class="icon-angle-down icon-on-right"></i></a>
            <ul class="dropdown-menu dropdown-light">
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-sm btn-info" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
            <a class="btn btn-sm btn-info" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
            <a class="btn btn-sm btn-info" data-edit="strikethrough" title="" data-original-title="Strikethrough"><i class="icon-strikethrough"></i></a>
            <a class="btn btn-sm btn-info" data-edit="underline" title="" data-original-title="Underline"><i class="icon-underline"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-sm btn-success" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
            <a class="btn btn-sm btn-success" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
            <a class="btn btn-sm btn-purple" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
            <a class="btn btn-sm btn-purple" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a>  </div> <div class="btn-group">
            <a class="btn btn-sm btn-primary active" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn btn-sm btn-primary" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn btn-sm btn-primary" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
            <a class="btn btn-sm btn-inverse" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
        </div>
        <div class="btn-group">
            <div class="inline position-relative">
                <a class="btn btn-sm btn-pink dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="icon-link"></i></a>
                <div class="dropdown-menu dropdown-caret pull-right">
                    <div class="input-group">
                        <input class="form-control" placeholder="URL" type="text" data-edit="createLink">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>
            <a class="btn btn-sm btn-pink" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="icon-unlink"></i></a>
        </div>
        <div class="btn-group">
            <div class="inline position-relative">
                <a class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Insert picture"><i class="icon-picture"></i></a>
                <div class="dropdown-menu dropdown-caret pull-right">
                    <div class="input-group">
                        <input class="form-control" placeholder="Image URL" type="text" data-edit="insertImage">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" type="button">Insert</button>
                        </span>
                    </div>
                    <div class="space-2">

                    </div>
                    <div class="center">
                        <button class="btn btn-sm btn-success wysiwyg-choose-file" type="button"><i class="icon-file"></i> Choose Image …</button>
                        <input type="file" data-edit="insertImage">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <select class="hide wysiwyg_colorpicker" title="Change Color" style="display: none;">
                <option value="#ac725e">#ac725e</option>  <option value="#d06b64">#d06b64</option>
                <option value="#f83a22">#f83a22</option>  <option value="#fa573c">#fa573c</option>
                <option value="#ff7537">#ff7537</option>  <option value="#ffad46">#ffad46</option>
                <option value="#42d692">#42d692</option>  <option value="#16a765">#16a765</option>
                <option value="#7bd148">#7bd148</option>  <option value="#b3dc6c">#b3dc6c</option>
                <option value="#fbe983">#fbe983</option>  <option value="#fad165">#fad165</option>
                <option value="#92e1c0">#92e1c0</option>  <option value="#9fe1e7">#9fe1e7</option>
                <option value="#9fc6e7">#9fc6e7</option>  <option value="#4986e7">#4986e7</option>
                <option value="#9a9cff">#9a9cff</option>  <option value="#b99aff">#b99aff</option>
                <option value="#c2c2c2">#c2c2c2</option>  <option value="#cabdbf">#cabdbf</option>
                <option value="#cca6ac">#cca6ac</option>  <option value="#f691b2">#f691b2</option>
                <option value="#cd74e6">#cd74e6</option>  <option value="#a47ae2">#a47ae2</option>
                <option value="#444444">#444444</option>  </select><div class="dropdown dropdown-colorpicker">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="btn-colorpicker" style="background-color:#ac725e" data-original-title="" title=""></span></a>
            <ul class="dropdown-menu dropdown-caret pull-right">
                <li><a class="colorpick-btn selected" href="#" style="background-color:#ac725e;" data-color="#ac725e"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#d06b64;" data-color="#d06b64"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#f83a22;" data-color="#f83a22"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#fa573c;" data-color="#fa573c"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#ff7537;" data-color="#ff7537"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#ffad46;" data-color="#ffad46"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#42d692;" data-color="#42d692"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#16a765;" data-color="#16a765"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#7bd148;" data-color="#7bd148"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#b3dc6c;" data-color="#b3dc6c"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#fbe983;" data-color="#fbe983"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#fad165;" data-color="#fad165"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#92e1c0;" data-color="#92e1c0"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#9fe1e7;" data-color="#9fe1e7"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#9fc6e7;" data-color="#9fc6e7"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#4986e7;" data-color="#4986e7"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#9a9cff;" data-color="#9a9cff"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#b99aff;" data-color="#b99aff"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#c2c2c2;" data-color="#c2c2c2"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#cabdbf;" data-color="#cabdbf"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#cca6ac;" data-color="#cca6ac"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#f691b2;" data-color="#f691b2"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#cd74e6;" data-color="#cd74e6"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#a47ae2;" data-color="#a47ae2"></a></li>
                <li><a class="colorpick-btn" href="#" style="background-color:#444444;" data-color="#444444"></a></li>
            </ul></div>  <input style="display:none;" disabled="" class="hide" type="text" data-edit="foreColor">
        </div>
        <div class="btn-group">
            <a class="btn btn-sm btn-grey" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
            <a class="btn btn-sm btn-grey" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
        </div>
        <input type="text" data-edit="inserttext" x-webkit-speech="" class="wysiwyg-speech-input" id="desc">

        <textarea class="wysiwyg-editor" name="desc" id="desc" cols="165" rows="5" contenteditable="true">{'desc'|post_form_val}</textarea>
    </div>


<br>
        <div class="row">
            <div class="col-md-6">
            <label>Category Thumb</label>
            <input type="file"  name="cat_thumb" id="cat_thumb" class="" />
        </div>
        <div class="col-md-6">
            <input type="submit"  class="btn btn-primary pull-right" name="add_cateogry" id="button" value="Add Category" onclick="return _cb.validate_category_form(add_category)" class="button"/>
        </div>
            </div>
    {/if}
    </form>


{/if}
{if $edit_category == "show"}
<form action="" method="post" enctype="multipart/form-data" name="edit_category" id="Edit Category">
    <input name="cid" value="{$cat_details.category_id}" type="hidden" />
    <input name="cur_name" value="{$cat_details.category_name}" type="hidden" />
        <div class="row">
            <div class="col-md-4">
            <label>Category Name*</label>
                <input name="name" class="form-control" type="text" id="name" value="{$cat_details.category_name}" size="45" />
            </div>
           <div class="col-md-4">
                <label>Parent Category</label>
                {cbCategories output="dropdown" class='form-control' selected=$cat_details.parent_id name="parent_cat" id="parent_cat" blank_option=TRUE type="video" echo=TRUE}
            </div>
            <div class="col-md-4">
                <label>Make Default Category</label>
                <select class="form-control">
                    <option class="form-control" name="default" id="default_0" {if $cat_details.isdefault=='yes'} checked="checked"{/if} >Yes</option>
                    <option class="form-control" name="default" id="default_1" {if $cat_details.isdefault=='no'} checked="checked"{/if}>No</option>
                </select>
            </div>
            </div>
            <div class="wysiwyg-toolbar btn-toolbar center wysiwyg-style2">
                <div class="btn-group">
                    <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="icon-font"></i>
                        <i class="icon-angle-down icon-on-right"></i></a>
                    <ul class="dropdown-menu dropdown-light">
                        <li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
                        <li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
                        <li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li>
                        <li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li>
                        <li><a data-edit="fontName Open Sans" style="font-family:'Open Sans'">Open Sans</a></li>
                        <li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
                        <li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm  dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="icon-text-height">
                    </i>&nbsp;<i class="icon-angle-down icon-on-right"></i></a>
                    <ul class="dropdown-menu dropdown-light">
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm btn-info" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                    <a class="btn btn-sm btn-info" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                    <a class="btn btn-sm btn-info" data-edit="strikethrough" title="" data-original-title="Strikethrough"><i class="icon-strikethrough"></i></a>
                    <a class="btn btn-sm btn-info" data-edit="underline" title="" data-original-title="Underline"><i class="icon-underline"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm btn-success" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
                    <a class="btn btn-sm btn-success" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
                    <a class="btn btn-sm btn-purple" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                    <a class="btn btn-sm btn-purple" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a>  </div> <div class="btn-group">
                <a class="btn btn-sm btn-primary active" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                <a class="btn btn-sm btn-primary" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                <a class="btn btn-sm btn-primary" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                <a class="btn btn-sm btn-inverse" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
            </div>
                <div class="btn-group">
                    <div class="inline position-relative">
                        <a class="btn btn-sm btn-pink dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="icon-link"></i></a>
                        <div class="dropdown-menu dropdown-caret pull-right">
                            <div class="input-group">
                                <input class="form-control" placeholder="URL" type="text" data-edit="createLink">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" type="button">Add</button>
                        </span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-pink" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="icon-unlink"></i></a>
                </div>
                <div class="btn-group">
                    <div class="inline position-relative">
                        <a class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Insert picture"><i class="icon-picture"></i></a>
                        <div class="dropdown-menu dropdown-caret pull-right">
                            <div class="input-group">
                                <input class="form-control" placeholder="Image URL" type="text" data-edit="insertImage">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" type="button">Insert</button>
                        </span>
                            </div>
                            <div class="space-2">

                            </div>
                            <div class="center">
                                <button class="btn btn-sm btn-success wysiwyg-choose-file" type="button"><i class="icon-file"></i> Choose Image …</button>
                                <input type="file" data-edit="insertImage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <select class="hide wysiwyg_colorpicker" title="Change Color" style="display: none;">
                        <option value="#ac725e">#ac725e</option>  <option value="#d06b64">#d06b64</option>
                        <option value="#f83a22">#f83a22</option>  <option value="#fa573c">#fa573c</option>
                        <option value="#ff7537">#ff7537</option>  <option value="#ffad46">#ffad46</option>
                        <option value="#42d692">#42d692</option>  <option value="#16a765">#16a765</option>
                        <option value="#7bd148">#7bd148</option>  <option value="#b3dc6c">#b3dc6c</option>
                        <option value="#fbe983">#fbe983</option>  <option value="#fad165">#fad165</option>
                        <option value="#92e1c0">#92e1c0</option>  <option value="#9fe1e7">#9fe1e7</option>
                        <option value="#9fc6e7">#9fc6e7</option>  <option value="#4986e7">#4986e7</option>
                        <option value="#9a9cff">#9a9cff</option>  <option value="#b99aff">#b99aff</option>
                        <option value="#c2c2c2">#c2c2c2</option>  <option value="#cabdbf">#cabdbf</option>
                        <option value="#cca6ac">#cca6ac</option>  <option value="#f691b2">#f691b2</option>
                        <option value="#cd74e6">#cd74e6</option>  <option value="#a47ae2">#a47ae2</option>
                        <option value="#444444">#444444</option>  </select><div class="dropdown dropdown-colorpicker">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="btn-colorpicker" style="background-color:#ac725e" data-original-title="" title=""></span></a>
                    <ul class="dropdown-menu dropdown-caret pull-right">
                        <li><a class="colorpick-btn selected" href="#" style="background-color:#ac725e;" data-color="#ac725e"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#d06b64;" data-color="#d06b64"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#f83a22;" data-color="#f83a22"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#fa573c;" data-color="#fa573c"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#ff7537;" data-color="#ff7537"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#ffad46;" data-color="#ffad46"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#42d692;" data-color="#42d692"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#16a765;" data-color="#16a765"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#7bd148;" data-color="#7bd148"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#b3dc6c;" data-color="#b3dc6c"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#fbe983;" data-color="#fbe983"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#fad165;" data-color="#fad165"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#92e1c0;" data-color="#92e1c0"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#9fe1e7;" data-color="#9fe1e7"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#9fc6e7;" data-color="#9fc6e7"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#4986e7;" data-color="#4986e7"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#9a9cff;" data-color="#9a9cff"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#b99aff;" data-color="#b99aff"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#c2c2c2;" data-color="#c2c2c2"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#cabdbf;" data-color="#cabdbf"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#cca6ac;" data-color="#cca6ac"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#f691b2;" data-color="#f691b2"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#cd74e6;" data-color="#cd74e6"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#a47ae2;" data-color="#a47ae2"></a></li>
                        <li><a class="colorpick-btn" href="#" style="background-color:#444444;" data-color="#444444"></a></li>
                    </ul></div>  <input style="display:none;" disabled="" class="hide" type="text" data-edit="foreColor">
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm btn-grey" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                    <a class="btn btn-sm btn-grey" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                </div>
                <input type="text" data-edit="inserttext" x-webkit-speech="" class="wysiwyg-speech-input">
                <textarea name="desc" id="desc" class="wysiwyg-editor" cols="165" rows="5" contenteditable="true">{$cat_details.category_desc}</textarea>
            </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <label>Category Thumb</label>
            <input type="file"  name="cat_thumb" id="cat_thumb" class="" />
        </div>
        <div class="col-md-6">
            <input type="submit"  class="btn btn-primary pull-right" name="update_category" id="button" value="Update Category" onclick="return _cb.validate_category_form(edit_category)"  class="button"/>
        </div>
    </div>
    {/if}
</form>

<div style="margin:10px 0px 10px 0px">
    <legend>Category List</legend>
</div>

{if $total != 0}
<form name="category" action="?update_order" method="post">
    <table class="table table-bordered" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr>
            <td width="20"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
            <td width="225" class="left_head" style="text-indent:10px">Category Name</td>
            <td width="75" align="left" class="head">Order</td>
            <td width="225" align="left" class="head">Parent Category</td>
            <td width="250" class="head">Description</td>
            <td width="100" class="head">Default</td>
            <td width="150" class="head">Action</td>
        </tr>
        {section name=list loop=$category}
        <tr>
             <td><input name="check_user[]" type="checkbox" id="check_user" value="{$u.userid}" /></td>
            <td>{$category[list].category_name}
                <a id="thumbs_{$category[list].category_id}" class="label label-danger arrowed popoverButton" data-html="true"
             data-placement="top" data-toggle="popover" data-content="<img src='{$cbvid->get_category_thumb($category[list])}'  />" href="javascript:void(0)">View Thumb</a></td>


            <td> <input name="category_order_{$category[list].category_id}" type="text" id="order" style="border:1px solid #999; padding:2px; width:30px" value="{$category[list].category_order}" size="5" maxlength="5" /></td>
            {if $category[list].parent_id == "0"}
            {assign var=p_name value="None"}
            {else}
            {assign var=p_name value=$cbvid->get_category_field($category[list].parent_id,'category_name')}
            {/if}
            <td>{$p_name}</td>
            <td>{if $category[list].category_desc}{$category[list].category_desc}{else}<em>N/A</em>{/if}</td>
            <td>{$category[list].isdefault}</td>
            <td>
                <div class="lead dropdown">
                <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Options <i class="caret"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="?category={$category[list].category_id}">Edit</a></li>
                {if $category[list].isdefault!="yes"}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:_cb.Confirm_Delete('?delete_category={$category[list].category_id}')">Delete</a>
                </li>
                    <li><a href="?make_default={$category[list].category_id}">Make Default</a></li>{/if}
                </ul>
                </div>
            </td>
        </tr>
        {/section}
    </table>
    <div><input type="submit" value="Update Category" name="update_order" class="btn btn-primary btn-sm"  style="margin-top:10px"/></div>
</form>
{else}
No Category Has Been Created Yet
{/if}















