<div class="heading">
  <h2>Server Video Conversion Modules &amp; Tools</h2>
</div>

<p class="alert alert-info">
A brief test to check weather server modules exist or not and what are there versions and paths
</p>


<h3>Modules and paths</h3>


<div class="well">
  <h4>FFMPEG</h4>
    {if $ffmpegVersion}
      <img src="{$imageurl}/tick.png"/>
    {else}
      <img src="{$imageurl}/alert.png"/>
    {/if}
    <div>
      FFmpeg is used to covert videos from different versions to FLV , MP4 and many other formats.
      <a href="http://clip-bucket.com/ffmpeg">Learn more</a>
    </div>

    {if $ffmpegVersion}
      Version <strong>{$ffmpegVersion}</strong>
    {else}
    <p class="alert alert-danger">ffmpeg is not found</p>
      {if $ffmpeg_status.error}
        <br><span style="color:#e70000">{$ffmpeg_status.error}</span>
      {/if}
    {/if}
</div>

<div class="well">
    <h4>PHP CLI</h4>
    {if $phpVersion}
      <img src="{$imageurl}/tick.png"/>
    {else}
      <img src="{$imageurl}/alert.png"/>
    {/if}
    <div>
      PHP CLI is used to peform video conversion in a background process.
      <a href="http://php.net/manual/en/features.commandline.php">Learn more</a>
    </div>

    {if $phpVersion}
      Version <strong>{$phpVersion}</strong>
    {else}
    <p class="alert alert-danger">php is not found</p>
  	  {if $php_status.error}
        <br><span style="color:#e70000">{$php_status.error}</span>
      {/if}
    {/if}

</div>


<!-- 
<div class="well">

    {check_module_path path='flvtool2' get_path='true' assign='flvtool2_status'}
    <img src="{$imageurl}/{if $flvtool2_status.status=='ok'}tick.png{else}alert.png{/if}" />
    <h4>FLVTool2</h4>
    <div>
      FLVTool2 is a tool to repair FLV files to make them streamable
      <a href="http://docs.clip-bucket.com/clipbucket-docs/flvtool2">Learn more</a>
    </div>

    {if $flvtool2_status.status=='ok'}
    Version <strong>{$flvtool2_status.version}</strong> &#8226;
    Expected Path <strong>{get_binaries path=flvtool2 type=server}</strong>
    {else}
    <p class="alert alert-danger">flvtool2 is not found</p>
    	{if $flvtool2_status.error}
        	<br><span style="color:#e70000">{$flvtool2_status.error}</span>
      {/if}
    {/if}

</div> -->


<div class="well">
  <h4>MP4Box</h4>
  {if $MP4BoxVersion}
      <img src="{$imageurl}/tick.png"/>
    {else}
      <img src="{$imageurl}/alert.png"/>
    {/if}
  <div>
    MP4Box is a tool used to repair MP4 files to make them streamable
    <a href="http://docs.clip-bucket.com/clipbucket-docs/mp4box">Learn more</a>
  </div>
  {if $MP4BoxVersion}
	Version
      {if $MP4BoxVersion}
      	<strong>{$MP4BoxVersion}</strong>
      {/if}
  {else}
  	<p class="alert alert-danger">Mp4box is not found</p>
      {if $mp4box_status.error}
      	<br><span style="color:#e70000">{$mp4box_status.error}</span>
      {/if}
  {/if}

</div>

<div class="well">
  <h4>ImageMagick</h4>
  {if class_exists("Imagick") }
      <img src="{$imageurl}/tick.png"/>
    {else}
      <img src="{$imageurl}/alert.png"/>
    {/if}
  <div>
    Imagick is a native php extension to create and modify images using the ImageMagick API
    <a href="http://php.net/manual/en/imagick.getversion.php">Learn more</a>
  </div>

  
  
     {if class_exists("Imagick") }
     Version
        <strong>{$imagick_version}</strong>
      {/if}
  


</div>