<div class="heading">
  <h2>PHP Server Configuration Info</h2>
</div>

<p class="alert alert-info">
A brief view of PHP server configuration Info  
</p>


<h3>configurations and values</h3>

<div class="well">
  	<h4>POST MAX SIZE </h4>
   	<img style="float:left;" src="{$imageurl}/button_ok.png"/>
    <div ><strong> &nbsp;&nbsp;{$post_max_size}</strong></div>
</div>

<div class="well">
  	<h4>UPLOAD MAX FILESIZE</h4>
   	<img style="float:left;" src="{$imageurl}/button_ok.png"/>
    <div><strong>&nbsp;&nbsp;{$upload_max_filesize}</strong></div>
</div>

<div class="well">
  	<h4>MEMORY LIMIT</h4>
   	<img style="float:left;" src="{$imageurl}/button_ok.png"/>
    <div><strong>&nbsp;&nbsp;{$memory_limit}</strong></div>
</div>

<div class="well">
  	<h4>MAX EXECUTION TIME </h4>
   	<img style="float:left;" src="{$imageurl}/button_ok.png"/>
    <div><strong>&nbsp;&nbsp;{$max_execution_time}</strong></div>
</div>