<div class="heading">
  <h2>Email Settings</h2>
</div>
<form action="" method="post" enctype="multipart/form-data" name="player_settings">
  <fieldset class="fieldset" style="border:none">
    <div class="row">
    <div class="col-md-4">
      <label for="mail_type">Mailer <br />Select Mailer Type php Mail() or SMTP</label>
      <select class="form-control" name="mail_type" id="mail_type">
        <option value="mail" {if $row.mail_type=='mail'} selected="selected"{/if}>PHP mail()</option>
        <option value="smtp" {if $row.mail_type=='smtp'} selected="selected"{/if}>smtp</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="smtp_host">SMTP Host<br />if using smtp, Set SMTP server port</label>
      <input class="form-control" type="text" name="smtp_host" id="smtp_host" value="{$row.smtp_host}" />
    </div>
    <div class="col-md-4">
      <label for="smtp_user">SMTP Username<br />if using smtp, please enter SMTP username</label>
      <input type="text" class="form-control" name="smtp_user" id="smtp_user" value="{$row.smtp_user}" />  
    </div>
    </div>
      <hr>
      <div class="row">
    <div class="col-md-4">
      <label for="smtp_pass">SMTP Password<br />Enter SMTP password</label>
      <input type="password" class="form-control" name="smtp_pass" id="smtp_pass" value="{$row.smtp_pass}" />
    </div>
    <div class="col-md-4">
      <label for="smtp_auth">SMTP Auth</label>
        <input value="yes" id="id-button-borders" {if $row.smtp_auth=='yes'}checked="checked"{/if} name="smtp_auth" id="smtp_auth" type="checkbox" class="ace ace-switch ace-switch-5">
        <span class="lbl"></span>
    </div>
          </div>
    <div class="form-group">
      <label for=""></label>
    </div>
  <input type="submit" class="btn btn-primary btn-sm" value="Update" name="update_settings" />
  </fieldset>
</form>


<h2>Email Templates Settings</h2>

<div>
{assign var=templates value=$cbemail->get_templates()}

{if $templates}

<form name="email_templates" method="post">
  <div class="row">
    <ul class="nav nav-pills nav-stacked col-md-3 Tabs" >
      
        {foreach from=$templates item=template name=etemp}
          <li {if $smarty.foreach.etemp.iteration=='1'} class="active"{/if}
              onclick="
                  $('.tempselected').removeClass('active').hide();
                  $('#template-{$template.email_template_id}').show().addClass('tempselected');
                  
                    $('.active').removeClass('active');
                  $(this).toggleClass('active');
                    return false;
                    "><a href="#">{$template.email_template_name}</a></li>
        {/foreach}
    </ul>
    <div class="optionsListsCont col-md-8">
      {foreach from=$templates item=template name=etemp}


          <div id="template-{$template.email_template_id}" 
              {if $smarty.foreach.etemp.iteration!='1'} style="display:none" {else}class="tempselected"{/if}>  
              <label for="subject{$template.email_template_id}">Email Subject</label>
              <div class="templateCodeCont" style="padding:3px">
                <input data-type="text" name="subject{$template.email_template_id}" id="subject{$template.email_template_id}"
                value="{$template.email_template_subject|form_val}" style="border:0px; background:none; width:100%" />
                 </div>
              <br />    
              <label for="message{$template.email_template_id}">Email message</label>
              <div class="templateCodeCont">
                <textarea class="form-control" name="message{$template.email_template_id}" cols="60" rows="8" id="message{$template.email_template_id}" class="templateCode">{$template.email_template|form_val}</textarea>
              </div>
          </div>
        {/foreach}
        <div align="right" style="margin-top:5px">
          <input type="submit" class="btn btn-primary btn-xs" value="Save Templates" name="update" /></div>
        </div>
      </form>
    {/if}
    </div>

<script>
    $(document).ready(function() {
        $('.message').summernote();
    });
</script>