{if $mode == 'view'}
<div class="heading">
    <h2>Flagged Photos Manager</h2>
</div>
<form name="flagged_photo" method="post" id="flagged_photo">
    <div class="btn-group">
        <input type="submit" name="delete_selected" value="Delete Photos" class="btn btn-primary btn-xs" onclick="return _cb.confirm_it('Are you sure you want to delete these photo(s)')"/>
        <input type="submit" name="delete_flags" value="Delete Flags" class="btn btn-primary btn-xs" onclick="return _cb.confirm_it('Are you sure you want to delete flags of selected photo(s)')"/>
    </div>

<table class="table table-bordered table-striped">
  <tr>
    <td width="30" align="center" valign="middle" class="left_head">
    <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
    <td width="75" align="left" class="head">Photo-ID</td>
    <td class="head">Details</td>
    <td width="50" class="right_head">Options</td>
  </tr>
    {if $photos}
    {section name=list loop=$photos}
    <tr>
        <td class="moveL PhotoCheckBox">
            <div align="center">
                <input name="check_photo[]" type="checkbox" id="check_photo" value="{$photos[list].photo_id}" />
            </div>
        </td>
        <td>{$photos[list].photo_id}</td>
        <td>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            {get_photo details=$photos[list] id='photo' style='padding:2px; border:1px solid #ccc' output='html'}
                        </div>
                        <div class="col-md-9">
                            <a class="block" href="{$baseurl}/admin_area/edit_photo.php?photo={$photos[list].photo_id}">{$photos[list].photo_title}</a>
                         <span class="labels1"> <strong>{$photos[list].date_added|niceTime}</strong>
                            {lang code='views'} : <strong>{$photos[list].views|number_format}</strong></span>
                            <div class="labels">
                                {if $photos[list].featured=='yes'}<span class="label label-primary">Featured{else}{/if}</span>
                                    <span class="label {if $photos[list].active=='yes'}label-success{else}label-warning{/if}">
                                        {if $photos[list].active=='yes'}Active{else}InActive{/if} </span>
                                    <span class="label label-info">
                                       Viewed {$photos[list].last_viewed|niceTime}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="view_user.php?uid={$photos[list].userid}">{$photos[list].username}</a>
                </div>
            </div>







            <!--<div class="row">-->
            <!--<div class="AdminPhotoThumb col-md-3">-->

            <!--</div>-->
            <!--<div class="col-md-9">-->
            <!--<div class="vdo_sets">-->
            <!--<h4>-->

            <!--</h4>-->
            <!--<span class="label">Featured:<strong>{$photos[list].featured} </strong></span>-->
            <!--<span class="label">-->
            <!--{if $photos[list].collection_id}-->
            <!--Collection:<strong><a title="Edit Collection" href="edit_collection.php?collection={$photos[list].collection_id}">{$photos[list].collection_id|get_collection_field}</a></strong>-->
            <!--{else}-->
            <!--Photo is Orphan-->
            <!--{/if}-->
            <!--</span>-->
            <!--<span class="label">-->
            <!--Uploaded:<strong>{$photos[list].date_added|niceTime}</strong>-->
            <!--</span>-->
            <!--<span class="label">-->
            <!--User:<strong><a href="view_user.php?uid={$photos[list].userid}">{$photos[list].username}</a></strong>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </td>
        <td>







            <div class="dropdown">
                <button class="btn btn-primary btn-xs dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Actions<i class="icon-angle-down icon-on-right"></i></button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li>
                        {if $photos[list]['active'] == 'yes'}
                        <a href="?deactivate={$photos[list].photo_id}">Deactivate</a>
                        {else}
                        <a href="?activate={$photos[list].photo_id}">Activate</a>
                        {/if}
                    </li>
                    <li>
                        <a href="edit_photo.php?photo={$photos[list].photo_id}">Edit</a>
                    </li>
                    <li>
                        <a href="{$baseurl}/view_item.php?item={$photos[list].photo_key}&amp;type=photos&amp;collection={$photos[list].collection_id}" target="_blank">View</a>
                    </li>
                    {if $photos[list].featured == 'yes'}
                    <li>
                        <a href="?make_unfeature={$photos[list].photo_id}">Make Unfeatured</a>
                    </li>
                    {/if}
                    {if $photos[list].featured == 'no'}
                    <li>
                        <a href="?make_feature={$photos[list].photo_id}">Make Featured</a>
                    </li>
                    {/if}
                    <li><a role="menuitem" tabindex="-1" id="delete-{$photos[list].photo_id}" href="?delete_photo={$photos[list].photo_id}">Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {/section}
</table>
    <div class="btn-group">
        <input type="submit" name="move_to_selected" value="Move To" class="btn btn-primary btn-xs"/>
        <input type="submit" name="make_featured_selected" value="Make Featured" class="btn btn-primary btn-xs"/>
        <input type="submit" name="make_unfeatured_selected" value="Make Unfeatured" class="btn btn-primary btn-xs"/>
        <input type="submit" name="delete_selected" value="Delete" class="btn btn-primary btn-xs" onclick="return _cb.confirm_it('Are you sure you want to delete selected photos(s)')"/>
    </div>
    {else}
    <div align="center"><strong><em>No Photo Found</em></strong></div>
    {/if}

    <div class="btn-group">
        <input type="submit" name="delete_selected" value="Delete Photos" class="btn btn-primary btn-xs" onclick="return _cb.confirm_it('Are you sure you want to delete these photo(s)')"/>
        <input type="submit" name="delete_flags" value="Delete Flags" class="btn btn-primary btn-xs" onclick="return _cb.confirm_it('Are you sure you want to delete flags of selected photo(s)')"/>
    </div>

</form>

{include file="$style_dir/blocks/pagination.html" }
{/if}

<!-- view flags still needs to be done -->

{if $mode == 'view_flags'}
<span class="page_title">Viewing {$photo.photo_title} flags</span> &#8212; <a href="{$cbcollection->collection_links($photo,'view_item')}">View Photo</a> &#8226; <a href="edit_photo.php?photo={$photo.photo_id}">Edit Photo</a> &#8226; <a href="?delete_flags={$photo.photo_id}">Delete Flags</a> &#8226; <a href="?delete_photo={$photo.photo_id}">Delete Photo</a>
<form name="video_manage" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle" class="left_head">&nbsp;</td>
    <td class="head">Flag Details</td>
    <td width="50" class="right_head">&nbsp;</td>
  </tr>
</table>

{section name=list loop=$flags}
<li class="clearfix myAdminList" >
	<div class="moveL PhotoID" >{$smarty.section.list.iteration}</div>
    <div class="moveL">
    	Reported as "{$flags[list].flag_type|flag_type}" by {$flags[list].userid|get_username} {$flags[list].date_added|niceTime}
    </div>
</li>
{/section}
</form>
{/if}