<meta charset="UTF-8">
<title>ClipBucket v2.7</title>
<link rel="stylesheet" href="{$theme_url}/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{$theme_url}/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="{$theme_url}/css/styles.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="{$theme_url}/assets/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts -->

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

<!-- ace styles -->

<link rel="stylesheet" href="{$theme_url}/assets/css/ace.min.css" />
<link rel="stylesheet" href="{$theme_url}/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="{$theme_url}/assets/css/ace-skins.min.css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="{$theme_url}/assets/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="{$theme_url}/assets/js/ace-extra.min.js"></script>
<script src="{$baseurl}/js/clipbucket.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="{$theme_url}/../../../../js/functions.js"></script>
<script type="text/javascript" src="{$theme_url}/../../../../js/admin_functions.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

        <!-- for popovers -->
<script>
    $(function (){
        $("#thumbs_1").popover();
    });

</script>

<!-- bootstrap x-editable -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.xedit').editable({
            mode: 'inline'
        });
    });
</script>
