<div class="heading">
    <h2>ClipBucket V{Update::getInstance()->getCurrentCoreVersion()} Dashboard</h2>
</div>
{$active = 'class="active"'}
<div class="row display-flex">
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            {if $comments !== false}
                <li {$active}>
                    <a data-toggle="tab" href="#rcomments">
                        <h5><i class="glyphicon glyphicon-comment"></i> Recent Comments</h5>
                    </a>
                </li>
                {$active = ''}
            {/if}
            <li {$active}>
                <a data-toggle="tab" href="#todolist">
                    <h5><i class="glyphicon glyphicon-list-alt"></i> ToDo List</h5>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#pnotes">
                    <h5><i class="glyphicon glyphicon-pencil"></i> Personal Notes</h5>
                </a>
            </li>
        </ul>

        {$active = 'active'}
        <div class="tab-content" style="height:259px;overflow-y:scroll;">
            {if $comments !== false}
                <div id="rcomments" class="tab-pane {$active}">
                    {foreach from=$comments item=comment}
                        {$userdetails = userquery::getInstance()->get_user_details($comment.userid)}
                        <div class="itemdiv dialogdiv">
                            <div class="user">
                                <img alt="{display_clean($userdetails.username)}" title="{display_clean($userdetails.username)}" src="{userquery::getInstance()->getUserThumb($userdetails,'small')}">
                            </div>
                            <div class="body">
                                <div class="time">
                                    <i class="icon-time"></i>
                                    <span class="green">{$comment.date_added|date_format}</span>
                                </div>
                                <div class="name">
                                    <a href="#">{display_clean($comment.anonym_name)}</a>
                                </div>
                                <div class="text">{Comments::getClean($comment.comment)}</div>
                                <div class="tools">
                                    <a href="{getCommentAdminLink($comment.type, $comment.type_id)}" class="btn btn-minier btn-info">
                                        <i class="fa fa-share"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </div>
                {$active = ''}
            {/if}
            <div id="todolist" class="tab-pane {$active}">
                <div class="addTodo paddingRightSmall paddingLeftLarge marginBottomLarge">
                    <div class="row">
                        <div class="from-group relative">
                            <div class="from-group">
                                <input type="text" name="addTodo" class="form-control addTodoText"/>
                                <button id="addTodo" class="btn btn-primary btn-sm">{lang code='add'}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {assign var=todos value=myquery::getInstance()->get_todos()}
                <ul class="row todosList">
                    {foreach from=$todos item=note}
                        <li class="col-md-12 oneTodo">
                        <span class="paddingLeftSmall col-md-10" id="{$note.todo_id}">
                            {display_clean($note.todo)}
                        </span>
                            <a href="#" class="btn btn-danger btn-xs delete col-md-2">{lang code='delete'}</a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <div id="pnotes" class="tab-pane">
                <div class="addNote form-group paddingRightSmall">
                    <textarea class="form-control" name="note"></textarea>
                    <div class="alignRight marginTopSmall">
                        <a href="#" id="add_new_note" class="btn btn-primary btn-xs">Add a note</a>
                    </div>
                </div>
                {assign var=notes value=myquery::getInstance()->get_notes()}
                <ul class="notesList row paddingRightSmall">
                    {foreach from=$notes item=note}
                        <li class="col-md-4">
                            <div>
                                <p class="oneNote" id="{$note.note_id}">
                                    {display_clean($note.note)}
                                    <a href="#" class="delete">×</a>
                                </p>
                            </div>
                        </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="changelog_display">{include file="$style_dir/changelog.html"}</div>
        <div class="row" style="margin-top:5px;" id="update_div">
            {Update::getInstance()->displayGlobalSQLUpdateAlert()}
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#overall_statistics">
                    <h5>{lang('overall_statistics')}</h5>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#flagged_objects">
                    <h5>{lang code="flagged_obj"}</h5>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#users_statistics">
                    <h5>{lang('user_statistics')}</h5>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#video_statistics">
                    <h5>{lang('video_statistics')}</h5>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="overall_statistics" class="tab-pane active">
                <div id="piechart" style="height:400px;"></div>
            </div>
            <div id="flagged_objects" class="tab-pane">
                <div id="donutchart" style="height:400px;"></div>
            </div>
            <div id="users_statistics" class="tab-pane">
                <div id="ubarchart" style="height:400px;"></div>
            </div>
            <div id="video_statistics" class="tab-pane">
                <div id="vbarchart" style="height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let visual_editor_comments_enabled = "{config('enable_visual_editor_comments') == 'yes'}";
    let is_update_processing = `{$is_update_processing}`;
    let can_sse = `{$can_sse}`;

    let piechart_users = '{User::getInstance()->getAll(['count'=>'yes','not_userid'=>userquery::getInstance()->get_anonymous_user()])}';
    let piechart_photos = '{Photo::getInstance()->getAll(['count'=>'yes'])}';
    let piechart_videos = '{Video::getInstance()->getAll(['count'=>'yes'])}';
    let piechart_collections = '{Collection::getInstance()->getAll(['count'=>'yes'])}';

    let donutchart_photos = '{Flag::getAll(['count'=>true, 'element_type'=>'photo'])}';
    let donutchart_videos = '{Flag::getAll(['count'=>true, 'element_type'=>'video'])}';
    let donutchart_users = '{Flag::getAll(['count'=>true, 'element_type'=>'user'])}';
    let donutchart_collections = '{Flag::getAll(['count'=>true, 'element_type'=>'collection'])}';

    let ubarchart_users = '{User::getInstance()->getAll(['count'=>'yes','not_userid'=>userquery::getInstance()->get_anonymous_user()])}';
    let ubarchart_users_active = '{User::getInstance()->getAll(['count'=>'yes','status'=>'ok','not_userid'=>userquery::getInstance()->get_anonymous_user()])}';
    let ubarchart_users_inactive = '{User::getInstance()->getAll(['count'=>'yes','status'=>'ToActivate','not_userid'=>userquery::getInstance()->get_anonymous_user()])}';

    let vbarchart_total = piechart_videos;
    let vbarchart_active = '{Video::getInstance()->getAll(['count'=>'yes','active'=>'yes'])}';
    let vbarchart_deactive = '{Video::getInstance()->getAll(['count'=>'yes','active'=>'no'])}';
    let vbarchart_reported = donutchart_videos;

    let lang = [];
    lang['technical_error'] = "{lang code='technical_error'}"
    lang['users'] = "{lang('users')}";
    lang['videos'] = "{lang('videos')}";
    lang['photos'] = "{lang('photos')}";
    lang['collections'] = "{lang('collections')}";
    lang['overall_statistics'] = "{lang('overall_statistics')}";
    lang['flagged_obj'] = "{lang('flagged_obj')}";
    lang['user_statistics'] = "{lang('user_statistics')}";
    lang['total'] = "{lang('total')}";
    lang['active'] = "{lang('active')}";
    lang['inactive'] = "{lang('inactive')}";
    lang['video_statistics'] = "{lang('video_statistics')}";
    lang['reported'] = "{lang('reported')}";
</script>
