<html>
    <body style="background-color:#ffffff;">
        <div class="container">
            <div class="row ">
                <div class="logo-admin">
                    <a href="/" class="login-logo">
                        <img src="{get_website_logo_path()}" class="img-responsive"/>
                    </a>
                </div>
                <h3 align="center" class="mrgnt10">{lang code='sign_in_with_your_cb_account'}</h3>
                <div class="col-sm-6 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mrgnt20">
                   {include file="$style_dir/msg.html"}
                
                    <div id="login_box">
                        <form name="form1" method="post" action="#">
                            <div class="form-group">
                                <input placeholder="{lang code='username'}" type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <input placeholder="{lang code='password'}" type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="login" class="btn btn-primary btn-block" value="{lang code='login'}">
                            </div>
                            {if config('disable_email') == 'no'}
                                <div align="center">
                                    <a href="/forgot.php">{lang code='user_forgot_message'}</a>
                                </div>
                            {/if}
                        </form>
                    </div>
                </div>
            </div>
        
            <div align="center" class="login_footer mrgnt10">
                <span id="copyright">
                    <span id="copyright-original" title="{lang|ucfirst code='by'} Arslan Hassan, http://clip-bucket.com">©ClipBucket</span>, {lang code='maintained_by'} <a href='https://clipbucket.fr' target='_blank'>Oxygenz</a>
                </span>
            </div>
        </div>
    </body>
</html>



