<h2>{lang code='manage_items'} - <a href="/admin_area/edit_collection.php?collection={$smarty.get.collection}">{display_clean($collection.collection_name)}</a></h2>
<form method="post">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="30" align="center" valign="middle"><img src="{$imageurl}/arrow_return.png" width="25" height="25"></td>
            <td height="50" style="padding-left:15px">
                <input type="submit" name="remove_selected" value="Remove Selected" class="btn btn-primary btn-xs"/>
                <input type="submit" name="move_selected" value="Move Selected" class="btn btn-primary btn-xs"/>
                <select name="collection_id" id="collection_id">
                    {foreach $collections as $col_id => $col_data}
                        <option value="{$col_id}" {if $col_id==$smarty.get.collection}selected{/if}>{$col_data['name']}</option>
                    {/foreach}
                </select>
                <br />
            </td>
        </tr>
    </table>
    {if $obj}
        {if $type == ''}
            <div align="center"><strong><em>Unknown Type</em></strong></div>
        {else}
            {if $type == 'photos'}
                <div class="clearfix PhotoDetails" style=" text-align:center; min-height:10px;">
                    <a style="font-size:11px;" href="/admin_area/recreate_thumbs.php?mode=collection&cid={$smarty.get.collection}">Re-create photos</a>. This will re-create photos found in the collection.
                </div>
            {/if}
            <table class="table table-bordered table-striped manageUsersTable">
                <tr>
                    <td>
                        <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
                    </td>
                    <td>Object Id</td>
                    <td>{lang code='details'}</td>
                </tr>
                {section name=list loop=$obj}
                    {if $type == 'photos' && empty($obj[list].collection_name)}
                        <tr>
                            <td class="moveL PhotoCheckBox">
                                <div>
                                    <input name="check_obj[]" type="checkbox" id="check_obj-{$collection.videoid}" value="{$obj[list].photo_id}" style="display:inline;"/>
                                </div>
                            </td>
                            <td>{$obj[list].photo_id}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{get_photo details=$obj[list]}" class="img-responsive" id="photo" style="padding:2px;border:1px solid #ccc;" />
                                            </div>
                                            <div class="col-md-9">
                                                <a class="block" href="/admin_area/edit_photo.php?photo={$obj[list].photo_id}">{display_clean($obj[list].photo_title)}</a>
                                                <span class="labels1"> <strong>{$obj[list].date_added|niceTime}</strong>
                                                {lang code='views'} : <strong>{$obj[list].views|number_format}</strong></span>
                                                <div class="labels">
                                                    {if $obj[list].featured=='yes'}<span class="label label-primary">{lang code='featured'}</span>{/if}
                                                    <span class="label {if $obj[list].active=='yes'}label-success{else}label-warning{/if}">
                                                    {if $obj[list].active=='yes'}{lang code='active'}{else}{lang code='inactive'}{/if} </span>
                                                    <span class="label label-info">
                                                    {lang code='viewed'} {$obj[list].last_viewed|niceTime}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="view_user.php?uid={$obj[list].userid}">{display_clean($obj[list].username)}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {elseif $type == 'videos' && empty($obj[list].collection_name)}
                        <tr>
                            <td class="moveL PhotoCheckBox">
                                <div>
                                    <input name="check_obj[]" type="checkbox" id="check_obj-{$collection.videoid}" value="{$obj[list].videoid}" style="display:inline;"/>
                                </div>
                            </td>
                            <td>{$obj[list].videoid}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{get_thumb($obj[list],FALSE,'168x105')}" width="120" height="70" id="video_{$obj[list].videoid}" style="padding:2px; border:1px solid #ccc" />
                                            </div>
                                            <div class="col-md-9">
                                                <a href="/admin_area/edit_collection.php?collection={$obj[list].collection_id}" target="_blank">{display_clean($obj[list].title)}</a>
                                                <br/>
                                                <span class="labels1">
                                                    <strong>{$obj[list].date_added|niceTime}</strong>
                                                    {lang code='views'} : <strong>{$obj[list].views|number_format}</strong>
                                                </span>
                                                <div class="labels">
                                                    {if $obj[list].featured=='yes'}<span class="label label-primary">{lang code='featured'}</span>{/if}
                                                    <span class="label {if $obj[list].active=='yes'}label-success{else}label-warning{/if}">
                                                        {if $obj[list].active=='yes'}{lang code='active'}{else}{lang code='inactive'}{/if}
                                                    </span>
                                                    <span class="label label-info">
                                                        {lang code='viewed'} {$obj[list].last_viewed|niceTime}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="view_user.php?uid={$obj[list].userid}">{display_clean($obj[list].username)}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {/if}
                    {if !empty($obj[list].collection_name)}
                        <tr>
                            <td class="moveL PhotoCheckBox">
                                <div>
                                    <input name="check_collection[]" type="checkbox" id="check_collection-{ $obj[list].collection_id}" value="{$obj[list].collection_id}" style="display:inline;"/>
                                </div>
                            </td>
                            <td>{$obj[list].collection_id}</td>
                            {$collection = $obj[list]}
                            <td>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3 collections-grid">
                                                <div class="clearfix collection-item col-lg-6 col-md-6 col-sm-12 col-xs-6">
                                                    {if config('seo') != 'yes'}
                                                        {$main_url = "/view_collection.php?cid={$collection.collection_id}"}
                                                    {else}
                                                        {$main_url = "/collection/{$collection.collection_id}/{$collection.type}/{display_clean($collection.collection_name)}"}
                                                    {/if}

                                                    {$first_elem = Collection::getInstance()->getFirstItem(['collection_id' => $collection.collection_id])}
                                                    {if $collection.type == 'videos'}
                                                        {$blur = Video::getInstance()->isToBlur($first_elem.videoid)}
                                                    {else}
                                                        {$blur = Photo::getInstance()->isToBlur($first_elem.photo_id)}
                                                    {/if}

                                                    <div class="collection-holder">
                                                        <div class="photo-block no_select no_overflow">
                                                            <a href="{$main_url}" title="{display_clean($collection.collection_name)}">
                                                                <img alt="{display_clean($collection.collection_name)}" title="{display_clean($collection.collection_name)}" class="img-responsive {if $blur}blur{/if}" id="collection_{$collection.collection_id}" src="{$cbcollection->coll_first_thumb($collection,'l')}"/>
                                                                {ANCHOR place='in_collection_thumb' data=$collection}
                                                                <div class="collection-info">
                                                                    <span>{$collection.total_objects}</span>{lang code=$collection.type}
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <img src="{$imageurl}/photo-bg.png" alt="" class="photo-bg no_select"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <a href="/admin_area/edit_collection.php?collection={$obj[list].collection_id}" target="_blank">{display_clean($obj[list].collection_name)}</a>
                                                <br/>
                                                <span class="labels1">
                                                    <strong>{$obj[list].date_added|niceTime}</strong>
                                                    {lang code='views'} : <strong>{$obj[list].views|number_format}</strong>
                                                </span>
                                                <div class="labels">
                                                    {if $obj[list].featured=='yes'}<span class="label label-primary">{lang code='featured'}</span>{/if}
                                                    <span class="label {if $obj[list].active=='yes'}label-success{else}label-warning{/if}">
                                                        {if $obj[list].active=='yes'}{lang code='active'}{else}{lang code='inactive'}{/if}
                                                    </span>
                                                    <span class="label label-info">
                                                        {lang code='viewed'} {$obj[list].last_viewed|niceTime}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="view_user.php?uid={$obj[list].userid}">{display_clean($obj[list].user_username)}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {/if}
                {/section}
            </table>
        {/if}
    {/if}
</form>
