<div class="heading">
    <h2>Mass Uploader</h2>
</div>
{$mass_upload_config = config('delete_mass_upload')}

{assign var=vid_files value=$cbmass->get_video_files()}

{if $vid_files}
{assign var = i value = 0}
<div id="massUploadSelectAll">
	<h3>Select/Deselect</h3>
	<input type="checkbox" id="massUploadSelect"/>
</div>
<div id="massUploadCategoriesSelection">
	<h3>Mass Category Selection</h3>
	{foreach $cats as $cat}
	<label><input type="checkbox" class="checkall" value='{$cat['category_id']}'/> {$cat['category_name']}</label>
	{$i = $i+1}
	{/foreach}
</div>
<form name="mass_upload" method="post" class="cbform">
	{assign var = i value = 0}
    {foreach from=$vid_files item=file name=mass_files}
    {assign var='requiredFields' value=$Upload->loadRequiredFields($file)}  
    {assign var='optionFields' value=$Upload->loadOptionFields($file)}
    {assign var='locationFields' value=$Upload->loadLocationFields($file)}
    {assign var='cust_fields'  value=$Upload->custom_form_fields}
    <input class="lead" type="hidden" name="mass_up[]" value="{$file.title}" />

<div class="well">
	<input type="checkbox" name="filesToImport_{$i}[]" class="checkboxMassImport"/>
    <span class="label label-danger" style="cursor: pointer;" onclick="$(this).next().toggle();return false;"><b>{$file.title}</b>{$smarty.foreach.mass_files}</span>
    <div style="display:none">
        {foreach from=$requiredFields item=field}
        {$field.class='form-control'}
        {if $field.title=='Title'}
        <div class="row">
            <div class="col-md-6">
                <label for="{$field.id}"><b style="color: #000000">{$field.name}</b></label>
                {$formObj->createField($field, true)}
            </div>
            {/if}
            {/foreach}
            {foreach from=$requiredFields item=field}
            {if $field.title=='Description'}
                <div class="col-md-6">
                    <label for="{$field.id}"><b style="color: #000000">{$field.name}</b></label>
                    {$formObj->createField($field, true)}
                </div>
            {/if}
            {/foreach}
        </div>
        <div class="row">
            {foreach from=$requiredFields item=field}
            {$field.class='form-control'}
            {if $field.title=='Video Category'}
            <div class="col-md-6">
                <label for="{$field.id}"><b style="color: #000000">{$field.name}</b></label>
                <div class="scroll categories">
                {$formObj->createField($field, true)}
                </div>
            </div>
            {/if}
            {/foreach}
            {foreach from=$requiredFields item=field}
            {$field.class='form-control'}
            {if $field.title=='Tags'}
            <div class="col-md-6">
                <label for="{$field.id}"><b style="color: #000000">{$field.name}</b></label>
                {$formObj->createField($field, true)}
            </div>
            {/if}
            {/foreach}
        </div>

    </div>
</div>
	{$i = $i+1}
    {/foreach}
    <div class="well align-center">
        <input type="submit" name="mass_upload_video" id="mass_upload_video" value="Mass Upload Videos Now" class="btn btn-primary" /></div>
</form>

{else}
<div class="form-control">
    NO VIDEO FOUND IN MASS UPLOAD FOLDER
</div>
{if $mass_upload_config == 'no'}
<div class="form-control">
Uploaded Videos are stored in mass_uploads/processed.
</div>
{/if}

{/if}


{include file="$style_dir/blocks/pagination.html" }

<script type="text/javascript">
    $(document).ready(function()
	{
		$(document).on('change', '.checkall', function()
		{
			var id_cat = this.value;
			var to_check = this.checked;

			$(".categories input").each(function() {
				if( this.value == id_cat )
					this.checked = to_check;
			});
		});

		$(document).on('change', '#massUploadSelect', function()
		{
			var to_check = this.checked;

			$(".checkboxMassImport").each(function() {
				this.checked = to_check;
			});
		});
	});
</script>