<div class="heading">
    <h2>Send email to users</h2>
</div>

<p>
  Send mass email to your users with our new and updated email manager
</p>


{if $send_email==""}
<form name="mass_email" method="post" action="mass_email.php?action=new">
<h3 class="cb_title">
	Email manager
</h3>

<div class="cb_form">
    <div class="row">
	<div class="col-md-4">
        <label for="loop_size">Email to send at once<br /><small>loop size of emails when mass emails are sent</small></label>
        <input class="form-control" id="loop_size" name="loop_size" type="text" value="500"/>
    </div>
    

    <div class="col-md-4">
        <label for="from">From<br /><small>Enter email address to tell user who sent it</small></label>
        <input class="form-control" type="text" name="from" value="{'from'|post}"/>
    </div>

    <div class="col-md-4">
        <label for="subject">Subject<small><br />Enter your email subject</small></label>
        <input class="form-control" type="text" name="subject" value="{'subject'|post}" />
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <label for="message">Message<small><br />Enter your email message</small></label>
        <textarea class="form-control" name="message" id="desc" cols="50" rows="5" draggable="false"></textarea>
        {literal}You can use {username}, {userid}, {email}, {datejoined},{avcode} in your message{/literal}
    </div>
        <div class="col-md-6">
            <h3>More options</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#activestatus">
                            Active Status
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#bannedstatus">
                            Banned Status
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#userlevel">
                            User level
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#usercategory">
                            User category
                        </a>
                    </li>
                    </ul>

                <div class="tab-content">
                    <div id="activestatus" class="tab-pane active">
                    <h4>Active status<br /><small>Choose whether to send to active users or non active</small></h4>
                    <label class="radio">
                        <input name="active" type="radio" value="yes" checked="checked" />Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="active" value="no" />No
                    </label>
                    <label class="radio">
                        <input name="active" type="radio" value="any" />Any
                    </label>
                </div>

                    <div id="bannedstatus" class="tab-pane">
                    <h4>Banned status<br /><small>Send email to banned users</small></h4>
                    <label class="radio">
                        <input type="radio" name="ban" value="yes" />Yes
                    </label>
                    <label class="radio">
                        <input name="ban" type="radio" value="no" checked="checked" />No
                    </label>
                    <label class="radio">
                        <input name="ban" type="radio" value="any" />Any
                    </label>
                </div>

                    <div id="userlevel" class="tab-pane">
                    <h4>User level<br><small>Choose which user level to send email</small></h4>
                    {assign var=levels value=$userquery->get_levels()}
                    {foreach from=$levels item=level}
                    {if $level.user_level_id !='4'}
                    <label class="checkbox-inline">
                        <input type='checkbox' name="level[]" value="{$level.user_level_id}" checked="checked"/>{$level.user_level_name}
                    </label>
                    {/if}
                    {/foreach}
                </div>

                    <div id="usercategory" class="tab-pane">
                    <h4>User category<br><small>User category</small></h4>
                    {assign var=cats value=$userquery->get_categories()}
                    {foreach from=$cats item=cat}
                    <label class="checkbox-inline">
                        <input type='checkbox' name="cat[]" value="{$cat.category_id}" checked="checked"/>{$cat.category_name}</label>
                    {/foreach}
                </div>
                    </div>


                <!-- <div class="cb_field_cont" style="display:none">
                    <div class="cb_fieldL"><strong>Send to specified users</strong>
                    <br />Enter emails or usernames, seperate by commas,leave blank to follow criteria given above</div>
                    <div class="cb_fieldR"><textarea name="users" cols="50" rows="5" draggable="true" id="users"></textarea></div>
                    <div class="clear clearfix"></div>
                </div> -->


                <div class="form-group">
                    <input class="btn btn-primary" name="create_email" type="submit" class="button" id="create" value="Create email" />
                </div>

            </div>
            </div>

</form>


    
    <div class="cb_field_cont" style="display:none">
    	<div class="cb_fieldL"><strong>Email delivery method</strong>
        <br />Please choose weather you want browser to send emails or create a background process </div>
        <div class="cb_fieldR"><label><input type="radio" name="method" value="browser" checked="checked" />Browser</label>
        <label><input type="radio" name="method" value="background" />Background Process</label></div>
    	<div class="clear clearfix"></div>
    </div>
    
</div>
    



<div style="height:30px"></div>
<h3 class="cb_title">
	Mass email campaigns
</h3>
{if $emails}
<table class="table table-striped table-bordered">
    <form name="email_manage" method="post">
        <tr>
            <td width="40" align="center" valign="middle" class="left_head">
                <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
            <td>Subject</td>
            <td>&nbsp;</td>
        </tr>
        {foreach from=$emails item=email}
                <tr>
                    <td>
                        <input name="check_email[]" type="checkbox" id="check_email" value="{$email.id}" />
                    </td>
                    <td><strong>{$email.email_subj}</strong></td>
                    <td>
                        <a href="?send_email={$email.id}">Send Email</a> |
                        <a href="?delete={$email.id}">Delete</a> | <a href="javascript:void(0)" onclick="alert($('#mytest_{$email.id}').html())">View</a><br />
                        <span style="font-size:11px; color:#666"><strong>From</strong>
                        : {$email.email_from} &#8226; <strong>Method</strong> : {$email.method}
                        &#8226; <strong>Sent</strong> : {$email.sent} &#8226; <strong>Status</strong> : {$email.status}</span><br />
                        {$email.date_added|niceTime}
                        <div id="mytest_{$email.id}" style="display:none" class="email_content">{$email.email_msg|nl2br}</div>
                    </td>
                </tr>
        {/foreach}
    </form>
</table>
{else}
<div class="cb_row">
	<span style="font-weight:bold">No email campaign was  found</span>
</div>
{/if}

{literal}
<script type="text/javascript">
	$( ".email_content" ).dialog({autoOpen:false,modal:true});
</script>
{/literal}


{else}


    <h3>Sending emails</h3>
    {if $send_email}
    {assign var=email value=$send_email}
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <h5>{$email.email_subj}</h5>
            </td>
            <td>
                <strong>From</strong> : {$email.email_from} &#8226; <strong>Method</strong> : {$email.method}
                &#8226; <strong>Sent</strong> : {$email.sent} &#8226; <strong>Status</strong> : {$email.status}
                <br />
                {$email.date_added|niceTime}
                <div id="mytest" style="display:none" class="email_content ">{$email.email_msg|nl2br}</div>
            </td>
            <td>
                <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="alert($('#mytest').html())" >View</a>
            </td>
        </tr>
    </table>

    <a class="btn btn-primary" href="mass_email.php">Go back to mass email page</a></div>
    
    {$eh->message_list.0}
    {if $msgs}
    <ul>
    	{foreach from=$msgs item=msg}
        	<li>{$msg}</li>
        {/foreach}
    </ul>
    {/if}
    
    
    {if ($email.total==$email.sent && $email.sent>0)|| $email.status=='completed'}
    <div class="alert alert-success">
        Email has been sent to {$email.total} users
    </div>
    {else} 
    <div class="alert alert-info">
        Pelase wait, do not close this window... (
        <a href="javascript:void(0);" id="pause" onclick="pause=true; $('#pause,#resume').toggle()">
            pause
        </a>
        <a href="javascript:void(0);" onclick="$(window.location).attr('href', '?send_email='+email_id+'&index='+start_index); $('#pause,#resume').toggle()" id="resume" style="display:none">
            resume
        </a>
        )
    </div>

    <script>
		var start_index = '{$email.start_index}';
		var email_id = '{$email.id}';
		var pause = false;
		{literal}$(document).oneTime(5000,function(){
			if(!pause)
			$(window.location).attr('href', '?send_email='+email_id+'&index='+start_index)});{/literal}
	</script>
    {/if}
{/if}

{literal}
<script type="text/javascript">
	$( ".email_content" ).dialog({autoOpen:false,modal:true});
</script>
{/literal}
{/if}

<script>
    $(document).ready(function() {
        $('#desc').summernote();
    });
</script>