<div class="heading">
    <h2>{lang('watermark_settings')}</h2>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="watermarSettings">
            <div class="col-md-4">
                <label class="pull-right inline" style="  margin-right: 238px;">
                    <input name="watermark_photo" id="watermark_photo" type="checkbox" value="1"{if $row.watermark_photo == '1'}checked{/if}  name="closed"  type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on" >
                    Enable Watermark
                    <span class="lbl"></span>
                </label>
            </div>
            <div class="col-md-4">
                <label for="watermark_maximum_width">Maximum Width of watermark<br><small>Recommended is 120</small></label>
                <input class="form-control" name="watermark_max_width" id="watermark_max_width" type="text" value="{$row.watermark_max_width}" >
            </div>
            <div class="col-md-4">
                <label for="top_left">Watermark placement<br>
                    <small>Set your Placement</small>
                </label>
                <select name="watermark_placement" class="form-control">
                    <option value="left:top" class="form-control" name="watermark_placement" id="top_left" {if $row.watermark_placement == 'left:top'} selected {/if}>Top - Left</option>
                    <option value="right:top" class="form-control" name="watermark_placement" id="top_right" {if $row.watermark_placement == 'right:top'} selected {/if}>Top - Right</option>
                    <option value="center:top" class="form-control" name="watermark_placement" id="top_center" {if $row.watermark_placement == 'center:top'} selected {/if}>Top - Center</option>
                    <option value="left:bottom" class="form-control" name="watermark_placement" id="bottom_left" {if $row.watermark_placement == 'left:bottom'} selected {/if} >Bottom - Left</option>
                    <option value="righ:bottom" class="form-control" name="watermark_placement" id="bottom_right" {if $row.watermark_placement == 'righ:bottom'} selected {/if} >Bottom - Right</option>
                    <option value="center:bottom" class="form-control" name="watermark_placement" id="bottom_center" {if $row.watermark_placement == 'center:bottom'} selected {/if}>Bottom - Center</option>
                    <option value="left:center" class="form-control" name="watermark_placement" id="left" {if $row.watermark_placement == 'left:center'} selected {/if}>Left</option>
                    <option value="right:center" class="form-control" name="watermark_placement" id="right" {if $row.watermark_placement == 'right:center'} selected {/if}>Right</option>
                    <option value="center:center" class="form-control" name="watermark_placement" id="center" {if $row.watermark_placement == 'center:center'} selected {/if}>Center</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label for="watermark_file">Upload New Watermark<br><small>
                This will over-write your existing watermark file, if exists.
            </small></label>
            <input type="file" class="form-control" name="watermark_file" id="watermark_file" >
        </div>
        <div class="col-md-4">
            <h4>Current Watermark</h4>
            {assign var=file value=$cbphoto->watermark_file()}
            {if $file}
            <img src="{$cbphoto->watermark_file()}" />
            {else}
            <p>Watermark not found</p>
            {/if}
        </div>
        <div class="col-md-4">
            <input type="submit" name="update_watermark" class="btn btn-primary btn-sm" value="Update Settings" id="update_watermark" />
        </div>
    </div>
</div> <!-- watermarkSettings end -->
</form>







