<div class="heading">
    <h2>{lang('report_and_stats')}</h2>
</div>

<div>
    <div>
        <h3 class="pull-left inline">{lang code="today"}</h3>
        <h3 class="pull-left inline">
            <input type="checkbox" class="ace ace-switch ace-switch-5" id="enableTooltipDaily"/>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div id="daily_chart_id" class="flot_chart">
        <img class="loading-image" src="./styles/cb_2014/images/ajax-loader.gif"/>
    </div>
</div>

<div>
    <div>
        <h3 class="pull-left inline">{lang code="thisweek"}</h3>
        <h3 class="pull-left inline">
            <input type="checkbox" class="ace ace-switch ace-switch-5" id="enableTooltipWeekly"/>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div id="weekly_chart_id" class="flot_chart">
        <img class="loading-image" src="./styles/cb_2014/images/ajax-loader.gif"/>
    </div>
</div>

<div>
    <div>
        <h3 class="pull-left inline">{lang code="thismonth"}</h3>
        <h3 class="pull-left inline">
            <input type="checkbox" class="ace ace-switch ace-switch-5" id="enableTooltipMonthly"/>
        </h3>
    </div>
    <div class="clearfix"></div>
    <div id="monthly_chart_id" class="flot_chart">
        <img class="loading-image" src="./styles/cb_2014/images/ajax-loader.gif"/>
    </div>
</div>

{if config('videosSection') == 'yes'}
    <div class="table-responsive">
        <span><legend>{lang('video_reports')}</legend></span>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>{lang code='alltime'}</th>
                <th>{lang('todays_videos')}</th>
                <th>{lang code='thisweek'}</th>
                <th>{lang code='lastweek'}</th>
                <th>{lang code='thismonth'}</th>
                <th>{lang code='lastmonth'}</th>
            </tr>
            </thead>
            <tbody class="reports">
            <tr>
                <td><span class="show">{lang('total')}: <strong>{get_videos count_only=yes}</strong></span>
                    <span class="show">{lang('active')}: <strong>{get_videos count_only=yes active="yes"}</strong></span>
                    <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='Processing'}</strong></span>
                </td>
                <td><span class="show">{lang('total')}: <strong>{get_videos count_only=yes date_span=today}</strong></span>
                    <span class="show">{lang('active')}: <strong>{get_videos count_only=yes active="yes" date_span=today}</strong></span>
                    <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='Processing' date_span=today}</strong></span>
                </td>
                <td><span class="show">{lang('total')}: <strong>{get_videos count_only=yes date_span=this_week}</strong></span>
                    <span class="show">{lang('active')}: <strong>{get_videos count_only=yes active="yes" date_span=this_week}</strong></span>
                    <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='Processing' date_span=this_week}</strong></span>
                </td>
                <td><span class="show">{lang('total')}: <strong>{get_videos count_only=yes date_span=last_week}</strong></span>
                    <span class="show">{lang('active')}: <strong>{get_videos count_only=yes active="yes" date_span=last_week}</strong></span>
                    <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='Processing' date_span=last_week}</strong></span>
                </td>
                <td><span class="show">{lang('total')}: <strong>{get_videos count_only=yes date_span=this_month}</strong></span>
                    <span class="show">{lang('active')}: <strong>{get_videos count_only=yes active="yes" date_span=this_month}</strong></span>
                    <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='Processing' date_span=this_month}</strong></span>
                </td>
                <td><span class="show">{lang('total')}: <strong>{get_videos count_only=yes date_span=last_month}</strong></span>
                    <span class="show">{lang('active')}: <strong>{get_videos count_only=yes active="yes" date_span=last_month}</strong></span>
                    <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='Processing' date_span=last_month}</strong></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{/if}

<div class="table-responsive">
    <span><legend>{lang('user_reports')}</legend></span>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{lang code='alltime'}</th>
            <th>{lang('todays_users')}</th>
            <th>{lang code='thisweek'}</th>
            <th>{lang code='lastweek'}</th>
            <th>{lang code='thismonth'}</th>
            <th>{lang code='lastmonth'}</th>
        </tr>
        </thead>
        <tbody class="reports">
        <tr>
            <td>
                <span class="show">{lang('total')}: <strong>{get_users count_only=yes}</strong></span>
                <span class="show">{lang('active')}: <strong>{get_users count_only=yes status='Ok'}</strong></span>
                <span class="show">{lang('processing')}: <strong>{get_users count_only=yes status='ToActivate'}</strong></span>
            </td>
            <td>
                <span class="show">{lang('total')}: <strong>{get_users count_only=yes date_span='today'}</strong></span>
                <span class="show">{lang('active')}: <strong>{get_users count_only=yes status='Ok' date_span=today}</strong></span>
                <span class="show">{lang('processing')}: <strong>{get_videos count_only=yes status='ToActivate' date_span=today}</strong></span>
            </td>
            <td>
                <span class="show">{lang('total')}: <strong>{get_users count_only=yes date_span='this_week'}</strong> </span>
                <span class="show">{lang('active')}: <strong>{get_users count_only=yes status='Ok' date_span=this_week}</strong></span>
                <span class="show">{lang('processing')}: <strong>{get_users count_only=yes status='ToActivate' date_span=this_week}</strong></span>
            </td>
            <td>
                <span class="show">{lang('total')}: <strong>{get_users count_only=yes date_span='last_week'}</strong></span>
                <span class="show">{lang('active')}: <strong>{get_users count_only=yes status='Ok' date_span=last_week}</strong></span>
                <span class="show">{lang('processing')}: <strong>{get_users count_only=yes status='ToActivate' date_span=last_week}</strong></span>
            </td>
            <td>
                <span class="show">{lang('total')}: <strong>{get_users count_only=yes date_span=this_month}</strong></span>
                <span class="show">{lang('active')}: <strong>{get_users count_only=yes status='Ok' date_span=this_month}</strong></span>
                <span class="show">{lang('processing')}: <strong>{get_users count_only=yes status='ToActivate' date_span=this_month}</strong></span>
            </td>
            <td>
                <span class="show">{lang('total')}: <strong>{get_users count_only=yes date_span=last_month}</strong></span>
                <span class="show">{lang('active')}: <strong>{get_users count_only=yes status='Ok' date_span=last_month}</strong></span>
                <span class="show">{lang('processing')}: <strong>{get_users count_only=yes status='ToActivate' date_span=last_month}</strong></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{if config('videosSection')=='yes' || config('photosSection') == 'yes' || config('channelsSection')=='yes'}
    {assign var=video_comment_enable value=(config('videosSection') == 'yes' && config('enable_comments_video') == 'yes')}
    {assign var=photo_comment_enable value=(config('photosSection') == 'yes' && config('enable_comments_photo') == 'yes')}
    {assign var=collection_comment_enable value=(config('collectionsSection') == 'yes' && (config('videosSection')=='yes' || config('photosSection') == 'yes') && config('enable_comments_collection')=='yes')}
    <div class="table-responsive">
        <span><legend>{lang('other_reports')}</legend></span>
        <table class="table table-striped table-bordered">
            <thead>
            {if  $video_comment_enable
            || $photo_comment_enable
            || $collection_comment_enable
            }
                <th>{lang code='comments'}</th>
            {/if}

            {if config('videosSection')=='yes' || config('photosSection') == 'yes' || config('channelsSection')=='yes'}
                <th>{lang('flagged_obj')}</th>
            {/if}
            {if config('videosSection')=='yes' && config('playlistsSection') == 'yes'}
                <th>{lang code='playlists'}</th>
            {/if}
            {if config('videosSection')=='yes'}
                <th>{lang code='favourites'}</th>
            {/if}
            </thead>
            <tbody class="reports">
            <tr>
                {if $video_comment_enable
                || $photo_comment_enable
                || $collection_comment_enable
                }
                    <td>
                        {if $video_comment_enable}
                            <span class="show">{lang('v_comment')}: <strong>{Comments::getAll(['count'=>true,'type'=>'v'])}</strong></span>
                        {/if}
                        {if $photo_comment_enable}
                            <span class="show">{lang('p_comment')} : <strong>{Comments::getAll(['count'=>true,'type'=>'p'])}</strong></span>
                        {/if}
                        {if $collection_comment_enable}
                            <span class="show">{lang('cl_comment')} : <strong>{Comments::getAll(['count'=>true,'type'=>'cl'])}</strong></span>
                        {/if}
                    </td>
                {/if}
                <td>
                    {if config('videosSection')=='yes'}
                        <span class="show">{lang('video_flagged')} : <strong>{Flag::getAll(['count'=>true, 'element_type'=>'video'])}</strong></span>
                    {/if}
                    {if config('photosSection')=='yes'}
                        <span class="show">{lang('photo_flagged')} : <strong>{Flag::getAll(['count'=>true, 'element_type'=>'photo'])}</strong></span>
                    {/if}
                    {if config('channelsSection')=='yes'}
                        <span class="show">{lang('user_flagged')} : <strong>{Flag::getAll(['count'=>true, 'element_type'=>'user'])}</strong></span>
                    {/if}
                </td>
                {if config('videosSection')=='yes' && config('playlistsSection') == 'yes'}
                    <td>
                        <span class="show">{lang('playlists')}: <strong>{CBvideo::getInstance()->action->count_total_playlist()}</strong></span>
                        <span class="show">{lang('videos_in_playlist')}: <strong>{CBvideo::getInstance()->action->count_total_playlist(true)}</strong></span>
                    </td>
                {/if}
                {if config('videosSection')=='yes'}
                    <td>
                        <span class="show">{lang('user_fav_videos')}: <strong>{Video::getInstance()->getAllFavorites(['count_only'=>true])}</strong></span>
                    </td>
                {/if}
            </tr>
            </tbody>
        </table>
    </div>
{/if}
<div class="table-responsive">
    <span><legend>{lang('total_files_and_sizes')}</legend></span>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{lang('nb_files')}</th>
                <th>{lang('filesize')}</th>
            </tr>
        </thead>
        <tbody class="reports">
        <tr>
            <td>
                <span class="show">{lang('nb_files')}: <strong>{$vid_dir.count|number_format}</strong></span>
                <span class="show">{lang('total_thumbs')}: <strong>{$thumb_dir.count|number_format}</strong></span>
                <span class="show">{lang('original_video_files')}: <strong>{$orig_dir.count|number_format}</strong></span>
                <span class="show">{lang('user_avatars')}: <strong>{$user_thumbs.count|number_format}</strong></span>
                <span class="show">{lang('user_backgrounds')}: <strong>{$user_bg.count|number_format}</strong></span>
                <span class="show">{lang('category_thumbs')}: <strong>{$cat_thumbs.count|number_format}</strong></span>
                <span class="show">{lang('database_size')}: <strong>{$db_size}</strong></span>
            </td>
            <td>
                <span class="show">{lang('folder_size')}: <strong>{$vid_dir.size|formatfilesize}</strong></span>
                <span class="show">{lang('folder_size')}: <strong>{$thumb_dir.size|formatfilesize}</strong></span>
                <span class="show">{lang('folder_size')}: <strong>{$orig_dir.size|formatfilesize}</strong></span>
                <span class="show">{lang('folder_size')}: <strong>{$user_thumbs.size|formatfilesize}</strong></span>
                <span class="show">{lang('folder_size')}: <strong>{$user_bg.size|formatfilesize}</strong></span>
                <span class="show">{lang('folder_size')}: <strong>{$cat_thumbs.size|formatfilesize}</strong></span>
                <span class="show">{lang('folder_size')}: <strong>{$db_size}</strong></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<style type="text/css">
    .flot_chart {
        height: 200px;
        width: 100%;
    }
</style>

<script type="text/javascript">

</script>