<h2>{lang('active_template')}</h2>

{assign var="selected" value=ClipBucket::getInstance()->configs.template_dir}
{assign var="curtpl" value=$cbtpl->get_template_details($selected)}

<div class="selectedTemplate">

    <div class="row">
        {include file="$layout_dir/blocks/template.html" template=$curtpl selected=true}
    </div>
</div>

{* Listing All Avilable Templates *}
{if $templates && count($templates) > 1}
    <h2>{lang('available_templates')}</h2>
    <div class="availableTemplates">
        <div>
            <div class="row">
                {foreach from=$templates item=template}
                    {if $selected != $template.dir}
                        {include file="$layout_dir/blocks/template.html" template=$template selected=false}
                    {/if}
                {/foreach}
            </div>
        </div>
    </div>
{/if}
