<div class="heading paddingBottomSmall">
    <div class="form-group">
        <h2>Update Logos</h2>
    </div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Logo :</h2>
		<form action="upload_logo.php" method="post" enctype="multipart/form-data" name="upload_logo">
			<h4>Select image to upload:</h4>
			<input type="file" accept='image/*' name="fileToUpload"/>
			<br/>
			<input class="btn btn-primary" type="submit" value="{lang code='upload'}" name="submit_logo"/>
		</form>
		<h6>Recommended dimensions: 200 * 40px</h6>
	</div>
	<div class="col-md-6">
		<img src="{get_website_logo_path()}" class="img-thumbnail" alt="Logo" style="max-width:200px;max-height:100px;"/>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h2>Favicon :</h2>
		<form action="upload_logo.php" method="post" enctype="multipart/form-data" name="upload_favicon">
			<h4>Select image to upload:</h4>
			<input type="file" accept='image/*' name="fileToUpload"/>
			<br/>
			<input class="btn btn-primary" type="submit" value="{lang code='upload'}" name="submit_favicon"/>
		</form>
		<h6>Recommended dimensions: 256 * 256px</h6>
	</div>
	<div class="col-md-6">
		<img src="{get_website_favicon_path()}" class="img-thumbnail" alt="Favicon" style="max-width:256px;max-height:256px;"/>
	</div>
</div>
