<h2>User Categories</h2>
{if $edit_category != "show"}
<p>* are required fields</p>
<form action="user_category.php" method="post" enctype="multipart/form-data" name="add_category" id="Add Category">

  <div class="form-group">
    <label for="name">Category Name*</label>
    <input class="form-control" name="name" type="text" id="name" value="{'name'|post_form_val}" />
  </div>

  <div class="form-group">
    <label for="desc">Category Description*</label>
    <textarea class="form-control" name="desc" id="desc" cols="33" rows="5">{'desc'|post_form_val}</textarea>
  </div>

  <div class="form-group">
    <h5>Make Default Category</h5>
    <div class="radio">
      <label>
        <input type="radio" name="default" value="yes" id="default_0" />
          Yes</label>
      </label>
    </div>
    <div class="radio">
      <input name="default" type="radio" id="default_1" value="no" checked="checked" />
          No</label>
    </div>
  </div>

  <div class="form-group">
    <label for="cat_thumb">Category Thumb</label>
    <input type="file" name="cat_thumb" id="cat_thumb" />
  </div>

  <div class="form-group">
    <input class="btn btn-info" type="submit" name="add_cateogry" id="button" value="Add Category" onclick="return _cb.validate_category_form(add_category)" class="button"/>
  </div>
</form>


{/if}
{if $edit_category == "show"}
<form action="" method="post" enctype="multipart/form-data" name="edit_category" id="Edit Category">
  <input name="cid" value="{$cat_details.category_id}" type="hidden" />
  <input name="cur_name" value="{$cat_details.category_name}" type="hidden" />
  <table class="table table-striped table-bordered">
    <tr>
    <td class="td_body">&nbsp;</td>
    <td align="right" class="td_body">* are required fields</td>
    </tr>
    <tr>
    <td valign="top" class="td_body">Category Name*</td>
    <td class="td_body"><label>
    <input name="name" type="text" id="name" value="{$cat_details.category_name}" size="45" />
    </label></td>
    </tr>
    <tr>
    <td valign="top" class="td_body">Category Description*</td>
    <td class="td_body"><textarea name="desc" id="desc" cols="33" rows="5">{$cat_details.category_desc}</textarea></td>
    </tr>
    <tr>
    <td valign="top" class="td_body">Make Default Category</td>
    <td class="td_body"><p>
    <label>
    <input type="radio" name="default" value="yes" id="default_0" {if $cat_details.isdefault=='yes'} checked="checked"{/if} />
    Yes</label>
    <label>
    <input name="default" type="radio" id="default_1" value="no" {if $cat_details.isdefault=='no'} checked="checked"{/if} />
    No</label>
    <br />
    </p></td>
    </tr>
    <tr>
    <td class="td_body">Category Thumb</td>
    <td class="td_body"><label>
    <input type="file" name="cat_thumb" id="cat_thumb" />
    </label></td>
    </tr>
    <tr>
    <td colspan="2" align="right" class="tr_head"><label>
    <input type="submit" name="update_category" id="button" value="Update Category" onclick="return _cb.validate_category_form(edit_category)" class="button"/>
    </label></td>
    </tr>
  </table>
</form>
{/if}


<div style="margin:10px 0px 10px 0px">
<span class="page_title">Category List</span>
</div>

{if $total != 0}
<form name="category" action="?update_order" method="post">
<table class="table table-striped table-bordered">
  <tr>
    <td width="250" class="left_head" style="text-indent:10px">Category Name</td>
    <td width="50" align="left" class="head">Order</td>
    <td width="250" class="head">Description</td>
    <td width="100" class="head">Default</td>
    <td width="150" class="head">Action</td>
  </tr>
{assign var = bgcolor value = ""}
{section name=list loop=$category}
<script type="text/javascript">
  cat_div = "#thumbs_{$category[list].category_id}";
  {literal}
   $(function() { {/literal}
  	$("#thumbs_{$category[list].category_id}").tooltip({literal}{showURL: false,delay: 0});
  });
  {/literal}
</script>
  <tr class="item_listing">
    <td class="clearfix">
      {$category[list].category_name}
      <a href="javascript:void(0)" title="<img src='{$userquery->get_category_thumb($category[list])}' />" data-rel="tooltip" class="btn btn-xs gtn-primary pull-right" data-original-title="View Thumb">View Thumb</a>
    </td>
    <td>
      <input name="category_order_{$category[list].category_id}" type="text" id="order" style="border:1px solid #999; padding:2px; width:30px" value="{$category[list].category_order}" />
    </td>
    <td>
      {if $category[list].category_desc}{$category[list].category_desc}{else}<em>N/A</em>{/if}
    </td>
    <td>{$category[list].isdefault}</td>
    <td>
      <div class="dropdown">
        <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Actions<i class="icon-angle-down icon-on-right"></i></button>
        <ul class="dropdown-menu addCategoryActions" aria-labelledby="dropdownMenu1" role="menu">
          <li><a class="" href="?category={$category[list].category_id}">Edit</a></li>
          <li><a class="" href="javascript:_cb.Confirm_Delete('?delete_category={$category[list].category_id}')">Delete</a></li>
          {if $category[list].isdefault!="yes"}
          <li><a class="" href="?make_default={$category[list].category_id}">Make Default</a></li>
          {/if}
        </ul>
      </div>
    </td>
  </tr>
 
{/section}

</table>


<div class="form-group"><input class="btn btn-primary" type="submit" value="Update" name="update_order" class="button" style="margin-top:10px" /></div>
</form>
{else}
No Category Has Been Created Yet
{/if}


{literal}
<script>
  $(document).ready(function(){
    $('[data-rel=tooltip]').tooltip();
  });
</script>
{/literal}

