<div class="heading">
    <h2>User Levels</h2>
</div>
{if $view=='view'}
    <a class="btn btn-primary btn-sm pull-right" href="?mode=add">Add New Level <b>+</b></a>
    <br>
    <br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>{lang('active')}</th>
            <th>Users</th>
            <th>Actions</th>
        </tr>
        {section name=l loop=$levels}
            <tr>
                <td>{$levels[l].user_level_id}</td>
                <td>{$levels[l].user_level_name}</td>
                <td>
                    <input name="user_level_active" data-id="{$levels[l].user_level_id}" {if $levels[l].user_level_active == 'yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5 user_level_active"/>
                    <span class="lbl"></span>
                </td>
                <td>{$userquery->get_level_users($levels[l].user_level_id,true)}</td>
                <td>
                    <div class="dropdown align-center" >
                        <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            {lang('action')} <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" role="menu">
                            <li><a role="menuitem" tabindex="-1" href="?mode=edit&lid={$levels[l].user_level_id}">{lang code='edit'}</a></li>
                            {if  $levels[l].user_level_is_default !=yes}
                                <li><a class="delete pointer" data-id="{$levels[l].user_level_id}" data-confirm="{if $levels[l].has_users}1{else}0{/if}">{lang code='delete'}</a></li>
                            {/if}
                        </ul>
                    </div>
                </td>
            </tr>
            {sectionelse}
            <tr>
                <td>No Levels Were Found</td>
            </tr>
        {/section}
    </table>
{elseif $view=='edit' || $view=='add'}
    <form method="post">
        <h3>User Level Details</h3>
        <div class="form-group">
            <label for="level_name2">Level name</label>
            <input class="form-control" name="level_name" type="text" id="level_name2" value="{$level_details.user_level_name}"/>
        </div>
        <input type="hidden" name="user_level_id" value="{$level_details.user_level_id}">
        {assign var='types' value=$userquery->get_level_types()}
        {section name=t loop=$types}
            <h3>{$types[t].user_permission_type_name}</h3>
            {assign var=perms value=$userquery->get_permissions($types[t].user_permission_type_id)}
            <div class="row">
                {foreach from=$perms item=perm}
                    {if $perm.permission_id !=""}
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 myWell">
                                    <div class="col-md-8 paddingTop">
                                        <strong>{$perm.permission_name}</strong><br/>
                                        <small><em>{$perm.permission_desc}</em></small>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="{$perm.permission_code}" value="yes" id="{$perm.permission_id}_yes" {if $level_perms[{$perm.permission_code}]==yes}checked{/if} class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
                                        <span class="lbl"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {else}
                        <div>
                            <div class="col-md-6">
                                <em>No Permission Found</em>
                            </div>
                        </div>
                    {/if}
                    {foreachelse}
                    <div>
                        <div>
                            <em>No Permission Found</em>
                        </div>
                    </div>
                {/foreach}
                {if $types[t].user_permission_type_id == '4'}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 myWell">
                                <div class="col-md-8 paddingTop">
                                    <strong>{lang('enable_channel_page')}</strong><br/>
                                    <small><em>{lang('enable_channel_page_desc')}</em></small>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <input type="checkbox" name="enable_channel_page" value="yes" id="enable_channel_page_yes" {if $level_perms['enable_channel_page']==yes}checked{/if} class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 myWell">
                                <div class="col-md-7 paddingTop">
                                    <strong>{lang('default_homepage')}</strong><br/>
                                    <small><em>{lang('default_homepage_desc')}</em></small>
                                </div>
                                <div class="col-md-5 paddingTop">
                                    <select name="default_homepage" id="default_homepage">
                                        {foreach from=User::getInstance()->getDefaultHomepageList() item=page}
                                            <option value="{$page}" {if $page== $level_perms.default_homepage}selected="selected"{/if}>{lang($page)}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                {/if}
            </div>
        {/section}
        <input class="btn btn-primary btn-sm" type="submit"  id="button" value="{if $view == 'add'}{lang('add')}{elseif $view=='edit'}{lang('edit')}{/if}"/>
    </form>
{/if}

<script>
    $(function () {
        $('.delete').on('click', function () {
            if ($(this).data('confirm')) {
                if (confirm("{lang('confirm_delete_user_level')}")) {
                    document.location="?action=delete&lid=" + $(this).data('id');
                }
            } else {
                document.location="?action=delete&lid=" + $(this).data('id');
            }
        });

        $('.user_level_active').on('change', function () {
            var id = $(this).data('id');
            var checked = $(this).prop('checked');
            $.post({
                url: '/actions/admin_activate_user_level.php',
                data: {
                    user_level_id: id, active: checked
                },
                dataType: "json",
                success: response => {

                }
            })
        });
    });
</script>