@charset "utf-8";
/*
You are free to style the button however you wish. I plan to use
an icon from my site's own icon font to make it more visible. These
are just basic styles to make it look ok with plain text.
*/

/* Position the button */
.vjs-res-button {
	float: right;
	line-height: 2em;
	margin-right:13px !important;
}

/* Don't show hover effects on title */
ul li.vjs-menu-title.vjs-res-menu-title:hover {
	cursor: default;
	background-color: transparent;
	color: #CCC;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Switch to the exit icon when the player is in fullscreen */
.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
  content: url("exit_full.png");
}

/* Switch to the exit icon when the player is in fullscreen */
/*.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
  content: url("https://lh6.ggpht.com/fhPs5q2NM5zMd9GZ8fHyxfwI4za1PoxmPwtVuo4CIMSzfmDBPz7AOIzVjJHcAx0CzQfOQ70=w28") !important;
}*/

/* Needed to keep text visible in video.js 4.9 */
/*.vjs-res-button .vjs-control-text {
	width: auto;
	height: auto;
	clip: auto;
}*/
