.inlineblock{display: inline-block}
.inline{display:inline}
.block{display: block}
.display-none{display: none}

.relative {position: relative}
.absolute {position:  absolute}

.bottom{bottom:0px}
.top{top:0px}
.left{left:0px}
.right{right:0px}

.sidebar-nav{
    padding: 9px 0px;
    margin-left: -5px;
}

.row-fluid .span150, .span150{width: 150px}
.row-fluid .span200, .span200{width: 200px}
.row-fluid .span250, .span250{width: 150px}

.sidebar-nav li a{padding: 3px 0px}
.sidebar-nav li.nav-header{margin-left: -25px}

.sidebar-nav .nav-header{cursor: pointer}

.nav-sub-menu{padding: 0px}


/* V3 ClipBucket Custom icons */
.icon-stats {background-position: -0px -0px;}
.icon-globe {background-position: -24px -0px;}
.icon-keys  {background-position: -48px -0px;}
.icon-reply {background-position: -72px -0px;}
.icon-groups {background-position: -96px -0px;}
.icon-add-user {background-position: -120px -0px;}
.icon-remove-user {background-position: -144px -0px;}
.icon-gauges {background-position: -168px -0px;}
.icon-gauge {background-position: -192px -0px;}
.icon-graph {background-position: -216px -0px;}
.icon-pie-chart {background-position: -240px -0px;}
.icon-adjustment {background-position: -264px -0px;}
.icon-coins {background-position: -288px -0px;}
.icon-notes {background-position: -312px -0px;}
.icon-settings {background-position: -336px -0px;}
.icon-plugins {background-position: -360px -0px;}


.icon-v3 {
  background-image: url("../images/v3icons.png");
}


.icon-v3-white {
  background-image: url("../images/v3icons-white.png");
}

.left-column{ margin-top: 10px; position: relative; 
             width: 200px;margin-left: -100%;z-index:2; float: left}
.left-column .nav-list{ margin-left: 5px}

.content-container{margin-top: 10px; width: 100%; float: left;z-index:1;}
.content{margin-left: 220px; padding-right: 10px}

/* Side Bars */
.admin-sidebars{ width: 270px; padding: 10px; margin: 10px}
.sidebar{margin-bottom: 10px}
.sidebar-title{background-color: #aaa; padding: 4px}
.xadmin-sidebars .btn{width: auto; display: block; text-align: left; font-weight: bold}
.btn-sidebar{width: 245px !important}
.btn-sidebar-dragable{width: 200px !important}

.widget-btn-long{width: 223px  !important}
.admin-sidebars .dropdown-menu{min-width: 198px;}
.sidebar-desc{font-size: 11px; color: #3f4443; margin: 5px 0px}
.sidebar{display: none}
.widget-bar{margin:5px 0px}

.admin-widget-box{width: 300px; margin-right: 10px; float: left; height: 80px; margin-bottom: 10px; overflow: hidden;}
.admin-widget-box-icon{width: 50px; margin-right: 10px; float: left;cursor: move}
.admin-widget-box-inner{width: 240px; float: left}
.admin-widget-box-title{font-weight: bold; font-size: 15px; margin-bottom: 5px}

.drop-widget-area{background-color: #f9f9f9;
padding:5px; border:1px dashed #ccc}

.widgets-list{padding: 5px 0px;}

/* Header */
.header-top{height: 63px; background-color: #1b1b1b }
.header-top .logo{background-image: url(../images/header-top-bg.png); height: 62px; min-width: 388px;
 background-repeat: no-repeat; font-size: 28px; color: #fff; padding-left:90px; line-height: 58px}

@media screen and (-webkit-min-device-pixel-ratio:0){
    .header-top .logo-text{
        background: url(../images/logo-text.png);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; background-position: 0px 17px
    }
}

.header-bottom{background-color: #363636}
.header-bottom ul{margin: 0px; padding: 0px;}
.header-bottom ul li{float: left; display: inline-block; border-right: 1px solid #222;
border-left: 1px solid #4b4b4b; padding: 5px 10px; color: #fff; font-size: 11px; font-weight: bold}

footer{background-color:#161616; padding: 0px 0px}
footer ul{padding: 0px; margin: 0px;}
footer ul li{padding: 0px; margin: 0px; list-style: none;border-right: 1px solid #2c2c2c;
border-left: 1px solid #060606; padding: 15px 20px; float: left; height: 30px; color:#fff; vertical-align: middle; }
footer ul li.version{font-size: 13px; margin-top: 5px; border-right: none}
footer ul li.links{ width: 270px; border-right: none}
footer ul li span{float: left; width: 120px; margin-right: 10px; font-size: 11px}
footer ul li.team{font-size:11px; text-align: center; border-left: none}


/* Forms */
.form-basic{margin-top: 15px}
.form-basic label{font-size: 12px; color: #666; font-weight: bold}

/* Data rows */
.data-row{ border-bottom:1px solid #e5e5e5; border-top:1px solid #fff; padding: 10px 0px  }
.data-row:first-child{border-top:0px;}
.data-row:last-child{border-bottom: 0px}
.data-row > ul{padding: 0px; margin: 0px}
.data-row > ul > li{padding: 0px; margin: 0px; list-style: none; float: left; padding-right: 10px;
font-weight: bold; font-size: 12px; color: #626262}
.data-row > ul > li.index{width: 35px;}
.data-row > ul > li.option{width: 40px}
.data-row > ul > li.text{width: 250px}
.data-row > ul > li.action{width:70px; float: right; padding-right: 0px}
.data-row input{margin-bottom: 0px; padding: 0px 4px}

.well-compact{padding: 10px}

.loading_pointer{ vertical-align: middle; display: none}