.inlineblock{display: inline-block}
.inline{display:inline}
.block{display: block}
.display-none{display: none}

.relative {position: relative}
.absolute {position:  absolute}

.bottom{bottom:0px}
.top{top:0px}
.left{left:0px}
.right{right:0px}

.sidebar-nav{
    padding: 9px 0px;
}

.row-fluid .span150, .span150{width: 150px}
.row-fluid .span200, .span200{width: 200px}
.row-fluid .span250, .span250{width: 150px}

.sidebar-nav li a{padding: 3px 0px}
.sidebar-nav li.nav-header{margin-left: -25px}

.sidebar-nav .nav-header{cursor: pointer}

.nav-sub-menu{padding: 0px}


/* V3 ClipBucket Custom icons */
.icon-stats {background-position: -0px -0px;}
.icon-globe {background-position: -24px -0px;}
.icon-keys  {background-position: -48px -0px;}
.icon-reply {background-position: -72px -0px;}
.icon-groups {background-position: -96px -0px;}
.icon-add-user {background-position: -120px -0px;}
.icon-remove-user {background-position: -144px -0px;}
.icon-gauges {background-position: -168px -0px;}
.icon-gauge {background-position: -192px -0px;}
.icon-graph {background-position: -216px -0px;}
.icon-pie-chart {background-position: -240px -0px;}
.icon-adjustment {background-position: -264px -0px;}
.icon-coins {background-position: -288px -0px;}
.icon-notes {background-position: -312px -0px;}
.icon-settings {background-position: -336px -0px;}
.icon-plugins {background-position: -360px -0px;}

.icon-v3 {
  background-image: url("../images/v3icons.png");
}
.icon-v3-white {
  background-image: url("../images/v3icons-white.png");
}



/* Side Bars */
.admin-sidebars{ width: 270px; padding: 10px; margin: 10px}
.sidebar{margin-bottom: 10px}
.sidebar-title{background-color: #aaa; padding: 4px}
.xadmin-sidebars .btn{width: auto; display: block; text-align: left; font-weight: bold}
.btn-sidebar{width: 245px !important}
.btn-sidebar-dragable{width: 200px !important}

.widget-btn-long{width: 223px  !important}
.admin-sidebars .dropdown-menu{min-width: 198px;}
.sidebar-desc{font-size: 11px; color: #3f4443; margin: 5px 0px}
.sidebar{display: none}
.widget-bar{margin:5px 0px}

.admin-widget-box{width: 300px; margin-right: 10px; float: left; height: 80px; margin-bottom: 10px; overflow: hidden;}
.admin-widget-box-icon{width: 50px; margin-right: 10px; float: left;cursor: move}
.admin-widget-box-inner{width: 240px; float: left}
.admin-widget-box-title{font-weight: bold; font-size: 15px; margin-bottom: 5px}

.drop-widget-area{background-color: #f9f9f9;
padding:5px; border:1px dashed #ccc}

.widgets-list{padding: 5px 0px;}