<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-10 col-sm-6 col-xs-4">
        <div class="cb-box ">
          <h2>{lang code='usr_activation_title'}</h2>
          <hr align="center" width="100%" size="1" noshade="noshade" />
          <div style="margin-bottom:10px;font-size:12.5px;" class="label label-info">{lang code='acitvation_html_message'}</div>
          <br><br>
          <form action="" method="post" name="Actvation Code" id="Actvation Code" class="cbform">
          <label for="av_username" class="">{lang code='username'}</label>
            <input type="text" name="av_username" id="av_username" class="form-control"/><br />
            <div class="clearfix"></div>
            <label for="avcode" class="">{lang code='usr_activation_code_tl'}</label>
            <input type="text" name="avcode" id="avcode" class="form-control"/>
            <div class="clearfix"></div>
            <br>
            <input type="submit" name="activate_user" class="btn btn-primary" value="{lang code='activate'}" />
        </form>
        </div>
        
        <div class="cb-box " style="margin-top:2%">
          <h2>{lang code='usr_actiavation_msg1'}</h2>
          <hr align="center" width="100%" size="1" noshade="noshade" />
          <div style="margin-bottom:10px;font-size:12.5px;" class="label label-info">{lang code='acitvation_html_message2'}</div>
          <form action="" method="post" name="Actvation Code" id="Actvation Code" class="cbform">
            <label for="av_email"  class="label">{lang code='email'}</label>
            <input type="text" name="av_email" id="av_email" class="form-control" /><br />
            <div class="clearfix"></div>
            <input name="request_avcode" type="submit" class="btn btn-primary" id="request_avcode" value="{lang code='request'}" />
          </form>
        </div>
      </div>
  </div>
</div>
