{$myAccountLinks = $userquery->my_account_links()}
<div class="container marginBottom">
   
    <div class="cb-box">
    	<div class="row">
	        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs">
	            {include file="$style_dir/blocks/manage/userMenuLeft.html"}
	        </div>
	        <div class="mainContent col-lg-9 col-md-9 col-sm-9 col-xs-12 table-responsive">
	        	<table class="table request-managers table-striped">
	        		<tbody>
	        		{include file="$style_dir/blocks/manage/user_contacts.html"}	
	        		</tbody>
	        		
	        	</table>
	        </div>
		</div>
    </div>
</div>

