{$myAccountLinks = $userquery->my_account_links()}
<div class="container marginBottom">
    <div id="simple_search" class="cb-box marginBottom">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            {AD place=ad_468x60}
                <div class="heading">{$search_type_title}</div>
                <hr>
                {if $results}
                {foreach item=result from=$results}
                {assign var=$template_var value =$result}
                {include file="$display_template" }
                {/foreach}
                {else}
                {lang code='no_results_found'}
                {/if}
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 pull-right">
               {AD place=ad_160x600}
            </div>
        </div>

        <div>
            <div style="height:10px"></div>
            <div class="clearfix"></div>
        </div>
        {include file="$style_dir/blocks/pagination.html"}
    </div>

</div>

<script>
    $(document).ready(function(){
        $("#cbsearchtype a").on({
            click: function(e){
            e.preventDefault();
            var searchtype = $("#SearchType").val();
            var buttonText = $(this).text().toLowerCase();
            if($("#SearchType option[value='"+ buttonText +"']").length > 0){
                $("#SearchType option:selected").removeAttr("selected");
                $("#SearchType option[value='"+ buttonText +"']").attr("selected" , "selected");
                $(this).parents("ul").find(".active").removeClass("active");
                $(this).parent().addClass("active");
            }
        }
        });
    });
</script>
