{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}

{lang code='channel' assign='object_type'}

<div id="container" class="container">
  {*include file="$style_dir/blocks/manage/account_menu.html"*}
  <div class="row cb-box">
    {include file="$style_dir/blocks/view_channel/channel_header.html" }
    <div class="row">
      <div class="col-md-8 col-sm-8  col-xs-12 view_chnl">
        <div id="cb_player">
            {FlashPlayer vdetails=$firstVideo width='100%' height='355'}
        </div>
        <hr class="hr">
        {if $videos}
        <div class="row">
          {foreach from=$videos item=video}
              {include file="$style_dir/blocks/videos/video.html"  display_type='user_videos'}
          {/foreach}
        </div>
        <div align="center">{include file="$style_dir/blocks/pagination.html"}</div>
        {/if}
      </div>
      <div class="col-md-4 col-sm-4  hidden-xs">
        {include file="$style_dir/blocks/view_channel/channel_right.html" }
      </div>
    </div>
  </div>
</div>
<div class="clearfix bottom-hieght" ></div>
<script>
$('#changeCover').on("click", function(){

$('#cover_info').show();

});




(function(window){
  $(document).ready(function(){
    var extensions = "{$extensions}";
    var baseurl = '{$baseurl}';
    var channelId = "{$user['userid']}";
    extensions = (extensions.substring(0, extensions.length - 1)) + ",png,jpeg";
    $.get("{$theme}/js/plupload/js/plupload.full.min.js", function(e){
      var uploader = new plupload.Uploader({
          browse_button: 'changeCover',
          runtimes : 'html5,flash,silverlight,html4',
          url : baseurl + "/edit_account.php?mode=avatar_bg",
          file_data_name : "coverPhoto",
          filters: {
            mime_types : [
              { title : "Image files", extensions : extensions },
            ],
            max_file_size: "2mb",
            prevent_duplicates: false,
          }
      });
      window.uploader = uploader;
      uploader.init();
      uploader.bind("FilesAdded", function(up, uploadedFiles){
        $("#coverConainer").css("background", "url({$baseurl}/images/loading.png) center #000000");
        up.start();
      });
      uploader.bind('UploadComplete', function(plupload, files, response){
        
      });

      uploader.bind("FileUploaded", function(plupload, files, response){
        var response = $.parseJSON(response.response);
        if(response.status == true){
          $("#coverConainer").css("background", "url(" + response.url + ") center #000000 no-repeat");
        }else{
          $("#coverConainer").css("background", "url(" + response.url + ") center #000000 no-repeat");
          alert(response.msg);
        }
      });

      uploader.bind("Error", function(plupload, error){
        alert(error.message);
      });
    });
    $("#coverConainer").hover(function(e){
      $("#changeCover").removeClass("sr-only");
    }, function(e){
      $("#changeCover").addClass("sr-only");
    });
    $("#channelVoteUp, #channelVoteDown").one({
      click: function(e){
        var vote = "";
        var id = "" + this.id;
        var likes = parseInt($("#likes").text());
        var totalVotes = parseInt($("#totalVotes").text()) + 1;
        if(this.id == "channelVoteDown"){
          vote  = "no";
           likes = likes - 1;

        }else{
          vote = "yes";
          likes = likes + 1;
        }
        $.ajax({
          type: "POST",
          url: "{$baseurl}/actions/vote_channel.php",
          data: { vote: vote, channelId : channelId}
        }).success(function(data){
          $("#likes").text(likes);
          $("#totalVotes").text(totalVotes);
        });
      }
    })
  });
})(window);

$(document).ready(function (){
           var id ='{$user.userid}';
           $('#subscribe_channel').on({
            click: function(e){
                e.preventDefault();
               _cb.subscribeToChannel(id,'subscribe_user','video_detail_result_cont');
               
             }
           });
            
           });



</script>
