<div class="data-row category-{$category.category_id}" id="category-{$category.category_id}">
    <ul>
        <li class="index"><input type="checkbox" /></li>
        <li class="index">{$category.category_id}</li>
        <li class="option"><input type="text" style="width: 20px" value="{$category.category_order}" onchange="update_order('{$category.category_id}',$(this).val(),'category','{$type}')"/></li>
        {$category_id = $category.category_id}
        <li class="text">{$prefix}{$category.category_name} {loading_pointer place="category-$category_id"}</li>
        <li class="action">
            <div class="btn-group">
                <button class="btn btn-mini">Options</button>
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" onclick="edit_category('{$category.category_id}','{$type}')">Edit</a>
                <li><a href="javascript:void(0)" onclick="make_default('{$category.category_id}','{$category.category_name}','{$type}')">Make Default</a></li>
                <li class="divider"></li>
                {$cat_del_msg="You are about to delete <strong>$category.category_name</strong>, All items under this category will be moved to Default Category "}
                <li><a onclick="cb_confirm('Confirm Delete','{$cat_del_msg}',function(){
                    delete_category('{$category.category_id}','{$type}');
                })">
                        <i class="icon-trash "></i> Delete Category</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>

</div>