<!-- Ad new profile modal box -->
    {$pid = $profile.profile_id}
    <div class="modal hide fade" id="profile-form{$profile.profile_id}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{if $profile.name}Edit : {$profile.name}{else}{lang code='Add video profile'}{/if}</h3>
        </div>
        <div class="modal-body">
            
           
            <div class="alert display-none" id="video-profile-alert{$pid}"></div>
            
            
            <form class="form form-horizontal" id="video-profile-form{$profile.profile_id}" enctype="multipart/form-data" method="post">
                
                <div class="control-group">
                    <label class="control-label" for="name{$pid}">Profile Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="name{$pid}" name="name"
                                placeholder="{lang code='Enter profile name'}" value="{$profile.name}">
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="format{$pid}">Format</label>
                    <div class="controls">
                        
                        <select class="input-xlarge" id="format{$pid}" name="format">
                            {foreach $formats as $format}
                                <option value="{$format}" {if $profile.format==$format} selected{/if}>{$format|capitalize}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="ext{$pid}">Extension</label>
                    <div class="controls">
                        <select class="input-xlarge" id="ext{$pid}" name="ext">
                            
                            {foreach $formats as $format}
                                <option value="{$format}" {if $profile.ext==$format} selected{/if}>.{$format}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                
                
                
                <div class="control-group">
                    <label class="control-label" for="suffix{$pid}">File suffix</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="suffix{$pid}" name="suffix"
                               placeholder="{lang code='somethinge like -720-flv'}" value="{$profile.suffix}">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="width">Width x Height</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="width{$pid}" name="width"
                        placeholder="" value="{$profile.width}" >
                        x
                        <input type="text" class="input-small" id="height{$pid}" name="height"
                        placeholder="" value="{$profile.height}">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="format{$pid}">Verify dimension</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="verify_dimension" id="verify_dimension_yes{$pid}" value="yes" 
                                   {if $profile.verify_dimension!='no'}checked="checked"{/if}>
                            Yes
                        </label>
                        
                        <label class="radio">
                            <input type="radio" name="verify_dimension" id="verify_dimension_no{$pid}" value="no"
                                   {if $profile.verify_dimension=='no'}checked="checked"{/if}>
                            No
                        </label>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="video_codec{$pid}">Video codec</label>
                    <div class="controls">
                        <select class="input-xlarge" id="video_codec" name="video_codec{$pid}">
                            
                            {foreach $vcodecs as $value => $codec}
                                <option value="{$value}" {if $profile.video_codec}selected="selected"{/if}>{$codec}</option>
                            {/foreach}
                           
                        </select>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="audio_codec{$pid}">Audio codec</label>
                    <div class="controls">
                        <select class="input-xlarge" id="audio_codec" name="audio_codec{$pid}">
                            {foreach $acodecs as $value => $codec}
                                <option value="{$value}" {if $profile.audio_codec}selected="selected"{/if}>{$codec}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="video_bitrate{$pid}">Video bitrate</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="video_bitrate{$pid}" name="video_bitrate"
                                placeholder="" value="{$profile.video_bitrate}">
                        <p class="help-block">max 640,000 </p>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="audio_bitrate{$pid}">Audio bitrate</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="audio_bitrate{$pid}" name="audio_bitrate"
                                placeholder=""  value="{$profile.audio_bitrate}">
                        <p class="help-block">max 396,000</p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="video_rate{$pid}">Video Frame Rate</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="video_rate{$pid}" name="video_rate"
                               placeholder="" value="{$profile.video_rate}">
                        <p class="help-block">max 30</p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="audio_rate{$pid}">Audio Rate</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="audio_rate{$pid}" name="audio_rate"
                                placeholder="" value="{$profile.audio_rate}">
                        <p class="help-block">can be 22050,44100,48000</p>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="resize{$pid}">Resize</label>
                    <div class="controls">
                        <select class="input-xlarge" id="resize{$pid}" name="resize">
                            {foreach $resizes as $value => $name}
                            <option value="{$value}" {if $profile.resize==$value}selected="selected"{/if}>{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="preset{$pid}">Preset</label>
                    <div class="controls">
                        <select class="input-xlarge" id="preset{$pid}" name="preset">
                            {foreach $presets as $value => $name}
                            <option value="{$value}" {if $profile.preset==$value}selected="selected"{/if}>{$name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="2pass{$pid}">2-Pass Encoding</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="2pass" id="2pass_yes{$pid}" value="yes" 
                                   {if $profile.2pass!='no'}checked="checked"{/if}>
                            Yes
                        </label>
                        
                        <label class="radio">
                            <input type="radio" name="2pass" id="2pass_no{$pid}" value="no"
                                   {if $profile.2pass=='no'}checked="checked"{/if}>
                            No
                        </label>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label class="control-label" for="apply_watermark{$pid}">Apply Watermark</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="apply_watermark" id="apply_watermark_yes{$pid}" value="yes" 
                                   {if $profile.apply_watermark!='no'}checked="checked"{/if}>
                            Yes
                        </label>
                        
                        <label class="radio">
                            <input type="radio" name="apply_watermark" id="apply_watermark_no{$pid}" value="no"
                                   {if $profile.apply_watermark=='no'}checked="checked"{/if}>
                            No
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="watermark_file{$pid}">Watermark file</label>
                    <div class="controls">
                        <input type="file" name="watermark_file" id="watermark_file{$pid}">
                        <p class="help-block">please upload png files only</p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="ffmpeg_cmd{$pid}">Ffmpeg Command</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="ffmpeg_cmd{$pid}" name="ffmpeg_cmd"
                               placeholder="" value="{$profile.ffmpeg_cmd}">
                    </div>
                </div>
                
                <input type="hidden" name="profile_id" value="{$profile.profile_id}" id="profile_id{$pid}" />
                <input type="hidden" name="updated_profile" value="{$profile.profile_id}" id="updated_profile{$pid}" />

            </form>
            
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn" data-dismiss="modal">{lang code='Close'}</a>
            
            {if !$profile}
            <a href="javascript:void(0)" onclick="add_video_profile()" id="video-profile-bttn" class="btn btn-primary" data-loading-text="creating...">{lang code='Create'}</a>
            {else}
                <a href="javascript:void(0)" onclick="update_video_profile('{$pid}')" id="video-profile-bttn{$pid}" class="btn btn-primary" data-loading-text="updating...">{lang code='Update'}</a>
            {/if}
        </div>
    </div>