{* Including Global Header *}
{include file="$style_dir/global_header.html"}
<body>
{include_header file="admin_bar"}
<!-- Including Commong header -->
<div class="container_container">
	{include file="$style_dir/header.html" }
    <div id="container" class="container clearfix" >
        
        <div class="nav_shadow"></div>
        <div id="content" style="">
        
        {ANCHOR place='global'}
        
        <!-- Message -->
        {include file="$style_dir/message.html"}
            {foreach from=$template_files item=file}
            {if template_file_exists($file,$style_dir)}
                {include file="$style_dir/$file" }
                    {else}
                        <div class="error" align="center">Unable to load template file "{$file}"</div>
            {/if}
            {/foreach}
        </div> <!--CONTENT END-->
        <div class="clear"></div>

        <div id="footer">
            <div class="changer">
           
			    {if config("allow_language_change")}
                <form action="" method="post" name="change_lang">
                    {$cbobjects->display_languages()}              
                </form>
                {/if}       
                <div class="ch_left"></div>        	
                <div class="ch_right"></div>
            </div> <!--CHANGER END-->
            <div class="ch_shadow"></div>
            <!--FOOTER CLASS END-->
            {include file="$style_dir/footer.html"}
        </div> <!--FOOTER ID END-->
    </div>
</div>
</body>
</html>