<div style="margin:auto; width:98%"><h2>Contact Us</h2>
<p> Suspendisse potenti. Maecenas gravida pulvinar ultrices. Donec ut leo  vel odio aliquet sodales. Nullam quis lectus lectus, ut bibendum nibh.  Donec gravida ullamcorper ultricies. Pellentesque ut lorem eget felis  sodales accumsan ut sagittis nisi. Proin ornare pellentesque enim, ut  imperdiet massa vestibulum in. Vivamus magna metus, luctus in ultricies  ac, congue vel nisl. In lobortis interdum metus eu ultricies. Nam ac  nisi id dui vulputate consequat ut ut tellus. Sed auctor ante vitae  eros rutrum faucibus. Ut eget velit tellus. Maecenas malesuada diam vel  elit lobortis id ultrices massa semper. </p>
<p>Please fill in the form below in order to contact us.</p>
<form id="form1" name="form1" method="post" action="" class="contact_form">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" />
  <div style="height:10px;"></div>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
  <div style="height:10px;"></div>
  <label for="reason">Reason</label>
  <input type="text" name="reason" id="reason" />
  <div style="height:10px;"></div>
  <label for="message">Message</label>
  <textarea name="message" id="message" cols="45" rows="5"></textarea>
  <div style="height:10px;"></div>
  <label for="button">&nbsp;</label>
  <input type="submit" name="contact" id="button" value="Contact Us" class="button" />
</form>
<p>&nbsp;</p>
</div>