<div>
 {include file="$style_dir/blocks/manage/account_left.html"}
 
 <div class="account_box">
 {include file="$style_dir/blocks/manage/account_head.html" user=$user}
 
{if $mode=='profile_settings'}

<span class="accntSettingHead" id="accntSettingHead" onclick="$('#accountSettings').toggle(); 
	$(this).toggleClass('accntSettingHeadarrowup')">{lang code='account_settings'}</span>
<form method="post" class="accountForm">
<div id="accountSettings" style="display:none">
<!--- CHANGING USER ACCOUNT AND PROFILE -->


{assign var="signup_fields"  value=$userquery->load_signup_fields($user)}
{assign var="cust_signup_fields"  value=$userquery->load_custom_signup_fields($user,false,true)}

<fieldset>
<legend>{lang code='account_details'}</legend>
<div class="account_field_block clearfix">
<div class="account_field_label" align="right"><strong><label for="country">{lang code='country'}</label></strong></div>
<div class="account_field"><select name="country" id="country">
        	{assign var='countries' value=$Cbucket->get_countries(iso2)}
            {foreach from=$countries item=country key=code}
            	<option value="{$code}" {if $user.country==$code} selected="selected"{/if}>{$country}</option>
            {/foreach}
        </select></div>
<div class="clearfix"></div>
</div>


<div class="account_field_block clearfix">
<div class="account_field_label" align="right"><strong><label for="country">{lang code='gender'}</label></strong></div>
<div class="account_field"><label>
          <input type="radio" name="sex" value="male" id="sex_0" {if $user.sex == male} checked="checked"{/if} />
          {lang code='male'}</label>
        
        <label>
          <input type="radio" name="sex" value="female" id="sex_1" {if $user.sex == female} checked="checked"{/if}/>
          {lang code='female'}</label></div>
<div class="clearfix"></div>
</div>

<div class="account_field_block clearfix">
<div class="account_field_label" align="right"><strong><label for="category">{lang code='account_details'}</label></strong></div>
<div class="account_field">{ANCHOR place=$signup_fields.cat.anchor_before}{$formObj->createField($signup_fields.cat)}{ANCHOR place=$signup_fields.cat.anchor_after}</div>
<div class="clearfix"></div>
</div>

<div class="account_field_block clearfix">
<div class="account_field_label" align="right"><strong><label for="dob">{lang code='user_date_of_birth'}</label></strong></div>
<div class="account_field">{ANCHOR place=$signup_fields.dob.anchor_before}{$formObj->createField($signup_fields.dob)}{ANCHOR place=$signup_fields.dob.anchor_after}</div>
<div class="clearfix"></div>
</div>

{if $cust_signup_fields}
{foreach from=$cust_signup_fields item=field}
<div class="account_field_block clearfix">
<div class="account_field_label" align="right"><strong><label for="{$field.id}">{$field.title}</label></strong></div>
<div class="account_field">{if $field.hint_1}{$field.hint_1}<br />{/if}
{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}
<br>
{$field.hint_2}</div>
<div class="clearfix"></div>
</div>

{/foreach}
{/if}

</fieldset>
</div>

<span class="accntSettingHead"   id="accntProfileSettingHead"  onclick="$('#accntProfileSettings').toggle(); 
	$(this).toggleClass('accntSettingHeadarrowup')" >{lang code='channel_profile_settings'}</span>

	{assign var='channel_profile_fields' value=$userquery->load_user_fields($p)}
    
   <div id="accntProfileSettings" style="display:none"> {foreach from=$channel_profile_fields item=field_group}
     <fieldset>
     	<legend>{$field_group.group_name}</legend>
     	{foreach from=$field_group.fields item=field}
        <div class="account_field_block clearfix">
        <div class="account_field_label" align="right"><strong><label for="{$field.id}">{$field.title}</label></strong></div>
        <div class="account_field">{if $field.hint_1}{$field.hint_1}<br />{/if}
        {ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}
        <br>
        {$field.hint_2}</div>
        <div class="clearfix"></div>
        </div>
        
        {/foreach}
     </fieldset>    
    {/foreach}</div>

<div align="right" style="padding-right:10px">
<button name="update_profile" id="button" value="submit" class="cb_button">{lang code='update'}</button></div>

</form>


</div>

<script>
	$(document).ready(function()
	{ldelim}
		{if $on=='account'}
			$('#accountSettings').toggle(); 
			$('#accntSettingHead').toggleClass('accntSettingHeadarrowup')
		{else}
			$('#accntProfileSettings').toggle(); 
			$('#accntProfileSettingHead').toggleClass('accntSettingHeadarrowup')
		{/if}
	{rdelim}
	);
</script>
{/if}

<!--- CHANGING USER AVATAR AND BG -->

{if $mode == 'avatar_bg'}
<div class="account_form avatar_bg">
<form method="post" enctype="multipart/form-data" name="edit_profile">

<fieldset class="fieldset">
<legend>{lang code='user_user_avatar'}</legend>
<div style="height:15px;"></div>
<div style="float:left; width:200px;" align="center">
<img src="{$userquery->getUserThumb($user)}" class="mid_user_thumb" style="max-width:95px"/>
</div>


<div style="width:300px; display:block; float:left">

<strong>{lang code='user_user_avatar'}</strong><br />
  {lang code='please_select_img_file'}<br />
  <label for="avatar_file"></label>
  <input type="file" name="avatar_file" id="avatar_file"  />
  {lang code='or'}<br />
  
  <label for="avatar_url">{lang code='pelase_enter_image_url'}
  <input name="avatar_url" type="text" id="avatar_url" value="{$user.avatar_url}" />
  <br />
  <input name="delete_avatar" type="checkbox" id="delete_avatar" value="yes" />
  <label for="delete_avatar" style="display:inline">{lang code='delete_this_img'} - (if user has uploaded profile pic)</label>
  <input type="hidden" name="avatar_file_name" value="{$user.avatar}" /> 
</div> 
  
</fieldset>
<fieldset class="fieldset">
<legend>{lang code='user_bg'}</legend>
<div style="height:15px;"></div>
<div style="float:left; width:200px;" align="center">
{if $userquery->getUserBg($user)}<img src="{$userquery->getUserBg($user)}" style="max-width:95px"/>{else}<em><strong>No Bg</strong></em>{/if}
</div>
<div style="width:300px; display:block; float:left">
<strong>{lang code='user_bg_img'}
  </strong><br />
  {lang code='please_select_img_file'}
  <br />
  <input type="file" name="background_file" id="background_file" />
  {lang code='or'}


  <label for="background_url">{lang code='pelase_enter_image_url'}<br /></label>
<input name="background_url" type="text" id="background_url" value="{$user.background_url}" />

{lang code='or'}
<label for="background_color">{lang code='please_enter_bg_color'}</label>
<input name="background_color" type="text" id="background_color" value="{$user.background_color}" />
<input type="hidden" name="bg_file_name" value="{$user.background}" />


<label for="background_repeat">{lang code='bg_repeat_type'}</label>
<select name="background_repeat" id="background_repeat" >
<option value="repeat" {if $user.background_repeat=='repeat'} selected="selected"{/if}>repeat</option>
<option value="repeat-x" {if $user.background_repeat=='repeat-x'} selected="selected"{/if}>repeat-x</option>
<option value="repeat-y" {if $user.background_repeat=='repeat-y'} selected="selected"{/if}>repeat-y</option>
<option value="no-repeat" {if $user.background_repeat=='no-repeat'} selected="selected"{/if}>no-repeat</option>
</select>
<br />

<input type="checkbox" {if $user.background_attachement=='yes'} checked="checked"{/if} value="yes" name="background_attachement" id="background_attachement" />
<label for="background_attachement" style="display:inline">{lang code='fix_bg'}</label>
{if $userquery->getUserBg($user)}<input name="delete_bg" type="checkbox" id="delete_bg" value="yes" /><label for="delete_bg" style="display:inline">{lang code='delete_this_img'}</label>{/if}
</div>

<div class="clearfix"></div>
</fieldset>
<div align="right" style="padding-right:10px"><button name="update_avatar_bg" id="button" value="submit" class="cb_button">{lang code='update'}</button></div>

</form>
</div>

</div>
<div class="clearfix"></div>

{/if}
<!--- END CHANGING USER AVATAR AND BG -->



{if $mode == 'change_email'}

<!--- CHANGING USER EMAIL -->
<div class="account_form">
<form method="post" name="edit_profile">
<fieldset class="fieldset">
<legend>{lang code='user_change_email'}</legend>


<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="curemail">{lang code='current_email'}</label></strong></div>
<div class="account_field"><input type="text" disabled value="{$user.email}" id="curemail" style="margin-bottom:10px"></div>
<div class="clearfix"></div>
</div>


<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="new_email">{lang code='user_new_email'}</label></strong></div>
<div class="account_field"><input type="text" name="new_email" id="new_email" style="margin-bottom:10px"></div>
<div class="clearfix"></div>
</div>

<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="cnew_email">{lang code='confirm_new_email'}</label></strong></div>
<div class="account_field"><input type="text" name="cnew_email" id="cnew_email" style="margin-bottom:10px"></div>
<div class="clearfix"></div>
</div>
<div align="right"><button name="change_email" id="button" value="submit" class="cb_button">{lang code='user_change_email'}</button></div>



</fieldset>
</form>
</div>

<!-- END CHANGIN USER EMAIL -->
{/if}




{if $mode == 'change_password'}

<!-- CHANGING USER PASSWORD -->
<div class="account_form">
<form method="post" name="edit_profile">
<fieldset class="fieldset">
<legend>{lang code='user_change_pass'}</legend>


<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='user_old_pass'}</label></strong></div>
<div class="account_field"><input name="old_pass" type="password" id="old_pass" style="margin-bottom:10px"></div>
<div class="clearfix"></div>
</div>


<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="new_pass">{lang code='user_new_pass'}</label></strong></div>
<div class="account_field"><input name="new_pass" type="password" id="new_pass" style="margin-bottom:10px"/></div>
<div class="clearfix"></div>
</div>

<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="c_new_pass">{lang code='user_c_new_pass'}</label></strong></div>
<div class="account_field"><input name="c_new_pass" type="password" id="c_new_pass"  style="margin-bottom:10px" /></div>
<div class="clearfix"></div>
</div>
<div align="right"><button name="change_password" id="button" value="submit" class="cb_button_2">{lang code='user_change_pass'}</button></div>



</fieldset>
</form>
</div>
<!-- END CHANGING USER PASSWORD -->
{/if}

{if $mode == 'block_users'}
<!-- Banning Users -->
<div class="account_form">
<form method="post" name="ban_users">
<fieldset class="fieldset">
<legend>{lang code='block_users'}</legend>
<div class="account_field_block">
<div class="account_field_label" align="right"><strong><label for="users">{lang code='block_users'}</label></strong></div>
<div class="account_field">
  <textarea name="users" id="users" style="margin-bottom:10px">{$user.banned_users}</textarea>
  <br />
{lang code='spe_users_by_comma'}</div>
<div class="clearfix"></div>
</div>

<div align="right"><button name="block_users" id="button" value="submit" class="cb_button_2">{lang code='update_blocked_user_list'}</button></div>

</fieldset>
</form>
</div>
<!-- Banning Users End-->
{/if}


{if $mode=='subs'}
<h2>{lang code='com_manage_subs'}</h2>


 {if $subs}
 	
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="manage_contacts_tbl_head">
      <tr>
        <td width="15"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
        <td width="50">&nbsp;</td>
        <td>Username</td>
        <td width="100">views</td>
        <td width="50">&nbsp;</td>
      </tr>
    </table>
    
   {foreach from=$subs item=sub}
   <div class="manage_contacts_tbl">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15"><input type="checkbox" name="sub[]" id="check_userd-{$user_detail.userid}" value="{$sub.subscribed_to}" /></td>
        <td width="50" height="50" align="center" valign="middle"><a href="{$userquery->profile_link($sub)}"><img src="{$userquery->getUserThumb($sub)}" alt="{$sub.username}" width="40" height="40" border="0"></a></td>
        <td><a href="{$userquery->profile_link($sub)}">{$sub.username}</a> | <a href="{$userquery->get_user_videos_link($sub)}">{lang code='grp_view_vdos'}</a></td>
        <td width="100">{$sub.profile_hits|number_format}</td>

        <td width="50" align="center" valign="middle"><a href="?mode=subscriptions&delete_subs={$sub.subscribed_to}"><img src="{$imageurl}/cancel.png" width="16" height="16" border="0" /></a></td>
      </tr>
    </table>
    </div>
   {/foreach}
{else}
<div><em><strong>{lang code='no_subs_found'}</strong></em></div>
 {/if}





{/if}
</div>
