<script language="javascript">
SetId('Featured');
</script>


<div class="content_con clearfix">
	 <!--FEATURE_CON--> 
    {if is_installed('editorspick')}
    <div class="feature_con clearfix">
    	<div class="feature_left" id="ep_video_container">
        	{section name=e_list loop=$editor_picks max=1}
            	{include file="$style_dir/blocks/editor_pick/video_block.html" video=$editor_picks[e_list]}
            {/section}
        </div>
        <div class="feature_right">
        	{section name=e_list loop=$editor_picks}
            	{include file="$style_dir/blocks/editor_pick/index_featured_video.html" video=$editor_picks[e_list]}
            {/section}
        </div>
    </div>
    <div class="feature_shadow" ></div>
    <!--FEATURE_CON END-->
    {/if}
    
    <div class="ad">468X60 AD</div>
    
    <div class="tabs">
        <ul>
            <li class="selected"><a href="javascript:void(0)" id="watched" onclick="get_video('recent_viewed_vids','#index_vid_container')">Being Watched</a></li>
            <li><a href="javascript:void(0)" id="most_watched" onclick="get_video('most_viewed','#index_vid_container')">Most Watched</a></li>
            <li><a href="javascript:void(0)" id="recently_watched" onclick="get_video('recently_added','#index_vid_container')">Recently Added</a></li>
       </ul>    	
    </div> <!--TABS END-->
    <div class="main_vids clearfix">
    	<div id="style_change">Change Style of Listing 
        	<div id="grid" title="Change To Grid Style"></div> 
            <div id="list" title="Change to List Style"></div>
		</div> <!--STYLE_CHANGE END-->
       
       
       <div id="index_vid_container">
       
       </div>
        

    </div> <!--MAIN_VIDS END-->
    <div class="main_vid_shadow"></div>
</div> <!--CONTENT_CON END-->

<div class="side_con">
	<div class="box">
    	<div class="ads">300x250 AD</div>
    </div> <!--BOX END-->
    
	<div class="box">
    	<div class="ads">Another 300x250 AD</div>
    </div> <!--BOX END-->
    
	<div class="box">
    	<div class="login">
        	<img src="{$imageurl}/dot.gif" class="happyface" alt="{$title}" />
        	<div class="reg"><a href="signup.php">Click Here to Register</a></div>
            <div class="log"><a href="#user_login">Click Here to Login</a></div>        	
        </div>
    </div> <!--BOX END-->
    
	<div class="box">
    	<div class="top_bg">
        	<h2>Top 10 Users</h2>
            {section name=tusers loop=$topusers}
            <div class="top_user">
                <div class="avatar"><img src="{$avatardir}/{$topusers[tusers].avatar}" width="30" height="30" border="0"  /></div>
                <span style="float:left"><a href="#">{ $topusers[tusers].username }</a></span>
                <span style="float:right">Videos: <a href="#">{ $topusers[tusers].total_videos }</a></span>
                <div class="user_no">{$smarty.section.tusers.iteration}</div>
            </div>
            {/section}            
        </div>
    </div> <!--BOX END-->
    
</div> <!--SIDE_CON END-->