<div>
 {include file="$style_dir/blocks/manage/account_left.html"}
 <div class="account_box">
 {include file="$style_dir/blocks/manage/account_head.html" user=$user}
 
 {if $mode =='manage_playlist'}
  <h2>{lang code='manage_playlists'}</h2>
  
  <!-- ADD NEW PLAYLIST -->
    <div class="account_form">
    <form method="post" name="edit_profile">
    <fieldset class="fieldset">
    <legend>{lang code='add_new_playlist'}</legend>
    
    <div class="account_field_block clearfix">
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='playlist_name'}</label></strong></div>
    <div class="account_field"><input name="name" type="text" id="name" style="margin-bottom:10px"></div>
    
    </div>
	
    <div align="right"><button name="add_playlist" id="button" value="submit" class="cb_button_2">{lang code='add_new_playlist'}</button></div>

    </fieldset>
    </form>
    </div>
  <!-- Add new playlist -->
  
  
  <!-- Getting List of Playlist -->
  <form name="manage_playlists" method="post">
  
  <input type="submit" class="cb_button_2" value="{lang code='delete_selected'}" style="margin-bottom:10px" name="delete_playlists"/>
  <div class="account_table">
   
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
 	  <tr>
 	    <td width="25"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
 	      </td>
 	    <td>{lang code='title'}</td>
 	    <td width="130">{lang code='date_added'}</td>
 	    <td width="130" class="last_td">{lang code='total_items'}</td>
        
 	    </tr>
 	  </table>
      
  </div>
  {assign var='bg' value='fff'}
  {section name=plist loop=$playlists}   
    <div class="account_vid_list" style="background-color:#{$bg}">
   	<table width="100%" border="0" cellspacing="0" cellpadding="0">
 	  <tr>
 	    <td width="25"><input type="checkbox" name="check_playlist[]" id="check_playlist-{$playlists[plist].playlist_id}" value="{$playlists[plist].playlist_id}" />
 	      <label for="checkbox"></label></td>
 	    <td valign="middle">
        {$playlists[plist].playlist_name|truncate:100}<br />
<span class="video_control"><a href="?mode=edit_playlist&amp;pid={$playlists[plist].playlist_id}">{lang code='view'}</a> - <a href="javascript:void(0)"  onmousedown="delete_video('delete_icon_a','{$playlists[plist].playlist_id}','{lang code="remove_playlist_confirm"}','?mode=manage_playlist&amp;delete_pl={$playlists[plist].playlist_id}')" id="delete_icon_a-{$playlists[plist].playlist_id}">{lang code='delete'}</a></span></td>
 	    <td width="130">{$playlists[plist].date_added|date_format}</td>
 	    <td width="130">{$cbvid->action->count_playlist_items($playlists[plist].playlist_id)|number_format}</td>
 	    </tr>
 	  </table>
   </div>
   {if $bg=='fff'}
    {assign var='bg' value='EFF5F8'}
    {else}
    {assign var='bg' value='fff'}
    {/if}
  {/section}
  </form>
  <!-- Getting List of Playlist -->
 {/if}
 
 {if $mode =='edit_playlist'}
 <h2>{lang code='edit_playlist'}</h2>
 <div class="account_form">
    <form method="post" name="edit_profile">
    <fieldset class="fieldset">
    <legend>{lang code='edit_playlist'}</legend>
    
    <div class="account_field_block clearfix">
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='playlist_name'}</label></strong></div>
    <div class="account_field"><input name="name" type="text" id="name" style="margin-bottom:10px" value="{$playlist.playlist_name}"></div>

    </div>
	
    <div align="right"><button name="edit_playlist" id="button" value="submit" class="cb_button_2">{lang code='edit_playlist'}</button></div>

    </fieldset>
    </form>
 </div>
 
 {if $items}<div align="right"><span class="play_now"><a href="{videoLink vdetails=$items[0]}" >{lang code='play_now'}</a></span></div>{/if}
  <form name="edit_playlist" method="post">
  <input type="submit" class="cb_button_2" value="{lang code='delete_selected'}" style="margin-bottom:10px" name="delete_playlist_item"/>
 <div class="account_table">
   
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
 	  <tr>
 	    <td width="25"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
 	      </td>
 	    <td>{lang code='title'}</td>
 	    <td width="100">{lang code='date_added'}</td>
 	    <td width="100">{lang code='views'}</td>
        <td width="100">{lang code='comments'}</td>
 	    </tr>
 	  </table>
      
  </div>     
    {assign var='bg' value='fff'}
    {section name=plist loop=$items}
    	{include file="$style_dir/blocks/manage/account_video.html" video=$items[plist] bg=$bg control="playlist" pid=$playlist.playlist_id}
    {if $bg=='fff'}
    {assign var='bg' value='EFF5F8'}
    {else}
    {assign var='bg' value='fff'}
    {/if}
    
    {sectionelse}
    <div align="center" style="padding:5px"><strong><em>{lang code='no_video_in_playlist'}</em></strong></div>
    {/section}
</form>
 {/if}
 </div>
</div>