<div class="content_con clearfix">
<div class="upload_info">

{if $step == 1 || $step == ""}
	<form action="" method="post" name="photo_form" id="photo_form">
	{include file="$style_dir/blocks/upload_head.html"}
	<div class="upload_form_div clearfix">
    	<input type="hidden" id="photoIDS" name="photoIDS"  />
        <div id="progress_status" class="divStatus"></div>
        <div id="divStatus" class="divStatus moveL">Click 'Upload' to select files</div>
        <div class="moveR">
        <span id="spanButtonPlaceHolder"></span>
        <input id="btnCancel" type="button" value="Cancel" 
		onClick="swfu.cancelQueue();" disabled="disabled" style="margin:0px 0px 1px 3px" />
        </div>
        <div class="fieldset flash" id="fsUploadProgress"></div>
    </div>
    <button name="EnterInfo" class="LoadMoreButton moveR" id="EnterInfo" disabled="disabled">{lang code="Continue"}</button>
    </form> 
{/if}

{if $step == 2}
	{section name=p_list loop=$photos}
    <form action="" method="post" name="{$photos[p_list].photo_key}Form" id="{$photos[p_list].photo_key}Form">
    	{assign var='reqFields'  value=$cbphoto->load_required_forms($photos[p_list])}
        {assign var='otherFields'  value=$cbphoto->load_other_forms($photos[p_list])}
        <div id="{$photos[p_list].photo_key}_Box" class="photoBox clearfix">
        <input type="hidden" value="{$photos[p_list].photo_key}" name="photo_key" id="photo_key"  /> 
        <input type="hidden" value="{$photos[p_list].ext}" name="ext" id="ext"  />
        <input type="hidden" value="{$photos[p_list].filename}" name="filename" id="filename"  />      
        	<div class="photoDetailsBox clearfix">
                <div class="moveL" style="width:52.1%;">
                    {foreach from=$reqFields item=item}
                        <div class="field clearfix">
                            <div class="moveL"><label class="label">{$item.title}</label></div>
                            {$formObj->createField($item)}
                            {if $item.hint_1}
                                <div class="clear"></div>
                                <span class="hint">{$item.hint_1}</span>
                            {/if}
                        </div>
                    {/foreach}
                </div>
               
                <div class="moveR">
                	<div class="photoThumbBox">
                    	 <img src="{$photos[p_list].image_file}" />
                    </div>
                </div>
            </div>
            <div class="OptionalSettings">
            	<div class="Heading"><a href="#" onclick="$('#{$photos[p_list].photo_key}_Settings').slideToggle(); return false;">{lang code="Optional"} {lang code="Settings"}</a></div>
                <div class="OptionalBox" style="display:none;" id="{$photos[p_list].photo_key}_Settings">
                	{foreach from=$otherFields item=field}
                    	{$field.title}<br />
                        {$formObj->createField($field)}
                    {/foreach}
                </div>
            </div>
        </div>
        </form>
    {/section}
    <button class="LoadMoreButton clearfix" onclick="callAjax(this);" type="button" name="update_photos" id="update_photos">Save All</button>
{/if}

{if $step == 3}
	<h2>Photos have uploaded successfully.</h2>
{/if}    
  
</div>    
</div>