<h2>Search</h2>

{assign var='types' value=$cbvid->search->search_type}
{foreach from=$types key=k item=search}
    <h2> Search For {$search.title}</h2>
    <div>
    <form name="search-form-{$search.title}" method="get" action="">
    {foreach from=$search.fields item=field}
        {$field.title}* :{$field.hint_1}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}
        	<br>
        {$field.hint_2}
    {/foreach}
    </form>
    </div>
{/foreach}
<div style="width:600px; float:left" >
    <div class="heading">Videos</div>
    {section name=v_list loop=$videos}
        {include file="$style_dir/blocks/video.html" video=$videos[v_list]}
    {/section}
    <div class="clear"></div>
</div>

{include file="$style_dir/blocks/pagination.html"}