{assign var='required_fields' value=$userquery->load_signup_fields()}
{assign var='custom_field' value=$userquery->custom_signup_fields}


{if $mode == 'signup_success'}
	<div class="simple_container">
    	{if $udetails.usr_status !='Ok'}
        	<h2 style="font-family:Arial,Verdana,sans-serif; margin:5px 5px 8px;">Just One More Step</h2>
    	<p style="margin:0px 5px; line-height:18px; font-size:11px;">Your are just one step behind from becoming an official memeber of <strong>{$title}</strong>.  Please check your email, we have sent you a confirmation email which contains a confirmation link from {$title}, Please click it to complete your registration.</p>
    {else}
    	<h2 style="font-family:Arial,Verdana,sans-serif; margin:5px 5px 8px;">Welcome To {$LANG.community}</h2>
    	<p style="margin:0px 5px; line-height:18px; font-size:11px;">Your email has been confirmed, Please <strong><a href="{link name='login'}">click here to login</a></strong> and continue as our registered member.</p>
    {/if} </div>
{else}    
<div class="signup_left">
	<h2>Members Login</h2>
    if you already have {$title} account, please login here
    <div class="signup_container">
    	<form name="login_form" id="login_form" method="post" action="" >
       	  <label for="login_username" class="label">{lang code='username'} : </label>
            <div class="input_container">
        		<input name="username" type="text" id="login_username" size="30" >
            </div>
            <div class="clearfix"></div>
          <label for="login_password" class="label">{lang code='password'} : </label>
            <div class="input_container">
            <input name="password" type="password" id="login_password" size="30" >
            </div>
            <div class="clearfix"></div>
            <label for="" class="label">&nbsp;</label>
            <div class="input_container">
            <input type="submit" name="login" class="cb_button_2"value="{lang code='login'}" >
            </div>
            <div class="clearfix"></div>
            <div align="center"><a href="{$baseurl}/forgot.php">{$LANG.user_forgot_password}</a> | <a href="{$baseurl}/forgot.php">{$LANG.user_forgot_username}</a></div>
        </form>
  </div>
    
    <p>{$title} is the home for video online:</p>
          
            <ul><li><strong>Watch</strong> millions  of videos</li><li><strong>Share favorites</strong> with friends and family</li><li><strong>Connect with other users</strong> who share your {$LANG.interests}</li><li><strong>Upload your videos</strong> to a worldwide audience</li></ul>
<h3>{$LANG.reg_now_join} {$title} {$LANG.community}!</h3>

</div>
<div class="signup_right">
	<h2>New Members Signup Here</h2>
    Register as ClipBucket v2 member, its free and easy just 
    <div class="signup_container">
    	<form name="login_form" id="login_form" method="post" action="" >
        	{foreach from=$required_fields item=field}
            	<label for="{$field.id}" class="label">{$field.title}</label>
                <div class="input_container">
                {if $field.hint_1}
                <div class="hint">{$field.hint_1}</div>
                {/if}
                {ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}
                {if $field.hint_2}
                <div class="hint">{$field.hint_2}</div>
                {/if}
                </div>
                <div class="clearfix"></div>
               
                
            {/foreach} 
            
            <!-- Loading Custom Fields -->
            {foreach from=$custom_field item=field}
            	<label for="{$field.id}" class="label">{$field.title}</label>
                <div class="input_container">
                {if $field.hint_1}
                <div class="hint">{$field.hint_1}</div>
                {/if}
                {ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}
                {if $field.hint_2}
                <div class="hint">{$field.hint_2}</div>
                {/if}
                </div>
                <div class="clearfix"></div>
               
                
            {/foreach} 
            
            <div align="center">
                <input name="agree" type="checkbox" id="agree" value="yes" checked="checked" />
                - {$LANG.user_i_agree_to_the} <a href="{$cbpage->get_page_link(1)}" target="_blank" style="text-decoration:underline">{lang code='terms_of_serivce'}</a> and <a href="{$cbpage->get_page_link(2)}" target="_blank" style="text-decoration:underline">{lang code='privacy_policy'}</a>
          </div>
            <label for="" class="label">&nbsp;</label>
            <div class="input_container">
            <input type="submit" name="signup" class="cb_button_2" value="{lang code='signup'}" style="margin-top:10px" />
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
{/if}    
<div class="clearfix"></div>
