<div class="group_view">

{include file="$style_dir/blocks/group/group_header.html" group=$group}
{assign var=topic_starter value=$userquery->get_user_details($topic.userid)}
<div class="topic_container">
	{include file="$style_dir/blocks/user.html" user=$topic_starter block_type='medium'}
    <div class="topic_detail_cont">
    	<div class="topic_title"><img src="{$cbgroup->get_topic_icon($topic)}" style="float:left" />{$topic.topic_title}<span class="date"> &#8212; {$topic.date_added|niceTime}</span><span class="clearfix"></span></div>
        {$topic.topic_post|description}
    </div>
    <div class="clearfix"></div>
</div>



<div class="topic_comments">
	{include file="$style_dir/blocks/comments/comments.html" id=$topic.topic_id type=t}
</div>
<hr width="100%" size="1" noshade>
{include file="$style_dir/blocks/comments/add_comment.html" id=$topic.topic_id type=t}
</div>