<div style="width:750px; margin:0px auto">

	<div class="video_title" style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #ccc;">{$c.collection_name}</div>
    <div style="font:normal 10px Tahoma; color:#333; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #ccc;">{lang code="by"|capitalize} <a href="{$userquery->profile_link($c)}">{$c.username|capitalize}</a> - <a href="{link name='user_videos'}{$c.username}">{lang code="view"|capitalize} {$c.username|capitalize} {lang code="videos"|capitalize}</a></div>
    {section name=o_list loop=$objects}
    	{if $c.type == "videos"}
        	{include file="$style_dir/blocks/video.html" video=$objects[o_list] video_view="grid_view"}
        {/if}
    {sectionelse}
    	<div align="center" style="font:bold 11px Tahoma">{$c.collection_name} has 0 {$c.type}</div>       
    {/section}
    <div class="clear"></div>
    {include file="$style_dir/blocks/pagination.html"}
    <div style="padding-bottom:5px; height:1px; margin-bottom:5px; border-bottom:1px solid #ccc;"></div>
    <div class="moveL" style="width:200px; font:normal 11px Tahoma;">
        <span style="color:#333; font-weight:bold;">{lang code="date_added"}</span>
        <div style="height:2px; clear:both;"></div>
        {$c.date_added|niceTime}
        <div style="height:8px; clear:both;"></div>
        
        <span style="color:#333; font-weight:bold;">{lang code="views"}</span>
        <div style="height:2px; clear:both;"></div>
        {$c.views|number_format} {lang code="views"}
        <div style="height:8px; clear:both;"></div>
            
    	<span style="color:#333; font-weight:bold;">{lang code="categories"}</span>
        <div style="height:2px; clear:both;"></div>
        {$c.category}
        <div style="height:8px; clear:both;"></div>
        
        <span style="color:#333; font-weight:bold;">{lang code="tags"}</span>
        <div style="height:2px; clear:both;"></div>
        {$c.collection_tags|tags:collections}
        
        

    </div> <!-- moveL end -->
    
    <div style="width:540px; float:left;">
    	{$c.collection_description|description}
        <div style="height:10px;"></div>
        <div class="video_title" style="font-size:14px; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #ccc;">{lang code="comments"} ({$c.total_comments})</div>
        {include file="$style_dir/blocks/comments/comments.html" id=$c.collection_id type='cl'}
        <div style="height:5px;"></div>
        {if $myquery->is_commentable($c,'collection')}
        	{include file="$style_dir/blocks/comments/add_comment.html" id=$c.collection_id type='cl'}
        {else}
        	<div class="disable_msg" align="center">{lang code='comm_disabled_for_vid'}</div>
        {/if}    
    </div>

</div>