<div id="upload-overall-template-item" class="display-none">
    <div class="upload-overall">
        <div class="title"><h2 class="page-header"><span class="files_added"></span> &ndash; <small> {lang code='Total size'}: <span class="total_size">0 kbs</span> - {lang code='Files uploaded'}: <span class="total_uploaded_files">0</span> - {lang code='Time Remaining'}: <span class="time">00:00</span></small></h2></div>
        <div class="progress progress-striped active">
            <div class="bar"></div>
            <span class="percent_upload">0%</span>
        </div>
    </div>
</div>

<div id="upload-list-template-item" class="display-none">
    <div class="upload_list">
        <i class="icon-upload"></i><div class="title"></div>
        <div class="progress progress-striped active"><div class="bar"></div></div>
        <div class="upload-stats">
            <div class="inlineBlock pull-left">
                <span class="total_size"></span> | <span class="percent_upload">0%</span> | <span class="status">{lang code='Wating ...'}</span>
            </div>
            <div class="inlineBlock pull-right">
                <i class="icon-signal"></i> <span class="speed valignTop">0 kbs</span> <i class="icon-time"></i> <span class="time valignTop">00:00</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="alert alert-error display-none"></div>
    </div>
</div>

<div id="upload-form-template-item" class="display-none">
        <div class="upload-form">
        <div class="title"><h2></h2></div>
        <div class="upload-btn-options gradient">
            <div class="photo-upload-preview-outer padding_box">
                <div class="photo-upload-preview-inner">
                    <img src="{$imageurl}/icons/photo-uploading.png" class="no-photo-preview display-block" />
                </div>
            </div>
            
            <div class="btn-group">         
                <a class="btn form-group form-btn btn-primary active"data-toggle="tab" data-target="#photo_details_box">{lang code='Photo Details'}</a>
                <a class="btn form-group form-btn btn-primary disabled"data-toggle="tab" data-target="#photo_options_box">{lang code='Photo Options'}</a>
            </div>
            
            <form class="form form-horizontal">
                {assign var='reqFields'  value=$cbphoto->load_required_forms()}
                {assign var='otherFields'  value=$cbphoto->load_other_forms()}
                <div class="tab-content">
                    <div class="tab-pane active" id="photo_details_box">
                        {foreach from=$reqFields item=field}

                        {* Formating field for our template *}
                        {$field.class='input-xxlarge'}

                        {if $field.type=='checkbox' || $field.type=='radiobutton'}
                        {$field.sep=' '}

                        {if $field.type=='checkbox'}
                        {$field.class='checkbox'}
                        {else}
                        {$field.class='radio'}
                        {/if}
                        {/if}


                        <div class="control-group">
                            <label class="control-label" for="{$field.id}">{$field.title}
                                {if $field.hint_before}
                                <div>{$field.hint_before}</div>
                                {/if}
                            </label>
                            <div class="controls">
                                {ANCHOR place=$field.anchor_before}
                                {$formObj->createField($field)}
                                {ANCHOR place=$field.anchor_after}
                                {if $field.hint_after}
                                <p class="help-block">{$field.hint_after}</p>
                                {/if}
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    
                    <div class="tab-pane" id="photo_options_box">
                        {foreach from=$otherFields item=field}

                        {* Formating field for our template *}
                        {$field.class='input-xxlarge'}

                        {if $field.type=='checkbox' || $field.type=='radiobutton'}
                        {$field.sep=' '}

                        {if $field.type=='checkbox'}
                        {$field.class='checkbox'}
                        {else}
                        {$field.class='radio'}
                        {/if}
                        {/if}


                        <div class="control-group">
                            <label class="control-label" for="{$field.id}">{$field.title}
                                {if $field.hint_before}
                                <div>{$field.hint_before}</div>
                                {/if}
                            </label>
                            <div class="controls">
                                {ANCHOR place=$field.anchor_before}
                                {$formObj->createField($field)}
                                {ANCHOR place=$field.anchor_after}
                                {if $field.hint_after}
                                <p class="help-block">{$field.hint_after}</p>
                                {/if}
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </form>
        </div>
        <div align="right">
            <a class="btn btn-primary save" style="margin-top: 10px">Save photo</a>
        </div>
    </div>
</div>