<div class="modal fade" id="embed-photo-block">
    <div class="modal-body">
        {$photo_embeds=photo_embed_codes(['details'=>$photo])}
            {if $photo_embeds}
            <ul class="photo-embed-sizes cbv3-scroller">
                {display_photo_embed_sizes($photo)}
            </ul>
                <div id="photo-embed-code-blocks">
                    <div class="photo-embed-object">
                        <div class="table">
                            <div class="table-cell image-not-loaded-background">{get_photo size='l' output='html' details=$photo}</div>
                        </div>
                    </div>
                    <div class="photo-embed-code-blocks">
                         <div class="cbv3-scroller">
                            {foreach $photo_embeds as $embed}
                                <div class="control-group">
                                    <label for="{$embed.id}" class="control-label photo-embed-name">{$embed.name}</label>
                                    <div class="controls">
                                        <input type="text" id="{$embed.id}" value="{$embed.code}" data-embed-format="{$embed.code}" class="photo-embed-code padding_box" />
                                        {if $embed.description}
                                        <p class="help-block photo-embed-description">{$embed.description}</p>
                                        {/if}
                                    </div>
                                </div>
                            {/foreach}
                         </div>
                    </div>
                </div>
            {/if}
    </div>
</div>

<div class="modal fade" id="email-photo-block">
    <div class="modal-body">
        <input type="hidden" id="objectid" value="{$photo.photo_id}" />
        <div class="control-group">
            <label class="control-label">{lang code='To (email addresses or usernames)'}</label>
            <div class="control-group">
                <textarea class="span5 resize-verticle" rows="3" id="share_users"></textarea>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{lang code='Additional Note (optional)'}</label>
            <div class="control-group">
                <textarea class="span5 resize-verticle" rows="2" id="message"></textarea>
            </div>
        </div>
        <button class="btn btn-primary" onclick="share_object('share_email','p',this)" data-loading-text="Sending email...">Send Email</button>  
        
        <div class="btn-group display-none" id="share_email_success" >
            <button class="btn btn-success"><i class="icon-check icon-white"></i> Your email has been sent</button>
            <button class="btn" onclick="$('#share_email').show();$('#share_email_success').hide();">Send another</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#embed-photo-block, #email-photo-block').addClass('hide');
        }, 1500);
    });
</script>