<div id="rating_container">
    <div class="cb-item-rating">
        <span class="cb-rating-span cb-rating-up" {if !$disable} onclick="rate('{$id}','5','{$type}')"{/if} onMouseOver="rating_over('Like this {$type}','{$disable}')" onmouseout="rating_out('{$likes} Likes, {$dislikes} Dislikes','{$disable}')">
            <span class="cb-rating-digit">{$likes|number_format}</span>
            <i class="glyphicon glyphicon-thumbs-up"></i>
            {lang code='Like'}
        </span>
        <span class="cb-rating-span cb-rating-down" {if !$disable} onclick="rate('{$id}','1','{$type}')"{/if} onMouseOver="rating_over('Dislike this {$type}','{$disable}')" onmouseout="rating_out('{$likes} Likes, {$dislikes} Dislikes','{$disable}')">
            <span class="cb-rating-digit">{if $dislikes}-{/if}{$dislikes|number_format}</span>
            <i class="glyphicon glyphicon-thumbs-down"></i>
            {lang code='Dislike'}
        </span>
    </div>
</div>