RewriteEngine on
#
#
#
#URL Rewriting for Videos
RewriteRule ^videos/([0-9A-Za-z]+)/(.*)/(.*)/(.*)/(.*) videos.php?cat=$1&sort=$3&time=$4&page=$5&seo_cat_name=$2 [L]
RewriteRule ^videos videos.php?%{QUERY_STRING} [L]
RewriteRule ^video/(.*)/(.*) watch_video.php?v=$1&%{QUERY_STRING} [L]
#
#Users, Channel & Management
#

RewriteRule ^channels/([0-9A-Za-z]+)/(.*)/(.*)/(.*)/(.*) channels.php?cat=$1&sort=$3&time=$4&page=$5&seo_cat_name=$2 [L]
RewriteRule ^channels channels.php [L]
RewriteRule ^members/								channels.php [nc]
RewriteRule ^users/									channels.php [nc]
RewriteRule ^user/(.*)						view_channel.php?user=$1 [nc]
RewriteRule ^channel/(.*)					view_channel.php?user=$1 [nc]


RewriteRule ^my_account					myaccount.php [nc]



#Pages
RewriteRule ^page/([0-9]+)/(.*)						view_page.php?pid=$1 [nc]
#
#Miscellenous
RewriteRule ^search/result							search_result.php [nc]
RewriteRule ^upload									upload.php [nc]

#Group Section

RewriteRule ^group/([a-zA-Z0-9].+)					view_group.php?url=$1&%{QUERY_STRING} [L]
RewriteRule ^view_topic/([a-zA-Z0-9].+)_tid_([0-9]+)					view_topic.php?tid=$2&%{QUERY_STRING} [L]
RewriteRule ^groups/([0-9]+)/(.*)/(.*)/(.*)/(.*) groups.php?cat=$1&sort=$3&time=$4&page=$5&seo_cat_name=$2 [L]
RewriteRule ^groups groups.php [L]
RewriteRule ^create_group create_group.php [L]


RewriteRule ^sitemap.xml$ sitemap.php
RewriteRule ^signup signup.php

#Error Pages
ErrorDocument 404 /view_page.php?pid=6
ErrorDocument 403 /view_page.php?pid=5

########## End - Rewrite rules For SEO urls ######################
RewriteRule ^rss$                           rss.php [nc]
RewriteRule ^rss/([a-zA-Z0-9].+)$          rss.php?mode=$1&%{QUERY_STRING} [nc]

########## End - Rewrite rules For SEO urls ######################