
{if $control=='' || $control =='view'}
{if $mode ==''}{assign var='mode' value='favorites'}{/if}


<tr>
<td>
  <input type="checkbox" name="check_vid[]" id="check_vid-{$video.videoid}" value="{$video.videoid}" />
</td>
<td valign="middle">
<div>
  <img class="img-thumbnail show" src="{getThumb vdetails=$video}" />
    <p class="marginTop">{$video.title|truncate:100}</p>
    <div class="btn-group marginTop">
      <a class="btn btn-primary btn-sm" href="{videoLink vdetails=$video}">{lang code='view'}</a>
      <a class="btn btn-primary btn-sm" href="javascript:void(0)"  onmousedown="delete_video('delete_icon_a','{$video.videoid}','{lang code="remove_fav_video_confirm"}','?mode={$mode}&amp;vid_delete={$video.videoid}')" id="delete_icon_a-{$video.videoid}">
        {lang code='delete'}
      </a>
    </div>
</div>
  <a href="javascript:void(0)"  onmousedown="delete_video('delete_icon','{$video.videoid}','{lang code="remove_fav_video_confirm"}','?mode={$mode}&amp;vid_delete={$video.videoid}')" id="delete_icon-{$video.videoid}">
    <img src="{$imageurl}/dot.gif" border="0" class="delete_icon" />
  </a>
</td>
<td>{$video.date_added|date_format}</td>
<td>{$video.views|number_format}</td>
<td class="last_td">{$video.comments_count|number_format}</td>

</tr>

{/if}

{if $control =='full'}

<tr>
<td>
  <input type="checkbox" name="check_vid[]" id="check_vid-{$video.videoid}" value="{$video.videoid}" />
</td>
<td valign="middle">
  <div>
    <img src="{getThumb vdetails=$video}" class="img-thumbnail show" />
    <p class="marginTop">{$video.title|truncate:100}</p>
    <div class="btn-group show marginTop">
      <a class="btn btn-primary btn-sm" href="{videoLink vdetails=$video}">view</a>
      <a class="btn btn-primary btn-sm" href="{$baseurl}/edit_video.php?vid={$video.videoid}">edit</a>
      <a class="btn btn-primary btn-sm" href="javascript:void(0)"  onmousedown="delete_video('delete_icon_a','{$video.videoid}','{lang code="confirm_del_video"}','?mode=uploaded&amp;vid_delete={$video.videoid}')"  id="delete_icon_a-{$video.videoid}">delete</a>
      {if !$userquery->isProfileItem($video.videoid,'v')}
        <a class="btn btn-primary btn-sm" href="{$queryString}makeProfileItem={$video.videoid}&type=v">{lang code='make_profile_item'}</a>
      {else}
        <a class="btn btn-primary btn-sm" href="{$queryString}removeProfileItem={$video.videoid}&type=v">{lang code='remove_profile_item'}</a>
      {/if}
    </div>
  </div>

</td>
<td>{$video.date_added|date_format}</td>
<td>{$video.views|number_format}</td>
<td>{$video.comments_count}</td>
<td class="last_td">{$video.status|lang}</td>
</tr>

{/if}


{if $control=='playlist'}



<tr>
<td>
  <input type="checkbox" name="check_playlist_items[]" id="check_vid-{$video.playlist_item_id}" value="{$video.playlist_item_id}" />
</td>
<td valign="middle">
  <div>
    <img class="img-thumbnail" src="{getThumb vdetails=$video}" />
    <p class="marginTop">{$video.title|truncate:100}</p>
    <div class="btn-group show">
      <a class="btn btn-primary btn-sm" href="{videoLink vdetails=$video}">view</a>
      <a class="btn btn-primary btn-sm" href="javascript:void(0)"  onmousedown="delete_video('delete_icon_a','{$video.playlist_item_id}','{lang code="remove_playlist_item_confirm"}','?mode=edit_playlist&pid={$pid}&amp;delete_item={$video.playlist_item_id}')" id="delete_icon_a-{$video.playlist_item_id}">
        delete
      </a>
    </div>
  </div>
  <a href="javascript:void(0)"  onmousedown="delete_video('delete_icon','{$video.playlist_item_id}','{lang code="remove_playlist_item_confirm"}','?mode=edit_playlist&pid={$pid}&amp;delete_item={$video.playlist_item_id}')" id="delete_icon-{$video.playlist_item_id}"><img src="{$imageurl}/dot.gif" border="0" class="delete_icon" /></a>
</td>
<td>{$video.date_added|date_format}</td>
<td>{$video.views|number_format}</td>
<td>{$video.comments_count|number_format}</td>
</tr>

{/if}


{if $control=='basic'}



<tr>
<td>
  <input type="checkbox" name="check_vid[]" id="check_vid-{$video.videoid}" value="{$video.videoid}" />
</td>
<td valign="middle">
  <div>
    <a href="{videoLink vdetails=$video}">
      <img class="img-thumbnail" src="{getThumb vdetails=$video}" />
      <p class="marginTop">{$video.title|truncate:100}</p>
    </a>
  </div>
</td>
<td>{$video.date_added|date_format}</td>
<td>{$video.views|number_format}</td>
<td>{$video.comments_count|number_format}</td>
</tr>

{/if}