{if $display_type=='normal' || $display_type==''}
<div class="item_video">
    <div class="cb_item_container clearfix">
        <div class="cb_item_thumb video_thumb relative" >
        <a href="{videoLink($video)}" title="{$video.title|title}">
        {if $video.broadcast=='private'}
         <span class="private_video">PRIVATE</span>
        {/if}
            <span class="fa fa-play play-icon"></span>
            <span class="duration">{if
            $video.duration>1}{$video.duration|SetTime}{else}00:00{/if}{*$video.duration|date_format:$config.time*}
            </span>
            <img class="img" src="{getThumb vdetails=$video size=160x90 } " border="1" />
        </a>
        {ANCHOR place='in_video_thumb' data=$video}
         <img src="{$imageurl}/dot.gif" data-quick="quick-{$video.videoid}"
         class="add_icon cb_quickie cb-btn-quick-{$video.videoid}" onclick="add_quicklist(this,'{$video.videoid}')" title="Add {$video.title} to Quicklist" alt="Quicklist" />
        </div>
        <h5>
           <a href="{videoLink($video)}">{$video.title|truncate:20}</a>
        </h5>
        <div class="clearfix views-time">
			<span class="font1"><span class="bg-eye"></span>&nbsp;{$video.views} views</span>
			<span class="font2"><span class="bg-time"></span>&nbsp;{$video.date_added|niceTime}</span>
		</div>
    </div>
</div>
{/if}

{if $display_type=='user_videos'}
<div class="col-md-3  col-sm-4  col-xs-6 video_thumb ">
    <a href="{videoLink($video)}" title="{$video.title|title}">
        <span class="fa fa-play play-icon"></span>
        <img alt="{$video.title|title}" src="{getThumb vdetails=$video size='171x120'}" id="thumbs_{$video.videoid}"  title="{$video.title|title}"/>
    </a>
    <p class="cbHomeVidDuration duration_view">
        {if $video.duration>1}
            {$video.duration|SetTime}
        {else}
            00:00
        {/if}
    </p>
    <a href="{videoLink($video)}" title="{$video.title|title}"><h5>
    <b> {$video.title|truncate:25}</b></h5></a>                     
    <span class="pull-left"><h5><small>{$video.views} views</small></h5></span>
    <span class="pull-right"><h5><small>{$video.date_added|niceTime}</small></h5></span>
</div>
{/if}
