{if $display_type=='normal' || $display_type==''}
<div class="item_video">
	<div class="cb_item_container clearfix">
		<div class="cb_item_thumb video_thumb relative" >
			<a href="{videoLink($video)}" title="{$video.title|title}">
				{if $video.broadcast=='private'}
		 		<span class="private_video">PRIVATE</span>
				{/if}
				<span class="fa fa-play play-icon"></span>
				<span class="duration">
				{if $video.duration>1}{$video.duration|SetTime}{else}00:00{/if}
				{*$video.duration|date_format:$config.time*}
				</span>
				<span class="thumb_title">
				{$video.title|truncate:20}
				</span>
				<img class="img" src="{getThumb vdetails=$video size=160x90 } " border="1" />
			</a>
			{ANCHOR place='in_video_thumb' data=$video}
		 	<img src="{$imageurl}/dot.gif" data-quick="quick-{$video.videoid}"
		 class="add_icon cb_quickie cb-btn-quick-{$video.videoid}" onclick="add_quicklist(this,'{$video.videoid}')" title="Add {$video.title} to Quicklist" alt="Quicklist" />
		</div>
	</div>
</div>
{/if}