<!-- Flag This {$type} -->
<div id="flag_item" class="action_box" style="display:{if $display}{$display}{else}none{/if}">
	<div class="action_box_title">Flag this {$params.type} &#8212; <span class="cancel"><a href="javascript:void(0)" onclick="$('#flag_item').slideUp();">cancel</a></span></div>
    <div class="form_container" align="center">
    
    <div class="form_result" id="flag_form_result" style="display:none"></div>
    
    <form id="flag_form" name="flag_form" method="post" action="" class="">
    Please select the category that most closely reflects your concern about the video, so that we can review it and determine whether it violates our Community Guidelines or isn't appropriate for all viewers. Abusing this feature is also a violation of the Community Guidelines, so don't do it. 
    	{assign var='flag_options' value=func->get_flag_options($type)}
        <label for="select"></label>
        <select name="select" name="flag_type" id="flag_type">
        	{foreach from=$flag_options key=key item=item}
        	<option value="{$key}">{$item}</option>
            {/foreach}
        </select><br>
        <input type="button" name="send_content" value="Flag This {$params.type}" class="cb_button" onclick="flag_object('flag_form','{$params.id}','{$params.type}')"/>
  	</form>
    </div>
</div>
<!-- Flag This {$type} -->
