{if userid()}
<div class="main_vids clearfix" style="border-top:1px solid #CCC">
	<span class="subsription"><a href="{$baseurl}/edit_account.php?mode=subscriptions">{lang code='subscriptions'}</a></span>
  
   <div>
   <!-- Listing Subscriptions-->
   {assign var=subs_vids value=$userquery->get_subscribed_videos($userquery->userid,10)}
   {if $subs_vids}
   	{foreach from=$subs_vids item=video}
      {include file="$style_dir/blocks/video.html" video=$video video_view="grid_view"}
    {/foreach}
   {else}
   <em>{lang code='no_new_subs_video'}</em>
   {/if}
   <!-- End Listing Subscriptions -->
   </div>
    

</div>
<div class="feature_shadow" ></div>
  <div class="ad">{AD place='ad_468x60'}</div>
{/if}