@charset "utf-8";
/* CSS Document */
.video_block{width:130px; margin:5px; float:left}
.video_block_verticle{width:250px; margin:5px; float:left}
/* Category List */
.category_list{width:160px; float:left; margin-right:10px;}
.category_list ul, .category_list ul li{margin:0px; padding:0px; list-style:none}
.category_list a{display:block; border-bottom:dashed 1px #EEE; font-size:13px; font-weight:bold; color:#09c; padding:3px; margin-bottom:3px;} 
.category_list a:hover{background-color:#F9F9F9}

/* User */
.user_block{width:130px; margin:5px; float:left; border:1px solid #CCC; margin:5px; padding:5px; font-size:10px}
.user_mid_thumb_container{display:inline; float:left; margin-right:5px}
.user_mid_thumb{max-width:60px; max-height:60px;display:inline; border:1px solid #999; padding:2px;}
.user_block a{font-size:12px; font-weight:bold}

.user_block_small{width:70px; height:80px; margin:3px; float:left; padding:5px; font-size:10px; border:1px solid #CCC}
.user_block_small a{font-size:11px; font-weight:bold}



/* My ACcount */
.my_account_left{width:150px; float:left; }
.my_account_left ul{margin:0px; padding:0px;}
.my_account_left li{margin:0px; padding:0px; list-style:none; }
.my_account_left .li{font-size:12px; font-weight:bold; display:block; margin-bottom:10px}
.my_account_left .li li{font-weight:normal; border-bottom:1px dotted #333; padding-left:5px}

.account_box{float:right; width:800px;border-left:5px #999 solid; padding-left:10px}

.account_option_box{display:block; width:225px; margin:10px; padding:10px;float:left; background-color:#EFF5F8; border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px;}
.account_option_box .its_title{font-size:13px; font-weight:bold;}
.account_option_box  li{list-style:none; border-bottom:1px dotted #999; padding-bottom:2px; margin-bottom:2px}
.account_option_box ul{margin:0px; padding:0px; display:block; padding-left:15px}
.account_option_box  a:hover{color:#009}

.account_head_container{border-bottom:1px dotted #CCC; padding-bottom:10px}
.account_thumb{max-height:150px; max-width:150px;border:1px solid #999; padding:3px; display:inline-block;}
.account_thumb_container{margin-left:5px;display:inline-block; float:left; margin-right:10px}
.stats .account_stat{font-size:11px; font-family:tahoma; display:block;}
.stats{ width:300px; float:left}

.account_head_right{float:right}
.pm_box{width:90px; height:70px; background-color:#EFF5F8; border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px; display:block}
.pm_box .messages{font-size:10px; font-family:tahoma; font-weight:bold; text-transform:uppercase; color:#333; text-align:center; display:block; padding:6px}
.pm_box {text-align:center; font-size:25px; font-weight:bold}


.account_form fieldset{border:1px solid #ccc;  border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px; margin:10px}
.account_form legend{ text-transform:uppercase; font-family:Tahoma; font-weight:bold}
.account_form input, .account_form textarea, .account_form select{border:1px solid #ccc; width:300px; padding:3px;}
.account_form input[type="radio"],.account_form input[type="checkbox"] { display:inline; width:auto} 
.account_form select{margin-bottom:10px}

.account_field_block{ border-bottom:1px solid #CCC; margin:5px 0px 5px 0px; padding-bottom:0px; padding-top:5px}
.account_field_block:hover{background-color:#F5F5F5}
.account_field_block .account_field_label{width:200px; float:left}
.account_field_block .account_field{ float:left; width:400px; padding-left:10px; padding-bottom:10px}

.avatar_bg label{margin-top:10px; display:block}

.messages_container{max-height:200px; overflow:auto; padding-bottom:10px; border-bottom:1px dashed #999}

.private_message_container{padding:10px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:1px solid #CCC; margin-top:15px; }

.unread_msg, .unread_msg a{font-weight:bold; font-family:tahoma;}
.read_msg, .read_msg a{font-weight:normal; font-family:tahoma;}

