<div class="global-sidebar-column pull-right">
    <div class="cb-widget">
        <h2 class="cb-widget-title">Playlists</h2>
        <ul>
        {section loop=3 name=play_loop}
            <li>
                <a href="#" class="playlist">
                    {$num=rand(1,4)}
                    {$loop_number=$num}
                    <div class="playlist-items-thumb inlineblock-fix playlist-{$loop_number}-items">
                        {section loop=$loop_number name=playlist_item}
                            {cycle values='HWSUABY1XKDU,7SGOR89H7SUA,9HW4G2B89X7D,DGABM1XW4UOB' assign='videokey'}
                            <div class="item-thumb"><img src="{get_thumb vdetails=$videokey}"  /></div>
                        {/section}
                    </div>
                    <div class="playlist-name">Playlist Name long name</div>
                    <span class="playlist-count">{$loop_number} videos</span>
                </a>
            </li>
        {/section}
        </ul>
    </div>
    {$featured_users=get_users(['limit'=>'6','featured'=>'yes'])}
    {if $featured_users}
    <div class="cb-widget">
        <h2 class="cb-widget-title">{lang code='Featured Users'}</h2>
        <ul>
            {foreach $featured_users as $ft_user}
            <li><a href="{$userquery->profile_link($ft_user)}" class="clearfix"><img src="{avatar uid=$ft_user.userid size='small'}" class="marginR10 pull-left" /> <div>{$ft_user.username}</div> <span class="muted">{$ft_user.profile_hits|number_format} {lang code='views'}</span></a></li>
            {/foreach}
        </ul>
    </div>
    {/if}
</div>
<div id="global-sidebar-full-height"></div>