<div class="full-width ">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-pix-sec">
                    <span class="error-pix-403"></span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="error-text-sec2">
                    <div class="error-text">
                        <span></span>
                        Forbidden Error 
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-8 mtl">
                <form class="" role="search" action="{link name='search_result'}">
                    <div class="input-group cbsearchtype">
                        <input type="text" class="form-control" name="query" value="{'query'|get_form_val:true}" id="query">
                        <div class="input-group-btn">
                            <input tabindex="-1" type="submit" name="cbsearch" id="cbsearch" value="{lang code='Go'}" class="btn btn-default" />
                            <input type="hidden" name="type" class="type form-control" value="{if isset($smarty.get.type)}{$smarty.get.type}{else}videos{/if}" id="type">
                            <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle search-drop-btn" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {$counter = 1}
                                {foreach from=$Cbucket->search_types item=t key=stypes}
                                {if $counter == 3}
                                <li value="{$stypes}" {if $smarty.get.type==$stypes || $smarty.get.type==''}  class="active"  {/if}>
                                    <a  href="#">{$stypes}</a>
                                </li>
                                {else}
                                <li value="{$stypes}" {if $smarty.get.type==$stypes}  class="active" {/if}>
                                    <a  href="#">{$stypes}</a>
                                </li>
                                {/if}
                                {$counter = $counter + 1}
                                {/foreach}
                            </ul>
                        </div>
                        
                    </div>

                </form>
                <div class="col-lg-2"></div>
            </div>
        </div>
      <br>
    
    <div class="row">
        {if $videos} 
        {foreach $videos as $video}
            <div class="col-md-3  col-sm-4  col-xs-6 marginBottom grid_view list_view">
                {include file="$style_dir/blocks/videos/video.html" display_type='normal'}
            </div>
        {/foreach}
        {/if}

        <div class="clearfix"></div>
        </div>
         <br> <br>
    </div>
</div>