<div class="page-error clearfix" style="background:#f7f9fb  url({$theme}/images/clouds.jpg) no-repeat; background-size:100%;">
	<div class="error-holder">
		<div class="fog">
			<img src="{$theme}/images/fog-cloud.png" alt="" class="img-responsive">
		</div>
		<div class="monster">
			<img src="{$theme}/images/monster.png" alt="" class="img-responsive">
		</div>
		<div class="content-txt">
			<div class="clearfix error-img">
				<img src="{$imageurl}/403.png" alt="" class="img-responsive">
			</div>
			<div class="alert-text clearfix">
				<p><strong>OOPS...</strong><span>The Page you are looking for is forbidden!</span></p>
				<a href="{$baseurl}"> &larr; &nbsp;Go back to the homepage</a>
			</div>
		</div>
	</div>
	<img src="{$theme}/images/base.png" alt="" class="base-bg">
</div>