{if (!isset($smarty.get['moto']) || $smarty.get['moto'] != 'ajax')}
	{include file="$style_dir/global_header.html"}
{/if}
	<body>

		{assign var=qlist_videos value=get_fast_qlist()}
		{assign var=litems_count value=$qlist_videos|@count}
		{if $litems_count >= 1}
			{assign var=got_qlitems value="yes"}
		{else}
			{assign var=got_qlitems value="false"}
		{/if}
		{include file="$style_dir/blocks/quicklist/qlist_main.html"}
		{if must_check_age()}
			{include file="$style_dir/blocks/popin_age_restrict/popin.html"}
		{/if}
    	<div id="container" {if must_check_age()}class="blur"{/if}>
			{ANCHOR place="before_content"}
			{if (!isset($smarty.get['moto']) || $smarty.get['moto'] != 'ajax')}
           		 {include file="$style_dir/header.html"}
        	{/if}

			{include file="$style_dir/msg.html"}
			
			{foreach from=$template_files item=file}
			    {include_template_file file=$file}
			{/foreach}

			{if (!isset($smarty.get['moto']) || $smarty.get['moto'] != 'ajax')}
				{include file="$style_dir/footer.html" }
			{/if}
		</div>
		{if in_dev()}
			{showDevWitch()}
		{/if}
    </body>
</html>
