{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div id="main" class="clearfix">
	<div class="custom-container clearfix">
		<section class="clearfix inner-block channels-block">
			<header class="heading clearfix">
				<div class="clearfix cat-tabs">
					{include file="$style_dir/blocks/category_list.html" type='channels'}
				</div>
			</header>
			{$featured_users = get_users(["featured"=>"yes","limit"=>2])}
			{if $featured_users}
			<div class="featured-channels clearfix">
				{foreach $featured_users as $featured}
				<div class="clearfix featured-row">
					<div class="item_channel col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="channel-holder">
							{include file="$style_dir/blocks/channels.html" block_type = 'featuredChannel'}
						</div>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 popular-vids clearfix">
						{$uservideos=get_videos(["user"=>$featured.userid,"limit"=>3])}
						{if $uservideos}
							{foreach $uservideos as $video}
								<div class="video-block col-lg-4 col-md-4 col-sm-4 col-xs-12">
								{include file="$style_dir/blocks/videos/video.html" display_type='homeVideos'}
								</div>
							{/foreach}
						{else}
							<div class="well well-info">No Videos Found !</div>
						{/if}
					</div>
				</div>
				{/foreach}
			</div>
			{else}
			{/if}
			<div class="clearfix">
				<div class="time_cont">
					{assign var=time_links value=time_links()}
					{foreach from=$time_links item=name key=sort name=times}
					{if !$smarty.foreach.times.last}{/if}
					{/foreach}
				</div>
				<div class="clearfix">
					{if $users}
					{foreach $users as $user}
					<div class="item_channel col-lg-3 col-md-3 col-sm-4 col-xs-12">
					{include file="$style_dir/blocks/channels.html" block_type = 'itemChannel'}
					</div>
					{/foreach}
					{else}
					<div class="left-space well well-info">No Channel Found !</div>
					{/if}
				</div>
			</div>
			{include file="$style_dir/blocks/pagination.html"}
		</section>
	</div>
</div>