{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div id="main" class="clearfix container">
	<div class="clearfix">
		<section id="content" class="clearfix channels">
			<div class="clearfix leaderboard-ad ad">
				{AD place='ad_728x90'}
			</div>
			{$categories = pullCategories()}
			{assign var=sorting_links value=sorting_links()}
			<div class="filter-dropdowns clearfix">
				<div class="cat-col col-lg-6 col-md-6 col-sm-6 col-xs-12 clearfix">
					{include file="$style_dir/blocks/category_list.html" type='channels'}
				</div>
				<div class="sorting-col col-lg-6 col-md-6 col-sm-6 col-xs-12 clearfix">
					<!--Sorting By View-->
					<div class="dropdown">
						{if $smarty.get.sort}
						{foreach from=$sorting_links item=name key=sort name=sorts}
							{if $smarty.get.sort==$sort && isset($smarty.get.sort)} 
							<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">{$name} <span class="icon-down-arrow"></span></a>
							{/if}
						{/foreach}
						{else}
							<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">Recent <span class="icon-down-arrow"></span></a>
						{/if}    
					
						<ul class="dropdown-menu">
							{foreach from=$sorting_links item=name key=sort}
							<li>
								<a href="{link name=sort sort=$sort type=channels}&sorting=sort" {if $smarty.get.sort==$sort} class="selected" {/if}>{if $smarty.get.sort==$sort}{/if}{$name}</a>
							</li>
							{/foreach}
						</ul>
					</div>
					
					<!--Sorting By time-->
					{assign var=time_links value=time_links()}
					<div class="dropdown">
						{if $smarty.get.time} 
					
						{foreach from=$time_links item=name key=sort name=times}
							{if $smarty.get.time==$sort && isset($smarty.get.time)} 
							<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">{$name} <span class="icon-down-arrow"></span></a>
							{/if}
						{/foreach}
						{else}
							<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">all time <span class="icon-down-arrow"></span></a>
						{/if}  
						  <ul class="dropdown-menu">
							{foreach from=$time_links item=name key=sort name=times}
								<li>
									<a href="{link name=time sort=$sort type=channels}&timing=time" {if $smarty.get.time==$sort} class="selected"{/if}>{if $smarty.get.time==$sort}<i class="icon-check"></i>{/if}{$name}</a>
								</li>
							{/foreach}
						  </ul>
					</div>
				</div>
			</div>
			<div class="clearfix row">
				{if $users}
				{foreach $users as $user}
				<div class="item-channel col-lg-3 col-md-3 col-sm-4 col-xs-12">
				{include file="$style_dir/blocks/channels.html" block_type = 'itemChannel'}
				</div>
				{/foreach}
				{else}
				<div class="well well-info">No Channel Found !</div>
				{/if}
			</div>
			{include file="$style_dir/blocks/pagination.html"}
		</section>
		<aside id="sidebar">
			<div class="box-ad ad">{AD place='ad_300x250'}</div>
			{$feature_users=get_users(['featured'=>'yes','limit'=>6])}
			{if $feature_users}
			<h2>{lang code="Featured Users"}</h2>
			<div class="clearfix sidebar-channels">
				{foreach $feature_users as $user}
				
				<div class="clearfix channel-item">
					<a href="{$userquery->profile_link($user)}" class="avatar">
						<img src="{$userquery->getuserthumb($user,'small')}" width="50" height="50" class="cb-rounded">
					</a>
					<div class="channel-info">
						<h3><a href="{$userquery->profile_link($user)}">{$user.username}</a></h3>
						<div class="clearfix views-videos">
							<span>{$user.profile_hits|number_format} {lang code='views'}</span>
							<span>{$user.total_videos|number_format} {lang code='Videos'}</span>
						</div>
					</div>
				</div>
				{/foreach}
			</div>
			{/if}
		</aside>
	</div>
</div>