{if config('enable_cookie_banner') == 'yes'}
{ANCHOR place="before_cookie_banner"}
<div id="cookie-banner" class="alert alert-info" style="display:none;">
    <strong>{lang code='website_uses_cookies'}</strong>
    <span>{lang code='necessary_cookies_only'}</span>
    <button class="btn btn-success btn-xs accept-cookies" style="margin-left:20px;">{lang code='accept'}</button>
    <button class="btn btn-success btn-xs show-cookie-list" style="margin-left:5px;">{lang('manage_x', lang('cookies')|lower)}</button>
</div>
<div class="modal fade" id="cookieListModal" tabindex="-1" role="dialog" aria-labelledby="cookieListModalLabel" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modal-close-btn" title="{lang code='close'}"><span>×</span></button>
                <h4 class="modal-title" id="cookieListModalLabel">{lang code='cookies_and_consent'}</h4>
            </div>
            <div class="modal-body" id="cookie-list-content"></div>
        </div>
    </div>
</div>
{ANCHOR place="after_cookie_banner"}
{/if}

{ANCHOR place="before_footer"}
<footer id="footer" class="clearfix">
    <div class="container">
        {if config('enable_social_networks_links_footer')=='yes'}
            {SocialNetworks::display('horizontal')}
        {/if}
        {ANCHOR place="before_footer_elements"}
        <div class="footer-holder">
            {ANCHOR place="before_footer_menu"}
            <ul class="footer-links column">
                {$foot_menu=foot_menu()}
                {foreach from=$foot_menu item=fm}
                    {if $fm.name!=''}
                        <li><a href="{$fm.link}" {if $fm.target} target="{$fm.target}"{/if} {if $fm.onclick} onclick="{$fm.onclick}" {/if}>{$fm.name}</a></li>
                    {/if}
                {/foreach}
            </ul>
            {ANCHOR place="after_footer_menu"}
            <div class="lang_wrapper column">
                {if config('enable_theme_change') == 'yes' && in_array(config('default_theme'), ['light','dark']) && Session::isCookieConsent('user_theme')}
                    <div class="theme-switch">
                        <button data-theme="light" title="{lang('title_theme_x', strtolower(lang('option_default_theme_light')))}" {if User::getInstance()->getUserTheme() == 'light'}class="active"{/if}>{lang code='option_default_theme_light'}</button>
                        <button data-theme="dark" title="{lang('title_theme_x', strtolower(lang('option_default_theme_dark')))}" {if User::getInstance()->getUserTheme() == 'dark'}class="active"{/if}>{lang code='option_default_theme_dark'}</button>

                        {if Session::isCookieConsent('user_theme_os')}
                        <button data-theme="auto" title="{lang code='title_theme_auto'}" {if !in_array(User::getInstance()->getUserTheme(), ['dark','light'])}class="active"{/if}>{lang code='option_theme_auto'}</button>
                        {/if}
                    </div>
                {/if}
                {if config("allow_language_change") && Session::isCookieConsent('cb_lang')}
                    {$langs = $lang_obj->get_langs('yes')}
                    {$total_langs = count($langs)}
                    {if $total_langs >= 2}
                        <div class="langdrop dropup">
                        <button title="Change website language" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span>{$lang_obj->lang_name}</span>
                            <i class="icon-down-arrow"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {foreach $langs as $lang}
                                {if $lang_obj->lang == $lang.language_code}
                                    {$selected = "selected" }
                                {else}
                                    {$selected = "" }
                                {/if}
                                <li data-lang="{$lang.language_id}" class="pick-lang {$selected}"><a href="javascript:void(0);">{display_clean($lang.language_name)}</a></li>
                            {/foreach}
                        </ul>
                    </div>
                    {/if}
                {/if}
            </div>

            {ANCHOR place="before_copyright"}
            <div class="copyright-poweredby column">
                {if in_dev()}
                    <i class="fa fa-bug open-modal" title="{lang code='open_debug'}" data-toggle="modal" data-target="#devModal"></i>
                {/if}
                <span id="copyright">
                    <span id="copyright-original" title="{lang|ucfirst code='by'} Arslan Hassan">©ClipBucket</span>, {lang code='maintained_by'} <a href='https://clipbucket.fr' target='_blank'>Oxygenz</a>
                </span>
            </div>
            {ANCHOR place="after_copyright"}

            {if config('enable_cookie_banner') == 'yes'}
            {ANCHOR place="before_cookies_button"}
            <div class="show-cookie-list" title="{lang('manage_x', lang('cookies')|lower)}">
                <i class="fa fa-cog" title="{lang code='open_debug'}"></i>
                {lang code='cookies'}
            </div>
            {ANCHOR place="after_cookies_button"}
            {/if}

        </div>
        {ANCHOR place="after_footer_elements"}
    </div>

    <script type="text/javascript">
        var cookieConsent = {json_encode($cookie_consent, JSON_UNESCAPED_UNICODE)};
    </script>

</footer>

{if config('popup_video') == 'yes'}
<div class="cd-popup" role="alert">
    <div class="cb-popup-container clearfix">
        <div class="modal-inset">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col my-modal-content"></div>
        </div>
    </div>
    <a class="cd-popup-close" href="#">close</a>
</div>
{/if}
