<footer id="footer" class="clearfix">
	{$Cbucket->footer()}
	<div class="container">
		<div class="footer-holder">
			<ul class="footer-links column">
				{$foot_menu=foot_menu()}
				{foreach from=$foot_menu item=fm}
				{if $fm.name!=''}
					<li><a href="{$fm.link}" {if $fm.target} target="{$fm.target}"{/if} {if $fm.onclick} onclick="{$fm.onclick}" {/if}>{$fm.name}</a></li>
				{/if}
				{/foreach}
			</ul>
			<div class="lang_wrapper column">
				{if config("allow_language_change")}
				<form action="" method="post" name="change_lang" class="">
					{$cbobjects->_display_languages()}              
				</form>
				{/if}
			</div>
			<div class="copyright-poweredby column">
				<span>#ClipBucket#</span>
			</div>
		</div>
	</div><!-- end of custom-container -->
</footer>

<script>
	$(".lang_ul li a").on({
		click: function(e){
		e.preventDefault();
		var prent_li = $(this).parents();
		$('.lang').html($(this).html()+" <span class='caret'></span>");
		$('.lang_ul li').removeClass('active');
		prent_li.addClass('active');
		}
	});

	$(document).on('click','#cbsearch',function(e){
		e.preventDefault();
		searchForm = $('.search-form');
		searchQuery = $('#query').val();
		queryLen = searchQuery.length;
		if (queryLen <= 3) {
			msg = 'Search query<strong> '+searchQuery+'</strong> is too short. Open up!';
			_cb.throwHeaderr('info', msg, 3000);
			//alert("Search term is too short");
		} else {
			$('.search-form').submit();
		}
	});
</script>
{$Cbucket->footer()}