<!DOCTYPE HTML>

<html>
	<head>
		{if in_dev()}
			{$cache_buster=microtime(true)}
		{else}
			{$cache_buster=$Cbucket->version}
		{/if}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<!-- ClipBucket v{$Cbucket->version} -->
		<meta name="copyright" content="ClipBucket - Integrated Units 2007 - {$smarty.now|date_format:"%Y"}">
		<link rel="icon" type="image/ico" href="{$baseurl}/favicon.ico">

		<!-- RSS FEEDS -->
		{rss_feeds link_tag=true}
		{if $ninja_fighting}
            {ANCHOR place='seo_ninja'}
        {else}
        	<meta name="keywords" content="{$Cbucket->configs.keywords}">
			<meta name="description" content="{$Cbucket->configs.description}">
			<meta name="distribution" content="global">


			<title>{cbtitle}</title>
        {/if}

		<link rel="stylesheet" href="{$theme}/css/bootstrap.min.css?cache={$cache_buster}">

		<link rel="stylesheet" href="{$theme}/css/font-awesome.min.css?cache={$cache_buster}">

		<link rel="stylesheet" href="{$theme}/css/icon-font.css?cache={$cache_buster}">

		<link rel="stylesheet" href="{$theme}/css/custom-elements.css?cache={$cache_buster}">

		{*if !in_dev()*}
		<link rel="stylesheet" href="{$theme}/css/all.css?cache={$cache_buster}">
		{*/if*}

		<script src="{$theme}/js/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="{$baseurl}/styles/global/jquery_ui.css">

		<script>
			var loading = '<i class="glyphicon glyphicon-refresh animate-spin"></i> {lang code="loading"}...';
			var baseurl = "{$baseurl}";
			var imageurl = "{$imageurl}";
			var userid = "{userid()}";
		</script>
		{if $__devmsgs}
			<script src="{$theme}/js/custom.js"></script>
		{else}
			<script src="{$theme}/js/custom.min.js"></script>
		{/if}

		<script src="{$theme}/js/bootstrap.min.js"></script>
		
		<script src="{$theme}/js/ui_plugins.js"></script>
		{if $__devmsgs}
			<script src="{$baseurl}/js/clipbucket.js"></script>
		{else}
			<script src="{$baseurl}/js/clipbucket.min.js"></script>
		{/if}
		<script src="{$theme}/js/uslider_js/jquery.mousewheel.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		

		<!-- Script For Home Page Videos Slider //-->

		<!-- Getting quicklist videos and assigning -->
		{assign var=qlist_videos value=get_fast_qlist()}
		{assign var=litems_count value=$qlist_videos|@count}
		{if $litems_count >= 1} 
			{assign var=got_qlitems value="yes"}
		{/if}

		<script>
			var fastQitems = "{$got_qlitems}";
			$(document).ready(function(){
				var quicklist_videos = '{$quicklist}';
				if (quicklist_videos)
				quicklist_videos_check(quicklist_videos);

				loading = '<i class="glyphicon glyphicon-refresh animate-spin"></i> {lang code="loading"}...';
				$( 'ul#photos li:visible' ).each( function( i ){
					$( this )[ (1&i) ? 'addClass' : 'removeClass' ]( 'photo-land-no' );
				})
			})
			var pageNow = "{$smarty.const.THIS_PAGE}";
		</script>
		{include file="$style_dir/blocks/quicklist/qlist_main.html"}
		{if $__devmsgs}
			<script type="text/javascript" src="{$theme}/js/fast_qlist.js"></script>
		{else}
			<script type="text/javascript" src="{$theme}/js/fast_qlist.min.js"></script>
		{/if}
		<script type="text/javascript" src="{$theme}/js/uslider_js/jquery.mousewheel.js"></script>
		{include_header file='global_header'}
		{if $Cbucket->header_files}
		    <!-- Including Headers -->
		    {foreach from=$Cbucket->header_files key=file item=type}
		        {include_header type=$type file=$file}
		    {/foreach}
		    <!-- Ending Headers -->
		{/if}
	</head>
	
	