<div id="quick_container">
	<div id="quicklist_box">
	</div>
</div> 

{$searchPage = $smarty.get.query}
<header id="header" class="clearfix">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="header-holder">
				<div class="navbar-header clearfix">
					
					<h1 class="logo">
						<a href="{$baseurl}">
							<img src="{$theme}/images/logo.png" alt="cbtune" class="img-responsive">
							<span>clipbucket</span>
						</a>
					</h1>
					<button class="navbar-toggle" data-toggle="collapse" data-target="#bs-collapse">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<a href="javascript:void(0)" class="btn-search-toggle btn visible-xs">
						<i class="icon-search"></i>
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-collapse">
					<div class="menu-holder">
						
						<div class="col">
							<nav class="main-links">
								{$head_menu=cb_menu()}
								<ul>
									{foreach $head_menu as $menu}
									{if $menu@iteration < 5}
									{if $menu.name|lower == 'home'}
										{continue}
									{/if}
									{if $menu.name == "home"}
										{continue}
									{/if}
									<li {if $menu.name|lower == $smarty.const.THIS_PAGE|lower}class="active"{/if}><a href="{$menu.link}">{$menu.name}</a></li>
									{/if}
									{/foreach}
									<li class="dropdown">
										<a href="#" data-toggle="dropdown">more <span class="icon-down-arrow"></span></a>
										<ul class="dropdown-menu pull-right">
											{foreach $head_menu as $menu}
											{if $menu@iteration > 4}
											<li><a href="{$menu.link}">{$menu.name}</a></li>
											{/if}
											{/foreach}
										</ul>
									</li>
								</ul>
							</nav>
						</div>

						<div class="col search">
							<form class="search-form" action="{link name='search_result'}">
								<div class="cbsearchtype">
									<div class="search-drop">
										<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle search-drop-btn" type="button">
											<span class="search-type">{if $smarty.get.type}{$smarty.get.type}{else}Videos{/if}</span>
											<span class="icon-down-arrow"></span>
										</button>
										<ul class="dropdown-menu">
											{$counter = 1}
											{foreach from=$Cbucket->search_types item=t key=stypes}
											{if $counter == 3}
											<li value="{$stypes}" {if $smarty.get.type==$stypes || $smarty.get.type==''}  class="active"  {/if}>
												<a  class="s-types" href="#">{$stypes|ucfirst}</a>
											</li>
											{else}
											<li value="{$stypes}" {if $smarty.get.type==$stypes}  class="active" {/if}>
												<a  class="s-types" href="#">{$stypes|ucfirst}</a>
											</li>
											{/if}
											{$counter = $counter + 1}
											{/foreach}
										</ul>
									</div>
									<input type="text" class="form-control" name="query" placeholder="search keyword here" value="{'query'|get_form_val:true}" id="query">
									<input type="hidden" name="type" class="type" value="{if isset($smarty.get.type)}{$smarty.get.type}{else}videos{/if}" id="type">
									<button tabindex="-1" type="submit" name="cbsearch" id="cbsearch" class="btn btn-default btn-search icon-search"></button>
								</div>
							</form><!-- form Ends -->
						</div>

						<div class="col btn-holder text-right">
							<ul class="nav navbar-nav navbar-right right-menu">
								{if userid()}
								<li class="dropdown upload_link">
									<a href="{link name='upload'}" class="dropdown-toggle btn-upload btn btn-default" data-toggle="dropdown"><i class="icon-upload"></i><span>{lang code="Uploads"}</span><b class="icon-down-arrow"></b></a>
									<ul role="menu" class="dropdown-menu">
										<li class="up_vid"><a href="{link name='upload'}">{lang code="Upload Video"}</a></li>
										<li class="up_img"><a href="{link name='photo_upload'}">{lang code="Upload Photo"}</a></li>
									</ul>
								</li>

								<li class="dropdown myaccount-dd">
									<a href="javascript:void(0)" class="user-area dropdown-toggle" data-toggle="dropdown">

										{$user_det = $userquery->get_user_details(userid())}
										<img src="{$userquery->getUserThumb($user_det)}" width="35" height="35">

										<span>{$userquery->username}</span>
										

									</a>
									<ul class="dropdown-menu">
									{if has_access('admin_access')}
										<li class="hidden-xs"><a href="{$admin_baseurl}">{lang code="Admin area"}</a></li>
									{/if}
										<li class="hidden-xs"><a href="{link name='my_account' }{userid}">{lang code="my_account"}</a></li>
										<li class="hidden-xs"><a href="{link name='my_videos'}">{lang code="Manage Videos"}</a></li>
										<li><a href="{link name='channels'}">{lang code="View Channels"}</a></li>
										<li><a href="{$baseurl}/view_channel.php?user={$userquery->username}">{lang code="My Channel"}</a></li>
										{ANCHOR place='premium_button_link'}
										<li class="divider"></li>
										<li><a href="{link name='logout'}">{lang code="Logout"}</a></li>
									</ul>
								</li>
								{else}
						
								<!-- Shown to small devices only Start  @todo : Add condition for logged in user -->
								<li class="navbar-sm-login-links">
									<a class="btn btn-default btn-newacc" href="#" data-toggle="modal" data-target="#signup-modal">{lang code='Create new account'}</a>
								</li>
								<li class="navbar-sm-login-links">
									<a class="btn btn-default btn-login" href="#" data-toggle="modal" data-target="#login-modal">{lang code='login'}</a>
								</li>
								
								<!-- Ends -->
								{/if}
							</ul>
						</div>
					</div>
				</div><!--navbar-collapse-->
			</div>
		</div><!--container-fluid-->
	</nav>
</header>

<script>
	$('.nav-login-dd li .dropdown-menu').click(function(e){
		e.preventDefault();
		return false;
	})
</script>


<div class="modal fade" id="login-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<form name="login-form" role="form" action="{link name='signup'}" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{lang code="Login"}</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label for="login_username">{lang code="Username"}</label>
						<input type="text" class="form-control" id="login_username"  name="username"  placeholder="Enter username">
					</div>

					<div class="form-group">
						<label for="login_password">{lang code="Password"}</label>
						<input type="password" class="form-control" id="login_password" name="password" placeholder="Enter password">
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> {lang code="Remember me"}
						</label>
					</div>


				</div>
				<div class="modal-footer">
					<div class="clearfix">
						<a href="{link name='signup'}" class="btn btn-primary btn-success btn-sm pull-left">{lang code="Create Account"}</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">{lang code="Cancel"}</button>
						<input type="submit" class="btn btn-primary" value="{lang code='Login'}" name="login">
					</div>
					<div align="center" class="clearfix">
						<a href="{$baseurl}/forgot.php">{lang code='user_forgot_password'}</a> | <a href="{$baseurl}/forgot.php?mode=recover_username">{lang code='user_forgot_username'}</a>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</form>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- signup box -->
<div class="modal fade" id="signup-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		{$required_fields=$userquery->load_signup_fields()}
		{$cutom_fields=$userquery->custom_signup_fields}


		{if $mode == 'signup_success'}
			<div class="simple_container">
				{if $udetails.usr_status !='Ok'}
					{lang code='signup_success_usr_ok'}
				{else}
					{lang code='signup_success_usr_emailverify' assign='signupsuccessusremailverify'}
					{link name='login' assign='login_link'}
					{$signupsuccessusremailverify|sprintf:$login_link}
				{/if}
			</div>
		{else}    
		
		<div class="modal-content clearfix">
			<div class="signup-box">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					{if $allow_registeration}
						{$allow_registeration}
					{else}
					<h4 class="modal-title">Signup!</h4>
				</div>
				<div class="modal-body">
						<form name="signup_form" id="signup_form" method="post" action="{$baseurl}/signup.php" >
							{foreach from=$required_fields item=field}
								{if $field.type!='checkbox' && $field.type!='radiobutton'}
									{$field.class='form-control'}
								{/if}
								<div class="form-group">
									<label for="{$field.id}">{$field.title}</label>
									{if $field.type=='radiobutton'}
										{$field.label_class="radio-inline"}
										{$field.sep=" "}
										<div></div>
									{/if}

									{if $field.type=='checkbox'}
										{$field.label_class="checkbox-inline"}
										{$field.sep=" "}
										<div></div>
									{/if}

									{if $field.hint_before}
									<span class="help-block">{$field.hint_before}</span>
									{/if}
									{ANCHOR place=$field.anchor_before}

									{$formObj->createField($field)}
									{ANCHOR place=$field.anchor_after}
									{if $field.hint_after}
									<span class="help-block">{$field.hint_after}</span>
									{/if}
								</div>
							{/foreach}
							<!-- Loading Custom Fields -->
							{foreach from=$custom_field item=field}
								<div class="form-group">
									<label for="{$field.id}">{$field.title}</label>
									{if $field.type=='radiobutton'}
									{$field.label_class="radio-inline"}
									{$field.sep=" "}
									<div></div>
									{/if}

									{if $field.type=='checkbox'}
									{$field.label_class="checkbox-inline"}
									{$field.sep=" "}
									<div></div>
									{/if}


									{if $field.hint_before}
									<span class="help-block">{$field.hint_before}</span>
									{/if}
									{ANCHOR place=$field.anchor_before}

									{$formObj->createField($field)}
									{ANCHOR place=$field.anchor_after}
									{if $field.hint_after}
									<span class="help-block">{$field.hint_after}</span>
									{/if}
								</div>
							{/foreach}

							 {$captcha = get_captcha()}
							 {if $captcha} 
							 {if $captcha.show_field}

							 <label class="label" for="verification_code">Verification Code</label>
								{load_captcha captcha=$captcha load=field field_params = ' id="verification_code" '}
							 <div class="clearfix"></div>
							 {/if}

							 <div align="center">{load_captcha captcha=$captcha load=function}</div>

							 {/if}
					   <!--{$captcha|@print_r}-->

							<div class="checkbox">
								<label>
									
								
									<input type="checkbox" checked="checked" value="yes" id="agree" name="agree" />
								   
									I Agree to  
									<a target="_blank" href="{$cbpage->get_page_link(3)}">Terms of Service</a> and 
									<a target="_blank" href="{$cbpage->get_page_link(2)}">	Privacy Policy
									</a>
								</label>
							</div>
							<input type="submit" name="signup" class="btn btn-success btn-block" value="{lang code='signup'}"  />
							{ANCHOR place='signup_form'}
						</form>
					</div>
				{/if}
			</div>
		</div>
		{/if}
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

		<script>
			$(document).ready(function(){
				$(document).keyup(function(e) {
					if (e.keyCode == 27)
					{
						$('.modal').modal('hide');
					}
				});	
				jQuery('#dob').datepicker({
					showOtherMonths: true,
					selectOtherMonths: false,
					changeMonth: true,
					dateFormat:"yy-mm-dd",
					changeYear: true
				});
				$('.simple_container').addClass('alert-success alert');
			 });
		</script>

		{literal}
			<style>
				.ui-datepicker {
					background: #fff;
					/*border: 1px solid #357EBD;*/
					width: 140px;
					vertical-align: center;
				}
			</style>
		{/literal}
	</div>
</div>

<script>
	$(document).ready(function(){
		$(".cbsearchtype a").on({
			click: function(e){
				e.preventDefault();
				var prent_li = $(this).parents();
				$('.type').val($(this).html());
				$('.cbsearchtype li').removeClass('active');
				prent_li.addClass('active');
			}
		});

		// $(".btn-search-toggle").on({
		// 	click:function(e){
		// 		e.preventDefault();
		// 		$("#header").toggleClass('drop-search');
		// 	}
		// });

		
		
		// $('.show-small-form').click(function() {
		// 	$('.form-small').toggleClass('show');   
		// });

		$('.s-types').on("click", function(){
			var _this = $(this);
			var text = _this.html();
			$('.search-type').html(text);
		});

	});

</script>