<div id="main" class="clearfix container">
	<div id="messageFav" class="alert alert-info marginTop" style="display:none; height:66px;"></div>
	<div class="clearfix">
		<div id="content">
			<div class="clearfix leaderboard-ad">
				<div class="ad">{AD place='ad_728x90'}</div>
			</div>
			{$row = $myquery->Get_Website_Details()}
			{if is_installed('editorspick')}
			{if $editor_picks}
			<div class="clearfix editorpick">
				<div class="editorpick-holder">
					<!-- Editor Pick Video Main Container START //-->
					<div class="absolute-div">
						<div id="ep_video_container">
							{if is_installed('editorspick')}
							{section name=e_list loop=$editor_picks max=1}
							{include file="$style_dir/blocks/editor_pick/video_block.html" video=$editor_picks[e_list]}
							{sectionelse}
							There is no video in editor's pick, Please Add Videos In Editor's Pick<br />Videos Manager > Add to editor's pick
							{/section}
							{/if}
						</div>
					</div>
					<!-- Editor Pick Video Main Container END //-->
					<img src="{$theme}/images/player-ratio.png" class="playerRatio">
				</div>

				<!-- Editor Pick Videos Slider Container START //-->
				<div class="editorpick-videos custom-elements">
					<div class="scrollable-area vscrollable">
						{section name=e_list loop=$editor_picks}
						{include file="$style_dir/blocks/editor_pick/index_featured_video.html" video=$editor_picks[e_list]}
						{/section}
					</div>
				</div>
				<!-- Editor Pick Videos Slider Container END //-->
			</div>
			{/if}
			{/if}
			<!-- ******************************************* -->
			<!-- ************ EDITORS BLOCK END ************ -->
			<!-- ******************************************* -->
			<section class="clearfix featured-videos">
				<h1>{lang code="featured_videos"}</h1>
				<div id="featured_vid_sec" class="clearfix row">

				</div>
				<div id="featured_pre"></div>
				<div id="featured-loadmore" class="clearfix text-center">
					<button id="featured_load_more" class="btn btn-loadmore" loadtype="video" loadmode="featured" loadlimit="{$row.index_featured}" loadhit="1">{lang code="load_more"}</button>
				</div>
			</section>

			<section class="clearfix videos">
				<h1>{lang code="recent_videos"}</h1>
				<div id="recent_vids_sec" class="clearfix row">
				</div>
				<div id="recent_pre"></div>
				<div id="recent-loadmore" class="clearfix text-center">
					<button id="recent_load_more" class="btn btn-loadmore" loadtype="video" loadmode="recent" loadlimit="{$row.index_recent}" loadhit="1">{lang code="load_more"}</button>
				</div>
			</section>
		</div>
		<aside id="sidebar">
			<div class="box-ad ad">{AD place='ad_300x250'}</div>
			<!-- ******************************************* -->
			<!-- ************* USER BLOCK START ************ -->
			<!-- ******************************************* -->
			{$feature_users=get_users(['featured'=>'yes','limit'=>5])}
			{if $feature_users}
			<h2>{lang code="featured_users"}</h2>
			<div class="clearfix sidebar-channels">
				{foreach $feature_users as $user}
				
				<div class="clearfix channel-item">
					<a href="{$userquery->profile_link($user)}" class="avatar">
						<img src="{$userquery->getuserthumb($user,'small')}" width="50" height="50" class="cb-rounded">
					</a>
					<div class="channel-info">
						<h3><a href="{$userquery->profile_link($user)}">{$user.username}</a></h3>
						<div class="clearfix views-videos">
							<span>{$user.profile_hits|number_format} {lang code='views'}</span>
							<span>{$user.total_videos|number_format} {lang code='videos'}</span>
						</div>
					</div>
				</div>
				{/foreach}
			</div>
			{/if}
			<!-- ******************************************* -->
			<!-- ************* USER BLOCK END ************** -->
			<!-- ******************************************* -->
			
			{if $row.collectionsSection == 'yes'}
			{$collections = $cbcollection->get_collections(['limit'=>4, 'active'=>'yes', 'order'=>'total_objects DESC'])}
			<h2>{lang code="top_collections"}</h2>
			<div class="clearfix sidebar-items collections-grid">
				<div class="clearfix row">
				{$limit=10}
				{if $collections}        
				{foreach from=$collections item=collection}
				{$first_col_thumb = $cbcollection->coll_first_thumb($collection,'l')}
					<div class="clearfix collection-item col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
						<div class="collection-holder">
							<div class="photo-block">
								<a href="{$baseurl}/view_collection.php?cid={$collection.collection_id}&type={$collection.type}" title="{$collection.collection_name}">
									<img alt="{$collection.title}" title="{$collection.title}" class="img-responsive" id="photo_{$collection.ci_id}" src="{$first_col_thumb}">
									<div class="collection-info">
										<span>{$collection.total_objects}</span>{lang code="photos"}
									</div>
								</a>
							</div>
							<img src="{$theme}/images/photo-bg.png" alt="" class="photo-bg">
						</div>
						<span class="title">{$collection.collection_name}</span>
					</div>
				{/foreach}
				</div>
				{else}
				<div class="clearfix">No Collection</div>
				{/if}
			</div>
			{/if}

			<!-- playlists -->
			{$playlists = get_playlists(['limit'=>4, 'order'=>'total_items DESC'])}
			{if $playlists}
			<div class="clearfix sidebar-playlists">
				<h2>{lang code="top_playlists"}</h2>
				{foreach $playlists as $playlist}
				<div class="playlist clearfix"> 
					<a href="{videoLink vdetails=$playlist['first_item']|@json_decode}&play_list={$playlist.playlist_id}"><h3>{$playlist.playlist_name}</h3></a>
					{$items = get_playlist_items($playlist.playlist_id)}
					<div class="clearfix row">
					{foreach $items as $item}
						{if $item@iteration == 5}
							{break}
						{/if}
						{$videoid = $item.videoid}
						{if $videoid}
							<div class="video col-lg-3 col-md-4 col-sm-6 col-xs-6">
								{$videos = get_videos(['videoid'=>$videoid,'limit'=>'2'])}
								{foreach $videos as $video}
									<a href="{videoLink($video)}&play_list={$playlist.playlist_id}">
										<img src="{getThumb vdetails=$video size=168x105}" class="img-responsive">
									</a>
								{/foreach}
							</div>
						{else}
						<div class="clearfix well">no items</div>
						{/if}
					{/foreach}
					</div>
					<span class="videos-count">{$cbvid->action->count_playlist_items($playlist.playlist_id)|number_format}&nbsp;{lang code="videos"}</span>
				</div>
				{/foreach}
			</div>
			{else}
				{if has_access('admin_access')}
					<div class="clearfix well">{lang code="no_playlists"}</div>
				{/if}
			{/if}
		</aside>
	</div>	
</div>

<script type="text/javascript">
	// handles initial and load more
	// for home page videos
	homePageVideos("{$got_qlitems}");
	//
	/* player height and editerpick videos height */
	var WinWidHome = "";
	function editpickVideos(){
		WinWidHome = $(window).width();
		if(WinWidHome > 991)
		{
			console.log("height "+WinWidHome);
			var bannerHeight = $(".editorpick-holder").height();
			bannerHeight = bannerHeight - 12;
			console.log("height "+bannerHeight);
			$(".editorpick-videos .scrollable-area").css({
				"height" : bannerHeight+"px",
			});
		}
		else
		{
			console.log("height "+WinWidHome);
			
			$(".editorpick-videos .scrollable-area").css("height","auto");
		}
	}
	
	$('.playerRatio').load(function(){
		editpickVideos();
	});
	$(window).resize(function() {
		editpickVideos();
	});
</script>