<div id="main" class="clearfix container">
	<div id="messageFav" class="alert alert-info marginTop" style="display:none; height:66px;">
	</div>
	<div class="clearfix">
		<div id="content">
			<div class="clearfix leaderboard-ad">
				<div class="ad">{AD place='ad_728x90'}</div>
			</div>
			{$row = $myquery->Get_Website_Details()}
			{if is_installed('editorspick')}
			{if $editor_picks}
			<div class="clearfix editorpick">
				<div class="editorpick-holder">
					<!-- Editor Pick Video Main Container START //-->
					<div id="ep_video_container">
						{if is_installed('editorspick')}
						{section name=e_list loop=$editor_picks max=1}
						{include file="$style_dir/blocks/editor_pick/video_block.html" video=$editor_picks[e_list]}
						{sectionelse}
						There is no video in editor's pick, Please Add Videos In Editor's Pick<br />Videos Manager > Add to editor's pick
						{/section}
						{/if}
					</div>
					<!-- Editor Pick Video Main Container END //-->
				</div>

				<!-- Editor Pick Videos Slider Container START //-->
				<div class="editorpick-videos custom-elements">
					<div class="scrollable-area vscrollable">
						{section name=e_list loop=$editor_picks}
						{include file="$style_dir/blocks/editor_pick/index_featured_video.html" video=$editor_picks[e_list]}
						{/section}
					</div>
				</div>
				<!-- Editor Pick Videos Slider Container END //-->
			</div>
			{/if}
			{/if}
			<!-- ******************************************* -->
			<!-- ************ EDITORS BLOCK END ************ -->
			<!-- ******************************************* -->
			{$limit = '2'}
			{$featured=$cbvid->get_videos(["featured"=>"yes","limit"=>$limit])}
			{if $featured}
			<section id="featured_vid_sec" class="clearfix featured-videos">
				<h1>{lang code="Featured Videos"}</h1>
				<div class="clearfix row">
					{foreach from=$featured item=video}
					<div class="item-video col-lg-6 col-md-6 col-sm-6 col-xs-12">
					{include file="$style_dir/blocks/videos/video.html" display_type='featuredVideos'}
					</div>
					{/foreach}
					<button id="featured_load_more" class="btn btn-primary col-md-12 col-sm-12" loadtype="video" loadmode="featured" loadlimit="2" loadhit="2">Load More</button>
				</div>
			</section>
			{else}
				<div class="well well-info">No Videos Found !</div>
			{/if}

			{$videos=get_videos(["order" =>"date_added DESC", "limit" =>6])}
			<section id="recent_vids_sec" class="clearfix videos">
				<h1>{lang code="Recent Videos"}</h1>
				<div class="clearfix row">
					{foreach $videos as $video}
					<div class="item-video col-lg-4 col-md-4 col-sm-4 col-xs-6">
					{include file="$style_dir/blocks/videos/video.html" display_type='homeVideos'}
					</div>
					{/foreach}
					<button id="recent_load_more" class="btn btn-primary col-md-12 col-sm-12" loadtype="video" loadmode="recent" loadlimit="8" loadhit="2">Load More</button>
				</div>
			</section>
		</div>
		<aside id="sidebar">
			<div class="box-ad ad">{AD place='ad_300x250'}</div>
			<!-- ******************************************* -->
			<!-- ************* USER BLOCK START ************ -->
			<!-- ******************************************* -->
			{$feature_users=get_users(['featured'=>'yes','limit'=>5])}
			{if $feature_users}
			<h2>{lang code="Featured Users"}</h2>
			<div class="clearfix sidebar-channels">
				{foreach $feature_users as $user}
				
				<div class="clearfix channel-item">
					<a href="{$userquery->profile_link($user)}" class="avatar">
						<img src="{$userquery->getuserthumb($user,'small')}" width="50" height="50" class="cb-rounded">
					</a>
					<div class="channel-info">
						<h3><a href="{$userquery->profile_link($user)}">{$user.username}</a></h3>
						<div class="clearfix views-videos">
							<span>{$user.profile_hits|number_format} {lang code='views'}</span>
							<span>{$user.total_videos|number_format} {lang code='Videos'}</span>
						</div>
					</div>
				</div>
				{/foreach}
			</div>
			{/if}
			<!-- ******************************************* -->
			<!-- ************* USER BLOCK END ************** -->
			<!-- ******************************************* -->
			
			{if $row.collectionsSection == 'yes'}
			{$collections = $cbcollection->get_collections(['limit'=>5, 'active'=>'yes'])}
			<h2>{lang code="Top Collections"}</h2>
			<div class="clearfix collections-grid">
				<div class="clearfix row">
				{$limit=10}
				{if $collections}        
				{foreach from=$collections item=collection}
				{$first_col_thumb = $cbcollection->coll_first_thumb($collection,'l')}
					<div class="clearfix collection-item col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
						<div class="collection-holder">
							<div class="photo-block">
								<a href="{$cbphoto->photo_links($item,'view_item')}">
									<img alt="{$collection.title}" title="{$collection.title}" class="img-responsive" id="photo_{$collection.ci_id}" src="{$first_col_thumb}">
								</a>
							</div>
							<div class="collection-info">
								<span>{$collection.total_objects}</span>Photo(s)
							</div>
							<img src="{$theme}/images/photo-bg.png" alt="" class="photo-bg">
						</div>
						<span>{$collection.collection_name}</span>
					</div>
				{/foreach}
				</div>
				{else}
				<div class="col-md-12 nopadding">No Collection</div>
				{/if}
			</div>
			{/if}

			<!-- playlists -->
			{$playlists = get_playlists(['limit'=>5, 'order'=>'total_items DESC'])}
			<div class="clearfix sidebar-playlists">
				<h2>{lang code="Top Playlists"}</h2>
				{if $playlists}
				{foreach $playlists as $playlist}
				<div class="playlist clearfix"> 
					<h3>{$playlist.playlist_name}</h3>	
					{$items = get_playlist_items($playlist.playlist_id)}
					<div class="clearfix row">
					{foreach $items as $item}
						{if $item@iteration == 5} 
							{break}
						{/if}
						<div class="video col-lg-3 col-md-4 col-sm-6 col-xs-6">
							{$videoid = $item.videoid}
							{if $videoid}
								{$videos = get_videos(['videoid'=>$videoid,'limit'=>'2'])}
								{foreach $videos as $video}
									<a href="{videoLink($video)}">
										{$thumb = get_thumb($video)}
										<img src="{$thumb}" class="img-responsive">
									</a>
								{/foreach}
							{else}
							<span class="clearfix">no items</span>
							{/if}
						</div>
					
					{/foreach}
					</div>
					<span class="videos-count">{$cbvid->action->count_playlist_items($playlist.playlist_id)|number_format}&nbsp;video(s)</span>
				</div>
				{/foreach}
				{else}
					<div class="clearfix">No Playlists</div>
				{/if}
			</div>
		</aside>
	</div>	
</div>
<script>

	$('#container').on("click","#recent_load_more,#featured_load_more",function(){
		var loadLink = baseurl + '/ajax/home.php',
		main_object = $(this),
		sendType = 'post',
		dataType = 'html',
		loadType = $(main_object).attr('loadtype'),
		loadMode = $(main_object).attr('loadmode'),
		loadLimit = $(main_object).attr('loadlimit'),
		loadHit = $(main_object).attr('loadhit'),
		newloadHit = parseInt(loadHit) + 1;
		$.ajax({
			url: loadLink,
			type: sendType,
			dataType: dataType,
			data: {
				"load_type":loadType,
				"load_mode":loadMode,
				"load_limit":loadLimit,
				"load_hit":loadHit
			},

			beforeSend: function() {
				// setting a timeout
				$(main_object).text("Loading..");
			},

			success: function(data) {
				$(main_object).text("Load More");
				if (data === '') {
					$(main_object).remove();
					return true;
				}
				if (loadType == 'video') {
					if (loadMode == 'recent') {
						$('#recent_load_more').remove();
						$('#recent_vids_sec').append(data);
						$('#recent_vids_sec').append('<button id="recent_load_more" class="btn btn-primary col-md-12 col-sm-12" loadtype="video" loadmode="recent" loadlimit="8" loadhit="'+newloadHit+'">Load More</button>');
					} else {
						$('#featured_load_more').remove();
						$('#featured_vid_sec').append(data);
						$('#featured_vid_sec').append('<button id="featured_load_more" class="btn btn-primary col-md-12 col-sm-12" loadtype="video" loadmode="featured" loadlimit="2" loadhit="'+newloadHit+'">Load More</button>');
					}
				} 
			}
		});
	});
</script>