{if userid()}
<script type="text/javascript">
	window.location.href = "/videos.php";
</script>
{else}
	<div class="account-container" style="height:auto !important;margin-top:40px;margin-bottom:40px;">
		<div class="signin-block" style="text-align:center;">
			<div class="side-box">
				<h2>{lang code='get_your_account'}</h2>
				<div class="text-box">
					<p>{lang code='create_account_msg'}</p>
				</div>
				<a class="btn btn-default btn-lg" href="{link name='signup'}">{lang code='get_your_account'}</a>
			</div>
		</div>
	</div>
{/if}