<div class="container manage-page marginBottom">
    <div class="marginBottom">
        <div class="row cb-box">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs">
                {include file="$style_dir/blocks/manage/userMenuLeft.html"}
            </div>
            <div class="mainContent col-md-9 col-sm-9 col-xs-12 " id="updateCollection">

                <form method="post" class="upload_form" name="form1" enctype="multipart/form-data">
                    <input type="hidden" id="input_delete_selected" name="delete_selected" value="0">
                    {if $mode == "manage" || $mode == ""}
                        <h2 style="display: inline-block;">{lang('manage_x', strtolower(lang('collections')))}</h2>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret caret_margin"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#" id="delete_selected">{lang code='delete'} </a></li>
                                <li><a href="{cblink(['name' => 'manage_collections', 'extra_params' => 'mode=add_new'])}">{lang('add_new_collection')}</a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="marginTop">
                            <table class="table table-bordered table-striped" style="margin-bottom:0;">
                                <tr>
                                    <td width="3%">
                                        <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
                                    </td>
                                    <td width="50%">{lang code='collection_name'}</td>
                                    <td width="15%">{lang code='date_added'}</td>
                                    <td width="12%">{lang code='total_items'}</td>
                                    <td width="6%">{lang code='type'}</td>
                                    <td width="5%" class="last_td">{lang code='active'}</td>
                                </tr>

                                {section loop=$usr_collects name=clist}
                                    {include file="$style_dir/blocks/manage/account_collections.html" collection=$usr_collects[clist]}
                                    {sectionelse}
                                    <div>
                                        {lang code="no_collection_found"}
                                    </div>
                                {/section}
                            </table>
                        </div>
                        {include file="$style_dir/blocks/pagination.html"}
                    {/if}

                    {if $mode == "edit_collection" || $mode == "add_new"}
                        <div class="page-hidding">
                            <h1>{if $mode == "edit_collection"}{lang code='update_collection'}{else}{lang code='add_new_collection'}{/if}</h1>
                            <div class="clearfix"></div>
                            {if $c.collection_id}  <div class="pull-left" ><a class="btn btn-primary" href="?mode=manage_items&amp;cid={$c.collection_id}&amp;type={$c.type}"> {lang("manage_items")} </a></div>{/if}
                            <div class="pull-right" ><a class="btn btn-primary" href="{$baseurl}manage_collections.php">{lang code="back_to_collection"}</a></div>
                        </div>
                        <div class="clearfix"></div>
                        {if User::getInstance()->hasPermission('allow_create_collection')}
                            <input type="hidden" value="{$c.collection_id}" name="collection_id" id="collection_id">
                            <div class="upload_info" style="margin-top: 10px;">
                                <div class="account_form">
                                    {foreach from=$fields item=field}
                                        <div class="form-group">
                                            <label for="{$field.id}">{$field.title}</label>
                                            {if $field.hint_1}<div class="hint">{$field.hint_1}</div>{/if}
                                            {ANCHOR place=$field.anchor_before}
                                            {$field.class="form-control"}
                                            {if $field.id == 'collection_tags'}
                                                <ul id="list_tags"></ul>
                                            {/if}
                                            {$formObj->createField($field)}
                                            {if $field.hint_2}
                                                <div class="hint">{$field.hint_2}</div>
                                            {/if}
                                        </div>
                                    {/foreach}
                                    {foreach from=$other_fields item=field}
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12 {if in_array($field.id, ['broadcast','allow_comments']) || ($field.id == 'public_upload' && config('enable_comments_collection') != 'yes')}no_padding_left{elseif $field.id == 'sort_type' || $field.id == 'public_upload'}no_padding_right{/if}">
                                            <label for="{$field.id}" class="show">{$field.title}</label>
                                            {if $field.hint_1}
                                                <div class="hint">{$field.hint_1}</div>{/if}
                                            {$field.label_class='radio-inline'}
                                            {$field.notShowSeprator=true}
                                            {$formObj->createField($field)}
                                            {if $field.hint_2}
                                                <small>{$field.hint_2}</small>
                                            {/if}
                                        </div>
                                    {/foreach}
                                </div>
                                <div class="clearfix"></div>
                                {if $mode != 'add_new' && count($items) > 0}
                                    <div class="formSection clear">
                                        <h4>{lang code='thumbs'} <i class="glyphicon glyphicon-chevron-down pull-right"></i></h4>
                                        <div class="sectionContent hidden">
                                            <div class="row">
                                                <h5>{lang code="default_thumb"}</h5>
                                                {foreach from=$items item=item}
                                                    <div class="col-md-3">
                                                        <div class="form-group text-center">
                                                            <label for="thumb_{$item['id']}"><img class="edit-img-thumbnail" src="{Collection::getInstance()->getItemThumb($item, $c.type)}" width="100" height="100"/>
                                                                <input class="show" style="margin:5px auto;" type="radio" value="{$item['id']}" id="thumb_{$item['id']}" name="default_thumb" {if $item['id']==$c.thumb_objectid}checked{/if}/>{lang code='default'}
                                                            </label>
                                                        </div>
                                                    </div>
                                                {/foreach}
                                            </div>
                                        </div>
                                    </div>
                                {/if}
                                <div class="text-right">
                                    <input type="submit" name="update_collection" class="btn btn-primary btn-lg" value="{if $mode == "edit_collection"}{lang code='update_collection'}{else}{lang code='add_new_collection'}{/if}">
                                </div>
                            </div>
                        {else}
                            <div class="alert alert-danger">
                                <strong>{lang code="creating_collection_is_disabled"}</strong>
                            </div>
                        {/if}
                    {/if}

                    {if $mode == "manage_items" || $mode == "collection_items"}
                        <h2>{lang code='manage_items'} - <a href="{$baseurl}manage_collections.php?mode=edit_collection&cid={$c.collection_id}">{display_clean($c.collection_name)}</a></h2>
                        <div class="clearfix"></div>
                        <div class="pull-left">
                            <input type="submit" class="btn btn-danger small_button" name="delete_selected" id="delete_selected" {if empty($objs['items'])} disabled="disabled" {/if}value="{lang code='remove'}" />
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-primary" href="{$baseurl}manage_collections.php">{lang code="back_to_collection"}</a>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            {if empty($objs['items'])}
                                <div align="center" style="font:bold 11px Tahoma; margin-top:5px;">{lang code="no_items_found_in_collect"}</div>
                            {else}
                                <table class="table table-striped table-bordered" style="margin-bottom:0;">
                                    <tr>
                                        <th style="width:3%"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></th>
                                        <th style="width:50%">{lang code='title'}</th>
                                        <th style="width:15%" align="center">{lang code='date_added'}</th>
                                        <th style="width:7%" class="last_td" align="center">{lang code='remove'}</th>
                                    </tr>

                                </table>
                                {foreach $objs['items'] as $item}
                                    {include file="$style_dir/blocks/manage/account_collections.html" display_type="items" collection=$item}
                                {/foreach}
                                {include file="$style_dir/blocks/pagination.html"}
                            {/if}
                        </div>
                    {/if}

                    {if $mode == "favorite"}
                        <h2>{lang code="manage_favorite_collections"}</h2>
                        <div>
                            <input type="submit" name="remove_selected_favs" id="remove_selected_favs" value="{lang code='remove'}" class="btn btn-primary btn-sm"/>
                        </div>
                        <br>
                        <div class="marginTop">
                            <table class="table table-bordered table-striped" style="margin-bottom:0;">
                                <tr>
                                    <td width="3%">
                                        <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
                                    </td>
                                    <td width="50%">{lang code='title'}</td>
                                    <td width="15%">{lang code='date_added'}</td>
                                    <td width="100" class="last_td">{lang code='type'}</td>
                                </tr>
                                {section loop=$collections name=list}
                                    {include file="$style_dir/blocks/manage/account_collections.html" display_type="favorite" collection=$collections[list]}
                                    {sectionelse}
                                    <div align="center" style="font:bold 11px Tahoma;margin:5px 0;">
                                        {lang code="you_dont_have_fav_collections"}
                                    </div>
                                {/section}
                            </table>
                        </div>
                        {include file="$style_dir/blocks/pagination.html"}
                    {/if}
                </form>

            </div>
        </div>
    </div>
</div>
<div style="height:20px;"></div>
<script>
    var available_tags = JSON.parse('{$available_tags|json_encode|escape:'javascript'}');
</script>

