<div class="account-container" style="height:auto !important;margin-top:40px;margin-bottom:40px;">
{if config('allow_registeration')}
	<div class="signin-block" style="text-align:center;">
		<div class="side-box">
			<h2>{lang code='get_your_account'}</h2>
			<div class="text-box">
				<p>{lang code='create_account_msg'}</p>
			</div>
			<a class="btn btn-default btn-lg" href="{link name='signup'}">{lang code='get_your_account'}</a>
		</div>
	</div>
{else}
	<div class="clearfix signin-block">
		<div class="account-holder">
			<form action="/signup.php" name="login_form" id="login_form"  method="post" style="display:block;margin:auto;" class="user-form">
				<h2>{lang code="login"}</h2>
				<div class="form-group">
					{*<label for="login_username_sp">{lang code="username"}</label>*}
					<input type="text" id="login_username_sp" placeholder="{lang code='type_username_here'}"
						   class="form-control" name="username">
				</div>

				<div class="form-group">
					{*<label for="login_password_sp">{lang code="password"}</label>*}
					<input type="password" id="login_password_sp" placeholder="{lang code='type_password_here'}"
						   class="form-control" name="password">
				</div>

				<div class="checkbox custom-elements form-group">
					<label>
						<input type="checkbox" name="remember_me" value="yes">
						{lang code="remember_me"}
					</label>
				</div>

				<input id="login_btn" type="submit" name="login" value="{lang code='login'}" class="btn btn-primary btn-lg btn-block">
				{if config('disable_email') == 'no'}
					<a href="/forgot.php?mode=recover_username">{lang code='user_forgot_username'}</a> - <a href="/forgot.php">{lang code='user_forgot_message'}</a>
				{/if}
				<input type="hidden" name="login" value="login"/>
			</form>
		</div>
	</div>
{/if}
</div>