		{if $msg}
		<div class="alert alert-block alert-info">
		{$msg}
		</div>
		{/if}
		<div id="main">
			<div class="container">
				<div id="uploadMessage"></div>
			</div>
			<div class="container cb-box uploadVideos">
				<div class="progress-container allProgress hidden">  
					<div class="row">
						<div class="col-md-2" id="uploadedFilesInfo">
							<p>{lang code="inserted"} 0 {lang code="of"} 0</p>
						</div>
						<div class="col-md-10">
							<div class="progress">
								<div id="overallProgress" class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="cb-item-desc-container clearfix flat-tabs" id="mainUploadContainer">
					<div class="video-info-container">
						<ul class="nav nav-tabs uploaderTabs">
							{assign var=opt_list value=$Upload->get_upload_options()}
							{$counter = 1}
							{foreach from=$opt_list item=opt key=divid}
								{$class = ""}
								{if $counter == 1}
									{$class = "active"}
								{/if}

								{assign var='no_upload' value='no'}
								<li class="{$class}">
									<a class="added" href="#{$divid}" data-toggle="tab">{$opt.title}</a>
								</li>
								{$counter = $counter + 1}
							{/foreach}
						</ul>
						<div class="tab-content uploadFormDiv">
							{$counter = 1}
							{foreach from=$opt_list item=opt key=divid}
								{$class = ""}
								{if $counter == 1}
									{$class = " active"}
								{/if}
								<div class="tab-pane fade in clearfix uploadForm{$class}" id="{$divid}">
									{load_form name=$opt.function function_class=$opt.class button_class='cb_button_2' class='upload_form'}
								</div>
								{$counter = $counter + 1}
							{/foreach}
						</div>
					</div>
				</div>
			</div>
		</div>
	<div>
</div>
<div class="modal fade" id="myModal" role="dialog">
</div>
<script type="text/javascript">
	var uploadScriptPath ='{$uploaderDetails.uploadScriptPath}';
	var max_upload_size ="{Clipbucket::getInstance()->getMaxUploadSize()}Mb";
	var max_file_size ="{config('max_upload_size')}Mb";
	var chunk_upload ="{config('enable_chunk_upload') == 'yes'}";
	var back_extensions = '{$extensions}';
	var theme = '{$theme}';
	var max_video_title = "{config('max_video_title')}";
	var default_country_iso2 = "{config('default_country_iso2')}";
	var date_format_time = "{date(config('date_format'),time())}";
	var get_default_cid = "{$default_category_id}";
	var stay_mp4 = "{config('stay_mp4')}";
	var available_tags = JSON.parse('{$available_tags|json_encode|replace:"'": "\'"}');
	var pourcent_completed = '{$pourcent_completed}';
	var cancel_uploading = '{$cancel_uploading}';
	{if $selected_collection}
		var collection_id = '{$selected_collection.collection_id}';
	{/if}
</script>
