<div id="main" class="container clearfix">
	<div class="clearfix">
		<section id="content" class="clearfix">
			<div class="clearfix leaderboard-ad ad">
				{AD place='ad_728x90'}
			</div>
			<h1>
				{$c.collection_name|capitalize}&nbsp;&nbsp;
				({$c.total_objects}&nbsp;{$c.type|capitalize})
				{lang code='collection' assign='object_type'}
				{uploadButton details=$c output='link' target="_blank" class='btn btn-success pull-right'}
			</h1>
			<div id="photos" class="clearfix row">
				{section name=list loop=$objects}
				<div class="item-photo col-lg-4 col-md-4 col-sm-6 col-xs-6">
				{include file="$style_dir/blocks/collection.html" object=$objects[list] display_type=view_collection type=$c.type}
				</div>
				{sectionelse}
				<div class="well well-info">
					{$c.collection_name} has 0 items.
				</div>
				{/section}
			</div>
			<div align="center" class="clearfix">
				{include file="$style_dir/blocks/pagination.html"}
			</div>

			<div class="clearfix fav-repo">
				<div class="show clearfix photoStats">
					<a href="javascript:void(0)" class="btn btn-ghost" id="addToFav" onclick="slide_up_watch_video('#video_action_result_cont');add_to_fav('collection','{$c.collection_id}');">Add to Favorites</a>
					<a href="javascript:void(0)" class="btn btn-ghost" id="flagPhotoButton" onclick="$('#flag_item').toggle();">Report</a>
				</div>
				
				<div class="video_action_result_boxes clearfix">
					{*show_share_form id=$c.collection_id type=Collection*}
					{show_flag_form id=$c.collection_id type=Collection}
					<div class="action_box" style="display:none" id="video_action_result_cont"></div>
				</div>

				<ul class="clearfix desc-list">
					<li>
						<strong>{lang code="Uploaded:"}</strong>&nbsp;{$c.date_added|niceTime}
					</li>
					<li>
						<strong>{lang code="Views:"}</strong>&nbsp;{$c.views|number_format}
					</li>
					<li>
						<strong>{lang code="Categories:"}</strong>&nbsp;{$c.category|categories:collections}
					</li>
					<li>	
						<strong>{lang code="Tags:"}</strong>&nbsp;{$c.collection_tags|tags:collections}
					</li>
				</ul>
			</div>

			<div class="clearfix comments-block">
				{if $myquery->is_commentable($c,'collection')}

				<div class="collectionComments addComment">
					<h2>{lang code="comments"} ({$c.total_comments})</h2>

					{if $myquery->is_commentable($c,'collection')}
					{include file="$style_dir/blocks/comments/add_comment.html" id=$c.collection_id type='cl'}
					{/if}
				</div>

				<div class="userComments">
					<ul id="userCommentsList" style="margin-left:-40px;">
					</ul>
				</div>

				{else}
				<div align="center" class="moveL no_comments">
					{lang code='comm_disabled_for_collection'}
				</div>
				{/if}
			</div>
		</section>
		<aside id="sidebar">
			<div class="box-ad ad">{AD place='ad_300x250'}</div>
			<h2>Featured Photos</h2>
			<div class="clearfix sidebar-items">
			{$featured=get_photos(["featured"=>"yes","limit"=>6])}
			{if $featured}
				<div class="row">
					{foreach $featured as $photo}
						<div class="item-photo col-lg-6 col-md-6 col-sm-12 col-xs-12">
							{include file="$style_dir/blocks/photo.html" display_type='featuredPhoto_sidebar'}
						</div>
					{/foreach}
				</div>
			{else}
				<div class="well well-info">No Photo(s) Found !</div>
			{/if}
			</div>
			{$row = $myquery->Get_Website_Details()}
			{if $row.collectionsSection == 'yes'}
				{$collections = $cbcollection->get_collections(['limit'=>5, 'active'=>'yes'])}
				<h2>{lang code="Top Collections"}</h2>
				<div class="clearfix sidebar-items collections-grid">
					{$limit=10}
					{if $collections}
					<div class="clearfix row">
						{foreach from=$collections item=collection}
							{$first_col_thumb = $cbcollection->coll_first_thumb($collection,'l')}
							<div class="clearfix collection-item col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
								<div class="collection-holder">
									<div class="photo-block">
										<a href="{$baseurl}/view_collection.php?cid={$collection.collection_id}&type={$collection.type}" title="{$collection.collection_name}">
											<img alt="{$collection.title}" title="{$collection.title}" class="img-responsive" id="photo_{$collection.ci_id}" src="{$first_col_thumb}">
											<div class="collection-info">
												<span>{$collection.total_objects}</span>Photo(s)
											</div>
										</a>
									</div>
									<img src="{$theme}/images/photo-bg.png" alt="" class="photo-bg">
								</div>
								<span class="title">{$collection.collection_name}</span>
							</div>
						{/foreach}
					</div>
					{else}
					<div class="well well-info">No Collection</div>
					{/if}
				</div>
			{/if}
		</aside>
	</div>
	<script>
		$(document).ready(function(){
			function getAllComments(type,type_id,last_update,pageNum,total,object_type,admin){
				$('#userCommentsList').html("<div style='padding:5px 0px;'>"+loading+"</div>");
				$.ajax({
					type: 'POST',
					url: page,
					data:  {
						mode:'getComments',
						page:pageNum,type:type,
						type_id:type_id,
						object_type : object_type,
						last_update : last_update,
						total_comments : total,
						comments_voting : comments_voting,admin : admin
					},
					success: function(comments){
						$("#userCommentsList").html(comments);
					},
					dataType: 'text'
				});
			}
			comments_voting = 'no';
			getAllComments('cl','{$c.collection_id}','{$c.last_commented}',1,'{$c.total_comments}','{$object_type}');
			//
			var adHtml = $('.ad-holder').html();
			if(adHtml<1){
				$('.ad-holder').parent().remove();
				$('#photos').parent().removeClass('col-lg-10 col-md-10 col-sm-10');
				$('#photos').parent().addClass('clearfix col-lg-12 col-md-12 col-sm-12');
			}

		});
	</script>
</div>