{lang code='channel' assign='object_type'}
{$loadMoreLang ={lang code="load_more"}}

{$total_videos = $user.total_videos}
{$total_photos = $user.total_photos}

<div id="main" class="container clearfix">
    <div class="clearfix">
        {include file="$style_dir/blocks/view_channel/channel_header.html"}
    </div>
    {if user_id() && $user.userid != user_id()}
        <div class="clearfix report-block" id="report-user-form" style="display:none;">
            {show_flag_form id=$user.userid type=user}
        </div>
    {/if}
    <div class="clearfix">
        <section id="content" class="clearfix">
            {if $first_video}
                <div class="clearfix player-holder">
                    <div id="cb_player" class="clearfix cb_player">
                        {if $first_video.status|lower == 'successful'}
                            {show_player vdetails=$first_video}
                        {else}
                            <div class="thumb-holder">
                                <img class="img-responsive{if Video::getInstance()->isToBlur($first_video['videoid'])} blur{/if}" src="{getThumb vdetails=$first_video size=768x432}"/>
                                {ANCHOR place='in_video_thumb' data=$first_video}
                            </div>
                        {/if}
                    </div>
                </div>
            {/if}
            <div id="messageFav" class="alert alert-info marginTop" style="display:none;"></div>
            <div class="channel-tabs flat-tabs clearfix">
                <ul class="clearfix nav nav-tabs">
                    <li{if $default_tab == 'info'} class="active"{/if}>
                        <a href="#user-info" data-toggle="tab">{lang code='info'}</a>
                    </li>
                    {if isset($uservideos)}
                        <li{if $default_tab == 'video'} class="active"{/if}>
                            <a href="#user-videos" data-toggle="tab">{lang code='videos'}</a>
                        </li>
                    {/if}
                    {if isset($photos)}
                    <li{if $default_tab == 'photo'} class="active"{/if}>
                        <a href="#user-photos" data-toggle="tab">{lang code='photos'}</a>
                    </li>
                    <li>
                    {/if}
                    {if isset($playlists)}
                    <li>
                        <a href="#user-playlist" data-toggle="tab">{lang code='playlists'}</a>
                    </li>
                    {/if}
                    {if config('enable_comments_channel') == 'yes'}
                        <li>
                            <a href="#user-comments" data-toggle="tab">{lang code='comments'} (<span id="comment_count">{$user.comments_count}</span>)</a>
                        </li>
                    {/if}
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane fade in clearfix{if $default_tab == 'info'} active{/if}" id="user-info">
                        <div class="clearfix watch-vid-details">
                            <h2>{lang code='user_activity'}</h2>
                            <ul class="clearfix desc-list">
                                {if $p.profile_desc}
                                    <li>
                                        <strong>{lang code='description'}</strong> : {User::getClean($p.profile_desc)}
                                    </li>
                                {/if}
                                <li>
                                    <strong>{lang code='joined'}</strong> : {$user.doj|niceTime}
                                </li>
                                <li>
                                    <strong>{lang code='user_last_login'}</strong> : {$user.last_logged|niceTime}
                                </li>
                                {if config('enable_user_status') == 'yes'}
                                    <li>
                                        <strong>{lang code='online_status'}</strong> :
                                        {if userquery::getInstance()->isOnline($user.last_active,$p.online_status)}
                                            <span style="color:#060;">{lang code='online'}</span>
                                        {else}
                                            <span style="color:#ed0000;">{lang code='offline'}</span>
                                        {/if}
                                    </li>
                                {/if}
                            </ul>

                            {if $field_group.channel_view != 'no'}
                                {foreach from=$channel_profile_fields item=field_group name=profile_groups}
                                    {if (!empty($field_group.fields) && !empty(array_filter(array_column($field_group.fields, 'value')))) || ($field_group.group_id=='profile_location' && config('enable_country')=='yes') || ($field_group.group_id=='profile_basic_info' && ($p.show_dob!='no' || config('enable_user_category')=='yes') ) }
                                        <div class="clearfix">
                                            <h2>{display_clean($field_group.group_name)}</h2>
                                            <ul class="clearfix desc-list">
                                                {if $field_group.group_id=='profile_location' && config('enable_country')=='yes'}
                                                    <li>
                                                        <strong>{lang code='country'}</strong> : {$user.country|get_country}
                                                    </li>
                                                {/if}

                                                {foreach from=$field_group.fields item=field}
                                                    {if is_string($field.value) && empty(trim($field.value))}
                                                        {continue}
                                                    {/if}
                                                    {if $field.auto_view=='yes' && $field.value}
                                                        <li>
                                                            {if !in_array($field.type, ['textarea', 'text', 'textfield', 'hidden'])}
                                                                <strong>{$field.title}</strong>
                                                                : {input_value input=$field}
                                                            {else}
                                                                {if $field.id == 'profile_tags'}
                                                                    <strong class="pull-left">{$field.title} : </strong>
                                                                    <input type="hidden" id="profile_tags" value="{User::getClean($field.value)}">
                                                                    <ul id="list_tags_profile" style="border: 0;"></ul>
                                                                {else}
                                                                    <strong>{$field.title}</strong>
                                                                    : {User::getClean($field.value)}
                                                                {/if}
                                                            {/if}
                                                        </li>
                                                    {/if}
                                                {/foreach}

                                                {if $field_group.group_id=='profile_basic_info'}
                                                    {if $p.show_dob!='no'}
                                                        <li>
                                                            <strong>{lang code='user_date_of_birth'}</strong> : {cbdate(NULL, $user.dob)}
                                                        </li>
                                                    {/if}
                                                    {if config('enable_user_category')=='yes'}
                                                        <li><strong>{lang code='category'}</strong>:&nbsp;{$category_links}</li>
                                                    {/if}
                                                {/if}
                                            </ul>
                                        </div>
                                    {/if}
                                {/foreach}
                            {/if}
                        </div>
                    </div>

                    {if isset($uservideos)}
                        <div class="tab-pane videos fade in clearfix{if $default_tab == 'video'} active{/if}" id="user-videos">
                            {if !empty($uservideos)}
                                <div class="clearfix row user_vids">
                                    <div id="usr-vids" class="clearfix">
                                        {foreach $uservideos as $video}
                                            <div class="item-video col-lg-4 col-md-4 col-sm-6 col-xs-120" data-id="{$video.videoid}">
                                                {include file="$style_dir/blocks/videos/video.html" display_type='homeVideos'}
                                            </div>
                                        {/foreach}
                                    </div>
                                    {if $total_videos > 9 && count($uservideos) == 9}
                                        <div class="clearfix text-center">
                                            <button id="more-view-channel" class="btn btn-loadmore" dataLimit="9" dataHit="2">{lang code='load_more'}</button>
                                        </div>
                                    {/if}
                                </div>
                            {else}
                                <div class="well well-info">{lang code='no_results_found'}</div>
                            {/if}
                        </div>
                    {/if}

                    {if isset($photos)}
                        <div class="tab-pane photos fade in clearfix{if $default_tab == 'photo'} active{/if}" id="user-photos">
                            {if !empty($photos)}
                                <div id="usr-photos" class="clearfix row user_photos">
                                    {foreach from=$photos item=p_list}
                                        <div class="item-photo col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            {include file="$style_dir/blocks/photo.html" photo=$p_list display_type = "default_photo"}
                                        </div>
                                    {/foreach}
                                    {if $user.total_photos > 9 && count($photos) == 9}
                                        <div class="clearfix text-center">
                                            <button id="more-channel-photos" class="btn btn-loadmore" dataLimit="9" dataHit="2">{lang code='load_more'}</button>
                                        </div>
                                    {/if}
                                </div>
                            {else}
                                <div class="well well-info">{lang code='no_results_found'}</div>
                            {/if}
                        </div>
                    {/if}

                    {if isset($playlists)}
                        <div class="tab-pane playlist fade in clearfix" id="user-playlist">
                            {if !empty($playlists)}
                                <div class="clearfix row ch-playlists">
                                    {foreach $playlists as $playlist}
                                        <div class="playlist-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            {include file="$style_dir/blocks/playlist/playlist-block.html"}
                                        </div>
                                    {/foreach}
                                </div>
                            {else}
                                <div class="well well-info">{lang code='no_playlists'}</div>
                            {/if}
                        </div>
                    {/if}

                    {if config('enable_comments_channel') == 'yes'}
                        <div class="tab-pane comment fade in clearfix" id="user-comments">
                            {if User::getInstance($user.userid)->get('allow_comments') == 'yes'}
                                <div class="collectionComments addComment">
                                    <div id="bloc-comment">
                                        {include file="$style_dir/blocks/comments/add_comment.html" id=$user.userid type=Comments::$libelle_type_channel}

                                        <div class="userComments">
                                            <ul id="userCommentsList" style="margin-left:-40px;"></ul>
                                        </div>
                                    </div>
                                </div>
                            {else}
                                <span class="well well-info btn-block">{lang('comment_disabled_for',strtolower(lang('channel')))}</span>
                            {/if}
                        </div>
                    {/if}
                </div>
            </div>
        </section>
        <aside id="sidebar">
            {include file="$style_dir/blocks/view_channel/channel_right.html"}
        </aside>
    </div>


</div>
<script>
    var channelId = "{$user['userid']}";
    var totalVids = "{$total_videos}";
    var totalPhotos = "{$total_photos}";
    var loadMoreLang = "{$loadMoreLang}";
    var libelle_type_channel = "{Comments::$libelle_type_channel}";
    var chunk_upload = "{config('enable_chunk_upload') == 'yes'}";
    var max_upload_size = "{Clipbucket::getInstance()->getMaxUploadSize()}Mb";
    var max_file_size = "{config('max_upload_size')}Mb";
    var photo_extensions = "{ClipBucket::getInstance()->get_extensions('photo')}";
    var ids_to_check_progress = JSON.parse('{$ids_to_check_progress}');
    var display_type = "{$display_type}"
    var lang_confirm_unfriend = '{lang('confirm_unfriend', $user['username'])}';
</script>