/* Light Theme */
html.light body {
    background-image: url('../../images/light.jpg');
    background-attachment: fixed;
    background-position: center;
}

html.light #header,
html.light .dropdown-menu,
html.light .item-channel .user-block,
html.light .item-channel .channel-holder{
    background: #0e0b14;
}

html.light #header .main-links>ul>li>a,
html.light .navbar-default .right-menu.navbar-nav>li>a,
html.light #header .dropdown-menu>li>a,
html.light h1,
html.light #header .search .cbsearchtype .search-drop .btn-default .search-type,
html.light #sidebar h2,
html.light #header .search .cbsearchtype .btn-default,
html.light .videos .video-info .title a,
html.light .btn-loadmore,
html.light .collections-grid .title,
html.light .item-channel .info strong span,
html.light .item-channel h2,
html.light .collections .title,
html.light .filter-dropdowns .cat-col .btn-default,
html.light .user-activities .feed,
html.light .cover .profile-buttons h2,
html.light .featured-video .title a,
html.light .featured-video .views-date span,
html.light .video-details header.details h1,
html.light .video-details header.details .user-video-info .user-title a,
html.light body,
html.light .view-tabs .alert-info,
html.light .watch-vid-details .desc-list,
html.light .dropdown-menu>li>a,
html.light .view-tabs .nav-tabs.nav>li:not(.active)>a:hover,
html.light .form-control,
html.light .select-area,
html.light .select-area .select-opener,
html.light .select-options ul a,
html.light .item-photo .photo-info strong a,
html.light .view-details header.details h1,
html.light .view-details header.details .user-video-info .user-title a,
html.light .flat-tabs .nav-tabs.nav>li.active>a,
html.light .flat-tabs .nav-tabs.nav>li:not(.active)>a:hover,
html.light #footer .langdrop .dropdown-menu li a,
html.light .manage-page .nav-pills>li>a,
html.light a,
html.light .manage-page,
html.light h5,
html.light button:hover,
html.light button:focus,
html.light .account_box,
html.light .nav-tabs>li.active>a,
html.light .fav-repo .desc-list,
html.light .sidebar-channels .channel-item .channel-info h3 a{
    color: #2a2a2a;
}

html.light #header .search .cbsearchtype,
html.light #header .search .cbsearchtype .search-drop{
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
}

html.light #header .search .cbsearchtype .search-drop {
    border-right: 1px solid #f9f9f9;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html.light .navbar-default .right-menu.navbar-nav>li>a.btn-upload:hover,
html.light .btn-loadmore,
html.light .videos .video-info,
html.light .sidebar-items,
html.light .collections-grid .title,
html.light .item-channel .info,
html.light .collections .title,
html.light .filter-dropdowns .cat-col .btn-default,
html.light .cover .profile-buttons,
html.light .cover .avatar,
html.light .video-details,
html.light .item-photo .photo-info,
html.light .view-details,
html.light .breadcrumb,
html.light .cb-box,
html.light .channel-tabs,
html.light .manage-page button,
html.light .fav-repo,
html.light .sidebar-channels,
html.light .sidebar-playlists .playlist{
    background: linear-gradient(#F6F6F6, #C6C6C6);
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.60);
}

html.light #header{
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.60);
}

html.light .featured-videos .cd-popup-trigger{
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.60);
}

html.light .form-control,
html.light .select-area,
html.light .select-area .select-opener,
html.light .select-options,
html.light .nav-tabs>li.active>a,
html.light .nav-tabs>li.active>a:hover,
html.light .nav>li>a:hover,
html.light .nav>li>a:focus,
html.light .table-striped>tbody>tr:nth-of-type(odd),
html.light .btn-ghost{
    background-color: #2a2a2a;
}

html.light #header .dropdown-menu>li>a,
html.light .navbar-default .right-menu.navbar-nav>li>a.btn-upload,
html.light .item-channel .channel-holder,
html.light .breadcrumb{
    border-color: #2a2a2a;
}

html.light .videos .video-info,
html.light .featured-videos .item-video .video-link .img-responsive,
html.light .featured-videos .item-video .video-link,
html.light .featured-videos .item-video .video-link .title,
html.light .featured-videos .item-video .video-link:after,
html.light .collections .title,
html.light .cover .profile-buttons,
html.light .item-photo .photo-info,
html.light .photo-view,
html.light #gallery,
html.light .channel-tabs{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

html.light .item-video .thumb-holder .video-link .img-responsive,
html.light .item-video .thumb-holder .video-link,
html.light .item-channel .user-block,
html.light .collections .photo-block img,
html.light .video-js .vjs-tech,
html.light .video-js .vjs-big-play-button,
html.light .vjs-has-started .vjs-cb-header-caption,
html.light .item-photo .photo-holder,
html.light .photo-view,
html.light #gallery{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

html.light .item-channel .channel-holder{
    border-width: 2px;
}

html.light .sidebar-items,
html.light .collections-grid .photo-block img,
html.light .popular-video .img-responsive,
html.light .video-details,
html.light .view-details,
html.light .breadcrumb,
html.light .item-channel .channel-holder,
html.light .cb-box,
html.light .manageVid_thumb img,
html.light .media-object.imgobject,
html.light .fav-repo,
html.light .sidebar-channels,
html.light .sidebar-playlists .playlist,
html.light .sidebar-playlists .playlist .img-responsive{
    border-radius: 5px;
}

html.light .dropdown-menu>li>a:hover,
html.light .select-options .item-selected a,
html.light .filter-dropdowns .dropdown-menu>li>div:hover,
html.light .filter-dropdowns .sorting-col .dropdown-menu>li a:hover{
    background: #0080b4;
}

html.light .view-tabs .nav-tabs.nav>li,
html.light .flat-tabs .nav-tabs.nav>li:not(.active)>a{
    color: #cacaca;
}

html.light .btn-loadmore:hover,
html.light button:hover{
    border-color: #0080b4;
}

html.light .featured-video,
html.light .well,
html.light .sidebar-channels .channel-item{
    background: none;
}

html.light .video-js .vjs-big-play-button {
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

html.light .manage-page .nav-pills>li.active>a{
    background: #0080b4;
}

html.light .manage-page .nav-pills>li.active,
html.light .manage-page .nav-pills>li:has(+ li.active),
html.light .manage-page .nav-pills>li:not(:has(+ li)){
    border: none;
}

html.light .manage-page .nav-pills>li{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #f9f9f9;
    border-radius: 0;
}

html.light .msg,
html.light .error{
    color: #30323E;
}
