/*View Groups*/
.groups-view {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 10px;
    margin-top: -10px;
    min-height: 124px;
    padding-bottom: 10px;
    padding-top: 10px;  
}
.groups-view ul li{
    float: left;
    font-size: 12px;
    color: #a5a5a5;
    width: 43%;
}
.groups-view h4 a{
    color: #444;
}
.small{
     color: #000000;
}
.groups-view img {
    border: 2px solid #DDDDDD;
    padding: 0;
    width: 100%;
}
.min-height-25{
min-height: 25px;
}
.groups-view:nth-of-type(odd)
{
border-right: none;
padding-right: 0px;
}
.groups-view:nth-of-type(even)
{
padding-left: 2px;
}
.nomargin
{
    margin: 0px !important;
    color: #000000;

}
.line-height-1{
    line-height:1 !important;
}
.margin-bottom-10{
margin-bottom: 10px;
}
.user_on_right{

padding-bottom: 5px;
padding-top: 5px;
border-bottom: 1px solid #DDDDDD;

}
.theme_color , .theme_color a {
    color: #0099CC !important;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: #5a595a;
}
.group_thumb_member{
    height: 34px;
    margin: 1px;
    width: 34px;
}
.friendsBox{
    margin-top: 7px;
}
.cb_img_thum{
    border: 2px solid #DDDDDD;
    padding: 0;
    width: 100%;
}
.margin-top-25{
    margin-top: 25px !important;
}
.basic-color{
   color: #5a595a; 
}
/*Sidebar of categories*/
.navbar-stacked ul{

}
.navbar-stacked li a{
color: #575757;

}
.nav > li.wv_heading > a:hover, .nav > li.wv_heading > a:focus .cbCategoryItem > ul > li.wv_heading > a:hover, .cbCategoryItem > ul > li.wv_heading > a:focus{
    background-color: #444444;
    color: #FFFFFF !important;
}
.navbar-stacked li{
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-left: 10px solid #d5d5d5;
}
.navbar-stacked li b{
   float: right;
}
.navbar-stacked li:hover{
   border-left: 10px solid #428bca;
}
.navbar-stacked li b.caret{
   border-top-width: 8px;
    margin-top: 8px;
}
.navbar-stacked .dropdown-menu > li > a{
padding: 7px 15px;
}
.navbar-stacked .dropdown-menu > li > a{
  color: #575757;
}
.wv_heading{
    background-color: #444444;
    color: #FFFFFF;
}

.navbar-stacked li.wv_heading a{
color: #fff;
font-weight: 200;
}
.nav.navbar-stacked .caret{
  color: #575757;
 border-bottom-color: #575757;
    border-top-color: #575757;
}
.navbar-stacked li.wv_heading a:hover{
color: #575757;
}
.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}

.cbCategoryItem ul{
  list-style: none;
  padding-left: 0px;
}
.cbCategoryItem ul li{
border-left: 0px solid #d5d5d5;
border-top: 1px solid #d5d5d5;
border-bottom: none;
border-right: none;
}
.cbCategoryItem ul li:hover{
   background-color: #EEEEEE;
    border-left: 0 solid #428BCA;
}
.cbCategoryItem ul li:hover a{
  border-left: 0px solid #428BCA;
}

.cbCategoryItem ul li{
  padding: 7px 7px 7px 30px;
  font-size: 14px;
}
.nav > li > a:hover, .nav > li > a:focus
.cbCategoryItem > ul > li > a:hover,.cbCategoryItem > ul > li > a:focus{
  background-color: #EEEEEE;
  text-decoration: none;
  
}
.cbCategoryItem:hover span.CategoryToggler{
  border-color: #444444 rgba(0, 0, 0, 0) -moz-use-text-color;
}  
.cbCategoryItem span.CategoryToggler {
    border-color: #AFAFAF rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid dotted;
    border-width: 9px 4px 0;
    color: #D5D5D5;
    cursor: zoom-in;
    display: inline-block;
    float: right;
    height: 0;
    margin-left: 2px;
    margin-top: 8px;
    position: inherit;
    right: 10px;
    top: 7px;
    vertical-align: middle;
    width: 0;
    z-index: 9;
}
.padding-left-right-zero{
padding-left: 0px;
padding-right: 0px;
}
.margin-top-10{
 margin-top: 10px;
}
.nav.navbar-stacked > li > a{
padding: 7px 15px;
}
.overflow_hidden{
overflow: hidden;
}
.dropdown-menu {right:0;min-width:230px;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
