<!-- Getting list of topics -->
{if !$topics}
    {assign var=topics value=$cbgroup->get_group_topics($group.group_id)}
{/if}

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="topic_table_head">
  <tr>
    <td width="40" align="left">&nbsp;</td>
    <td align="left">{lang code='topic_title'}</td>
    <td width="150" align="left">{lang code='views'}</td>
    <td width="100" align="left">{lang code='grp_replies_title'}</td>
    <td width="100" align="left">{lang code='last_reply'}</td>
  </tr>
</table>
{if $topics}
{foreach from=$topics item=topic}
{assign var=poster value=$userquery->get_user_details($topic.userid)}

{if $topic.last_poster}
{assign var=last_poster value=$userquery->get_user_details($topic.last_poster)}
{else}
{assign var=last_poster value=''}
{/if}

<div class="topic_table">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr bgcolor="{cycle values=f7f7f7,ffffff}">
    <td width="40" align="left"><img src="{$cbgroup->get_topic_icon($topic)}" /></td>
    <td align="left">
    {lang code='topic_by_user' assign='topic_by_user'}
    
    <span class="topic_title">{$topic_by_user|sprintf:$cbgroup->topic_link($topic):$topic.topic_title:$userquery->profile_link($poster):$poster.username} {$title.date_added|niceTime} 
	{if has_access('admin_access') || $topic.userid == $userquery->userid}<small><a href="javascript:void(0)" id="delete_topic-{$topic.topic_id}" onmousedown="delete_item('delete_topic','{$topic.topic_id}','{lang code="tp_del_confirm"}','?mode=topic_del&amp;topic_id={$topic.topic_id}');">Delete</a></small>{/if}
	</td>
    <td width="150" align="left">{$topic.total_views|number_format}</td>
    <td width="100" align="left">{$topic.total_replies|number_format}</td>
    <td width="100" align="left">
    {if $last_poster}
    {lang code='last_post_time_by_user' assign='last_post_time_by_user'}
    {assign var=last_post_time value=$topic.last_post_time|niceTime}   
    {$last_post_time_by_user|sprintf:$last_post_time:$userquery->profile_link($last_poster):$last_poster.username}
    {else}{lang code='bad_date'}{/if}</td>
  </tr>
</table>
</div>

{/foreach}
{else}
<div align="center"><em><strong>{lang code='no_topics'}</strong></em></div>
{/if}