h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
}
.alert-warning {
  color: #fff;
  background-color: #ed9c28;
  border-color: #ed9c28;
}
.alert-info {
  color: #fff;
  background-color: #3276b1;
  border-color: #3276b1;
}
.alert-success {
  color: #fff;
  background-color: #47a447;
  border-color: #47a447;
}
.alert-success h2 {
  color: #fff;
}
.alert-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.navbar-default .navbar-nav .active a {
  color: #fff;
  background-color: #0099cc !important;
}
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: #0099cc;
}
.form-control,
.dropdown-menu,
.label,
.cb-box,
.btn,
.alert,
.msg,
.error {
  border-radius: 0px !important;
}
.nav-tabs li a {
  border-radius: 0px;
}
.category-header .total-obj {
  border-radius: 0px;
}
.pagination li:first-child a {
  border-radius: 0px;
}
.simple_container h2 {
  color: #fff;
}
.responsive-search .dropdown-menu {
  min-width: 100%;
  right: 0;
  left: auto;
}
.view-photo-nxt,
.view-photo-pre {
  top: 50%;
  margin-top: -35px;
  position: absolute;
  display: block;
}
