#coverConainer{
	max-height: 200px;
	margin-bottom: 40px;
}
.changeCover{
    position: absolute;
    top: 10px;
    left: 10px;
}
#result_cont,#messageFav{
	display: none;
	position: fixed; top: 47px; width: 73%;
	z-index: 11;
}

#cb_player{

}
.feads img{
	border: solid; border-color: #D7DFEE;

}
.feeds1 hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.hr-channal {
	margin-left: -2px; width: 98%;
}
.bottom-hieght{
	height: 20px;
}
.right-top-btns{
	padding-left: 40px; padding-top: 5px; margin-right: -27px;
}
.right-top-btns a,.right-top-btns a:hover,.right-top-btns  button {
	display: inline; background-color: #000000
}
.btn-bootums{
	padding-top: 115px; margin-right: -30px;
}
.btn-bootums button,.btn-bootums button:hover,.btn-bootums .btn-primary {
	background-color: #000000;color: white
}

.cover-user-name{
	background-color:rgba(0,0,0,0.5); padding:2px 4px; border-radius:3px
}



@media (min-width: 768px) and (max-width:1200px) {
	.right-top-btns {
    margin-right:0px;
    padding-left:0px;
    padding-top: 5px;
}
.btn-bootums {
    margin-right:0px;
}
}

