<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<!-- ClipBucket v3.0 -->
<meta name="author" content="Arslan Hassan, Fawaz Tahir" />

<link rel="shortcut icon" href="{$imageurl}/favicon.ico" type="image/x-icon" />

<meta name="keywords" content="{$Cbucket->configs.keywords}" />
<meta name="description" content="{$Cbucket->configs.description}" />
<meta name="distribution" content="global" />



<title>{cbtitle}</title>


<!-- RSS FEEDS -->
{rss_feeds link_tag=true}

<!-- Including Normalizer And Bootstrap -->
<link rel="stylesheet" type="text/css" href="{$layout_url}/normalize.css" />
<link rel="stylesheet" type="text/css" href="{$template_url}/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{$template_url}/bootstrap/css/bootstrap-responsive.min.css" />

<!-- ClipBucket default.css -->
<link rel="stylesheet" type="text/css" href="{$theme_url}/default.css" />

<!-- ie 9 Gradient Fix -->
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

<!-- Including ClipBucket Global_header -->
{include_header file='global_header'}

<!-- Including Bootstrap JS 
        NOTE : JQUERY v1.7 or higher is required -->
<script type="text/javascript" src="{$template_url}/bootstrap/js/bootstrap.min.js"></script>


<!-- Amplify -->
<script type="text/javascript" src="{$template_url}/amplify/amplify.core.min.js"></script>
<script type="text/javascript" src="{$template_url}/amplify/amplify.request.min.js"></script>
<script type="text/javascript" src="{$template_url}/amplify/amplify.store.min.js"></script>

<!-- Including Functions -->
<script type="text/javascript" src="{$layout_url}/functions.js"></script>

<!-- Including Javascript written in HTML document -->
{include file="$layout_dir/javascript.html"}

</head>

<!-- Global Header Ends Here -->