
<!-- Error Modal Box -->
<div class="modal hide" id="error">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Error</h3>
    </div>
    <div class="modal-body">

        <p class="alert alert-error"></p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-danger" data-dismiss="modal">Dismiss</a>
    </div>
</div>


<!-- Msg Modal Box -->
<div class="modal hide" id="msg">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Success</h3>
    </div>
    <div class="modal-body">

        <p class="alert alert-success"></p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-info" data-dismiss="modal">Dismiss</a>
    </div>
</div>

<!-- Confirm Modal Box -->
<div class="modal hide" id="confirm">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Confirm</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        {loading_pointer place='confirm'}
        <a href="javascript:void(0)" id="confirm-yes" class="btn btn-primary">Yes</a>
        <button onclick="close_confirm();" class="btn btn" data-dismiss="modal">No</button>
    </div>
</div>

<header>
    <div class="header-top">
        <div class="logo-container"><a href="{$baseurl}"><img src="{$imageurl}/logo.png" /></a></div>

        <!-- Buttons on the right side-->
        <div class="header-top-right">

            <form class="inlineblock form-search" style="margin-right:10px;" action="{link name='search_result'}" data-component="cbsearch">
                <input type="hidden" name="type" id="searchType" value="{'type'|get_form_val:true}" />
                {$search_type='type'|get_form_val:true}
                <div class="inlineblock valignTop input-append input-prepend">
                    <div class="btn-group" data-component="cbsearch">
                        <button class="btn dropdown-toggle selected-search-type" type="button" data-toggle="dropdown"><span>{$search_type|capitalize}</span> <i class='caret'></i></button>
                        <ul class="dropdown-menu">
                            {foreach from=$Cbucket->search_types item=t key=stypes name=SearchTypes}
                            <li>
                                <a id="{$stypes}" data-type="{$stypes}" href="#" class="search-type{if $smarty.get.type == $stypes && $smarty.const.THIS_PAGE == "search_result"} active{/if}">{$stypes|capitalize}</a>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                        <input type="text" class="span5" value="{'query'|get_form_val:true}" name="query" id="query">
                        <button class="btn"><i class="icon-search"></i></button>                    
                    </div>
                </form>


                <div class="inlineblock valignTop">
                    {if !userid()}

                    <div class="btn-group ">
                        <button class="btn login-box" data-target="#login-modal"  data-toggle="modal"><span class="icon-user"></span> {lang code='Login'}</button>
                        <a href="{link name='signup'}" class="btn">Register</a>

                    </div>
                    <!-- Login Modal Box -->
                    <div class="modal hide fade" id="login-modal">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">×</button>
                            <h3>{lang code='user_mem_login'}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="moveL login-modal-left">
                                <form class="" method="post" action="{link name='signup'}">
                                    <input type="text" class="modal-username" 
                                           placeholder="{lang code='Email'}" name="username">
                                    <div></div>
                                    <input type="password" class="modal-password" 
                                           placeholder="{lang code='Password'}" name="password">

                                    <div class="inlineblock moveL">
                                        <label class="checkbox">
                                            <input type="checkbox" id="rememberme" class="rememberme" value="yes">
                                            {lang code='remember_me'}
                                        </label>
                                    </div>
                                    <div class="inlineblock moveR">
                                        <button class="btn btn-inverse">{lang code='Login'}</button>
                                    </div>
                                    <div class="clearfix"></div>
                                    <input type="hidden" name="login" value="do"/>
                                </form>
                            </div>
                            <div class="moveL login-modal-right" align="center">

                                <h4>{lang code="Don't have an account?"}</h4>

                                <a href="{link name='signup'}" class="btn btn-primary btn-large">
                                    {lang code="Create one now!"}
                                </a>
                                <div class="height10"></div>
                                <div class="terms-text">{lang code="ready_ours_terms_privacy"}</div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer" style="text-align: left" >
                                <a class="btn btn-mini">{lang code='user_forgot_message'}</a> or
                                <a class="btn btn-mini">{lang code='user_forgot_username'}</a>
                            </div>
                        </div>


                        {else}

                        <div class="btn-toolbar" style="margin: 0;">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="icon-user"></span> {username()}  <span class="caret"></span></button>
                            <ul class="dropdown-menu">

                                {$user_menu=get_menu('user_head_menu')}

                                {foreach $user_menu as $menu}
                                <li><a href="{$menu.link}">{$menu.title}</a></li>
                                {/foreach}


                                <li class="divider"></li>
                                <li><a href="{$baseurl}/logout.php"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Upload <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{link name='upload'}">{lang code='Upload video'}</a></li>
                                <li><a href="{link name='photo_upload'}">{lang code='Upload photo'}</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div>
                    {/if}
                </div>
            </div>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">



                <div class="container">
                    <ul class="nav">
                        {cbMenu}
                    </ul>

                    <ul class="nav pull-right">

                        {if $playlist.playlist_name}
                        <li class="dropdown playlist-dropdown open"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Now Playing : {$playlist.playlist_name} <i class="caret"></i></a>
                            <div class="dropdown-menu playlist-menu" role="menu" >
                                <div class="cbv3-scroller playlist-list-container">

                                    {$playlist_thumb = $cbvid->action->getPlaylistThumb($playlist.playlist_id)}

                                    <img src="{$playlist_thumb.0}" class="playlist-thumb" width="50" height="35"/>
                                    {$playlist.playlist_name}

                                    <hr />

                                    {foreach $playlist.items as $item}
                                    <div class="playlist-item {if $video.videoid==$item.videoid}item-active{/if}"
                                         onclick="window.location='{videoLink vdetails=$item}'">                              
                                        <img src="{getThumb vdetails=$item}" class="item-thumb" width="30" height="22"/>
                                    <span>{$item.title|truncate:40}</span>

                                    <span class="absolute right"><h6>
                                            {if $video.videoid==$item.videoid}
                                            playing
                                            {else}
                                            {$item.duration|setTime}
                                            {/if}
                                        </h6></span>
                                </div>
                                {/foreach}

                            </div>
                        </div>
                    </li>
                    {/if}
                    <li class="dropdown friend-requests-dd">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           onclick="read_notifications('friends',true);"><span class="icon-user icon-white"></span>               
                            <span class="badge badge-important" id="new_friends_lable">{$new_friends|number_format}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu" 
                            id="notifications-container">
                            <li>
                                {$template=get_template('friends_notifications','path')}
                                {include file=$template notifications=$notifications}
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           onclick="read_notifications('msgs',true);"><span class="icon-envelope icon-white"></span>
                            <span class="badge badge-important" id="new_msgs_label">{$new_msgs|number_format}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu" 
                            id="notifications-container">
                            <li>
                                {$template=get_template('msgs_notifications','path')}
                                {include file=$template notifications=$notifications}
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           onclick="get_notifications(true);">
                            <span class="icon-globe icon-v3-white"></span>
                            <span class="badge badge-important" id="new_notifications_label">{$new_notifications|number_format}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu" 
                            id="notifications-container">
                            <li>
                                {$template=get_template('notifications','path')}
                                {include file=$template notifications=$notifications}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>