<div id="global-container" class="relative clearfix">
    <div class="global-navigation-column pull-left">
        <div class="cb-widget clearfix">
            {$is_user=$userquery->login_check('',true)}
            <div class="relative clearfix index-channel-block">
                <div style="height: 161px; width: 161px;"><img src="{avatar details=$userquery->udetails}" class="pull-left channel-profile-image" width="161" height="161" /></div>
                <ul class="pull-left margin0">
                    <li><a href="{if $is_user}{$userquery->profile_link($userquery->udetails)}{else}{link name='login'}{/if}" title="{lang code='View Channel'}" class="cb-tooltip"><i class="icon icon-user icon-white"></i></a></li>
                    <li><a href="{if $is_user}{link name='my_account'}" title="{lang code='My Account'}{else}{link name='login'}{/if}" class="cb-tooltip"><i class="icon icon-lock icon-white"></i></a></li>
                    <li><a href="{if $is_user}edit_account.php?mode=account{else}{link name='login'}{/if}" title="{lang code='Channel Settings'}" class="cb-tooltip"><i class="icon icon-cog icon-white"></i></a></li>
                    <li><a href="{if $is_user}manage_videos.php{else}{link name='login'}{/if}" title="{lang code='My Videos'}" class="cb-tooltip"><i class="icon icon-film icon-white"></i></a></li>
                    <li><a href="{if $is_user}manage_photos.php{else}{link name='login'}{/if}" title="{lang code='My Photos'}" class="cb-tooltip"><i class="icon icon-picture icon-white"></i></a></li>
                    <li class="{if $is_user}user-logged-in{else}user-logged-out{/if}"><a href="{if $is_user}{link name='logout'}{else}{link name='login'}{/if}" title="{if $is_user}{lang code='Logout'}{else}{lang code='Login'}{/if}" class="cb-tooltip"><i class="icon icon-off icon-white"></i></a></li>
                </ul>                  
            </div>
        </div>
        
        {if has_sidebar('index-sidebar-left')}
            {sidebar('index-sidebar-left')}
        {else}
            {if $userquery->udetails && $userquery->udetails.total_subscriptions > 0}
                {$subscriptions=$userquery->get_user_subscriptions($userquery->udetails.userid)}
                {if $subscriptions}
                    <div class="cb-widget">
                        <h2 class="cb-widget-title">{lang code='Subscriptions'}</h2>
                        <ul class="global-nav-list margin0 cbv3-scroller">
                            {foreach $subscriptions as $sub}
                                {include_template_file file="blocks/user.html" user=$sub display_method='index_sidebar' subs='true'}
                            {/foreach}
                        </ul>
                    </div>
                {/if}
            {/if}
            <div class="cb-widget">
                <h2 class="cb-widget-title">{lang code='Browse'}</h2>
                {$categories=getCategoryList(['type'=>'video'])}

                {if $categories}
                <ul class="global-nav-list margin0 cbv3-scroller">
                    {foreach $categories as $cat}
                        {if !$cat.parent_id}
                            <li><a href="{category_link($cat,'video')}">{$cat.category_name}</a></li>
                        {/if}
                    {/foreach}
                </ul>
                {/if}
            </div>
            {$featured_users=get_users(['limit'=>'10','featured'=>'yes'])}
            {if $featured_users}
            <div class="cb-widget">
                <h2 class="cb-widget-title">{lang code='Featured Users'}</h2>
                <ul class="global-nav-list margin0">
                    {foreach $featured_users as $feature_user}
                        {include_template_file file="blocks/user.html" user=$feature_user display_method='index_sidebar' subs='false'}
                    {/foreach}
                </ul>
            </div>
            {/if}
        {/if}
    </div>
    <div id="global-navgiation-full-height"></div>

    <div class="pull-left" style="width: 900px;">
    {if is_installed('editorspick')}
        <div class="marginB10 clear cbv3-editors-pick {if $editor_picks}editor-pick-has-videos{else}editor-pick-no-videos{/if} clearfix relative">
            {if $editor_picks}
            <div id="ep_video_container" style="min-height: 292px;">{include_template_file file="blocks/editor_pick/video_block.html" video=$editor_picks.0}</div>
                
                <div class="editor-pick-videos-list cbv3-scroller inlineblock-fix">
                    {foreach $editor_picks as $video}
                        {include_template_file file='blocks/editor_pick/index_featured_video.html' video=$video first=$video@first}
                    {/foreach}
                </div>
            {else}
            <div class="no-videos-message">
                <span>
                    There is no video in editor's pick, Please Add Videos In Editor's Pick
                    <div class="no-video-help">Videos Manager > Add to editor's pick</div>
                </span>
            </div>
            {/if}
            
            <div class="absolute editor-pick-advertisment">
                {AD place='ad_300x250'}
            </div>
        </div>
    {/if}
    
    {$videos=get_videos(['limit'=>15])}
    {if $videos}
        {$heading='Latest Videos'}
        {$more_mode='recent'}
    {/if}
    <div style="padding-left: 10px; background: whitesmoke; border-bottom: 8px solid white; margin-top: -10px;" class="clearfix">
        {if $videos}
            <h3 class="marginB10"><a href="{link name=sort sort=$more_mode type=videos}">{$heading}</a></h3>

            <div class="carousel slide" id="latest-videos">
                {foreach $videos as $video}
                    {include_template_file file='blocks/video.html' video=$video display_method=''}
                {/foreach}
            </div>

        {/if}
    </div>
    
    <div class="global-sidebar-column pull-right">
        <div class="cb-widget">
            {AD place=ad_300x600}
        </div>
        {if has_sidebar('index-sidebar-right')}
            {sidebar('index-sidebar-right')}
        {else}
            {$last_viewed=get_photos(['limit'=>'8','order'=>' last_viewed DESC'])}
            {if $last_viewed}
            <div class="cb-widget">
                <h2 class="cb-widget-title">{lang code='Being Viewed Photos'}</h2>
                {foreach $last_viewed as $photo}
                    {include_template_file file="blocks/photo.html" photo=$photo display_method='index_sidebar'}
                {/foreach}
            </div>
            {/if}        
        {/if}
    </div>

    <div class="global-content-column pull-left">
        
        {$featured_videos=get_videos(['limit'=>8,'featured'=>'yes'])}
        {if $featured_videos}
        <div class="featured-middle-content" id="featured-videos-wrapper">
            <h3 class="marginB10">{lang code='Featured Videos'} <small class="marginL10"><a href="{link name=sort sort=featured type=videos}">More Videos</a></small></h3>
            <div class="carousel slide" id="featured-videos">
                <div class="carousel-inner">
                    <div class="inlineblock-fix">
                        {foreach $featured_videos as $ftvideo}

                            {if $ftvideo@first || $open_tag=='true'}
                                {$open_tag=''}
                                <div class="item {if $ftvideo@first}active{/if}">
                            {/if}
                            <a href="{videoLink vdetails=$ftvideo}" class="featured-video-block">
                                <div class="featured-video-inner-block">
                                    <div class="featured-video-thumb-block thumbs-1 one-thumb">
                                        <img src="{getThumb vdetails=$ftvideo size='300x250' num='big'}" class="featured-video-thumb small" />
                                    </div>
                                    <h4>{$ftvideo.title}</h4>
                                    <p>{$ftvideo.description|description|strip_tags|truncate:70}</p>
                                </div>
                            </a>
                            {if $ftvideo@iteration % 2 == 0 || $ftvideo@last}
                                {$open_tag='true'}
                                </div>
                            {/if}
                        {/foreach}                
                    </div>
                </div>
                <a class="carousel-control left" href="#featured-videos" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#featured-videos" data-slide="next">&rsaquo;</a>
            </div>
        </div>
        {/if}
                
        {$photos=get_photos(['limit'=>9])}
        {if $photos}
            {$heading='Latest Photos'}
            {$more_mode='recent'}            
        {/if}
        
        {if $photos}            
            <h3 class="marginB10">
                <a href="{link name=sort sort=$more_mode type=photos}">{lang code=$heading}</a>
            </h3>
            <div id="index-photos-container">
            {foreach $photos as $photo}
                {include_template_file file="blocks/photo.html" photo=$photo display_method="index_photos" iteration=$photo@iteration last=$photo@last first=$photo@first}
            {/foreach}
            </div>
        {/if}
    </div>
    <div id="global-content-full-height"></div>
    </div>
</div>