{include_template_file file="blocks/account_left.html"}


<div class="account-right">

    <div class="account-heading">
        <h2 >{lang code="Manage contacts"}</h2>
    </div>

    <div class="manager-list">
        <div class="controller scrolltoFixed white-grad">
            <div class="buttons">
                <div class="right-button">
                    {if $mode=='manage'}
                    <a class="btn btn-primary" href="?mode=requests">
                        {lang code='Pending requests'} 
                        ({$userquery->get_friend_requests(userid(),['ignored'=>'no','count_only'=>true])|number_format})
                    </a>
                    {else}
                    <a class="btn btn-primary" href="?mode=manage">
                        {lang code='Contact list'}
                    </a>
                    {/if}
                </div>
            </div>
        </div>


        {if $mode=='manage'}
        <!-- Get Friends list -->

        {$friends=$userquery->get_contacts(userid())}

        {if !$friends}
        <div class="alert alert-large">{lang code='You do not have any contacts'}</div>
        {else}
        {foreach $friends as $friend}
        <div class="friend-row-{$friend.userid} friend-row">
            <div class="friend-avatar">
                <img src="{$userquery->avatar($friend,'small')}" class="img-polaroid"/>
            </div>
            <div class="friend-name">
                {name($friend)}
            </div>
            <div class="friend-actions">
                <div class="btn-group">
                    <a class="btn btn-small ">List <i class="caret"></i></a>
                    <a class="btn btn-small btn-danger btn-unfriend" data-friend-id="{$friend.userid}" data-name="{name($friend)}">{lang code='Unfriend'}</a>
                </div>
            </div>
        </div>
        {/foreach}
        {/if}
        {/if}


        {if $mode=='requests'}
        {$friends=$userquery->get_friend_requests(userid(),['ignored'=>'no'])}

        {if $friends}
        {foreach $friends as $friend}
        <div class="friend-row-{$friend.userid} friend-row request-block-{$friend.req_id}">
            <div class="friend-avatar">
                <img src="{$userquery->avatar($friend,'small')}" class="img-polaroid"/>
            </div>
            <div class="friend-name">
                {name($friend)}
            </div>
            <div class="friend-actions">
                <div class="btn-group">
                    <a class="btn btn-small btn-confirm-friend" data-rid="{$friend.req_id}">{lang code='Confirm'}</i></a>
                    <a class="btn btn-small btn-ignore-friend" data-rid="{$friend.req_id}">{lang code='Ignore'}</a>
                </div>
            </div>
        </div>
        {/foreach}
        {else}
        <div class="alert alert-large alert-no-requests">{lang code='You do not have any friend requests'}</div>
        {/if}
        

        <!-- Get Hidden Requests -->

        {$hidden_requests=$userquery->get_friend_requests(userid(),['ignored'=>'yes'])}
        {if $hidden_requests}
        <button class="btn btn-block" onclick="
            $(this).hide();$('#hidden-requests').show();$('.alert-no-requests').hide()">{lang code='Show hidden requests'}</button>
        <div class="display-none" id="hidden-requests">
            {foreach $hidden_requests as $friend}
            <div class="friend-row-{$friend.userid} friend-row request-block-{$friend.req_id}">
                <div class="friend-avatar">
                    <img src="{$userquery->avatar($friend,'small')}" class="img-polaroid"/>
                </div>
                <div class="friend-name">
                    {name($friend)}
                </div>
                <div class="friend-actions">
                    <div class="btn-group">
                        <a class="btn btn-small btn-confirm-friend" data-rid="{$friend.req_id}">{lang code='Confirm'}</i></a>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        
        {/if}
        {/if}

    </div>


