
<!-- Acount left -->
{include_template_file file="blocks/account_left.html"}

<div class="account-right">
    <div class="account-heading">
        <h2>Uploaded videos (<span id="playlists_count">2</span>)</h2>

        <div class="account-search absolute top right">
            <form class=" form-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>


        <div class="manager-list">
            <div class="controller scrolltoFixed white-grad">
                <div class="buttons">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <label class="btn check-all"><input type="checkbox"></label>
                        </div>
                        <div class="btn-group">
                            <a class="btn" onclick="return false;">Actions <i class="caret"></i></a>
                            <a class="btn" onclick="return false;"><i class="icon-plus"></i> Add To</a>
                        </div>
                    </div>

                    <div class="right-button dropdown">
                        Sorting  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Newest <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Shit</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Shit</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <form name="uploaded-videos-form" method="post" id="uploaded-videos-form">

                <table id="uploaded-videos-list" class="table list-block ">
                    {if $videos}
                    {foreach $videos as $video} 
                    <tr>
                        <td><input type="checkbox" class="check-item" name="my-items-list[]" value="value"></td>
                        <td>
                            <div class="manage-video-div">
                                <a href="{$baseurl}/edit_video.php?vid={$video.videoid}" class="manage-video-title"><img src="{get_thumb vdetails=$video size=160x120}" class="manage-vid-thumb img-rounded" />
                                {$video.title} <i class="manage-vid-edit-icon icon-pencil"></i></a>
                                
                                <div class="muted">Upload On {$video.date_added|date_format}</div>
                                
                                <div class="manage-video-labels">
                                    {if $video.active=='yes'}
                                    <span class="label label-success">{lang code='active'}</span>
                                    {else}
                                    <span class="label label-important">{lang code='Inactive'}</span>
                                    {/if}
                                    {if $video.status=='Processing'}
                                    <span class="label label-warning">{lang code='Processing'}</span>
                                    {/if}
                                </div>
                                
                                <div class="manage-video-options">
                                    {if $video.broadcast=='public'}
                                    <span><i class="icon-globe icon-v3"></i> {lang code='Public'}</span>
                                    {else}
                                    <span><i class="icon-eye-close"></i> {lang code='Public'}</span>
                                    {/if}
                                </div>
                            </div>
                            {$likes=count_likes($video)}
                            
                            <div class="manage-video-details">
                                <div><i class="icon-eye-open"></i> {$video.views|number_format}  {lang code='views'}</div>
                                <div><i class="icon-thumbs-up"></i> {$likes.likes|number_format} 
                                    <span class="rating-down">
                                        <i class="icon-thumbs-down"></i> {$dislikes.dislikes|number_format}
                                    </span>
                                </div>
                                <div><i class="icon-comment"></i> {$video.comments_count|number_format} {lang code='comments'}</div>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}

                </table>
            </form>  

        </div>
    </div>
</div>

<!--Clearing things up -->
<div class="clearfix"></div>