{$options=get_upload_options('photos')}
<div id="uplad_options_container" class="clearfix">
    <div id="upload_window" class="padding_box">
        {foreach $options as $option}
        <div class="upload-window" id="window-{$option.id}">
            {upload_window($option)}
        </div>
        {/foreach}
    </div>
    
    <div id="upload_options" class="padding_box">
        <ul class="upload_options">
            {foreach $options as $option}
            <li data-toggle="upload-option" data-target="{$option.id}">
                <i class="upload-icon {$option.icon}"></i> 
                <span class="upload-title">{$option.title}</span>
                <div class="upload-desc">{$option.description}</div>
            </li>
            {/foreach}
        </ul>
    </div>
</div>

<div class="upload-divider"></div>

{* includes photo form templates *}
{include_template_file file="blocks/upload/photo_form.html"}

<div id="upload-overall-container" class="upload-overall-container">
    <!-- this div will hold overall progress of upload -->
</div>

<div class="upload_list_container" id="upload_list_container">
    <!-- photo blocks will be displayed here -->
</div>

<div class="upload-form-container" id="upload-form-container">
    <!-- photo block representative form will be displayed here -->
</div>