{lang code='channel' assign='object_type'}

{include file="$style_dir/global_header.html"}
{$user_videos=get_videos(['user'=>$u.userid,'limit'=>6])}
{$user_photos=get_photos(['user'=>$u.userid,'limit'=>6])}
{$user_contacts=$userquery->get_json_friends($u.userid)}

<body class="relative view_channel">
    {display_user_custom_background( $u )}
    <div class="container view-channel-container">
        {include_template_file file="header.html" }
        <div id="global-container" class="relative clearfix">
            <div class="view-channel-box user-info-box clearfix">
                <div class="user-details">
                    <div class="user-avatar pull-left">
                        <img src="{avatar details=$u}" width="200" height="200" class="view-channel-box" style="padding: 4px; margin-bottom: 0px; margin-right: 15px;" />
                    </div>
                    <div class="pull-left">
                        <h4>{name($u)}</h4>
                       <dl class="dl-horizontal">
                           <dt>From</dt>
                           <dd>Sialkot</dd>
                           <dt>From</dt>
                           <dd>Sialkot</dd>
                       </dl>                       
                    </div>
                </div>
                <div class="user-profile-item no-profile-item">{cb_video_player width='100%' height='100%' files=$video_files video=$profile_item}</div>
            </div>
            
            <div class="view-channel-box clearfix">
                <ul class="view-channel-top-row-items">
                    <li>
                        <a href="#">
                            <div class="view-channel-top-row-item-block image-not-loaded-background six-blocks">
                                {foreach from=$user_contacts item=contact}
                                <div class="top-row-content-block"><img src="{avatar uid=$contact.userid size='small'}" /></div>
                                {/foreach}
                            </div>
                            <span>{count($user_contacts)} Friends</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="view-channel-top-row-item-block image-not-loaded-background one-block">
                                {if $user_videos}
                                {$single_video_index=array_rand($user_videos)}
                                <img src="{get_thumb vdetails=$user_videos.$single_video_index num='big'}" class="cbv3-center-image" />
                                {/if}
                            </div>
                            <span>{$u.total_videos|number_format} Videos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="view-channel-top-row-item-block image-not-loaded-background one-block">
                                {if $user_photos}
                                {$single_photo_index=array_rand($user_photos)}
                                {get_photo details=$user_photos.$single_photo_index output='html' size='m' class="cbv3-center-image"}
                                {/if}
                            </div>
                            <span>{$u.total_photos|number_format} Photos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="view-channel-top-row-item-block image-not-loaded-background">
                                <strong class="user-subscribers">{$u.subscribers}</strong>
                            </div>
                            <span>Subscribers</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="view-channel-column-left">
                <div class="new_post_box">
                    <div align="left" class="post_btns btn-group"> 
                        <a class="btn btn-mini active" data-toggle="modal" data-target="#add-topic-modal">
                            <i class="icon-comment"></i> Post Status</a>

                        <a class="btn btn-mini" data-toggle="modal" data-target="#add-topic-modal">
                            <i class="icon-list"></i> Post Topic</a>
                        <a class="btn btn-mini" href="http://localhost/cb-sf/upload/add_group_videos.php?url=one_piece">
                            <i class="icon-film"></i> Post Video</a>
                        <a class="btn btn-mini"><i class="icon-picture"></i> Post Photo</a>
                    </div>

                    <div class="new_post_container padding_box" id="new_post_container">
                        <div class="post_message_container">
                            <textarea class="post_message" placeholder="Post something..." rows="1" style="overflow: hidden; word-wrap: break-word; resize: none; height: 20px;"></textarea>
                        </div>
                        <div id="post_content"></div>
                        <div class="post_options display-none" align="right" id="post_options" style="display: block;">
                            <button class="btn btn-primary btn-mini" data-type-id="5" data-type="g" id="add_new_post" data-loading-text="Loading...">Post</button>
                        </div>
                    </div>
                </div>
                
                
                {if $feeds}
                {foreach $feeds as $feed}
                    {include_template_file file='blocks/view_channel/feed.html' feed=$feed}
                {/foreach}
                {else}
                    <div class="alert">{lang code='No feeds were found'}</div>
                {/if}
            </div>
            
            
            <div class="view-channel-column-right">
                <div class="view-channel-box user-videos-block">
                    <div class="view-channel-box-header">
                        <h4>Videos <small>({$u.total_videos|number_format})</small></h4>
                        <div class="view-channel-box-header-right">
                            <a href="#">See All</a>
                        </div>
                    </div>
                    <div class="view-channel-box-content clearfix">
                        {if $user_videos}
                            {foreach $user_videos as $user_video}
                                {include_template_file file='blocks/video.html' video=$user_video display_method='view_channel'}
                            {/foreach}
                        {/if}
                    </div>
                </div>
                <div class="view-channel-box">
                    <div class="view-channel-box-header">
                        <h4>Photos <small>({$u.total_photos|number_format})</small></h4>
                        <div class="view-channel-box-header-right">
                            <a href="#">See All</a>
                        </div>
                    </div>
                    <div class="view-channel-box-content clearfix">
                        {if $user_photos}
                            {foreach $user_photos as $user_photo}
                                {include_template_file file='blocks/photo.html' photo=$user_photo display_method='view_channel'}
                            {/foreach}
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>