{assign var=pd value=$photo.photo_details|json_decode}
<div class="navbar photo-actions-bar">
    <div class="navbar-inner">
        <ul class="nav">
            {if $prev}
            <li><a href="{view_photo_link($prev)}"><i class="icon-circle-arrow-left margin0"></i></a></li>
            {/if}
            <li><a href="#"><i class="icon-plus margin0"></i> {lang code='Add to favorites'}</a></li>
            <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share margin0"></i> {lang code='Share photo'}</a>
                <ul class="dropdown-menu">
                    {if $photo.allow_embedding == 'yes'}
                    <li><a href="#" data-toggle="modal" data-target="#embed-photo-block"><i class="icon-v3 icon-embed"></i> {lang code='Embed'}</a></li>
                    {/if}
                    <li><a href="#" data-toggle="modal" data-target="#email-photo-block"><i class="icon-envelope"></i> {lang code='Email'}</a></li>
                </ul>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#report_video"><i class="icon-flag margin0"></i> {lang code='Flag'}</a></li>
        </ul>
        <ul class="nav pull-right">
            <li id="photo-tagger-button"></li>
            {$photo_actions=display_photo_actions()}
            {if $photo_actions}
                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Actions <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        {$photo_actions}
                    </ul>
                </li>
            {/if}
            {if $next}
            <li><a href="{view_photo_link($next)}"><i class="icon-circle-arrow-right margin0"></i></a></li>
            {/if}
        </ul>
    </div>
</div>
<div class="row">
    
	<div class="span734">
        <div class="thumbnail inlineblock">
            {get_photo details=$object size='l' output='html' width='720'}
        </div>
        <div class="video-stats">
        	<div class="inlineblock pull-left">
            	<div class="btn-toolbar">
                    <input class="photo-url marginR10" id="prependedInput" type="text" value="{view_photo_link($photo)}" onclick="$(this).select()" />
                    <div class="btn-group valignMid">
                        <button class="btn"><span class="icon-like"></span> Like</button>
                        <button class="btn"><span class="icon-dislike"></span></button>
                    </div>         
                </div>
            </div>
            
            <div class="inlineblock pull-right ">
                <div class="btn-toolbar valignMid">
                    <h3 class="inlineblock valignTop">{$photo.views|number_format} {lang code='views'}</h3>
                    <button class="btn"><span class="icon-v3 icon-stats"></span></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
              
        {include_template_file file='blocks/view_item/share_photo.html' photo=$photo type=p pid=$photo.photo_id}

        {include_template_file file='blocks/report.html' type='p' id=$photo.photo_id title=$photo.photo_title}
        <div class="video-details row-fluid">
        	<div class="span9">
            	<div style="height: 60px ;overflow: hidden" id="vid-details" class="relative">
                	<h6>uploaded {$photo.date_added|niceTime} by {$user.username}</h6>
                    <article>
                    	<p>{$photo.photo_description}</p>
                    </article>
                    <h5>{lang code='Collection'}</h5>
                    <h6><a href="{$cbcollection->collection_links( $c, 'view_collection' )}">{$c.collection_name}</a></h6>
                    
                    <h5>Tags</h5>
                    <h6>{$photo.photo_tags|tags:photos}</h6> 
                                       
                    <div class="height10"></div>
                    <div  class="video-details-shadow absolute"></div>
                </div>
                <div class="height5"></div>
                
                <div align="center">
                    <div class="btn btn-info btn-mini width75" id="vid-details-more" onclick="toggleLessMore('vid-details','more');">More</div>
                    <div class="btn btn-mini display-none width75" id="vid-details-less"  onclick="toggleLessMore('vid-details','less');">Less</div>
                </div>
            </div>
            
            <div class="span3">
                <div id="video-rating-container">
                    {$photoRating=cbv3_rating($photo,'video-bar')}
                    {$photoRating}
                </div>        
            </div>
        </div>
    </div>
    
    <div class="span336 photos-sidebar">
        <div class="cb-widget cb-widget-photo-tags">
            <h2 class="cb-widget-title">{lang code='Photo Tags'}</h2>
            <div id="photo-tags" class="photo-tags"></div>
        </div>
        {$other_photos=get_photos(['exclude'=>$photo.photo_id,'user'=>$photo.userid,'limit'=>15,'order'=>'views desc'])}
        {if $other_photos}
        <div class="cb-widget">
            <h2 class="cb-widget-title">{lang code='Other Photos of  '}{$photo.username}</h2>
            <ul class="cbv3-scroller">
                {foreach $other_photos as $ophoto}
                    {include_template_file file='blocks/photo.html' photo=$ophoto display_method='view_item_sidebar'}
                {/foreach}
            </ul>
        </div>
        {/if}
        {sidebar('view-photo')}
    </div>
</div>

<div id="private_message_photo_form" class="hide fade modal">
    <div class="modal-header">
        <h3>{lang code='new_private_msg'}</h3>
    </div>
    <form id="pm_msg" name="pm_msg" method="post" action="" class="form-horizontal" style="margin:0px;">
        <div class="modal-body">
            <div id="private_message_response" class="alert hide"></div>
            {assign var='form_fields' value=$cbpm->load_compose_form()}
                <fieldset>
                        {foreach from=$form_fields item=field}
                        	{if $field.type != 'hidden'}
                                <div class="control-group">
                                    <label for="{$field.id}" class="control-label">{$field.title}</label>
                                    <div class="controls">
                                        {if $field.hint_1}<p class="help-block">{$field.hint_1}</p>{/if}
                                        {$formObj->createField($field)}
                                        {if $field.hint_2}<p class="help-block">{$field.hint_2}</p>{/if}
                                    </div>
                                </div>
                            {else}
                            	{$formObj->createField($field)}
                            {/if}
                        {/foreach}
                </fieldset>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" type="button">{lang code='Close'}</button>
            <button class="btn btn-primary" id="cb_send_photo_pm" data-loading-text='{lang code="Sending ..."}' data-complete-text="{lang code='Sent'}" type="button" onclick="send_private_message( event );">{lang code='com_send_message'}</button>
        </div>
    </form>
</div>