/* AJAX TABS CSS 01 */
.shadetabs{
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: center; /*set to left, center, or right to align the menu as desired*/
	background-color: #FFFFFF;
	background-image: url(../images/tabs_bg01.png);
	background-repeat: repeat-x;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 3px;
	padding-left: 0;
	width:100%;
	margin:0px
}

.shadetabs li{
	display: inline;
	margin:0px
}

.shadetabs li a{
	text-decoration: none;
	color: #2d2b2b;
	background-repeat: x-repeat;
	background-image: url(../images/tab_unselected01.png);
	padding-top: 3px;
	padding-right: 23px;
	padding-bottom: 3px;
	padding-left: 23px;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li.selected{
position: relative;
top: 0px;
}

.shadetabs li.selected a{ /*selected main tab style */
	background-image: url(../images/tab_selected01.png);
	border-bottom-color: white;
	background-repeat:x-repeat;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.contentstyle{
	width: 100%;
	margin-bottom: 1em;
	padding: 10px;
}

/* AJAX TABS CSS 02 */

.shadetabs2{
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: center; /*set to left, center, or right to align the menu as desired*/
	background-color: #FFFFFF;
	background-image: url(../images/tabs_bg02.png);
	background-repeat: repeat-x;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 3px;
	padding-left: 0;
	width:100%;
	margin:0px
}

.shadetabs2 li{
	display: inline;
	margin:0px
}

.shadetabs2 li a{
	text-decoration: none;
	color: #2d2b2b;
	background-repeat: x-repeat;
	background-image: url(../images/tab_unselected01.png);
	padding-top:3px;
	padding-right: 30px;
	padding-bottom: 3px;
	padding-left: 30px;
}

.shadetabs2 li a:visited{
color: #2d2b2b;
}

.shadetabs2 li a:hover{
text-decoration: underline;
color: #2d2b2b;
}
.shadetabs2  li.selected{
position: relative;
top: 0px;
}

.shadetabs2 li.selected a{ /*selected main tab style */
	background-image: url(../images/tab_selected01.png);
	border-bottom-color: white;
	background-repeat:x-repeat;
}

.shadetabs2 li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.contentstyle2{
	width: 950px;
	margin-bottom: 1em;
}

.contentstyle3{
	width: 560px;
	margin-bottom: 1em;
}
