{$friends=$userquery->get_pending_contacts(userid(),0)}

<div class="notifications">
    <div class="notify_title">{lang code='Friends Requests'}</div>
    <div class="seperator"></div>

    <div class="notifications-container  cbv3-scroller">
        <div id="new_friends"></div>
        {if $friends}
        {foreach $friends as $friend}
        {if $friend}

        {if $friend@last}{$last=true}{else}{$last=false}{/if}

        {$block=get_template('friends_notifications_block','path')}
        {include file=$block friend=$friend last=$last}
        {/if}
        {/foreach}
        {else}
        <div class="no_notifications">No friend requests</div>
        {/if}
    </div>

    <div class="seperator"></div>
    <div class="all_notifications"><a href="">Show all Requests</a></div>
</div>  
