
{if $groups.group_name neq ""}
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="66%" valign="top"><form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
	<input name="group_url" type="hidden" value="{$groups.group_url}">
	<input name="group_id" type="hidden" value="{$groups.group_id}">
	<input name="thumb_exist" type="hidden" value="{$groups.group_thumb}">
      <div class="setting_title">Edit Group </div>
      <table width="90%" border="0" cellspacing="2" cellpadding="5">
        <tr>
          <td height="20" colspan="2" align="right" bgcolor="#3399FF" class="pagination"><a href="group_manager.php">&laquo; Back</a></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">&nbsp;</td>
          <td class="td_body"><fieldset>
          <legend class="header2"> Group Thumb </legend>
          <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1">
            <tr>
              <td width="16%" align="left" valign="top" class="header3"><a href="{$view_group_link}{$groups.group_url}"><img src="{$group_thumb}/{$groups.group_thumb}" border="1" /></a></td>
              <td width="84%" align="left" valign="top" class="header3"><span class="header2">Upload Group Thumb <br />
                    <br />
                </span>
                  <li class="tips">Must Be JPG | GIF | PNG</li>
                <li class="tips">90  x 90 Ratio Will Give Best quality</li>
                <li class="tips">Do Not Upload Vulgur or Copyrighted Material</li></td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="top" class="header3"><label>
                <input type="hidden" name="thumb" value="" />
                <input name="thumb_upload" type="file" id="thumb_upload" size="45" />
              </label></td>
            </tr>
          </table>
          </fieldset></td>
        </tr>
        <tr>
          <td width="12%" align="right" valign="top" class="td_body">Group Name: </td>
          <td width="88%" class="td_body"><label>
            <input name="name" type="text" id="name" value="{$groups.group_name}" size="45" /><input name="name_exist" type="hidden" value="{$groups.group_name}" />
          </label></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">Tags:</td>
          <td class="td_body"><input name="tags" type="text" id="tags" value="{$groups.group_tags}" size="45" /></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">&nbsp;</td>
          <td height="70" valign="top" class="td_body"><span class="header3">Enter one or more tags, separated by spaces.<br />
          </span><span class="tips">Tags are keywords used to describe your group so it can be easily found  by other users. For example, if you have a group for surfers, you might  tag it: surfing, beach, waves.</span></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">Description:</td>
          <td class="td_body"><label>
            <textarea name="description" cols="35" rows="6" id="description">{$groups.group_description}</textarea>
          </label></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="header2">Group Url: </td>
          <td align="left" valign="top" class="td_body">{$view_group_link}<span class="header2">
          <input name="url" type="text" id="groupURLinput" value="{$groups.group_url}" maxlength="60" />
          <input name="url_exist" type="hidden" value="{$groups.group_url}" />
          </span></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">&nbsp;</td>
          <td class="td_body">Enter 3-18 characters with no spaces (such as "skateboarding''), that  will become part of your group's web address. Please note, the group  name URL you pick is permanent and can't be changed.</td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">Group Category: </td>
          <td class="td_body"> {section name=c_list loop=$category}
            <input name="category" type="radio" value="{$category[c_list].categoryid}" {if $groups.group_category==$category[c_list].categoryid} checked="checked"{/if} />
            {$category[c_list].category_name}<br />
            {/section} </td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">Privacy:</td>
          <td class="td_body"><p>
            <label>
              <input name="group_type" type="radio" value="0" checked="checked" />
              Public, anyone can join.</label>
            <br />
            <label>
              <input type="radio" name="group_type" value="1" {if $groups.group_type=='1'} checked="checked"{/if} />
              Protected, requires founder approval to join.</label>
            <br />
            <label>
              <input type="radio" name="group_type" value="2" {if $groups.group_type=="2"} checked="checked"{/if} />
              Private, by founder invite only, only members can view group details.</label>
            <br />
          </p></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">Video Uploads: </td>
          <td class="td_body"><p>
            <label>
              <input name="video_type" type="radio" value="0" checked="checked" />
              Post videos immediately.</label>
            <br />
            <label>
              <input type="radio" name="video_type" value="1" {if $groups.video_type=="1"} checked="checked"{/if} />
              Founder approval required before video is available.</label>
            <br />
            <label>
              <input type="radio" name="video_type" value="2" {if $groups.video_type=="2"} checked="checked"{/if} />
              Only Founder can add new videos.</label>
            <br />
          </p></td>
        </tr>
        <tr>
          <td align="right" valign="top" class="td_body">Forums Posting: </td>
          <td class="td_body"><p>
            <label>
              <input type="radio" name="post_type" value="0" checked="checked" />
              Post topics immediately.</label>
            <br />
            <label>
              <input type="radio" name="post_type" value="1" {if $groups.post_type=="1"} checked="checked"{/if} />
              Founder approval required before topic is available.</label>
            <br />
            <label>
              <input type="radio" name="post_type" value="2" {if $groups.post_type=="2"} checked="checked"{/if} />
              Only Founder can create a new topic.</label>
            <br />
          </p></td>
        </tr>
        <tr>
          <td colspan="2" align="right" valign="top" class="tr_head" ><label>
            <input type="submit" name="update" id="button" value="Update" />
          </label></td>
          </tr>
      </table>
    </form></td>
  </tr>
</table>
{/if}