
<script type="text/javascript" src="{$js}/popup_image.js"></script>
	<div class="setting_title">Flagged Videos Manager</div>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="middle" class="pagination" style="color:#FFFFFF; padding:3px">&nbsp;</td>
      <td colspan="2" align="right" valign="middle" style="padding:3px">Viewing {math equation=$limit*$cur_page assign=viewing} {if $prepage == 0 } {math equation=$prepage+1} {else} {math equation = $prepage*$limit+1 }{/if} - {if $viewing > $grand_total}{$grand_total}{else}{$viewing}{/if} of {$grand_total}</td>
      </tr>
    <tr>
      <td width="56" align="left" valign="middle" bgcolor="#3399FF" class="pagination" style="color:#FFFFFF; padding:3px">
      {if $prepage neq 0}<a href="?view={$property.value}{$link}&amp;page={$prepage}">Previous</a>{/if}</td>
      <td align="center" valign="middle" bgcolor="#3399FF" class="pagination" style="color:#FFFFFF; padding:3px">{section name=allpages start=1 loop=$pages}
        {if $cur_page == $smarty.section.allpages.index }
        {$smarty.section.allpages.index}
        {else} <a href="?view={$property.value}{$link}&amp;page={$smarty.section.allpages.index}">{$smarty.section.allpages.index}</a> {/if}
        {/section} </td>
      <td width="32" align="right" valign="middle" bgcolor="#3399FF" class="pagination" style="color:#FFFFFF; padding:3px">{if $nextpage neq $smarty.section.allpages.index  && $pages!=1}<a href="?view={$property.value}{$link}&amp;page={$nextpage}">Next</a>{/if}</td>
    </tr>
   </table>
    <table width="98%"   border="0" align="center" cellpadding="0" cellspacing="1">
  <tr >
    <td width="110" height="20" valign="middle" class="tr_head">Video Id</td>
    <td width="310" valign="middle" class="tr_head">Video Title</td>
    <td width="125" valign="middle" class="tr_head">Type</td>
    <td width="124" valign="middle" class="tr_head">Username</td>
    <td width="116" valign="middle" class="tr_head">Total Flags</td>
    <td width="591" valign="middle" class="tr_head">Actions</td>
  </tr>
{assign var = bgcolor value = ""}
{section name=list loop=$videos}
  <tr bgcolor="{$bgcolor}">
    <td valign="top" class="td_body">{$videos[list].videoid}</td>
    <td  valign="top" class="td_body"><a href="{$baseurl}/watch_video.php?v={$videos[list].videokey}" target="_blank">{$videos[list].title}</a></td>
    <td  valign="top" class="td_body">{$videos[list].broadcast}</td>
    <td  valign="top" class="td_body">{$videos[list].username}</td>
    <td  valign="top" class="td_body">{$videos[list].flags}</td>
    <td valign="top" class="td_body"><a href="?remove_flags={$videos[list].videoid}">Remove Flags</a><br />
<a href="javascript:Confirm_Delete('?delete_video={$videos[list].videoid}')">Delete Video </a><br>
      <a href="edit_video.php?video={$videos[list].videoid}">Edit</a><br>
      {if $videos[list].active == yes} 
      <a href="?deactivate={$videos[list].videoid}">Deactivate</a> 
      {/if} 
      {if $videos[list].active == no}       
      <a href="?activate={$videos[list].videoid}">Activate</a> 
    {/if}</td>
  </tr>
  {if $bgcolor == ""}
 	 {assign var = bgcolor value = "#EEEEEE"}
 {else}
	 {assign var = bgcolor value = ""}
 {/if}
  {/section}
</table>

<br />
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="56" align="left" valign="middle" bgcolor="#3399FF" class="pagination" style="color:#FFFFFF; padding:3px"> {if $prepage neq 0}<a href="?view={$property.value}{$link}&amp;page={$prepage}">Previous</a>{/if}</td>
    <td align="center" valign="middle" bgcolor="#3399FF" class="pagination" style="color:#FFFFFF; padding:3px">{section name=allpages start=1 loop=$pages}
      {if $cur_page == $smarty.section.allpages.index }
      {$smarty.section.allpages.index}
      {else} <a href="?view={$property.value}{$link}&amp;page={$smarty.section.allpages.index}">{$smarty.section.allpages.index}</a> {/if}
      {/section} </td>
    <td width="32" align="right" valign="middle" bgcolor="#3399FF" class="pagination" style="color:#FFFFFF; padding:3px">{if $nextpage neq $smarty.section.allpages.index  && $pages!=1}<a href="?view={$property.value}{$link}&amp;page={$nextpage}">Next</a>{/if}</td>
  </tr>
</table>
