<div class="setting_title">Edit Video </div>
<table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
  <tr>
    <td width="20" class="tr_head">ID</td>
    <td class="tr_head">Language</td>
    <td width="100" class="tr_head">Language Code</td>
    <td width="150" class="tr_head">Regular Expression</td>
    <td width="100" class="tr_head">Actions</td>
  </tr>
{section name=l_list loop=$language_list}
  <tr>
    <td valign="top" class="td_body">{$language_list[l_list].language_id}</td>
    <td valign="top" class="td_body">{$language_list[l_list].language_name}</td>
    <td valign="top" class="td_body">{$language_list[l_list].language_code}</td>
    <td valign="top" class="td_body">{$language_list[l_list].language_regex}</td>
    <td valign="top" class="td_body">
    {if $language_list[l_list].language_default != yes}
    	<a href="?make_default={$language_list[l_list].language_id}">Make Default</a><br>
    {/if}
    <a href="?edit_language={$language_list[l_list].language_id}">Edit Phrases </a></td>
  </tr>
{/section}  
</table>