
<div class="setting_title">Logo Settings</div>


  <table width="100%" border="0" cellpadding="3" cellspacing="2">
    <tr>
      <td colspan="2" bgcolor="#F2F2F2" class="tr_head">Website Logo </td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Current Logo </td>
      <td bgcolor="#F9F9F9"><label><img src="{$cur_logo}"><br>
      Just Upload Gif Image <br>
</label>
        <form action="" method="post" enctype="multipart/form-data" name="form1">
          <label>
          <input name="image_file" type="file" id="image_file">
          </label>
                        <label>
                        <input name="change_logo" type="submit" id="change_logo" value="Change">
                        </label>
        </form>      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#F2F2F2" class="tr_head">Website Player Logo </td>
    </tr>
    <tr>
      <td width="125" bgcolor="#F9F9F9">Current Logo </td>
      <td bgcolor="#F9F9F9"><img src="{$cur_player_logo}"><br>
Just Upload PNG Image 
  <form action="" method="post" enctype="multipart/form-data" name="form1">
    <label>
    <input name="image_file" type="file" id="image_file">
    </label>
    <label>
    <input name="change_player_logo" type="submit" id="change_player_logo" value="Change">
    </label>
  </form></td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#F2F2F2" class="tr_head">Embedded Player Logo </td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Current Logo </td>
      <td bgcolor="#F9F9F9"><img src="{$cur_eplayer_logo}"><br>
        Just Upload PNG Image
        <form action="" method="post" enctype="multipart/form-data" name="form1">
        <label>
        <input name="image_file" type="file" id="image_file">
        </label>
        <label>
        <input name="change_eplayer_logo" type="submit" id="change_eplayer_logo" value="Change">
        </label>
    </form></td>
    </tr>
  </table>
