<script type="text/javascript" src="{$js}/popup_image.js"></script>
<div class="setting_title"> Main Settings </div>

<form name="form1" method="post" action="">
  <table width="100%" border="0" cellpadding="3" cellspacing="2">
  
    <tr>
      <td colspan="2" bgcolor="#F2F2F2" class="tr_head">Website Settings<a name="websitesettings" id="websitesettings"></a></td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Website Title</td>
      <td bgcolor="#F9F9F9"><label>
        <input name="site_title" type="text" id="site_title" value="{$row.site_title}" size="45">
      </label></td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Website Slogan</td>
      <td bgcolor="#F9F9F9"><input name="site_slogan" type="text" id="site_slogan" value="{$row.site_slogan}" size="45"></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9" valign="top">Debug Mode</td>
      <td bgcolor="#F9F9F9">
        <table>
          <tr>
            <td><label>
              <input type="radio" name="debug_level" value="1" {if $row.debug_level == 1} checked="checked"{/if}/>
              Report all PHP errors</label></td>
            <td>
              <a href="javascript:void(0)" onmouseover="fixedtooltip2('This mode will display all PHP errors.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
          </tr>
          <tr>
            <td><label>
              <input type="radio" name="debug_level" value="2" {if $row.debug_level == 2} checked="checked"{/if}/>
              <NOBR>Report all errors except E_NOTICE</NOBR></label></td>
            <td><a href="javascript:void(0)" onmouseover="fixedtooltip2('This mode will display all errors except notices.<BR>This is the default value set in php.ini', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a><a href="#" onmouseover="fixedtooltip2('The FFMPEG module is used to convert videos.&lt;br&gt;Dynamic is the only option at the moment.', this, event, '0px')" onmouseout="delayhidetip()"></a></td>
          </tr>
          <tr>
            <td><label>
              <input type="radio" name="debug_level" value="0" {if $row.debug_level == 0} checked="checked"{/if}/>
              Turn off error reporting</label></td>
            <td><a href="javascript:void(0)" onmouseover="fixedtooltip2('This mode will disable error reporting.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a><a href="#" onmouseover="fixedtooltip2('The FFMPEG module is used to convert videos.&lt;br&gt;Dynamic is the only option at the moment.', this, event, '0px')" onmouseout="delayhidetip()"></a></td>
          </tr>
        </table>      </td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Website Closed</td>
      <td bgcolor="#F9F9F9">
      <select name="closed" id="select">
      <option value="1"  
       {if $row.closed == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.closed == 0}
          selected="selected"
          {/if}
          >No</option>
        </select></td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Closed Message</td>
      <td bgcolor="#F9F9F9"><label>
        <textarea name="closed_msg" id="closed_msg" cols="45" rows="5">{$row.closed_msg}</textarea>
      </label></td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Meta Description</td>
      <td bgcolor="#F9F9F9"><textarea name="description" id="description" cols="45" rows="5">{$row.description}</textarea></td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">Meta Keywords </td>
      <td bgcolor="#F9F9F9"><input name="keywords" type="text" id="keywords" value="{$row.keywords}" size="45" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Default Language </td>
      <td bgcolor="#F9F9F9">
<select name="default_site_lang">
{foreach from=$languages key=k item=v}
<option value="{$k}" {if $row.default_site_lang == $k} selected="selected" {/if}>{$v}</option>
{/foreach}
</select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Display Language Changer </td>
      <td bgcolor="#F9F9F9"><select name="allow_language_change" id="select">
      <option value="1"  
       {if $row.allow_language_change == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.allow_language_change == 0}
          selected="selected"
          {/if}
          >No</option>
        </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Display Template Changer </td>
      <td bgcolor="#F9F9F9"><select name="allow_template_change" id="select">
      <option value="1"  
       {if $row.allow_template_change == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.allow_template_change == 0}
          selected="selected"
          {/if}
          >No</option>
        </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Seo URLs </td>
      <td bgcolor="#F9F9F9"><select name="seo" id="select2">
        <option value="yes"
       {if $row.seo == yes}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="no"
        {if $row.seo == no}
          selected="selected"
          {/if}
          >No</option>
      </select></td>
    </tr>
    
    <tr>
      <td colspan="2" bgcolor="#F2F2F2" class="tr_head">Modules &amp; Paths<a name="paths" id="paths"></a> <a target="_blank" href="vid_test.php" onmouseover="fixedtooltip2('Click here to check the paths of your video components.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Conversion Modules </td>
      <td bgcolor="#F9F9F9">
        <table width="200">
          <tr>
            <td><label>
              <input type="radio" name="con_modules_type" value="0" {if $row.con_modules_type == 0} checked="checked"{/if}/>
              FFMpeg Only</label></td>
            <td>
              <a href="javascript:void(0)" onmouseover="fixedtooltip2('By Selecting This, Only FFMpeg Module Will Be Used For Video Conversion.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
          </tr>
          <tr>
            <td><label>
              <input type="radio" name="con_modules_type" value="1" {if $row.con_modules_type == 1} checked="checked"{/if}/>
              All Modules</label></td>
            <td><a href="javascript:void(0)" onmouseover="fixedtooltip2('By Selecting This, All Modules will be Used while processing', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a><a href="#" onmouseover="fixedtooltip2('The FFMPEG module is used to convert videos.&lt;br&gt;Dynamic is the only option at the moment.', this, event, '0px')" onmouseout="delayhidetip()"></a></td>
          </tr>
        </table>      </td>
    </tr>
    <tr>
      <td width="125" valign="top" bgcolor="#F9F9F9">FFmpeg Binary Path</td>
      <td bgcolor="#F9F9F9"><input name="ffmpegpath" type="text" id="ffmpegpath" value="{$row.ffmpegpath}" size="45">
      <a target="_blank" href="ffmpeg_check.php" onmouseover="fixedtooltip2('FFmpeg is a video and audio converter.<BR>Click here to check the path.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a>      </td>
    </tr>
	<tr>
      <td bgcolor="#F9F9F9">FFMPEG Type</td>
      <td bgcolor="#F9F9F9"><p>
          <input type="radio" name="ffmpeg_type" value="s" {if $row.ffmpeg_type == s} checked="checked"{/if} />
          Static
        <input type="radio" name="ffmpeg_type" value="d" {if $row.ffmpeg_type == d} checked="checked"{/if}/>
          Dynamic
<a href="#" onmouseover="fixedtooltip2('FFMPEG modules is used to convert videos<br>We Recommend You To Use \'Dynamic\' FFMPEG, if you dont know where it is installed then use \'Static\' ffmpeg', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">MEncoder Binary Path</td>
      <td bgcolor="#F9F9F9"><input name="mencoderpath" type="text" id="mencoderpath" value="{$row.mencoderpath}" size="45" /> <a target="_blank" href="vid_check.php?check={$FFMPEG_MENCODER_BINARY}" onmouseover="fixedtooltip2('MEncoder is a command line video decoding, encoding and filtering tool.<BR>Click here to check the path.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">MPlayer Binary Path</td>
      <td bgcolor="#F9F9F9"><input name="mplayerpath" type="text" id="mplayerpath" value="{$row.mplayerpath}" size="45" /> <a target="_blank" href="vid_check.php?check={$FFMPEG_MPLAYER_BINARY}" onmouseover="fixedtooltip2('MPlayer is a movie player.<BR>Click here to check the path.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td width="125" bgcolor="#F9F9F9">FLVTool2 Binary Path</td>
      <td bgcolor="#F9F9F9"><input name="flvpath" type="text" id="flvpath" value="{$row.flvpath}" size="45"> <a target="_blank" href="vid_check.php?check={$FFMPEG_FLVTOOLS_BINARY}" onmouseover="fixedtooltip2('FLVTool2 is used to repair damaged FLV files.<BR>Click here to check the path.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">PHP Path</td>
      <td bgcolor="#F9F9F9"><input name="php_path" type="text" id="php_path" value="{$row.php_path}" size="45" /> <a target="_blank" href="vid_check.php?check={$PHP_PATH}" onmouseover="fixedtooltip2('PHP is a scripting language designed for producing dynamic content.<BR>Click here to check the path.', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">&nbsp;</td>
      <td bgcolor="#F9F9F9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#F9F9F9" class="tr_head">Video, Uploading and Conversion Settings<a name="uploadsettigs" id="uploadsettigs"></a></td>
    </tr>
    <tr>
      <td width="125" bgcolor="#F9F9F9">Operating System (OS)</td>
      <td bgcolor="#F9F9F9"><label for="select3"></label>
        <select name="sys_os" id="select3">
          <option value="linux" {if $row.sys_os==linux} selected="selected" {/if}>Linux</option>
          <option value="win" {if $row.sys_os==win} selected="selected" {/if}>Windows</option>
      </select></td>
    </tr>
	    <tr>
      <td valign="top" bgcolor="#F9F9F9"><strong>Allow Upload </strong></td>
      <td bgcolor="#F9F9F9"><label>
        <select name="allow_upload" id="allow_upload">
		<option value="yes" {if $row.allow_upload == yes}selected="selected" {/if}>Yes</option>
		<option value="no"  {if $row.allow_upload == no}selected="selected" {/if}>No</option>
        </select>
        <br />
		<label>
        <input type="checkbox" name="remoteUpload" value="yes" {if $row.remoteUpload == yes}checked="checked"{/if}/>        
        Allow Remote Upload <a href="javascript:void(0)" onmouseover="fixedtooltip2('By Enabling this option, user will be able to upload videos by enter video URL', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></label><br />
       <label><input type="checkbox" name="embedUpload" value="yes" {if $row.embedUpload == yes}checked="checked"{/if}/>
     	Allow Embed Upload  <a  href="javascript:void(0)" onmouseover="fixedtooltip2('Users can upload video using Embed Code provided by other video sharing websites', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></label></td>
    </tr>

    <tr>
      <td bgcolor="#F9F9F9">Max Upload File Size </td>
      <td bgcolor="#F9F9F9"><input name="max_upload_size" type="text" id="max_upload_size" value="{$row.max_upload_size}" size="15" maxlength="5" /> 
      in MegaBytes </td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#F9F9F9">Video Comments</td>
      <td valign="top" bgcolor="#F9F9F9">
      <label>
      <select name="video_comments" id="select">
      <option value="1"  
       {if $row.video_comments == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.video_comments == 0}
          selected="selected"
          {/if}
          >No</option>
        </select>
        <label> Allow Video Comments		</label>	  </td>
</tr>
    <tr>
    <td></td>
    <td><label>
        <select name="user_comment_opt1" id="user_comment_opt1">
        <option value="yes"
       {if $row.user_comment_opt1 == "yes"}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="no"
        {if $row.user_comment_opt1 == "no"}
          selected="selected"
          {/if}
          >No</option>
      </select>
        </label>
    </td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Video Embedding</td>
      <td bgcolor="#F9F9F9"><select name="video_embed" id="select">
      <option value="1"  
       {if $row.video_embed == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.video_embed == 0}
          selected="selected"
          {/if}
          >No</option>
          </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Video Rating</td>
      <td bgcolor="#F9F9F9">
      <label>
      <select name="video_rating" id="select">
      <option value="1"
       {if $row.video_rating == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.video_rating == 0}
          selected="selected"
          {/if}
          >No</option>
        </select>
        </label> Allow Video Rating      </td>
    </tr>
    <tr>
    <td></td>
    <td><label>
        <select name="user_rate_opt1" id="user_rate_opt1">
        <option value="yes"
       {if $row.user_rate_opt1 == "yes"}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="no"
        {if $row.user_rate_opt1 == "no"}
          selected="selected"
          {/if}
          >No</option>
      </select>
        </label>
        User Can Rate His Own Video</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Comments Rating</td>
      <td bgcolor="#F9F9F9"><select name="comment_rating" id="select">
      <option value="1"  
       {if $row.comment_rating == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.comment_rating == 0}
          selected="selected"
          {/if}
          >No</option>
          </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Video Download</td>
      <td bgcolor="#F9F9F9"><select name="video_download" id="select">
      <option value="1"  
       {if $row.video_download == 1}
        selected="selected"
      {/if}
        >Yes</option>
        <option value="0"
        {if $row.video_download == 0}
          selected="selected"
          {/if}
          >No</option>
          </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Resize Uploaded Video</td>
      <td bgcolor="#F9F9F9"><label>
        <select name="resize" id="select">
          <option value="yes"
          {if $row.resize == yes}
          selected="selected"
          {/if}
          >Yes</option>
          <option value="no" 
          {if $row.resize == no}
          selected="selected"
          {/if}
          >No</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Video Width in px </td>
      <td bgcolor="#F9F9F9"><input name="r_width" type="text" id="r_width" value="{$row.r_width}" size="45" />
        &quot;320&quot; is recommended</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Video Height in px </td>
      <td bgcolor="#F9F9F9"><input name="r_height" type="text" id="r_height" value="{$row.r_height}" size="45" />        
      &quot;240&quot; is recommended</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Thumb Width in px </td>
      <td bgcolor="#F9F9F9"><input name="thumb_width" type="text" id="thumb_width" value="{$row.thumb_width}" size="45" />        &quot;120&quot; is recommended</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Thumb  Height in px </td>
      <td bgcolor="#F9F9F9"><input name="thumb_height" type="text" id="thumb_height" value="{$row.thumb_height}" size="45" />
      &quot;90&quot; is recommended</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Video Bit Rate </td>
      <td bgcolor="#F9F9F9"><input name="vbrate" type="text" id="vbrate" value="{$row.vbrate}" size="45" />
        &quot;500000&quot; is recommended</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Audio Rate</td>
      <td bgcolor="#F9F9F9"><input name="srate" type="text" id="srate" value="{$row.srate}" size="45" />
&quot;22050&quot; is recommened</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Audio Bit Rate  </td>
      <td bgcolor="#F9F9F9"><input name="sbrate" type="text" id="sbrate" value="{$row.sbrate}" size="45" />
      &quot;64000&quot; is recommened</td>
    </tr>
	  <tr>
      <td bgcolor="#F9F9F9">Audio Codec </td>
      <td bgcolor="#F9F9F9"><label>
        <select name="audio_codec">
		 <option selected="selected">None</option>
          <option value="libmp3lame" {if $row.audio_codec == libmp3lame}
          selected="selected"
          {/if}>libmp3lame</option>
          <option value="mp3"{if $row.audio_codec == mp3}
          selected="selected"
          {/if}>mp3</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Keep Original File</td>
      <td bgcolor="#F9F9F9">
      <select name="keep_original" id="select">
        <option value="1"  
        {if $row.keep_original == 1}
          selected="selected"
          {/if}
          >Yes</option>
        <option value="0"
        {if $row.keep_original == 0}
          selected="selected"
          {/if}
          >No</option>
        </select>
        - If YES then original files after conversion will be saved on server</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Activation Required</td>
      <td bgcolor="#F9F9F9"><select name="activation" id="keep_original">
        <option value="1"  
        {if $row.activation == 1}
          selected="selected"
          {/if}
          >Yes</option>
        <option value="0"
        {if $row.activation == 0}
          selected="selected"
          {/if}
          >No</option>
      </select> 
      -if YES then Every Uploaded Video Must Required Activation from Admin</td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Allowed File Types </td>
      <td bgcolor="#F9F9F9"><input name="allowed_types" type="text" id="allowed_types" value="{$row.allowed_types}" size="45" /><a href="#" onmouseover="fixedtooltip2('Allowed File Types For Uploading, Seperate Types with Space', this, event, '0px')" onmouseout="delayhidetip()"><img src="{$imageurl}/question_mark.png" width="13" height="14" border="0"/></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">&nbsp;</td>
      <td bgcolor="#F9F9F9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#F9F9F9" class="tr_head">Display Settings<a name="display" id="display"></a></td>
    </tr>
<tr>
      <td bgcolor="#F9F9F9">Require Login to Watch Videos?</td>
      <td bgcolor="#F9F9F9"><label>
        <select name="video_require_login" id="video_require_login">
<option value="1"
        {if $row.video_require_login == 1}
          selected="selected"
          {/if}
          >Yes</option>
        <option value="0"
        {if $row.video_require_login == 0}
          selected="selected"
          {/if}
          >No</option>
        </select>
      </label></td>
    </tr>    
    <tr>
      <td bgcolor="#F9F9F9">Template Name</td>
      <td bgcolor="#F9F9F9"><label>
        <select name="template" id="template">
        {section name=template_list loop=$templates}
        
        <option value="{$templates[template_list].template_dir}" 
        {if $row.template_dir == $templates[template_list].template_dir}
        selected="selected"
        {/if}
        >{$templates[template_list].template_name}</option>
        {/section}
        </select>
      </label></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Flash Player</td>
      <td bgcolor="#F9F9F9"><select name="flvplayer" id="flvplayer">
        {section name=player_list loop=$players}
        
      <option value="{$players[player_list].player_file}"
      {if $row.player_file == $players[player_list].player_file}
        selected="selected"
        {/if}
        >{$players[player_list].player_name}</option>
        {/section}
        </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Player Div Id </td>
      <td bgcolor="#F9F9F9"><label for="textfield"></label>
      <input name="player_div_id" type="text" id="player_div_id" value="{$row.player_div_id}" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Videos List Per page</td>
      <td bgcolor="#F9F9F9"><input name="videos_list_per_page" type="text" id="videos_list_per_page" value="{$row.videos_list_per_page}" size="6" maxlength="3" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Videos List Per Tab </td>
      <td bgcolor="#F9F9F9"><input name="videos_list_per_tab" type="text" id="videos_list_per_tab" value="{$row.videos_list_per_tab}" size="6" maxlength="3" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Channels List Per Page</td>
      <td bgcolor="#F9F9F9"><input name="channels_list_per_page" type="text" id="channels_list_per_page" value="{$row.channels_list_per_page}" size="6" maxlength="3" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Channels List Per Tab </td>
      <td bgcolor="#F9F9F9"><input name="channels_list_per_tab" type="text" id="channels_list_per_tab" value="{$row.channels_list_per_tab}" size="6" maxlength="3" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Search Results Per Page </td>
      <td bgcolor="#F9F9F9"><input name="search_list_per_page" type="text" id="search_list_per_page" value="{$row.search_list_per_page}" size="6" maxlength="3" /></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Recently Viewed Videos </td>
      <td bgcolor="#F9F9F9"><label>
        <input name="recently_viewed_limit" type="text" id="recently_viewed_limit" value="{$row.recently_viewed_limit}" size="6" maxlength="3" />
      </label></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">&nbsp;</td>
      <td bgcolor="#F9F9F9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#F9F9F9" class="tr_head">User Registration Settings<a name="userreg" id="userreg"></a></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Allow Registration</td>
      <td bgcolor="#F9F9F9"><select name="allow_registeration" id="select">
        <option value="1"  
        {if $row.allow_registeration == 1}
          selected="selected"
          {/if}
          >Yes</option>
        <option value="0"
        {if $row.allow_registeration == 0}
          selected="selected"
          {/if}
          >No</option>
            </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Email Verification</td>
      <td bgcolor="#F9F9F9"><select name="email_verification" id="select">
        <option value="1"  
        {if $row.email_verification == 1}
          selected="selected"
          {/if}
          >Yes</option>
        <option value="0"
        {if $row.email_verification == 0}
          selected="selected"
          {/if}
          >No</option>
            </select></td>
    </tr>
    <tr>
      <td bgcolor="#F9F9F9">Captcha</td>
      <td bgcolor="#F9F9F9"><label>
        <select name="captcha_type">
          <option value="0" {if $row.captcha_type == 0}
          selected="selected"
          {/if}>No</option>
          <option value="1" {if $row.captcha_type == 1}
          selected="selected"
          {/if}>Simple</option>
          <option value="2" {if $row.captcha_type == 2}
          selected="selected"
          {/if}>Secured</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <td width="125" bgcolor="#F9F9F9">&nbsp;</td>
      <td bgcolor="#F9F9F9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" align="center">

        <input type="submit" name="button" id="button" value="Submit" style="width:150px"/> 
        <input type="reset" name="button2" id="button" value="Reset" style="width:150px"/>      </td>
    </tr>
  </table>
</form>