
<div class="setting_title">Edit Super Admin </div>
<form name="form1" method="post" action="">
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="2">
  <tr>
    <td colspan="2" class="tr_head">Account Information</td>
  </tr>
  <tr>
    <td width="20%" class="td_body">Username</td>
    <td width="80%" class="td_body"><label>
      <input name="uname" type="text" id="uname" value="{$data.username}">
    </label></td>
  </tr>
  <tr>
    <td colspan="2" class="td_body">&nbsp;</td>
    </tr>
  <tr>
    <td class="td_body">Old Password </td>
    <td class="td_body"><input name="opass" type="password" id="opass"></td>
  </tr>
  <tr>
    <td class="td_body">New Password </td>
    <td class="td_body"><input name="npass" type="password" id="npass"></td>
  </tr>
  <tr>
    <td class="td_body">Confirm New Password </td>
    <td class="td_body"><input name="cnpass" type="password" id="cnpass"></td>
  </tr>
  <tr>
    <td class="td_body">&nbsp;</td>
    <td class="td_body"><label></label></td>
  </tr>
  <tr>
    <td colspan="2" align="right" class="tr_head"><label>
      <input type="submit" name="button" id="button" value="Update" />
    </label></td>
  </tr>
</table>
</form>

