<div class="setting_title">{$data.title}</div>
{assign var='requiredFields' value=$Upload->loadRequiredFields($data)}
{assign var='optionFields' value=$Upload->loadOptionFields($data)}
{assign var='locationFields' value=$Upload->loadLocationFields($data)}

{assign var='custom_fields' value=$Upload->load_custom_upload_fields($data,TRUE)}
{assign var='custom_form_fields' value=$Upload->load_custom_form_fields($data,TRUE)}

<table width="98%" border="0" align="center" cellpadding="1" cellspacing="1">
  <tr>
    <td bgcolor="#3399FF" class="head_title"> Video Details</td>
    <td align="right" bgcolor="#3399FF" class="head_title"><a href="{videoLink vdetails=$data}" target="_blank">Watch on Front End</a> | <a href="edit_video.php?video={$data.videoid}">Edit Video</a></td>
  </tr>
  <tr>
    <td width="40%"><table width="100%" border="0" cellpadding="0" cellspacing="1">
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="head_title">Information</td>
        </tr>
     {foreach from=$requiredFields item=field}
      <tr>
        <td class="td_body">{$field.title}</td>
        <td class="td_body">{ANCHOR place=$field.anchor_before}{input_value input=$field}</td>
      </tr>
      {/foreach}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="head_title">Important Details and Files information</td>
        </tr>
      <tr>
        <td class="td_body">Video Id</td>
        <td class="td_body">{$data.videoid}</td>
      </tr>
      <tr>
        <td class="td_body">Video Key</td>
        <td class="td_body">{$data.videokey}</td>
      </tr>
      <tr>
        <td class="td_body">File Name</td>
        <td class="td_body">{$data.file_name}</td>
      </tr>
      <tr>
        <td class="td_body"> Video Files</td>
        <td class="td_body">{get_all_video_files vdetails=$data count_only=true}</td>
      </tr>
      <tr>
        <td class="td_body">Thumb Files </td>
        <td class="td_body">{get_thumb vdetails=$data count_only=true}</td>
      </tr>
      <tr>
        <td class="td_body">&nbsp;</td>
        <td class="td_body">{assign var=vidthumbs value=func->get_thumb($data,1,TRUE)}

    {foreach from=$vidthumbs item=vid_thumb}
    	<div style="width:60px; float:left" align="center">
    	<img src="{$vid_thumb}" width="50" height="50" border="1" style="margin:4px" /><br />
        {if $data.default_thumb==$vid_thumb|get_thumb_num}Default{/if}
    	</div>
    {/foreach}
    
    </td>
      </tr>
      <tr>
        <td height="25" colspan="2" align="center" class="td_body"><a href="view_conversion_log.php?file_name={$data.file_name}"><strong>View File Details and Converion Log</strong></a></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="head_title">Sharing Options</td>
      </tr>
      {foreach from=$optionFields item=field}
      <tr>
        <td class="td_body">{$field.title}</td>
        <td class="td_body">{ANCHOR place=$field.anchor_before}{input_value input=$field}</td>
      </tr>
      {/foreach}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="21" colspan="2" class="head_title">Stats</td>
        </tr>
      <tr>
        <td class="td_body">Views</td>
                    <td class="td_body">{$data.views}</td>
        </tr>
                  <tr>
                    <td class="td_body">Rating</td>
                    <td class="td_body">{$data.rating} 
                    of 10 </td>
                  </tr>
                  <tr>
                    <td class="td_body">RatedBy</td>
                    <td class="td_body">{$data.rated_by}</td>
      </tr>
        <tr>
                    <td class="td_body">Duration</td>
                    <td class="td_body">{$data.duration|SetTime}</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td colspan="2" class="head_title">Custom Upload Options</td>
        </tr>
        
        {foreach from=$custom_fields item=field}
      <tr>
    
        <td class="td_body">{$field.title}</td>
        <td class="td_body">{$field.value|form_val}</td>
      </tr>
      {foreachelse}
       <tr>
    
        <td colspan="2" align="center" class="td_body">No Custom Fields</td>
        </tr>
      {/foreach}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="head_title">Custom Form Fields</td>
        </tr>
     {foreach from=$custom_form_fields item=field}
      <tr>
    
        <td class="td_body">{$field.title}</td>
        <td class="td_body">{$field.value|form_val}</td>
      </tr>
      {foreachelse}
       <tr>
    
        <td colspan="2" align="center" class="td_body">No Custom Fields</td>
        </tr>
      {/foreach}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="head_title">User Information</td>
        </tr>
      <tr>
        <td class="td_body">User id</td>
        <td class="td_body">{$udata.userid}</td>
      </tr>
      <tr>
        <td class="td_body">User name</td>
        <td class="td_body">{$udata.username}</td>
      </tr>
      <tr>
        <td class="td_body">Videos Uploaded</td>
        <td class="td_body">{$userquery->get_user_vids($data.userid,'',true)}</td>
      </tr>
    </table></td>
    <td width="60%" align="center" valign="top"><div id="{$player_div_id}">
				This content requires JavaScript and Macromedia Flash Player 7 or higher. <a href=http://www.macromedia.com/go/getflash/>Get Flash</a><br/><br/>
			</div>
<script language="javascript">
	{FlashPlayer vdetails = $videos}
</script></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="head_title">Video Comments</td>
  </tr>
  <tr>
    <td colspan="2" align="center">{assign var=id value=$data.videoid}{include file="$style_dir/blocks/comments.html" type=v id=$data.videoid link="video=$id"}</td>
  </tr>
</table>
