<!--CB like and dislike section-->
<div id="" class="pull-right clearfix full-width">
    <div class="newRating clearfix mbm">
    	<ul class="like-dislike-block clearfix">
    		<li><a {if !$disable} onclick="rate('{$id}','5','{$type}')"{/if} href="javascript:void(0)">Like</a></li>
    	   <li><span class="_percentage">{$perc}</span></li>
    		<li><a {if !$disable} onclick="rate('{$id}','1','{$type}')"{/if} href="javascript:void(0)">Dislike</a></li>
    	</ul>
    </div>
    <div  class="clearfix like-dislike-text">
    {$likes} Likes &nbsp;|&nbsp; {$dislikes} Dislikes
    </div>
    <div id="rating_result_container" class="watch-vid-error">
     {if $rating_msg}{$rating_msg}{/if}   
    </div>
</div>

<script type="text/javascript">
var _percent = '{$perc}';
var _numb = parseInt(_percent);
if ( _numb > 49 )
$('._percentage').addClass('likes_perc_more');
else
$('._percentage').addClass('likes_perc_less');
</script>
