{if $control=='' || $control =='view'}
	{if $mode ==''}
		{assign var='mode' value='favorites'}
	{/if}
{/if}

{if $control =='full'}
<tr>
	<td>
		<div class="col-md-3">
			<a class="manageVid_thumb" href="/watch_video.php?v={$video.videokey}">
				<img src="{getThumb vdetails=$video size=168x105}" class="img-responsive vthumb {if Video::getInstance()->isToBlur($video['videoid'])}blur{/if}" width="130" height="80" id="thumbs_{$video.videoid}"/>
				<span class="duration">({if $video.duration>1}{$video.duration|SetTime}{else}00:00{/if})</span>
			</a>
		</div>
		<div class="col-md-9">
			<a href="/watch_video.php?v={$video.videokey}">
				{display_clean($video.title)|truncate:80}
			</a>
			<br/>
			<span class="maccountlabels">
				<strong>{$video.date_added|niceTime}</strong>
				{lang code='views'} : <strong>{$video.views|number_format}</strong>
			</span>
			<div class="labels">
				{if $video.featured=='yes'}
				<span class="label label-primary">{lang code='featured'}</span>
				{/if}
				<span class="label {if $video.active=='yes'}label-success{else}label-warning{/if} mlabel">
				{if $video.active=='yes'}
					{lang code='active'}
				{else}
					{lang code='inactive'}
				{/if}
				</span>
				<span class="label {if $video.status=='Successful'}label-success{else}label-warning{/if}">
				{if $video.status=='Successful'}
					{lang code='successful'}
				{else}
					{lang code='processing'}
				{/if}
				</span>
				<span class="label label-info">
					{lang code='viewed'} {$video.last_viewed|niceTime}
				</span>
			</div>
		</div>
	</td>

	<td>
		<div class="dropdown text-center">
			<button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
				{lang code='vdo_actions'} <i class="caret"></i></button>
				<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" role="menu">
					<li><a role="menuitem" tabindex="-1" href="/watch_video.php?v={$video.videokey}" target="_blank">{lang code='view_video'}</a></li>
					{if in_array($video.videoid, $favorites)}
						<li><a role="menuitem" tabindex="-1" href="/manage_videos.php?mode=favorites&remove_fav_videoid={$video.videoid}">{lang code='remove_from_favorites'}</a></li>
					{/if}
					{if $cbvid->is_video_owner($video.videoid,$user.userid) }
						<li class="divider"></li>
						<li><a role="menuitem" tabindex="-1" href="/edit_video.php?vid={$video.videoid}">{lang code='edit'}</a></li>
						{if $mode != 'favorites'}
							<li><a role="menuitem" tabindex="-1" href="javascript:_cb.Confirm_Delete('?vid_delete={$video.videoid}')">{lang code='delete'}</a></li>
						{/if}
					{/if}

					{foreach from=$cbvid->video_manager_links item=links}
						{$cbvid->video_manager_link($links,$video)}
					{/foreach}
				</ul>
			</div>
		</td>
	</tr>	
	{/if}

	{if $control=='playlist'}
	<tr>
		<td width="25">
			<input type="checkbox" name="check_playlist_items[]" id="check_vid-{$video.playlist_item_id}" value="{$video.playlist_item_id}" />
		</td>
		<td>
			<div>
				<img class="edit-img-thumbnail" src="{getThumb vdetails=$video size=168x105}">
				<p class="marginTop">{display_clean($video.title)|truncate:100}</p>
				<div class="btn-group show">
					<a class="btn btn-primary btn-sm" href="{videoLink vdetails=$video}">
						{lang code='view_video'}
					</a>
					<a class="btn btn-primary btn-sm" href="javascript:void(0);" onmousedown="delete_video('delete_icon_a','{$video.playlist_item_id}','{lang code="remove_playlist_item_confirm"}','?mode=edit_playlist&pid={$pid}&amp;delete_item={$video.playlist_item_id}')" id="delete_icon_a-{$video.playlist_item_id}">
						{lang code="delete"}
					</a>
				</div>
			</div>
			<a href="javascript:void(0);" onmousedown="delete_video('delete_icon','{$video.playlist_item_id}','{lang code="remove_playlist_item_confirm"}','?mode=edit_playlist&pid={$pid}&amp;delete_item={$video.playlist_item_id}')" id="delete_icon-{$video.playlist_item_id}">
				<img src="{$imageurl}/dot.gif" border="0" class="delete_icon" />
			</a>
		</td>
		<td width="100">
			{$video.date_added|date_format}
		</td>
		<td width="100">
			{$video.views|number_format}
		</td>
	</tr>
	{/if}

	{if $control=='basic'}
	<div class="clearfix">
		<input type="checkbox" name="check_vid[]" id="check_vid-{$video.videoid}" value="{$video.videoid}" />
	</div>
	<div class="clearfix">
		<a href="{videoLink vdetails=$video}">
			<img src="{getThumb vdetails=$video}" width="130" height="80" id="thumbs_{$video.videoid}" class="vthumb"/>
			<p class="marginTop">{display_clean($video.title)|truncate:100}</p>
		</a>
	</div>
	<div class="clearfix">{$video.date_added|date_format}</div>
	<div class="clearfix">{$video.views|number_format}</div>
	<div class="clearfix">{$video.comments_count|number_format}</div>
	{/if}

	{if $control=='onWatch'}
	<div class="playlist featured-video clearfix{if $video.videoid==$vdo.videoid} active{/if}" style="{if $ajax_load=='yes'}display:none;{/if}">
		<a href="{video_link($video)}">
			<div class="video_thumb">
				<img src="{getThumb vdetails=$video size=168x105}" {ANCHOR place="video_thumb" data=$video} class="img-responsive no_select"/>
				<time class="duration">
					{if $video.duration>1}{$video.duration|SetTime}{else}00:00{/if}
				</time>
			</div>
		</a>
		<div class="details_block">
			<strong class="title">
				<a href="{video_link($video)}" title="{display_clean($video.title)}">{display_clean($video.title)|truncate:50}</a>
			</strong>
			<div class="views-date">
				<span>{$video.views}&nbsp;{lang code='views'}</span>
			</div>
		</div>
	</div>
	{/if}
