<div class="message">
	<div class="row accountprofile">
		<div class="col-md-10">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object imgobject" src="{$userquery->getUserThumb($user)}" width="142" alt="..."/>
				</a>
				<div class="media-body">
					<div class="row">
						<div class="col-md-12 procolor">
							<h4 class="media-heading headcolor">{display_clean(User::getInstance()->get('username'))}</h4>
							<b>{lang code='since'} : </b>({User::getInstance()->get('doj')|date_format})
							<b>{lang code='last_Login'} : </b>({User::getInstance()->get('last_logged')|nicetime})

							{if $storage_use !== null}
							<br/>
							<b>{lang code='user_current_storage'}</b> : {$storage_use}
							{/if}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr/>

<div style="text-align:center;">
	<div class="padding38">
		{if isSectionEnabled('videos')}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('total_videos')}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code='videos'}</span>
		</span>
		{/if}
		{if isSectionEnabled('photos')}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('total_photos')}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code="photos"}</span>
		</span>
		{/if}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('num_visits')|number_format}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code='total_logins'}</span>
		</span>
		{if isSectionEnabled('videos')}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('total_watched')|number_format}</span>
			<br/>
			<span class="line-height-1 smaller-90"> {lang code='watched'} </span>
		</span>
		{/if}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('total_comments')|number_format}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code='comments'}</span>
		</span>
		{if isSectionEnabled('collections')}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('total_collections')|number_format}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code='collections'}</span>
		</span>
		{/if}
		{if config('channelsSection') == 'yes'}
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('profile_hits')}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code='views'}</span>
		</span>
		<span class="btn" style="background-color:#000000;color:#ffffff;">
			<span class="line-height-1 bigger-170">{User::getInstance()->get('subscribers')}</span>
			<br/>
			<span class="line-height-1 smaller-90">{lang code='subscribers'}</span>
		</span>
		{/if}
	</div>
</div>
<hr/>

{if isSectionEnabled('videos')}
<div class="mvideo accountprofile">
	<span class="lead">
		{lang code='latest_videos'}
	</span>

		{if $videos}
	<table class="table table-bordered table-striped manageUsersTable">
		<tr>
			<td><i class="icon-facetime-video"></i> {lang code="videos_details"}</td>
			<td>{lang code="option"}</td>
		</tr>
		{foreach from=$videos item=video}
		<tr>
			<td>
				<div class="row">
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-3">
							  <a class="manageVid_thumb" href="/edit_video.php?vid={$video.videoid}">
								<img src="{getThumb vdetails=$video size=168x105}" class="img-responsive" width="130" height="80" id="thumbs_{$video.videoid}" class="vthumb"/>
								<span class="duration">({if $video.duration>1}{$video.duration|SetTime}{else}00:00{/if})</span>
							   </a>     
							</div>
							<div class="col-md-9">
								<a href="edit_video.php?vid={$video.videoid}">
									{display_clean($video.title|truncate:80)}
								</a><br/>
								<span class="maccountlabels"> <strong>{$video.date_added|niceTime}</strong>
								{lang code='views'} : <strong>{$video.views|number_format}</strong>
								</span>
								<div class="labels">
									{if $video.featured=='yes'}<span class="label label-primary">{lang code="featured"}{/if}</span>
									<span class="label {if $video.active=='yes'}label-success{else}label-warning{/if} mlabel">
										{if $video.active=='yes'}{lang code="active"}{else}{lang code="inactive"}{/if}
									</span>
									<span class="label {if $video.status=='Successful'}label-success{else}label-warning{/if}">
										{if $video.status=='Successful'}{lang code="successful"}{else}{lang code="processing"}{/if}
									</span>
									<span class="label label-info">
									   {lang code='viewed'} {$video.last_viewed|niceTime}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							{if $video.broadcast=='public'}
							<div class="col-md-1"><i class="icon-globe"></i></div>
							{elseif $video.broadcast!='public'}
							<div class="col-md-1"><i class="icon-lock"></i></div>
							{/if}
						</div>
						<a href="view_channel.php?user={$video.userid}">{display_clean($video.user_username)}</a>
					</div>
				</div>
			</td>
			<td>
				<div class="dropdown">
					<button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
						Actions <i class="caret"></i></button>
					<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1" role="menu">
						<li>
							<a role="menuitem" tabindex="-1" href="/edit_video.php?vid={$video.videoid}">{lang code="edit"}</a>
						</li>
						<li>
							<a role="menuitem" tabindex="-1" href="/watch_video.php?v={$video.videokey}" target="_blank">{lang code="watch"}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a role="menuitem" tabindex="-1" href="/myaccount.php?delete_video={$video.videoid}">{lang code="delete"}</a>
						</li>
						{foreach from=$cbvid->video_manager_links item=links}
						    {$cbvid->video_manager_link($links,$video)}
						{/foreach}
					</ul>
				</div>
			</td>
		</tr>
		{/foreach}
	</table>
	{else}
	<div align="center"><strong><em>{lang code="no_videos_found"}</em></strong></div>
	{/if}
</div>
{/if}
