{if marked_spammed($comment)}
	{assign var='comment_attr' value='style="display:none"'}
    {assign var='spam_attr' value='style="display:block"'}
{else}
{assign var='comment_attr' value=''}
    {assign var='spam_attr' value='style="display:none"'}
{/if}
{* <li>
    <div class="row">
    
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-2">
                    {$user_link='#'}
                    {if $comment.username}{$user_link=$userquery->profile_link($comment)}{/if}
                    <a href="{$user_link}">
                        <img class="img-thumbnail" src="http://lorempixel.com/output/people-q-c-40-40-7.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-10">
                    <a class="commentorName" href="{$user_link}">{name($comment)}</a>
                    <p>{$comment.comment|comment}</p>
                </div>
            </div>
        </div>
    </div>

</li> *}



{if $comment}
<div class="itemdiv dialogdiv">
  
{$count_comments = $myquery->count_comment($comment.type_id)}
<input type="hidden" id="comment_counter" value={$count_comments}>
    {*$comment|print_r*}
    <div class="user">
        {$user_link='#'}
                    {if $comment.username}{$user_link=$userquery->profile_link($comment)}{/if}
        <a href="{$user_link}">
          
            <img src="{$userquery->getuserthumb($comment)}" class="img-circle"  />
        </a>
    </div>
    <div class="body">
        <div class="name">
            <a class="commentorName" href="{$user_link}">{name($comment)}</a>
            <span class="time">
            	{$comment.date_added|niceTime}
        	</span>
        </div>
        <div class="text">

             {if $reply}
            <div class="clearfix">
            {$reply}
            </div>
            {/if}



            {if $comment.parent_id}
            {assign var=parentid value=$comment.parent_id}
            {assign var=thisParent value=$parents.$parentid}
            
            {if $thisParent}
            <div class="clearfix">
                
                {if $thisParent.username}@{$thisParent.username} : 
                {/if}{$thisParent.comment|comment}
            </div>
            {/if}
        {/if}
        
       <div class="clearfix  {if $thisParent}reply-text{/if}">
       		{if $thisParent}
	       		<div class="clearfix reply-name-time">
	       			{name($comment)}<span class="time">{$comment.date_added|niceTime}</span>
	       		</div>
       		{/if}
			{wordwrap($comment.comment|comment,8, "\n", true)}
       </div>

    </div>
        <div class="tools blue">
            
                <a href="javascript:void(0)" onclick="to_reply('{$comment.comment_id}')"><i class="glyphicon glyphicon-share-alt"></i></a> 
             
           
        </div>
    </div>
</div>
{/if}




{*

<div id="comment_{$comment.comment_id}" class="cb-item-comment" {$comment_attr}>
    <img src="{$userquery->getuserthumb($comment)}" class="img-circle cb-comment-author-img" />
    <div class="cb-comment-author">
        {$user_link=''}
        {if $comment.username}{$user_link=$userquery->profile_link($comment)}{/if}

        <a href="{$user_link}">{name($comment)}</a> <span class="cb-comment-date"> &ndash; {nicetime($comment.date_added)}</span>


        {if $type=='video' && $comments_voting=='yes' && $Cbucket->configs.comment_rating}
        <div class="cb-comment-rating-cont">
            <span class="comment-rating" id="comment_rating_{$comment.comment_id}" >{$comment.vote|comment_rating}</span>
            <span class="comment-like" onclick="rate_comment('{$comment.comment_id}','up','{$type}','{$type_id}')">{lang('Like')}</span>
            <span class="comment-dislike" onclick="rate_comment('{$comment.comment_id}','down','{$type}','{$type_id}')">{lang('Unlike')}</span>
        </div>
        {/if}


    </div>
    <div class="cb-comment-text">

        {if $comment.parent_id}
        {assign var=parentid value=$comment.parent_id}
        {assign var=thisParent value=$parents.$parentid}

        {if $thisParent}
        <blockquote>
            {$thisParent.comment|comment}
            {if $thisParent.username}<small>{name($thisParent)}</small>{/if}
        </blockquote>
        {/if}
        {/if}



        {$comment.comment|comment}
    </div>
    <div class="cb-comment-actions">
        {if has_access('admin_del_access') || $comment.userid==userid() || $comment.type_owner_id==userid()}
            <a href="javascript:void(0)" onclick="delete_comment('{$comment.comment_id}','{$type}','{$type_id}')">{lang('Delete')}</a>
             |
        {/if}
        <a href="javascript:void(0)" onclick="to_reply('{$comment.comment_id}')">{lang code='reply'}</a> | <a href="javascript:void(0)" onclick="spam_comment('{$comment.comment_id}','{$type}','{$type_id}')">{lang code='spam'}</a>
    </div>

</div>

<div id="spam_comment_{$comment.comment_id}" class="spam mtm mbm" {$spam_attr} >
    {$marked_as_spam_comment_by_user=lang('marked_as_spam_comment_by_user')}

    {if $comment.username}
        {$marked_as_spam_comment_by_user|sprintf:$comment.username}
    {else}
        {$marked_as_spam_comment_by_user|sprintf:$comment.anonym_name}
    {/if}
    {if has_access('admin_del_access') || $comment.userid==userid() || $comment.type_owner_id==userid()}
        | <a href="javascript:void(0)" onclick="delete_comment('{$comment.comment_id}')">{lang code='delete'}</a>
    {/if}
</div>
*}

