<table width="100%" border="0">
    <tbody>
     <tr>
        <td valign="top">
<table width="70%" cellspacing="1" cellpadding="6" border="0" align="center" class="tborder">
<tbody>
<tr>
    <td class="tcat">
    <img border="0" class="inlineimg" src="{$baseurl}/images/icons/info.png"/> {$title} Message:  HTTP Error 403
    </td>
</tr>
<tr>
<td align="center" class="panelsurround">
<div class="panel">
<div align="left">
<div style="margin: 10px;">
    <font size="2">
    <p>
    Forbidden - Access Denied.
    </p>
    <ul>
    <li><a href="{$baseurl}">Go to the main page</a></li>
    </ul>
    </font>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>