{assign var='requiredFields' value=$Upload->loadRequiredFields()}
{assign var='optionFields' value=$Upload->loadOptionFields()}
{assign var='locationFields' value=$Upload->loadLocationFields()}

{if $show_form !=no }
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="header1">{$LANG.vdo_edit_vdo}</td>
  </tr>
  <tr>
    <td align="right" class="tips"><a href="{$manage_videos}" class="tabs_01">&laquo; Go Back {$LANG.com_my_videos}</a></td>
  </tr>
  <tr>
    <td align="left" class="tips">
 <form action="" method="post" name="{$LANG.vdo_edit_vdo}" id="{$LANG.vdo_edit_vdo}">
 <input type="hidden" name="videoid" value="{$data.videoid}" />
<table width="520" border="0" align="left" cellpadding="0" cellspacing="0">

      <tr>
        <td align="right" valign="middle" bgcolor="#F0F0F0"><img src="{$imageurl}/uploader_tr.gif" /></td>
      </tr>
      <tr bgcolor="#F6F6F6">
        <td align="left" valign="middle" bgcolor="#F0F0F0"><table width="95%" border="0" align="center" cellpadding="2" cellspacing="1">
            <tr>
              <td align="left" valign="middle" class="header2">{$LANG.vdo_stills}<br />
             {if $is_admin == 1 && $data.embeded==no}
              <NOBR><font size="1">(<a href="{$baseurl}/regen_thumbs.php?flv={$data.flv}&duration={$data.duration}&returnto={$THIS_URL}">Regenerate Thumbs</a>)</font></NOBR>
              <BR>
              <BR>
              {/if}
              <a href="{$data.url}" target="_blank"><span class="tips">{$LANG.vdo_watch_video}</span></a></td>
              <td align="left" class="header2"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                <tr>
                  <td align="center"><img src="{getThumb flv=$data.flv num=1}" border="1" /></td>
                  <td align="center"><img src="{getThumb flv=$data.flv num=2}" border="1" /></td>
                  <td align="center"><img src="{getThumb flv=$data.flv num=3}" border="1" /></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td colspan="2" align="left" class="header2">{$LANG.vdo_video_details}</td>
            </tr>
            {foreach from=$requiredFields item=field}
                  <tr>
                    <td width="117" align="right" valign="top" class="header3">{$field.title}* :</td>
                    <td class="tips">{$field.hint_1}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)} 
                    <br>
                    {$field.hint_2}</td>
                  </tr>
            {/foreach}
            {if $is_admin == 1}
            <tr>

              <td width="117" align="right" valign="top" class="header3">{$LANG.duration} :</td>

              <td>

                <input name="duration" type="text" id="duration" value="{$data.duration}">
                <input type="hidden" name="admin" id="admin" value="true">
                <input type="hidden" name="status" id="status" value="Successful">
                </td>

            </tr>
            {/if}            
            <tr>
              <td height="130" colspan="2" align="right"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
                  <tr>
                    <td colspan="2" align="left" class="header2">{$LANG.vdo_date_loc}</td>
                  </tr>
                  <tr>
                    <td width="109" align="right" valign="top" class="header3">{$LANG.vdo_date_rec} : </td>
                    <td width="347" align="left" class="header3">{$Upload->loadDateForm($data.datecreated)}</td>
                  </tr>
                  {foreach from=$locationFields item=field}
                  <tr>
                    <td width="117" align="right" valign="top" class="header3">{$field.title}* :</td>
                    <td class="tips">{$field.hint_1}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)} 
                    <br>
                    {$field.hint_2}</td>
                  </tr>
                  {/foreach}
              </table></td>
            </tr>
            <tr>
              <td height="80" colspan="2" align="right"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
                        <tr>
                          <td colspan="2" align="left" class="header2">{$LANG.vdo_share_opt}</td>
                        </tr>
                  {foreach from=$optionFields item=field}
                  <tr>
                    <td width="117" align="right" valign="top" class="header3">{$field.title}* :</td>
                    <td class="tips">{$field.hint_1}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)} 
                    <br>
                    {$field.hint_2}</td>
                  </tr>
                  {/foreach}
                    </table></td>
            </tr>
            <tr>
              <td align="right">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr bgcolor="#F6F6F6">
        <td align="right" valign="middle" bgcolor="#F0F0F0"><img src="{$imageurl}/uploader_br.gif" /></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><input type="submit" name="update" id="button" value="{$LANG.vdo_update_title}" onclick="return validate_upload_form(upload_01)" />        </td>
      </tr>
    </table></form></td>
  </tr>
</table>
{/if}