{if $show_group !="No"}
<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
        <td width="14%" align="left" valign="top"><a href="{$view_group_link}{$groups.group_url}"><img src="{$group_thumb}/{$groups.group_thumb}" border="1"></a></td>
        <td width="86%" valign="top" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="84%" height="29" ><a href="{$view_group_link}{$groups.group_url}"><span class="header1">{$groups.group_name}</span></a></td>
            <td width="16%" rowspan="2" valign="top">
				{if $owner == yes}
				<li><a href="{$edit_group_link}{$groups.group_url}">{$LANG.grp_edit_grp_title}</a></li>
                <li><a href="{$manage_group_videos_link}{$groups.group_url}">{$LANG.grp_manage_vdos}</a></li>
				 <li><a href="{$manage_group_members_link}{$groups.group_url}">{$LANG.grp_manage_mems}</a></li>
				<li><a href="{$delete_group_link}{$groups.group_url}">{$LANG.grp_del_group_title}</a></li>
				{/if}
				{if $logged_user !=""}
              	<li><a href="{$add_group_video_link}{$groups.group_url}">{$LANG.grp_add_vdos}</a></li>
				{/if}
				{if $join == 'yes'}
              	<li><a href="{$join_group_link}{$groups.group_url}">{$LANG.grp_join_grp_title}</a></li>
				{elseif  $join != 'yes' && $owner != yes}
				<li><a href="{$leave_group_link}{$groups.group_url}">{$LANG.grp_leave_group_title}</a></li>
				{/if}
              	<li><a href="{$invite_group_members_link}{$groups.group_url}">{$LANG.grp_invite_grp_title} </a></li>
              	<li><a href="{$view_group_members_link}{$groups.group_url}">{$LANG.grp_view_mems}</a></li>
              	<li><a href="{$view_group_videos_link}{$groups.group_url}">{$LANG.grp_view_vdos}   </a></li></td>
          </tr>
          <tr>
            <td valign="top" style="padding-left:5px">{$groups.group_description}</td>
          </tr>
        
        </table></td>
  </tr>
	</table>
	{/if}
