<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><h2><font face="Arial, Helvetica, sans-serif">Help about {$title}</font></h2></td>
  </tr>
  <tr>
    <td><p><strong>Q: How to create an account ?<br />
    </strong>A: Goto <a href="{$signup_link}">sign up</a> page , fill in the form , thats it, you may also need to activate your account for security reasons</p>
    <p><strong>Q: How to upload a video?<br />
    </strong>A: Goto Upload Video page , fill in the details, click continue, select file, and hit upload, here you go, after conversion , video will be available for all users</p>
    <p><strong>Q: I cannot access my account, what can be the reason?<br />
    </strong>A: You may not have activated your account, you can activate it here, you are may be banned by the website administration department, you can contact us here.</p></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
