<form name="delete_msg" method="get" action="{$inbox_link}">
<input type="hidden" name="delete_msg" value="{$msgdata.message_id}" />
</form>
<form name="reply_msg" method="post" action="{$compose_msg_link}">
<input type="hidden" name="username" value="{$msgdata.sender}" />
<input type="hidden" name="subject" value="RE:{$msgdata.subject}" />
<input type="hidden" name="message" value="

{$msgdata.sender} Wrote on {$msgdata.date_added|date_format}:
-----------------------------------
{$msgdata.message}" />
<input type="hidden" name="reply_to" value="{$msgdata.message_id}" />
</form>
<table width="930" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="header1">{$LANG.message} &raquo; {$LANG.inbox}</td>
  </tr>
  <tr>
    <td class="header1"><table width="91%" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3" align="center" valign="top">{include file="$template_dir/layout/block/pm_left_block.html" inbox="selected"}</td>
        <td width="20" valign="top" bordercolor="#FFFFFF" bgcolor="#F0F0F0"><img src="{$imageurl}/uploader_tl.gif" width="19" height="20"><br></td>
        <td width="621" valign="top" bordercolor="#FFFFFF" bgcolor="#F0F0F0" style="padding-top:3px;"><span class="header2">{$LANG.messages}
          </span>
          <form action="" method="post">
          <div id="messages">
          {if $totalmsg != 0}
          <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#FFFFFF">
          <tr bgcolor="#000099">
            <td width="10" background="{$imageurl}/crystal_bg01.png" bgcolor="#000099" class="header_link">
              <input type="checkbox" name="checkbox" value="checkbox"  onclick="checkUncheckAll(this);"/>
            </td>
            <td width="100" height="20" background="{$imageurl}/crystal_bg01.png" bgcolor="#000099" class="header_link">{$LANG.from}</td>
            <td background="{$imageurl}/crystal_bg01.png" bgcolor="#000099" class="header_link">{$LANG.subject}</td>
            <td width="100" background="{$imageurl}/crystal_bg01.png" bgcolor="#000099" class="header_link">{$LANG.date}</td>
          </tr>
          </table>
          {else}
          <span class="header3" style="padding:5px">{$LANG.user_no_message}</span>
          {/if}
        <table width="100%" border="0" cellspacing="1" cellpadding="2">
        {assign var=bgcolor value="#F7F7F7"}
          {section name=m_list loop=$msgs}
          {if $msgs[m_list].status == 0}
           {assign var=class value=msgs_unread}
           {else}
           {assign var=class value=msgs_read}
           {/if}
          {if $msgdata.message_id == $msgs[m_list].message_id}
          {assign var=bgcolor2 value="#B9E3FF"}
          {else}
          {assign var=bgcolor2 value=""}
          {/if}
          <tr bgcolor="{if $bgcolor2==""}{$bgcolor}{else}{$bgcolor2}{/if}">
            <td width="10" class="{$class}" ><input name="check_msg[]" type="checkbox" id="check_msg[]" value="{$msgs[m_list].message_id}" /></td>
            <td width="100" height="20" class="{$class}" >{$msgs[m_list].sender|truncate:16}</td>
            <td class="{$class}">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="{$class}">
  <tr>
    <td align="left"><a href="{$inbox_link}?msgid={$msgs[m_list].message_id}">{$msgs[m_list].subject|truncate:45}</a></td>
    <td align="right">{if $msgs[m_list].attachment !=""}<img src="{$imageurl}/attachment_icon.png" title="Attachment"/>{/if}
    <a href="{$inbox_link}?delete_msg={$msgs[m_list].message_id}"><img src="{$imageurl}/delete_icon.png" title="{$LANG.user_delete_message_msg}" border="0"/></a></td>
  </tr>
</table></td>
            <td width="100" class="{$class}">{$msgs[m_list].date_added|date_format}</td>
          </tr>
          {if $bgcolor == "#F7F7F7"}
           {assign var=bgcolor value="#F3F3F3"}
          {else}
           {assign var=bgcolor value="#F7F7F7"}
          {/if}
       	 {/section} 
       	 </table>
          </div>
		  
		  <label>
		  <input name="delete_selected_message" type="submit" id="delete_selected_message" value="Delete Selected" />
		  </label>
          </form>
          {if $show_msg =="yes" || $msgdata.subject!=""}
          <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border:solid 1px #0099CC; border-bottom:0px; margin-top:10px">
              <tr>
                <td ><table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td class="header3">{$LANG.subject} :<span class="tips"> {$msgdata.subject}</span> from <span class="tips">{$msgdata.sender}</span></td>
                      <td align="right" class="tips">{$msgdata.date_added|date_format}</td>
                    </tr>
                </table></td>
              </tr>
            </table>
          <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#B9E3FF" style="border:solid 1px #0099CC; ">
              <tr>
                <td ><table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="20" align="right" class="tips"><a href="#delete_msg" onclick="document.delete_msg.submit();return false">{$LANG.delete}</a> | <a href="#reply_msg" onclick="document.reply_msg.submit();return false">{$LANG.reply}</a></td>
                    </tr>
                </table></td>
              </tr>
            </table>
           {if $msgdata.attachment !=""}
            <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border:solid 1px #0099CC; border-top:0px;">
              <tr>
                <td ><table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td class="header3">{$LANG.user_attached_video}<br />
<a href="{$attachment.url}" target="_blank">{$attachment.title}<br /><img src="{$video_thumbs}/{$attachment.thumb1}" width="80" height="60" border="1"/></a></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            {/if}
          <div id="msg_body">
            <div style="padding:10px">
          {$msgdata.message|nl2br}         
           </div>
          </div>
          {/if}        </td>
        <td width="26" align="right" valign="top" bordercolor="#FFFFFF" bgcolor="#F0F0F0"><img src="{$imageurl}/uploader_tr.gif" width="19" height="20"></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td bgcolor="#FFFFFF" class="header2">&nbsp;</td>
        <td bgcolor="#FFFFFF" class="header2">&nbsp;</td>
        <td colspan="2" align="left" valign="top" bordercolor="#FFFFFF" bgcolor="#F0F0F0"><img src="{$imageurl}/uploader_bl.gif" width="19" height="20"></td>
        <td align="right" valign="top" bordercolor="#FFFFFF" bgcolor="#F0F0F0"><img src="{$imageurl}/uploader_br.gif" width="19" height="20"></td>
      </tr>
    </table></td>
  </tr>
</table>
