</body>
<body onLoad=transfer()>

<table width="940" border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td width="50%" class="header1"><img src="{$imageurl}/check.png" width="20" height="20" style="background-color:#FFFFFF"> {$LANG.com_logout_success_msg}<br>
      <span class="header2">{$LANG.com_not_redirecting}      </span>
      <p class="header3">{$LANG.com_not_redirecting_msg} <a href="{$link}">{$LANG.click_here}</a></p></td>
    <td width="50%" align="center" valign="top" class="header1">{$LANG.advertisements}<br>
    {AD place="ad_300x250"}</td>
  </tr>
</table>
