
{if $show_group !=No}
<table width="940" border="0" align="center" cellpadding="0" cellspacing="0">
{if $full_view != no}
  <tr>
    <td class="header1">{$LANG.grp_manage_vdos}
    <hr size="1" noshade></td>
  </tr>
  <tr>
    <td><a href="{$manage_group_videos_link}{$groups.group_url}&show=approved">{$LANG.approved} {$LANG.videos}</a> | <a href="{$manage_group_videos_link}{$groups.group_url}&show=unapproved">{$LANG.videos} {$LANG.grp_for_approval} </a></td>
  </tr>{/if}
  <tr>
    <td>&nbsp;</td>
  </tr>
 
  <tr>
    <td height="20">   {if $total_videos !=0 } <form name="form1" method="post" action=""><table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{section name=v_list loop=$videos}
    <div  style="float:left; width:400px">
      <table width="400" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
          <td width="136" rowspan="2" align="center" valign="middle">
 <a href="{$videos[v_list].url}"> 
        <div id="VDOthumb02">
          <img src="{getThumb flv=$videos[v_list].flv}" width="120" height="90" border="0" align="left" />
          <div id="icon_play01"></div>
    	</div></a>    </td>
          <td colspan="2" class="header3"> 
            <input type="checkbox" name="{$videos[v_list].videokey}" value="yes" {$videos[v_list].checked} >
            {$videos[v_list].title}</td>
        </tr>
        <tr>
          <td width="59" valign="top" class="tips">          {$LANG.date_added}:<br>
            {$LANG.username}:<br /></td>
          <td width="405" valign="top" class="tips">          {$videos[v_list].date_added|date_format}<br />
{$videos[v_list].username}<br /></td>
        </tr>
        <tr>
        <td height="30" colspan="3" align="center" valign="top"><label></label></td>
        </tr>
      </table>
      </div>
    {/section} </td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><label>
      <input type="submit" name="remove" value="{$LANG.grp_rm_videos}" id="button">
      {if $show=='unapproved'} 
      <input type="submit" name="approve" value="{$LANG.approve}" id="button">
    {/if}</label></td>
  </tr>
</table>
   
    </form>
	{else}
	<span class="header1">No {$LANG.videos} </span>{/if}    </td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#FFFFFF">
      <table width="930" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">
      <tr>
        <td width="10" align="left" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/left_round.png" /></td>
        <td width="50" align="left" valign="middle" bgcolor="#F3F3F3" class="pagination" > {if $prepage neq 0}<a href="{$link}&amp;page={$prepage}">{$LANG.previous}</a>{/if}</td>
        <td align="center" valign="middle" bgcolor="#F3F3F3" class="pagination" >{$show_pages}</td>

        <td width="50" align="right" valign="middle" bgcolor="#F3F3F3" class="pagination">{if $pages!=1 && $cur_page < $pages && $nextpage <=$pages}<a href="{$link}&amp;page={$nextpage}">{$LANG.next}</a>{/if}</td>
        <td width="10" align="right" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/right_round.png" /></td>
      </tr>
</table>   </td>
  </tr>
</table>
{/if}