{if $total_videos> 0}
{section name=v_list loop=$videos}
<form name="edit_video_{$videos[v_list].videoid}" method="post" action="{$edit_video_link}">
<input type="hidden" name="videoid" value="{$videos[v_list].videoid}" />
</form>
{/section}
<table width="940" border="0" align="center" cellpadding="0" cellspacing="0">
{if $full_view != no}
  <tr>
    <td class="header1">{$LANG.vdo_manage_vdeos}
    <hr size="1" noshade></td>
  </tr>
  <tr>
    <td><a href="?order=mr">{$LANG.most_recent}</a> | <a href="?order=fr">{$LANG.featured}</a> | <a href="?order=mv">{$LANG.mostly_viewed}</a></td>
  </tr>{/if}
  <tr>
    <td>&nbsp;</td>
  </tr>

 <tr>
  
    <td height="20"> 
 <form id="form1" name="delete_videos" method="post" action="{$manage_videos}">
 <label><span class="tips"><strong>{$LANG.check_all}</strong></span>
 <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></label><hr width="99%" size="1" noshade="noshade" />

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{section name=v_list loop=$videos}
	

	<div  style="float:left; width:400px; height:150px">
	
      <table width="400" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
          <td width="136" rowspan="2" align="center" valign="top">
 				<a href="{$videos[v_list].url}"> 
     			   <div id="VDOthumb02">
        			  <img src="{$video_thumbs}/{$videos[v_list].thumb}" width="120" height="90" border="0" align="left" />
         				 <div id="icon_play01"></div>
   				</div>
 				</a>    </td>
          <td colspan="2" > <a href="{$videos[v_list].url}" class="header2">Title: {$videos[v_list].title}</a></td>
        </tr>
        <tr>
          <td valign="top"><strong>{$LANG.vdo_status}</strong> : {$videos[v_list].status}<br />
          <strong>{$LANG.date_added}</strong> : {$videos[v_list].date_added|date_format}<br />
          <label><strong>{$LANG.select}</strong>
          <input type="checkbox" name="{$videos[v_list].videokey}" value="yes" /></label></td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top">
<form name="remove_viedeo_{$videos[v_list].videoid}" method="post" action="{$manage_videos}" onsubmit="return confirm('Are You Sure To Remove This Video?')">   
<input  type="hidden" name="delete_videoid" value="{$videos[v_list].videoid}"  />
<input name="delete_video" type="image" value="{$video[v_lis].videoid}" src="{$imageurl}/{$langf}/remove_video_button.png" alt="Remove" title="Remove Video" />
<a href="javascript:void(0)" onclick="document.edit_video_{$videos[v_list].videoid}.submit();return false"><img src="{$imageurl}/{$langf}/edit_video_button.png" style="padding-left:5px" title="{$LANG.vdo_edit_vdo}" border="0"/></a>
</form>     </td>
          </tr>
</table>



      </div>

    {/section}
    
      
    
</td>
      </tr>
      <tr>
        <td align="center"><label>
        <input type="submit" name="delete_videos" value="{$LANG.delete_selected}" id="button" />
        </label></td>
      </tr>
    </table></form></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#FFFFFF">
    {if $full_view != no}
      <table width="93%" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">
      <tr>
        <td width="10" align="left" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/left_round.png" /></td>
        <td width="50" align="left" valign="middle" bgcolor="#F3F3F3" class="pagination" > {if $prepage neq 0}<a href="{$link}&amp;page={$prepage}">{$LANG.previous}</a>{/if}</td>
        <td align="center" valign="middle" bgcolor="#F3F3F3" class="pagination" >{$show_pages}</td>

        <td width="50" align="right" valign="middle" bgcolor="#F3F3F3" class="pagination">{if $pages!=1 && $cur_page < $pages && $nextpage <=$pages}<a href="{$link}&amp;page={$nextpage}">{$LANG.next}</a>{/if}</td>
        <td width="10" align="right" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/right_round.png" /></td>
      </tr>
    </table>

    {else}<div style="background-color:#F0F0F0"><a href="{$manage_videos}" class="tabs_01">{$LANG.vdo_clic_to_manage_all}</a></div>{/if}</td>
  </tr>
</table>
{else}
<div class="header1" align="left" style="width:940px; margin:auto">{$LANG.vdo_manage_vdeos}
    <hr size="1" noshade>{$LANG.no_video_exists}</div>
{/if}