<table width="940" border="0" align="center" cellpadding="0" cellspacing="0">
{if $full_view != no}
  <tr>
    <td class="header1">{$LANG.grp_groups_title} - {$show} </td>
  </tr>
  <tr>
    <td><a href="?show=joined">{$LANG.grp_joined_groups}</a> | <a href="?show=owned">{$LANG.grp_owned_groups}</a> | <a href="{$create_group_link}">{$LANG.grp_create_grp_title}</a> </td>
  </tr>{/if}
  <tr>
    <td>&nbsp;</td>
  </tr>
 <form action="" method="post" name="form" onsubmit="return confirm('Are You Sure You Want To Do This?')">
  <tr>
    <td height="20">{if $grand_total != 0}
	<strong>{$LANG.check_all} 
        <label>
        <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
          </label>
    </strong></td>
  </tr>
  <tr>
    <td height="20">{section name=g_list loop=$groups}
    <div  style="float:left; width:400px">
      <table width="400" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
          <td width="136" rowspan="4" align="center" valign="middle">
        <div id="VDOthumb02">
          <a href="{$view_group_link}{$groups[g_list].group_url}">
          <img src="{$groups->getThumb($groups[g_list].group_thumb)}" width="120" height="90" border="0" align="left" /></a>
          <div id="icon_play01"></div>
    	</div></td>
          <td colspan="2" class="header3"><label>
            <input type="checkbox" name="{$groups[g_list].group_id}" value="yes" />
          </label>
            {$groups[g_list].group_name}</td>
        </tr>
        <tr>
          <td width="59" valign="top" class="tips">          {$LANG.date_added}:<br />
          {$LANG.username}<br />
          {$LANG.grp_url_title1} :</td>
          <td width="405" valign="top" class="tips">          {$groups[g_list].date_added|date_format}<br />
            <a href="{$groups[g_list].username}"><strong>{$groups[g_list].username}          <br />
            {$groups[g_list].group_url}</strong></a></td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top" class="tips">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="center" valign="top" class="tips"><label>
            {if $show==Owned}<a href="{$edit_group_link}{$groups[g_list].group_url}"><span class="header2">
{$LANG.grp_edit_this_grp}</span></a>        {/if}</label></td>
          </tr>
      </table>
      </div>
    {/section}    </td>
  </tr>
  <tr>
  <td height="80" align="center" valign="bottom"><label>
    {if $show==Joined}
    <input type="submit" name="leave" value="{$LANG.grp_leave_group_title}" id="button"/>
  {else}
  <input type="submit" name="remove" value="{$LANG.grp_remove_group}" id="button"/>
  {/if}</label>{else}{$LANG.grp_bo_grp_found}{/if}</td>
  </tr>
</form>
  <tr>
    <td height="20" align="center" bgcolor="#FFFFFF" style="padding:10px"><table width="930" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">
      <tr>
        <td width="10" align="left" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/left_round.png" /></td>
        <td width="50" align="left" valign="middle" bgcolor="#F3F3F3" class="pagination" > {if $prepage neq 0}<a href="{$link}&amp;page={$prepage}">{$LANG.previous}</a>{/if}</td>
        <td align="center" valign="middle" bgcolor="#F3F3F3" class="pagination" >{$show_pages}</td>

        <td width="50" align="right" valign="middle" bgcolor="#F3F3F3" class="pagination">{if $pages!=1 && $cur_page < $pages && $nextpage <=$pages}<a href="{$link}&amp;page={$nextpage}">{$LANG.next}</a>{/if}</td>
        <td width="10" align="right" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/right_round.png" /></td>
      </tr>
</table>
    </td>
  </tr>
</table>
