{if $show==contacts}
	{if $total_contacts == 0}
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="0" bgcolor="#B9E3FF" style="border:solid 1px #0099CC;">
	  <tr>
 	   <td ><table width="98%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" class="header2">{$LANG.com_user_no_contacts}<a href="{$baseurl}/activation.php"></a></td>
      </tr>
    </table></td>
  </tr>
	</table>

{else}

{section name=c_list loop=$contacts}
  <tr>
    <td>
    <div style="padding-top:5px; background-color:#f0f0f0; height:120px; margin-top:5px">
      <table width="95%" border="0" align="center" cellpadding="2" cellspacing="0">
      <tr>
           <td width="108" rowspan="5" align="center" valign="top" bgcolor="#F0F0F0"><a href="{$view_channel_link}{$contacts[c_list].friend_username}"><img src="{$avatardir}/{$contacts[c_list].avatar}"  border="0" /></a></td>
           <td colspan="4" ><a href="{$view_channel_link}{$contacts[c_list].friend_username}" class="header2" >{$contacts[c_list].friend_username}</a></td>
         </tr>
         <tr>
           <td colspan="4" class="tips"  style="border-bottom:1px solid #FFFFFF"><a href="{$view_channel_link}{$contacts[c_list].friend_username}" class="tips" >{$contacts[c_list].about_me}</a></td>
         </tr>
         <tr>
           <td width="73" class="tips"  style="border-bottom:1px solid #FFFFFF" >{$LANG.user_channel_views}</td>
           <td width="144" class="tips"  style="border-bottom:1px solid #FFFFFF">{$contacts[c_list].views}</td>
           <td width="88" class="tips"  style="border-bottom:1px solid #FFFFFF">&nbsp;</td>
           <td width="89" class="tips"  style="border-bottom:1px solid #FFFFFF">&nbsp;</td>
         </tr>
         <tr>
           <td class="tips"  style="border-bottom:1px solid #FFFFFF">{$LANG.videos}:</td>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">{$contacts[c_list].videos}</td>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">&nbsp;</td>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">&nbsp;</td>
         </tr>
         <tr>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">{$LANG.joined}:</td>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">{$contacts[c_list].doj|date_format}</td>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">&nbsp;</td>
           <td class="tips" style="border-bottom:1px solid #FFFFFF">&nbsp;</td>
         </tr>
      </table>
    </div></td>
  </tr>
{/section}

<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" class="tips"><a href="{$user_contacts_link}{$user}"><strong>{$LANG.com_view_all_contacts} {$user}</strong></a></td>
  </tr>
</table>
{/if}
{/if}{if $show==fav_videos}{if $total_videos==0}
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="0" bgcolor="#B9E3FF" style="border:solid 1px #0099CC;">
  <tr>
    <td ><table width="98%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" class="header2">{$LANG.com_user_no_vides}<a href="{$baseurl}/activation.php"></a></td>
      </tr>
    </table></td>
  </tr>
</table>
{else}
<table width="550" border="0" align="center" cellpadding="3" cellspacing="0">
  {section name=v_list loop=$videos}
  <tr>
      <td><div id="Videos_list02">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25%">
              <div id="VDOthumb02" style="float:left"><a href="{$videos[v_list].url}"><img src="{$video_thumbs}/{$videos[v_list].thumb}" width="120" height="90" border="0" /></a>
                  <div id="icon_play01"></div>
              </div>
            </td>
            <td width="75%"><table width="95%" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td colspan="4" align="left" class="header3" style="border-bottom:solid 1px #F0F0F0; padding:5px"><a href="{$videos[v_list].url}"> {$videos[v_list].title|truncate:45}</a></td>
                </tr>
                <tr>
                  <td colspan="4" align="left" class="watchDetails" style="padding-bottom:3px;border-bottom:solid 1px #F0F0F0;">{$videos[v_list].description|truncate:230}</td>
                </tr>
                <tr>
                  <td width="7%" align="left" class="watchDetails">{$LANG.views} : </td>
                  <td width="30%" align="left" class="tabs_01">{$videos[v_list].views}</td>
                  <td width="30%" align="right" class="watchDetails">{$LANG.duration} :</td>
                  <td width="33%" align="left" class="tabs_01">{$videos[v_list].duration}</td>
                </tr>
                <tr>
                  <td colspan="4" align="left" class="watchDetails">{$videos[v_list].show_rating}</td>
                </tr>
            </table></td>
          </tr>
        </table>
      </div></td>
  </tr>
  {/section}
</table>
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" class="tips"><a href="{$user_fav_videos_link}{$user}"><strong>{$LANG.com_view_fav_all_videos} {$user}</strong></a></td>
  </tr>
</table>
{/if}{/if}