{if $show_group != No}
<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td colspan="2">

</td>
</tr>
   <td class="header1" >{$groups.group_name} {$LANG.members} </td>
    <td align="right" class="tips">{$LANG.viewing} {math equation=$limit*$cur_page assign=viewing} {if $prepage == 0 } {math equation=$prepage+1} {else} {math equation = $prepage*$limit+1 }{/if} - {if $viewing > $grand_total}{$grand_total}{else}{$viewing}{/if} {$LANG.of} {$grand_total}</td>
  </tr>
  <tr>
    <td height="10" colspan="2" class="header1" style="color:#53baff"><hr size="1" noshade></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top" >{if $grand_total ==""}
    <table width="95%" border="0" align="center" cellpadding="3" cellspacing="0" bgcolor="#B9E3FF" style="border:solid 1px #0099CC;">
      <tr>
        <td ><table width="98%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="5%"><img src="{$imageurl}/alert.png" /></td>
              <td width="95%" class="header2">{$LANG.no_user_exists}<a href="{$baseurl}/activation.php"></a></td>
            </tr>
        </table></td>
      </tr>
    </table>
    {/if}
    <div id="VDO_CONTAINER01">
 {section name=u_list loop=$users}
     <div style="width:150px; height:180x; border:1px #F5F5F5 solid; float:left; margin:3px">
       <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="145" align="center" class="watchDetails" style="padding-top:4px">
        <div id="UserThumb">
        <table width="118" border="0" cellpadding="0" cellspacing="0" height="90">
        <tr>
        <td align="center" valign="middle" bgcolor="#999999">
       <a href="{$view_channel_link}{$users[u_list].username}"> <img src="{$userquery->getUserThumb($users[u_list].avatar)}" align="middle" border="0"/></a> <div id="icon_user"></div>       </td>
        </tr>
        </table>      
        </div>        </td>
      </tr>
  </table>
       <table width="80%" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td align="left"><a href="{$view_channel_link}{$users[u_list].username}" class="tabs_01"> {$users[u_list].username}</a></td>
         </tr>
         <tr>
           <td align="left" class="tips">{$LANG.views} : {$users[u_list].profile_hits}</td>
         </tr>
         <tr>
           <td align="left" class="tips">{$LANG.videos}:{$users[u_list].total_videos}</td>
         </tr>
         <tr>
           <td align="left" class="tips">{$LANG.date_joined}<span class="tabs_01">{$users[u_list].date_added|date_format}</span></td>
         </tr>
       </table>
     </div>
    {/section}     </div></td>
    <td width="14" valign="top">{AD place=ad_160x600}</td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top" ><table width="93%" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">
      <tr>
        <td width="10" align="left" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/left_round.png" /></td>
        <td width="50" align="left" valign="middle" bgcolor="#F3F3F3" class="pagination" > {if $prepage neq 0}<a href="{$link}&amp;page={$prepage}">{$LANG.previous}</a>{/if}</td>
        <td align="center" valign="middle" bgcolor="#F3F3F3" class="pagination" >{$show_pages}</td>

        <td width="50" align="right" valign="middle" bgcolor="#F3F3F3" class="pagination">{if $pages!=1 && $cur_page < $pages && $nextpage <=$pages}<a href="{$link}&amp;page={$nextpage}">{$LANG.next}</a>{/if}</td>
        <td width="10" align="right" valign="middle" bgcolor="#F3F3F3" ><img src="{$imageurl}/right_round.png" /></td>
      </tr>
    </table></td>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
{/if}