{assign var=playlist value=$cbvid->action->get_playlist($smarty.get.play_list)}

{if $playlist}
<span class="watch_vids_head" onclick='$(this).toggleClass("watch_vids_head_closed");$("#my_playlist").slideToggle("fast")'>Playlist : {$playlist.playlist_name}</span>
<div class="watch_vids_cont" id="my_playlist">
<!-- Getting Playlist Items-->
{assign var=items value=$cbvid->get_playlist_items($playlist.playlist_id)}
{assign var='bg' value='fff'}
{section name=item loop=$items}
	{include file="$style_dir/blocks/quicklist/video_block.html" video=$items[item] selected=$selected bg=$bg}
    
    {if $bg=='fff'}
    {assign var='bg' value='EFF5F8'}
    {else}
    {assign var='bg' value='fff'}
    {/if}
    
{/section}
<div class="clearfix"></div>
</div>
{/if}