<h2>Collection Manager</h2>
<img src="{$imageurl}/dot.gif" class="sarch_button" onclick="toggle_search('searchdiv')" />
<div class="search_box" id="searchdiv" {if $smarty.cookies.show_searchdiv_search!='show'} style="display:none"{/if}>
<form action="collection_manager.php" method="get" name="search_collections">
<table width="400" border="0" cellpadding="2" cellspacing="2">
<tr>
      <td width="106" align="right"><label for="title">Collection name</label></td>
      <td width="280"><input name="title" type="text" class="input" id="title" value="{'title'|get_form_val:true}" //></td>
    </tr>
    <tr>
      <td align="right"><label for="collectionid">Collection id</label></td>
      <td><input name="collectionid" type="text" class="input" id="collectionid" value="{'collectionid'|get_form_val:true}" //></td>
    </tr>
    <tr>
      <td align="right"><label for="tags">Collection tags</label></td>
      <td><input name="tags" type="text" class="input" id="tags" value="{'tags'|get_form_val:true}" /></td>
    </tr>
    <tr>
      <td align="right">Userid</td>
      <td><input name="userid" type="text" class="input" id="userid" value="{'userid'|get_form_val:true}" /></td>
    </tr>
    <tr>
      <td align="right">Active</td>
      <td><label for="active"></label>
        <select name="active" id="active" class="input">
          <option value="" ></option>
          <option value="yes" {if $smarty.get.active=='yes'} selected="selected"{/if}>Yes</option>
          <option value="no" {if $smarty.get.active=='no'} selected="selected"{/if}>No</option>
        </select></td>
    </tr>
    <tr>
      <td align="right">Broadcast</td>
      <td><label for="broadcast"></label>
        <select name="broadcast" id="broadcast" class="input">
          <option value="" ></option>
          <option value="public" {if $smarty.get.broadcast=='public'} selected="selected"{/if}>Public</option>
          <option value="private" {if $smarty.get.broadcast=='private'} selected="selected"{/if}>Private</option>
        </select></td>
    </tr>
    <tr>
      <td align="right">Featured</td>
      <td><label for="featured"></label>
        <select name="featured" id="featured" class="input">
          <option value="" ></option>
          <option value="yes" {if $smarty.get.featured=='yes'} selected="selected"{/if}>Yes</option>
          <option value="no" {if $smarty.get.featured=='no'} selected="selected"{/if}>No</option>
        </select></td>
    </tr>
    <tr>
      <td align="right">Type</td>
      <td>
      <select name="collection_type" id="collection_type">
      	<option value="" ></option>
        {foreach from=$cbcollection->types item=name key=type}
        	<option value="{$type}" {if $smarty.get.collection_type == $type}selected="selected"{/if}>{$name}</option>
        {/foreach}
      </select>
      </td>
    </tr>  
    <tr>
      <td align="right">Order</td>
      <td>
      <select name="order" id="order">
      	<option value="" ></option>
        <option value="collection_id" {if $smarty.get.order == 'collection_id'}selected="selected"{/if}>ID</option>
        <option value="total_objects" {if $smarty.get.order == 'total_objects'}selected="selected"{/if}>Total Items</option>
		<option value="collection_name" {if $smarty.get.order == 'collection_name'}selected="selected"{/if}>Name</option>        
        <option value="views" {if $smarty.get.order == 'views'}selected="selected"{/if}>Views</option>
      </select>
      </td>
    </tr>
</table>
<br />
  <input type="submit" name="search" id="search" value="Search Form" class="button"/>
</form>
</div>

<form name="video_manage" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle"><img src="{$imageurl}/arrow_return.png" width="25" height="25"></td>
    <td height="50" style="padding-left:15px">
     		<input type="submit" name="activate_selected" value="Activate"  class="button"/>
            <input type="submit" name="deactivate_selected" value="Deactivate" class="button" />
            <input type="submit" name="make_featured_selected" value="Make Featured"  class="button"/>
            <input type="submit" name="make_unfeatured_selected" value="Make Unfeatured"  class="button"/>
            <input type="submit" name="delete_selected" value="Delete"  class="button" onclick="return confirm_it('Are you sure you want to delete selected collection(s)')"/>
    
    </td>
    </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle" class="left_head">
    <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
    <td width="75" class="head">Collection ID</td>
    <td class="head">Details</td>
    <td width="50" class="right_head">&nbsp;</td>
  </tr>
</table>

{if $c}
{section name=list loop=$c}
    <li class="clearfix myAdminList" style="background:#{cycle values='FFFFFF,EEEEEE'}" 
        OnMouseOver="$('#vid_opt-{$c[list].collection_id}').show()"
        OnMouseOut="$('#vid_opt-{$c[list].collection_id}').hide()">
        <div class="moveL PhotoCheckBox">
            <div align="center"><input name="check_collection[]" type="checkbox" id="check_collection" value="{$c[list].collection_id}" /></div>
        </div>
        <div class="moveL PhotoID">{$c[list].collection_id}</div>
        <div class="moveL clearfix PhotoDetails" style="width:88%; min-height:inherit;">
        	<div class="moveL AdminPhotoThumb">
            	<img src="{$cbcollection->get_thumb($c[list],'small',TRUE)}" style="padding:2px; border:1px solid #ccc" />
            </div>
            <div class="moveL">
            	<a style="font-size:12px;" href="{$baseurl}/admin_area/edit_collection.php?collection={$c[list].collection_id}">{$c[list].collection_name}</a> ({$c[list].total_objects} {$c[list].type})
            	<div style="height:4px;"></div>
                <span class="vdo_sets">
                    Featured:<strong>{$c[list].featured} </strong> &#8226;
                    Active:<strong>{$c[list].active}</strong>  &#8226;
                    Type:<strong>{$c[list].type}</strong>  &#8226;
                    Uploaded:<strong>{$c[list].date_added|niceTime}</strong>  &#8226;
                    User:<strong><a href="view_user.php?uid={$c[list].userid}">{$c[list].username}</a></strong>
                </span>
                    <div id="vid_opt-{$c[list].collection_id}" style="display:none" class="AdminPhotoActions">              
                    <a href="edit_collection.php?collection={$c[list].collection_id}">Edit</a> | 
                    <a href="{$baseurl}/view_collection.php?cid={$c[list].collection_id}" target="_blank">View</a> {if $c[list].featured == yes} | 
                    <a href="?make_unfeature={$c[list].collection_id}">Make Unfeatured</a> {/if} 
                    {if $c[list].featured == no} | 
                    <a href="?make_feature={$c[list].collection_id}">Make Featured</a> {/if}
                    {if $c[list].active == yes}  | 
                    <a href="?deactivate={$c[list].collection_id}">Deactivate</a> {else} | 
                    <a href="?activate={$c[list].collection_id}">Activate</a> {/if}  |  
                    <a href="?delete_collection={$c[list].collection_id}">Delete</a>
                </div>
            </div>
        </div>
    </li>
{/section}    
{else}
	<div align="center"><strong><em>No Photo Found</em></strong></div>
{/if}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle"><img src="{$imageurl}/arrow_return.png" width="25" height="25"></td>
    <td height="50" style="padding-left:15px">
     		<input type="submit" name="activate_selected" value="Activate"  class="button"/>
            <input type="submit" name="deactivate_selected" value="Deactivate" class="button" />
            <input type="submit" name="make_featured_selected" value="Make Featured"  class="button"/>
            <input type="submit" name="make_unfeatured_selected" value="Make Unfeatured"  class="button"/>
            <input type="submit" name="delete_selected" value="Delete"  class="button" onclick="return confirm_it('Are you sure you want to delete selected collection(s)')"/>
    
    </td>
    </tr>
</table>	
</form>

{include file="$style_dir/blocks/pagination.html" }