<span class="page_title">Comments Manager</span>
<br />
<div style="padding:10px;">
<div style="clear:both; height:5px;"></div>
<a href="?type=v" title="View Video Comments">View Video Comments</a> | <a href="?type=t">View Topic Posts</a> | <a href="?type=c">View Channel Comments</a> | <a href="?type=cl">View Collection Comments</a> | <a href="?type=p">View Photo Comments</a>
<div style="clear:both; height:5px;"></div>
</div>

<form name="comments_manager" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle"><img src="{$imageurl}/arrow_return.png" width="25" height="25"></td>
    <td height="50" style="padding-left:15px">
     		<input type="submit" name="mark_spam" value="Mark Spam"  class="button" id="mark_spam"/>
     		<input type="submit" name="not_spam" value="Not Spam"  class="button" id="not_spam"/>
     		<input type="submit" name="delete_selected" value="Delete"  class="button" onclick="return confirm_it('Are you sure you want to delete selected comment(s)')"/>
    
    </td>
    </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="40" align="center" valign="middle" class="left_head">
    <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
    <td width="50" class="head">CID</td>
    <td class="head">Comment</td>
    <td width="50" class="right_head">&nbsp;</td>
  </tr>
</table>

{if $comments}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
{foreach from=$comments item=comment}

{if $comment.anonym_name != ""}
	{assign var=comment_owner value=$comment.anonym_name}
{else}
	{assign var=comment_owner value=$userquery->get_user_details($comment.3)}
{/if} 
 
<tr class="video_opt_td" id="comment_{$comment.comment_id}" style="background-color:{if $comment.spam_votes > 0} #ffd7d7{else}{$bgcolor}{/if};">
<td width="40" align="center" valign="top" class="video_opt_td"><input name="check_comments[]" type="checkbox" id="check_comments" value="{$comment.comment_id}" /></td>
<td width="50" align="left" valign="top" class="video_opt_td">{$comment.comment_id}</td>
<td valign="top"  class="video_opt_td" onmouseover="$('#comm_opt-{$comment.comment_id}').show()" onmouseout="$('#comm_opt-{$comment.comment_id}').hide()" >
 {if $type == '' || $type == 'v'}
<span class="vdo_sets">
 {if is_array($comment_owner)} <a href="{$userquery->profile_link($comment_owner)}"><strong>{$comment_owner.username}</strong></a> {else} <strong>{$comment_owner}</strong> {/if} commented on <strong>{$comment.date_added|date_format}</strong>  on a video named <span style="text-transform:none"><a href="{videoLink vdetails=$comment}" title="{$comment.title}">{$comment.title|truncate:40}</a></span>
</span> 

<div style="height:5px; clear:both;"></div>
<span style="font-size:11px;" id="{$comment.comment_id}" class="edit_comment">{$comment.comment}</span>
<div style="height:20px;">
<div id="comm_opt-{$comment.comment_id}" class="vid_opts" style="display:none">
<a href="{videoLink vdetails=$comment}#{if $comment.spam_votes > 0}spam_{/if}comment_{$comment.comment_id}" target="_blank">{lang code='view'} {lang code='comment'}</a> |

<a href="#" id="spam_comment_{$comment.comment_id}" onclick="admin_spam_comment({$comment.comment_id}); return false;"{if $comment.spam_votes ==0}  style="display:inline"{else} style="display:none;"{/if}>Mark {lang code='spam'}</a> <a href="#" id="remove_spam_comment_{$comment.comment_id}"  onclick="admin_remove_spam({$comment.comment_id}); return false;"
{if $comment.spam_votes !=0}  style="display:inline"{else} style="display:none;"{/if}>{lang code='remove'} {lang code='spam'}</a> | 

<a href="#" onclick="delete_comment('{$comment.comment_id}','v'); return false;">{lang code='delete'}</a>
</div></div>
</td>
<td width="50" valign="top" class="video_opt_td">&nbsp;</td>	
</tr>
{/if}

{if $type == 't'}
<span class="vdo_sets">
 {if is_array($comment_owner)} <a href="{$userquery->profile_link($comment_owner)}"><strong>{$comment_owner.username}</strong></a> {else} <strong>{$comment_owner}</strong> {/if} commented on <strong>{$comment.date_added|date_format}</strong>  on a topic named <span style="text-transform:none"><a href="{$cbgroup->topic_link($comment)}" title="{$comment.topic_title}">{$comment.topic_title|truncate:40}</a></span>
</span> 
<div style="height:5px; clear:both;"></div>
<span style="font-size:11px;" class="edit_comment">{$comment.comment}</span>
<div style="height:20px;">
<div id="comm_opt-{$comment.comment_id}" class="vid_opts" style="display:none">
<a href="{$cbgroup->topic_link($comment)}#{if $comment.spam_votes > 0}spam_{/if}comment_{$comment.comment_id}" target="_blank">{lang code='view'} {lang code='comment'}</a> |

<a href="#" id="spam_comment_{$comment.comment_id}" onclick="admin_spam_comment({$comment.comment_id}); return false;"{if $comment.spam_votes ==0}  style="display:inline"{else} style="display:none;"{/if}>Mark {lang code='spam'}</a> <a href="#" id="remove_spam_comment_{$comment.comment_id}"  onclick="admin_remove_spam({$comment.comment_id}); return false;"
{if $comment.spam_votes !=0}  style="display:inline"{else} style="display:none;"{/if}>{lang code='remove'} {lang code='spam'}</a> | 

<a href="#" onclick="delete_comment('{$comment.comment_id}','v'); return false;">{lang code='delete'}</a>
</div></div>
{/if}

{if $type == 'c'}
<span class="vdo_sets">
 {if is_array($comment_owner)} <a href="{$userquery->profile_link($comment_owner)}"><strong>{$comment_owner.username}</strong></a> {else} <strong>{$comment_owner}</strong> {/if} commented on <strong>{$comment.date_added|date_format}</strong>  on a channel named <span style="text-transform:none"><a href="{$userquery->profile_link($comment)}" title="{$comment.username}">{$comment.username|truncate:40}</a></span>
</span> 
<div style="height:5px; clear:both;"></div>
<span style="font-size:11px;" class="edit_comment">{$comment.comment}</span>

<div style="height:20px;">
<div id="comm_opt-{$comment.comment_id}" class="vid_opts" style="display:none">
<a href="{$userquery->profile_link($comment)}#{if $comment.spam_votes > 0}spam_{/if}comment_{$comment.comment_id}" target="_blank">{lang code='view'} {lang code='comment'}</a> |

<a href="#" id="spam_comment_{$comment.comment_id}" onclick="admin_spam_comment({$comment.comment_id}); return false;"{if $comment.spam_votes ==0}  style="display:inline"{else} style="display:none;"{/if}>Mark {lang code='spam'}</a> <a href="#" id="remove_spam_comment_{$comment.comment_id}"  onclick="admin_remove_spam({$comment.comment_id}); return false;"
{if $comment.spam_votes !=0}  style="display:inline"{else} style="display:none;"{/if}>{lang code='remove'} {lang code='spam'}</a> | 

<a href="#" onclick="delete_comment('{$comment.comment_id}','v'); return false;">{lang code='delete'}</a>
</div></div>
{/if}

{if $type == 'cl'}
<span class="vdo_sets">
 {if is_array($comment_owner)} <a href="{$userquery->profile_link($comment_owner)}"><strong>{$comment_owner.username}</strong></a> {else} <strong>{$comment_owner}</strong> {/if} commented on <strong>{$comment.date_added|date_format}</strong>  on a collection named <span style="text-transform:none"><a href="{$cbcollection->collection_links($comment,'vc')}" title="{$comment.collection_name}">{$comment.collection_name|truncate:40}</a></span>
</span> 
<div style="height:5px; clear:both;"></div>
<span style="font-size:11px;" class="edit_comment">{$comment.comment}</span>

<div style="height:20px;">
<div id="comm_opt-{$comment.comment_id}" class="vid_opts" style="display:none">
<a href="{$cbcollection->collection_links($comment,'vc')}#{if $comment.spam_votes > 0}spam_{/if}comment_{$comment.comment_id}" target="_blank">{lang code='view'} {lang code='comment'}</a> |

<a href="#" id="spam_comment_{$comment.comment_id}" onclick="admin_spam_comment({$comment.comment_id}); return false;"{if $comment.spam_votes ==0}  style="display:inline"{else} style="display:none;"{/if}>Mark {lang code='spam'}</a> <a href="#" id="remove_spam_comment_{$comment.comment_id}"  onclick="admin_remove_spam({$comment.comment_id}); return false;"
{if $comment.spam_votes !=0}  style="display:inline"{else} style="display:none;"{/if}>{lang code='remove'} {lang code='spam'}</a> | 

<a href="#" onclick="delete_comment('{$comment.comment_id}','v'); return false;">{lang code='delete'}</a>
</div></div>
{/if}

{if $type == 'p'}
<span class="vdo_sets">
 {if is_array($comment_owner)} <a href="{$userquery->profile_link($comment_owner)}"><strong>{$comment_owner.username}</strong></a> {else} <strong>{$comment_owner}</strong> {/if} commented on <strong>{$comment.date_added|date_format}</strong>  on a photo named <span style="text-transform:none"><a href="{$cbphoto->photo_links($comment,'view_photo')}" title="{$comment.photo_title}">{$comment.photo_title|truncate:40}</a></span>
</span> 
<div style="height:5px; clear:both;"></div>
<span style="font-size:11px;" class="edit_comment">{$comment.comment}</span>

<div style="height:20px;">
<div id="comm_opt-{$comment.comment_id}" class="vid_opts" style="display:none">
<a href="{$cbphoto->photo_links($comment,'view_photo')}#{if $comment.spam_votes > 0}spam_{/if}comment_{$comment.comment_id}" target="_blank">{lang code='view'} {lang code='comment'}</a> |

<a href="#" id="spam_comment_{$comment.comment_id}" onclick="admin_spam_comment({$comment.comment_id}); return false;"{if $comment.spam_votes ==0}  style="display:inline"{else} style="display:none;"{/if}>Mark {lang code='spam'}</a> <a href="#" id="remove_spam_comment_{$comment.comment_id}"  onclick="admin_remove_spam({$comment.comment_id}); return false;"
{if $comment.spam_votes !=0}  style="display:inline"{else} style="display:none;"{/if}>{lang code='remove'} {lang code='spam'}</a> | 

<a href="#" onclick="delete_comment('{$comment.comment_id}','v'); return false;">{lang code='delete'}</a>
</div></div>
{/if}

{if $bgcolor == ""}
{assign var = bgcolor value = "#EEE"}
{else}
{assign var = bgcolor value = ""}
{/if}    
{/foreach}
</table>
{else}
	<div align="center"><em>{lang code='no_comments'}</em></div>
{/if}
</form>
<div style="height:10px; clear:both"></div>
{include file="$style_dir/blocks/pagination.html" }