<h2>Email Settings</h2>
<form action="" method="post" enctype="multipart/form-data" name="player_settings">
<fieldset class="fieldset" style="border:none">
<table width="100%" border="0" cellpadding="2" cellspacing="0" class="block">
<tr>
<td width="301" valign="top"><strong><label for="mail_type">Mailer</label></strong><br />
  Select Mailer Type php Mail() or SMTP</label></td>
<td width="813" valign="top">
  <select name="mail_type" id="mail_type">
    <option value="mail" {if $row.mail_type=='mail'} selected="selected"{/if}>PHP mail()</option>
    <option value="smtp" {if $row.mail_type=='smtp'} selected="selected"{/if}>smtp</option>
  </select></td>
</tr>
<tr>
  <td valign="top"><strong><label for="smtp_host">SMTP Host</label><br />
    </strong>If using smtp, please enter its server</td>
  <td valign="top">
    <input type="text" name="smtp_host" id="smtp_host" value="{$row.smtp_host}" /></td>
</tr>
<tr>
  <td valign="top"><strong><label for="smtp_port">SMTP Port</label></strong><br />
    if using smtp, Set SMTP server port</td>
  <td valign="top">
    <input type="text" name="smtp_port" id="smtp_port" value="{$row.smtp_port}" /></td>
</tr>
<tr>
  <td valign="top"><strong><label for="smtp_user">SMTP Username</label></strong><br />
  if using smtp, please enter SMTP username</td>
  <td valign="top">
    <input type="text" name="smtp_user" id="smtp_user" value="{$row.smtp_user}" /></td>
</tr>
<tr>
  <td valign="top"><strong><label for="smtp_pass">SMTP Password</label></strong><br />
    Enter SMTP password</td>
  <td valign="top">
    <input type="password" name="smtp_pass" id="smtp_pass" value="{$row.smtp_pass}" /></td>
</tr>
<tr>
  <td valign="top"><strong>SMTP Auth</strong><br /> 
    Enable SMTP Authentication
</td>
  <td valign="top"><select name="smtp_auth" id="smtp_auth">
    <option value="yes" {if $row.smtp_auth=='yes'} selected="selected"{/if}>yes</option>
    <option value="no" {if $row.smtp_auth=='no'} selected="selected"{/if}>no</option>
  </select></td>
</tr>
<tr>
  <td valign="top">&nbsp;</td>
  <td valign="top">&nbsp;</td>
</tr>
<tr>
  <td valign="top">&nbsp;</td>
  <td valign="top">&nbsp;</td>
</tr>
</table>
<div align="left"><input type="submit" class="button" value="Update" name="update_settings" /></div>
</fieldset>

</form>
<div style="height:10px"></div>
<h2>Email Templates Settings</h2>

<div style="height:10px"></div>

<div style="padding-right:10px">
{assign var=templates value=$cbemail->get_templates()}

{if $templates}
	<form name="email_templates" method="post">
    {foreach from=$templates item=template}
    	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" onclick="$('#template-{$template.email_template_id}').slideToggle()" style="cursor:pointer">
          <tr>
            <td width="10" align="center" valign="middle" class="left_head">&nbsp;</td>
            <td align="center" class="head">{$template.email_template_name}</td>
            <td width="50" class="right_head">&nbsp;</td>
          </tr>
        </table>
        
        <table width="100%" border="0" cellpadding="2" cellspacing="0" class="block" id="template-{$template.email_template_id}" style="display:none">
            <tr>
              <td width="114" align="right" valign="top"><span class="td_body">Email Subject</span></td>
              <td valign="top" style="padding-left:10px"><input type="hidden" value="{$template.email_template_id}" name="template_id[]"/><input name="subject[]" type="text" id="subject[]" value="{$template.email_template_subject|form_val}" size="80" /></td>
            </tr>
            <tr>
              <td align="right" valign="top">Email Message</td>
              <td valign="top" style="padding-left:10px"><textarea name="message[]" cols="60" rows="8" id="message[]">{$template.email_template|form_val}</textarea></td>
            </tr>
            <tr>
              <td align="right" valign="top">&nbsp;</td>
              <td valign="top" style="padding-left:10px">&nbsp;</td>
            </tr>
            <tr>
              <td align="right" valign="top">&nbsp;</td>
              <td align="right" valign="top" style="padding-left:10px"><label for="update"></label>
              <input type="submit" name="update" id="update" value="Update All" class="button" /></td>
            </tr>
        </table>
        
        <div style="height:15px"></div>
    {/foreach}
</form>
{/if}
</div>