{if $mode == 'view'}
<span class="page_title">Flagged Collections Manager</span>
<form name="flagged_photo" method="post" id="flagged_photo">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle"><img src="{$imageurl}/arrow_return.png" width="25" height="25"></td>
    <td height="50" style="padding-left:15px">
            <input type="submit" name="delete_selected" value="Delete Collection"  class="button" onclick="return confirm_it('Are you sure you want to delete these collection(s)')"/>
            
            <input type="submit" name="delete_flags" value="Delete Flags"  class="button" onclick="return confirm_it('Are you sure you want to delete flags of selected collection(s)')"/>
    
    </td>
    </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle" class="left_head">
    <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
    <td width="75" align="left" class="head">Collection ID</td>
    <td class="head">Details</td>
    <td width="50" class="right_head">&nbsp;</td>
  </tr>
</table>

{if $c}
{section name=list loop=$c}
    <li class="clearfix myAdminList" style="background:#{cycle values='FFFFFF,EEEEEE'}" 
        OnMouseOver="$('#vid_opt-{$c[list].collection_id}').show()"
        OnMouseOut="$('#vid_opt-{$c[list].collection_id}').hide()">
	<div class="moveL PhotoCheckBox">
    	<div align="center"><input name="check_collect[]" type="checkbox" id="check_collection" value="{$c[list].collection_id}" /></div>
    </div>
    
    <div class="moveL PhotoID">{$c[list].collection_id}</div>
    <div class="moveL clearfix PhotoDetails" style="width:88%;">
    	<div class="moveL AdminPhotoThumb">
        	<img src="{$cbcollection->get_thumb($c[list],'small',TRUE)}" style="padding:2px; border:1px solid #ccc" />
        </div>
        <div class="moveL">
        	<a style="font-size:12px;" href="{$baseurl}/admin_area/edit_collection.php?collection={$c[list].collection_id}">{$c[list].collection_name}</a> ({$c[list].total_objects} {$c[list].type})
            <div style="height:4px;"></div>
            <span class="vdo_sets">
                Featured:<strong>{$c[list].featured} </strong> &#8226;
                Uploaded:<strong>{$c[list].date_added|niceTime}</strong>  &#8226;
                User:<strong><a href="view_user.php?uid={$c[list].userid}">{if $c[list].username}{$c[list].username}{else}{$c[list].userid|get_username}{/if}</a></strong> &#8226;
                Flag: <strong>{$c[list].total_flags}</strong>
            </span>
            <div style="height:4px;"></div>
            <div id="vid_opt-{$c[list].collection_id}" style="display:none" class="AdminPhotoActions">              
               <a href="{$baseurl}/admin_area/edit_collection.php?collection={$c[list].collection_id}">Edit Collection</a> | 
                <a href="{$cbcollection->collection_links($c[list],'view')}" target="_blank">View Collection</a> | <a href="?delete_collection={$c[list].collection_id}">Delete Collection</a> | <a href="?mode=view_flags&cid={$c[list].collection_id}">View Flags</a> | <a href="?delete_flags={$c[list].collection_id}">Delete Flags</a>
            </div>
        </div>
    </div>
</li>
{/section}
{else}
	<div align="center"><strong>No Flags Found</strong></div>
{/if}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle"><img src="{$imageurl}/arrow_return.png" width="25" height="25"></td>
    <td height="50" style="padding-left:15px">
            <input type="submit" name="delete_selected" value="Delete Photos"  class="button" onclick="return confirm_it('Are you sure you want to delete these photo(s)')"/>
            
            <input type="submit" name="delete_flags" value="Delete Flags"  class="button" onclick="return confirm_it('Are you sure you want to delete flags of selected photo(s)')"/>
    
    </td>
    </tr>
</table>

</form>

{include file="$style_dir/blocks/pagination.html" }
{/if}

{if $mode == 'view_flags'}
<span class="page_title">Viewing {$collection.colleciton_name} flags</span> &#8212; <a href="{$cbcollection->collection_links($collection,'view')}">View Collection</a> &#8226; <a href="edit_collection.php?collection={$collection.collection_id}">Edit Collection</a> &#8226; <a href="?delete_flags={$collection.collection_id}">Delete Flags</a> &#8226; <a href="?delete_collection={$collection.collection_id}">Delete Collection</a>
<div  style="margin-bottom:10px"></div>
<form name="video_manage" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30" align="center" valign="middle" class="left_head">&nbsp;</td>
    <td class="head">Flag Details</td>
    <td width="50" class="right_head">&nbsp;</td>
  </tr>
</table>

{section name=list loop=$flags}
<li class="clearfix myAdminList" style="background:#{cycle values='FFFFFF,EEEEEE'}">
	<div class="moveL PhotoID" style="width:30px;">{$smarty.section.list.iteration}</div>
    <div class="moveL">
    	Reported as "{$flags[list].flag_type|flag_type}" by {$flags[list].userid|get_username} {$flags[list].date_added|niceTime}
    </div>
</li>
{/section}
</form>
{/if}