<div style="height:10px"></div>
<div class="footer_grey_bar">
	<img src="{$imageurl}/dot.gif" class="cbicon" /> Thanks for using ClipBucket | &copy; Copyright 2007 &#8211; {$smarty.now|date_format:"%Y"}
<div style="float:right" align="right">
<em>{$Cbucket->cbinfo.version}</em>| <a href="http://forums.clip-bucket.com/">Forums</a> | <a href="http://clip-bucket.com/arslan-hassan">Arslan Hassan</a> | <a href="http://docs.clip-bucket.com/">Docs</a> | <a href="http://www.opensource.org/licenses/attribution.php">Attribution Assurance License</a></div>

</div>