<div class="header_grey_bar">
	<img src="{$imageurl}/dot.gif" class="cbicon" /> {$title}
    <div class="welcome" style="float:right">
    	Hello {$userquery->username} <a href="logout.php"><img src="{$imageurl}/dot.gif" border="0" class="logout_button" /></a>
</div>
    <div class="clearfix"></div>
</div>

<div class="header_menu">
  <ul>
    <li><a href="{$baseurl}/admin_area">Admin Home</a></li>
    <li><a href="{$baseurl}">Website Home</a></li>
  </ul>
</div>
<div class="header_menu_after"></div>