
	
<table width="100%" border="0" class="index_table">
  <tr>
    <td valign="top" style="padding-right:13px">
    
<div class="widgets-wrap" id="column1">
	 
     
     <div class="dragbox" id="cbstats" >
        <h2>{$title} Quick Stats</h2>
        <div class="dragbox-content" >
            <div class="item clearfix">
            	<div class="stats_subitem">Videos</div>
                <div class="stats_subitem_d">Total : <strong>{get_videos count_only=yes}</strong> | Active : <strong>{get_videos count_only=yes active="yes"}</strong> | Flagged : <strong>{$cbvid->action->count_flagged_objects()}</strong> | Processing : <strong>{get_videos count_only=yes status='Processing'}</strong></div>
            </div>
            
             <div class="item clearfix">
            	<div class="stats_subitem">Groups</div>
                <div class="stats_subitem_d">Total : <strong>{get_groups count_only=yes}</strong> | Active : <strong>{get_groups count_only=yes active='yes'}</strong> | Flagged : <strong>{$cbgroup->action->count_flagged_objects()}</strong></div>
            </div>
            
             <div class="item clearfix">
            	<div class="stats_subitem">Members</div>
                <div class="stats_subitem_d">Total : <strong>{get_users count_only=yes}</strong> | Active : <strong>{get_users count_only=yes status='Ok'}</strong> | Flagged : <strong>{$userquery->action->count_flagged_objects()}</strong> | Banned : <strong>{get_users count_only=yes ban='yes'}</strong></div>
            </div>
            
            
            <div class="item">
            {assign var=users value=$userquery->get_online_users()}
            <strong style="text-decoration:underline">Online Users({$users|@count})</strong><br />
            
            {if $users}
            	{foreach from=$users item=user name=onlines}
                	<strong><a href="{$userquery->profile_link($user)}" target="_blank">{$user.username}</a>{if !$smarty.foreach.onlines.last}, {/if}</strong>
                {/foreach}
            {else}
            	No User is Online
            {/if}    
            
            
            </div>
            
            <div class="item subitem">
            	{if $Cbucket->cbinfo.new_available}
                	<div class="stats_subitem" style="width:60%; color:#060">Currently you are running <strong>{$ClipBucket->cbinfo.version} {$ClipBucket->cbinfo.state}</strong><br />
Latest Version <strong>{$Cbucket->cbinfo.latest.version} {$Cbucket->cbinfo.latest.state} </strong></div>
               		<div class="stats_subitem" style="width:39%"><span class="simple_button"><a href="{$Cbucket->cbinfo.latest.link}">Update Now</a></span></div>
                	<div class="clearfix"></div>
                {else}
            		<div>
                    Currently you are running <strong>{$Cbucket->cbinfo.version} {$Cbucket->cbinfo.state}</strong> - No New Version Available</div>
                {/if}
            </div>
        </div>
    </div>
    
       
    <div class="dragbox" id="cbnews" >
        <h2>ClipBucket News</h2>
        <div class="dragbox-content" >
            {assign var=cbnews value=$Cbucket->get_cb_news()}
            {if $cbnews}
                {foreach from=$cbnews item=news}
                <div class="item news">
                    <div class="news_title"><span class="title"><a href="{$news.link}">{$news.title}</a></span><span class="date">{$news.pubDate|date_format}</span></div><span class="clearfix"></span>
                    <div>
                        {$news.description}
                    </div>
                </div>
                {/foreach}
            {else}
                <div align="center"><em><strong>No News Found</strong></em></div>
            {/if}
        </div>
    </div>
    
    <div style="height:20px;"></div>
    <h2>ClipBucket Team and Development</h2><br /><br />

    ClipBucket is developed by <strong>Arslan</strong>, <strong>Fawaz</strong> and <strong>Frank White</strong>.<br />
We say special thanks to <strong>Frank</strong> and <strong>Christian</strong> (oUTSKIRTs) for their great support and time.
<br />
<br />
We need to grow our team but so far, very few people are thinking of doing any kind of contribution, so please go ahead and contribute your code so we can develop more features.
    
</div>    
    
    </td>
    <td width="210" valign="top">


   
<div class="widgets-wrap" style="width:210px" id="column2">

    <!-- Admin Todo List -->  
    <div class="dragbox" id="todo_list" >
        <h2>Todo List</h2>
        <div class="dragbox-content" >
        	<div class="item"><a href="video_manager.php?search=search&active=no">Approve Videos ({get_videos active='no' count_only=true})</a></div>
            <div class="item"><a href="members.php?search=yes&amp;status=ToActivate">Approve Members ({get_users status='ToActivate' count_only=true})</a></div>
            <div class="item"><a href="groups_manager.php?active=no&amp;search=yes">Approve Groups ({get_groups active='no' count_only=true})</a></div>
	    </div>
    </div>
    <!-- Admin Todo List -->
    
    <!-- Admin Todo List -->  
    <div class="dragbox" id="quick_actions" >
        <h2>Quick Action</h2>
        <div class="dragbox-content" >
        	<div class="item"><a href="main.php">Website Settings</a></div>
            <div class="item"><a href="add_member.php">Add Members</a></div>
            <div class="item"><a href="add_group.php">Add Group</a></div>
            <div class="item"><a href="cb_mod_check.php">Check Video Modules</a></div>          
	    </div>
    </div>
    <!-- Admin Todo List -->  


    <!-- Admin personal Note Widget -->
	<div class="dragbox" id="private_notes" >
        <h2>Personal Notes</h2>
        <div class="dragbox-content" >
        {assign var=notes value=$myquery->get_notes()}
        
        <div id="the_notes">
        {if $notes}
       		<div id="no_note"></div>
            {foreach from=$notes item=note}
            	<div class="item" id="note-{$note.note_id}">
                	<img src="{$imageurl}/cross.png" class="delete_note" onclick="delete_note('{$note.note_id}');" />
                    {$note.note|nl2br}
                </div>
            {/foreach}
        {else}
        	<div id="no_note" align="center"><strong><em>No notes</em></strong></div>
        {/if}
        </div>
        <form method="post">
        	<textarea name="personal_note" id="personal_note" style="width:90%; height:50px; margin:5px; border:1px solid #999"></textarea>
            <div align="right" style="padding-right:10px"><a href="javascript:void(0)" 
            onclick="add_note('#personal_note')">Add Note</a></div>
        </form>
	    </div>
    </div>
    <!-- Admin personal Note Widget -->
    
    
</div>
    
    
    </td>
  </tr>
</table>
