
 <div class="row" >
            <div class="col-md-10" style="border-bottom: 1px solid #E3E3E3; margin:20px 20px 20px 30px;">
                <div class="row">
                    <div class="col-md-3" style="margin-bottom:10px;">
                        <label class="label label-info">{$playlist.playlist_name}</label>
                    </div>
                    <div class="col-md-9">
                        
                         <span class="maccountlabels"> <strong>{$playlist.date_added|niceTime}</strong>
                            </span>
                       
                    </div>
                </div>
            </div>
           
        </div>