{if $slider3 !=''}
<div style="height: 18px;" class="clearfix"></div>

    <div id="myCarousel" class="carousel slide">
  <!-- Dot Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Items -->
  <div class="carousel-inner">
    <div class="active item"><img src="assets/img/slide1.jpg" alt="" /></div>
    <div class="item"><img src="assets/img/slide2.jpg" alt="" /></div>
    <div class="item"><img src="assets/img/slide3.jpg" alt="" /></div>
  </div>
  <!-- Navigation -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div style="height: 18px;" class="clearfix"></div>
<!--<div id="slide3">
{foreach from=$videos_06_da item=video_06_da}
<div class="col-md-2 text-center nopadding">
<div class="col-md-11 text-center nopadding">
	<a href="{videoLink vdetails=$video_06_da}" title="{$video_06_da.title}">
    <img class="cb_img_thum" src="{getThumb vdetails=$video_06_da}" width="135" height="75"  {ANCHOR place="video_thumb" data=$video_06_da} />
    <div class="cbHomeVidTitle cbHomeVidTitle_slid-title">{$video_06_da.title|truncate:10}</div>
    </a>
    <div class="cbHomeVidDuration cbHomeVidDuration_slide">
    {$video_06_da.duration|number_format}
    </div>
</div>
</div>
{/foreach}
</div>
<div class="nxt-pre">
	<a href="#" class="circle" id="slide_prev3">
	<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#" class="circle" id="slide_next3">
	<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>-->
{/if}

