<div class="col-md-13 marginBottom grid_view list_view item_video_pop">
    <div class="item_video">
        <div class="cb_item_container clearfix">
            <div class=" col-md-6 row">
               <a href="{videoLink($video)}" title="{$video.title|title}" >
                    <img class="" src="{getThumb vdetails=$video}" border="1"  style="height: 67px;width: 75%;"/>
                </a>
            </div>
            <div class="pull-right col-md-7 padding-top-5" style="position: absolute;right: 42px;">
                <div class="item_text overflow_hidden"  style="height: 45px;">
                    <a href="{videoLink($video)}"><b style="font-size: 15px;">{$video.title|truncate:30}</b></a>
                </div>
                <div class="row small col-md-10 padding-top-5" style="margin-top: -8px;color: grey;">
                    <span class="pull-left"><small><span class="glyphicon glyphicon-eye-open"></span> {$video.views}</small></span>
                    <span style="margin-left: 23px;"><small><span class="glyphicon glyphicon-thumbs-up"></span> {$video.rating}</small></span>
                </div>
            </div>
        </div>
    </div>    
</div>
