<div class="row text-center">
    <div class="col-md-10 col-md-offset-1 videoThumbBox">
        <div class="text-center">
            <h4>
                <a title="{$video.title|title}" href="{videoLink($video)}">{$video.title|title|truncate:10}</a>
            </h4>
            <small>
                <a class="show" href="{$userquery->profile_link($video)}">{$video.username}</a>
            </small>
            <p>
                {$vide.description}
            </p>
            <small class="show">{$video.date_added|niceTime}</small>
        </div>
        <a href="{videoLink($video)}" title="{$video.title|title}">
            <img class="" src="{getThumb vdetails=$video}"/>
        </a>
    </div>
</div>
