<div class="">

      <h2 class="text-center">Here we can scroll through a couple of item clusters.</h2>
      <p class="text-center">Captions are still supported, too!</p>
      <hr>
      <h3>New Products</h3>

        <div class="row-fluid">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                        <ul class="thumbnails_new">
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb1.jpg">
                                </div>
                                <p>First item<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb2.jpg">
                                </div>
                                <p>This is second<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb3.jpg">
                                </div>
                                <p>Third product<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb4.jpg">
                                </div>
                                <p>And the fourth<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                        </ul>
                  </div>
                  <div class="item">
                        <ul class="thumbnails_new">
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb5.jpg">
                                </div>
                                <p>Another caption<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb6.jpg">
                                </div>
                                <p>Another caption<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb7.jpg">
                                </div>
                                <p>Another caption<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                            <li class="span3">
                                <div class="thumbnail_new">
                                    <img alt="" src="assets/img/thumb8.jpg">
                                </div>
                                <p>Another caption<br>
                                <small class="red">$19.99</small><br>
                                <a class="btn btn-success" href="#">Buy Now</a></p>
                            </li>
                        </ul>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
        
    </div>