<div class="control-group">
    {if $show_title!='no'}
    <label class="control-label" for="{$field.id}">{$field.title}</label>
    {/if}
    <div class="controls">
        {if $field.hint_before}
            <span class="help-block">{$field.hint_before}</span>
        {/if}
        {ANCHOR place=$field.anchor_before}
        {$formObj->createField($field)}
        {ANCHOR place=$field.anchor_after}
        {if $field.hint_after}
            <span class="help-block">{$field.hint_after}</span>
        {/if}
    </div>
</div>