{$first_elem = Collection::getInstance()->getFirstItem(['collection_id' => $collection.collection_id])}
{if $collection.type == 'videos'}
    {$blur = Video::getInstance()->isToBlur($first_elem.videoid)}
{else}
    {$blur = Photo::getInstance()->isToBlur($first_elem.photo_id)}
{/if}

<div class="collection-holder">
    <div class="photo-block no_select no_overflow">
        <a href="{$cbcollection->collection_links($collection,'view')}" title="{display_clean($collection.collection_name)}">
            <img alt="{display_clean($collection.collection_name)}" title="{display_clean($collection.collection_name)}" class="img-responsive {if $blur}blur{/if}" id="collection_{$collection.collection_id}" src="{$cbcollection->coll_first_thumb($collection,'l')}"/>
            {ANCHOR place='in_collection_thumb' data=$collection}
            <div class="collection-info">
                <span>{$collection.total_objects}</span>{lang code=$collection.type}
            </div>
        </a>
    </div>
    <img src="{$theme}/images/photo-bg.png" alt="" class="photo-bg no_select"/>
</div>
<span class="title" title="{display_clean($collection.collection_name)}">{display_clean($collection.collection_name)}</span>
