{if !$collections}
    <p class="alert alert-danger">{lang code="no_collection_found_alert"}</p>
{/if}
<div class="form-group clearfix" {if !$collections}style='display:none;'{/if}>
    <label for="collectionSelection">{lang code="select_collection_upload"}</label>
    <select class="form-control" id="collectionSelection" name="collectionSelection">
        {foreach $collections as $group_name => $group_data}
            <optgroup label="{lang($group_name)}">
                {foreach $group_data as $col_id => $col_data}
                    <option value="{$col_id}" {if $col_id==$smarty.get.collection}selected{/if}>{$col_data['collection_name']}</option>
                {/foreach}
            </optgroup>
        {/foreach}
    </select>
</div>