<div class="photoAppending">
	<a class="photo-holder" href="{$cbphoto->photo_links($object,'view_item')}" title="{display_clean($object.photo_title)}">
		{get_photo details=$object size='l' class='img-responsive photo-land' output='html'}
		<i class="icon-zoom"></i>
	</a>
	<div class="photo-info">
		{if $photo.photo_title=='no-tag'}
		<strong><a href="{$cbphoto->photo_links($object,'view_item')}" title="{display_clean($object.photo_title)}">no-title</a></strong>
		{else}
		<strong><a href="{$cbphoto->photo_links($object,'view_item')}" title="{display_clean($object.photo_title)}">{display_clean($object.photo_title)|truncate:30}</a></strong>
		{/if}
		<span>{lang code="by"}&nbsp;<a href="{$userquery->profile_link($object.userid)}">{display_clean($object.username)}</a></span>
	</div>
</div>
