<!-- Add To Collection This {$type} -->
<div id="collection_form" class="action_box">
	<div class="form_container" align="center">
		<div class="form_result" id="collection_form_result" style="display:none"></div>
		<form id="add_collection_form" name="collection_form" method="post" class="clearfix">
    		<p>{lang code='please_select_collection'}</p>
			<div class="form-group clearfix">
				<select name="collection" id="collection" class="form-control">
					{section name=clist loop=$collections}
					<option value="{$collections[clist].collection_id}">{display_clean($collections[clist].collection_name)} ({$collections[clist].total_objects})</option>
					{sectionelse}
					<option>--- {lang code="no_collection_found"} ---</option>
					{/section}
				</select>
			</div>

			<div class="form-group clearfix">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<input type="button" class="btn mtm btn-block btn-primary" name="add_to_collection" value="{lang code='add_to_collection'}" class="cb_button" onclick="collection_actions('add_collection_form','add_new_item','{$id}','#collection_form_result','video');">
				</div>
				{if (has_access('allow_create_collection',false,$verify_logged_user))}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<a class="btn btn-block mtm btn-success" href="/manage_collections.php?mode=add_new">{lang code='create_new_collection_btn'}</a>
				</div>
				{else}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<strong><a class="btn btn-block mtm alert-danger disabled" href="#">{lang code='creating_collection_is_disabled'}</a></strong>
				</div>
				{/if}
			</div>
		</form>
	</div>
</div>
<!-- Add To Collection This {$type} -->