@import "mymixins";
#sidebar{
	float: right;
	width: 25.6%;
	h2{
		font-size: 23px;
		line-height: 23px;
		font-weight: 600;
		margin: 0 0 20px;
	}
}
.sidebar-channels{
	background: $white;
	padding: 0 16px;
	margin: 0 0 20px;
	 .channel-item{
	 	background: $white;
	 	padding: 16px 0;
	 	border-bottom:$default-border;
	 	&:last-child{
	 		border: none;
	 	}
	 	.avatar{
	 		width: 50px;
	 		height: 50px;
	 		float: left;
	 		margin: 0 10px 0 0;
	 		img{
	 			width: 100%;
	 			height: 100%;
	 		}
	 	}
	 	.channel-info{
	 		overflow: hidden;
	 		padding: 10px 0 0;
	 		color: $grey-txt;
	 		h3{
	 			font-size: 15px;
	 			line-height: 15px;
	 			font-weight: 600;
	 			margin: 0 0 10px;
	 			color: $black;
	 			a{
	 				color: $black;
	 			}
	 		}
	 		.views-videos{
	 			span{
	 				@include vertical-middle();
	 				padding: 0 0 0 10px;
	 				position: relative;
	 				&:after{
	 					content: "";
	 					position: absolute;
	 					top: 50%;
	 					left: 0;
	 					margin: -2px 0 0;
	 					width: 4px;
	 					height: 4px;
	 					border-radius: 2px;
	 					background: $grey-txt;
	 				}
	 				&:first-child{
	 					margin: 0 5px 0 0;
	 					padding: 0;
	 					&:after{
	 						display: none;
	 					}
	 				}
	 			}
	 		}
	 	}
	 }
}