.dashboard-widget {
    padding: 0px 10px 10px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: inset 0px 1px 0px 0px rgba( 0, 0, 0, 0.06 );
    display: inline-block;
    width: 100%; 
    box-sizing: border-box;
    -moz-border-box: border-box;
    position: relative;
}

.dashboard-widget:hover .dashboard-widget-toggler, .dashboard-widget:hover .dashboard-widget-handler {
    visibility: visible;
}

.dashboard-widget-toggler, .dashboard-widget-handler {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #e8e8e8;
    top: 0px;
    right: 0px;
    border-radius: 0px 3px 0px 0px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    box-shadow: inset 1px 1px 0px 0px white;
    visibility: hidden;
}

.dashboard-widget-handler {
    right: 41px;
    cursor: move;
}

.dashboard-widget-handler b {
    background-color: transparent;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    /* Background */
background-size: 2px;
background-image: -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                  -webkit-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-image: -moz-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                  -moz-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-image: -ms-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                  -ms-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-image: -o-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                  -o-linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
}

.dashboard-widget-toggler b {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    margin-left: -8px;
    margin-top: -8px;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    border-bottom: 6px solid #666;
    left: 50%; top: 50%;
    margin: -4px 0px 0px -6px;
}

.dashboard-widget.closed {
    padding-bottom: 0px;
    box-shadow: 0px 1px 0px 0px rgba( 0, 0, 0, 0.025 );
}

.dashboard-widget.closed .dashboard-widget-toggler b {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    border-bottom: 0px none;
    margin: -3px 0px 0px -6px;
}

.dashboard-widget.closed .dashboard-widget-name {
    margin: 0px -10px 0px;
    border-radius: 3px;
    box-shadow: none;
    border-bottom: 0px none;
}

.dashboard-widget.closed .dashboard-widget-description, .dashboard-widget.closed .dashboard-content {
    display: none;
}

.dashboard-widgets.has-1-widgets .dashboard-widget {
    width: 100%;
}

/*.dashboard-widgets-highest-importance .dashboard-widget.account_dashboard_messages .dashboard-widget-toggler,
.dashboard-widgets-normal-importance .account_dashboard_user_content .dashboard-widget-toggler {
    display: none !important;
}

.dashboard-widgets-highest-importance .dashboard-widget.account_dashboard_messages,
.dashboard-widgets-normal-importance .account_dashboard_user_content {
    padding: 10px;
}

.dashboard-widgets-highest-importance .account_dashboard_messages .dashboard-widget-name,
.dashboard-widgets-normal-importance .account_dashboard_user_content .dashboard-widget-name{
    display: none;
}*/

.dashboard-widget .dashboard-widget-description {
    color: #767676;
    margin: 0px 0px 10px 0px;
    font-size: 11px;
    font-family: 'Open Sans', Tahoma, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dashboard-widget .dashboard-widget-name {
    margin: 0px;
    font-size: 14px;
    background: #eee;
    margin: 0px -10px 10px;
    padding: 0px 10px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    box-shadow: 0px 1px 0px 0px white;
    -moz-box-shadow: 0px 1px 0px 0px white;
    -webkit-box-shadow: 0px 1px 0px 0px white;
}

h4.myaccount-heading {
    display: inline-block;
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 47px;
}

.myaccount-dashboard-list {
    float: right;
    margin: 0px;
}

.myaccount-dashboard-list li {
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    display: block;
}

.myaccount-dashboard-list li:first-child {
    border-left: 0px none;
}

.myaccount-dashboard-list li span {
    display: block;
    margin-top: -3px;
    font-weight: normal
}

.myaccount-dashboard-list li a {
    color: #666;
    padding: 5px 8px;
    display: block;
    border-radius: 2px;
}

.myaccount-dashboard-list li:hover a {
    text-decoration: none;
    background: #333;
    color: white;
}

.dashboard-widget-highlight {
    height: 39px;
    background: rgba( 229, 214, 17, 0.6 );
    border: 1px solid rgba( 198, 178, 12 , 0.7 );
    border-radius: inherit;
}

ul.dashboard-lists {
    margin: 0px -10px -10px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #ccc;
    box-shadow: inset 0px 2px 5px -3px rgba( 0, 0, 0, 0.4 );
}

ul.dashboard-lists li.dashboard-list-item {
    display: block;
    padding: 18px;
    position: relative;
    min-height: 62px;
    background: #e8e4ff;
}

ul.dashboard-lists li.dashboard-list-item:hover {
    background: white;
}

ul.dashboard-lists li.dashboard-list-item > img {
    position: absolute;
}

ul.dashboard-lists li.dashboard-list-item .details {
    margin-left: 70px;
}

ul.dashboard-lists li.dashboard-list-item .details > span {
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 5px;
}

ul.dashboard-lists li.dashboard-list-item .details > p {
    font-size: 12px;
    color: #666;
    margin-bottom: 0px;
}

ul.dashboard-lists li.dashboard-list-item:last-child {
    border-radius: 0px 0px 3px 3px;
}

.friend-row{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 75px;
    min-height: 60px;
}

.friend-row:hover{
    background-color: rgba(0,0,0,0.05)
}

.friend-row .friend-avatar{position: absolute; left: 15px}
.friend-row .friend-avatar img{width: 40px}
.friend-row .friend-name{padding-top: 10px}
.friend-row .friend-actions{position: absolute; right: 15px; top: 10px}