/* 
    Document   : collections
    Created on : Oct 2, 2012, 12:20:54 PM
    Author     : Fawaz
    Description:
        Purpose of the stylesheet follows.
*/

ul.collection-details i {
    margin-top: 1px;
}

ul.collection-details li {
    cursor: default;
    font-size: 12px;
    margin-bottom: 2px;
}

.manage-collection-items {
    margin: 0px 0px 10px 10px;
    float: left;
    position: relative;
}

.manage-collection-item {
    width: 205px;
    height: 205px;
    background: whitesmoke url('../images/icons/images.png') center center no-repeat;
    background-size: 40%;
    position: relative;
    overflow: hidden;
     -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out;
}

.manage-collection-items:nth-child(4n+1) {
    margin-left: 0px;
}

.black-gradient.manage-collection-item-details {
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    padding: 5px 10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out;
}

.black-gradient.manage-collection-item-details h4 {
    font-size: 100%; position: relative;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.25 );
}

img.manage-collection-item-thumb {
    min-height: 100%;
    width: auto;
    max-width: none;
    position: relative;
}

.manage-collection-items:hover .manage-collection-item-details {
    opacity: 1;
}

.black-gradient.manage-collection-item-details h4:before, .black-gradient.manage-collection-item-details h4:after {
    content: '';
    position: absolute;
    background: inherit;
    top: 0px;
    bottom: 0px;
    width: 100%;
    border: inherit;
    height: 100%;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
}
.black-gradient.manage-collection-item-details h4:before { right: 100%; } .black-gradient.manage-collection-item-details h4:after { left: 100%; }

.manage-collection-items .nav-pills {
    position: absolute; top: 0px; right: 0px; border-bottom: 1px solid black;
    opacity: 0; background: rgba( 0, 0, 0, 0.65 ); width: 100%; height: 24px;
     -webkit-transition: opacity .1s ease-in-out; -moz-transition: opacity .1s ease-in-out;
}

.manage-collection-items .nav-pills > li {
    padding: 0px; margin: 0px;  float: right;
}

.manage-collection-items .nav-pills > li > a {
    margin: 0px; padding: 0px 12px; height: 24px; color: #999;
    color: #666; border-radius: 0px; line-height: 24px;
    display: block; font-size: 12px;
    text-shadow: 0px 1px black;
}

.manage-collection-items .nav-pills > li > a > i {
    margin:0px; margin-top: 1px;
}

.manage-collection-items .nav-pills > li > a:hover {
    color: white;
    background: none;
}

.manage-collection-items:hover .manage-collection-item-details, .manage-collection-items:hover .nav-pills {
    opacity: 1;
}

.manage-collection-items .nav-pills .dropdown.open > a {
    background: black;
}

.collection-manager-thumbs {
    position: relative;
    float: left;
    overflow: visible;
}

.collection-manager-thumbs .object-manager-thumb {
    z-index: 150; position: relative;
}

.collection-manager-thumbs .collection-other-items {
    width: 80px; height: 66px; overflow: hidden; position: absolute;
    background: white;
    -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;
}

.collection-manager-thumbs > .collection-other-items {
    top: 2%; z-index: 50; right: 0%;
}

.collection-manager-thumbs .collection-other-items:last-child {
    bottom: 2%; z-index: 100; top: auto; right: -3%;
}

.collection-manager-thumbs:hover .collection-other-items {
    right: -45%;
}

.collection-manager-thumbs:hover .collection-other-items:last-child {
    right: -47%;
} 

.collection-manager-thumbs .collection-other-items img {
    min-height: 100%; width: auto; max-width: none; margin-left: -10px; border-radius: 4px;
}

.controller.collection-header {
    position: relative; min-height: 74px; overflow: hidden;
    padding: 0px 15px 10px; margin-bottom: 25px; 
}

.controller.collection-header .absolute.top {
    top : 5px;
}

.controller.collection-header h4 {
    margin: 0px; margin-bottom: 1px; font-size: 16px;
}

.controller.collection-header h4 ~ .muted {
    font-size: 12px;
}

.controller.collection-header .collection-owner {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-indent: -10000px;
    position: absolute;
    box-shadow: inset  0px 0px 5px 0px rgba( 0, 0, 0, 0.8 );
    border: 1px solid white;
    top: 50%;
    margin-top: -51px;
}

.controller.collection-header .collection-header-details {
    margin-left: 115px; padding-top: 10px; font-size: 12px; width: 60%;
}

.controller.collection-header ul.collection-details {
    margin: 0px; padding: 0px; list-style: none;
}

.controller.collection-header ul.collection-details li {
    float: left; margin-right: 15px; padding: 5px 15px 5px 0px; border-right: 1px solid #ccc; 
}

.controller.collection-header ul.collection-details li {
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.controller.collection-header ul.collection-details li i {
    display: block;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #aaa;
    text-transform: uppercase;
    line-height: 12px;
    text-align: right;
}

.controller.collection-header ul.collection-details li:last-child {
    margin-right: 0px; border-right: 0px none;
}

.collection-rating {
    float: right;
    width: 263px;
    margin-right: 10px;
    background: #eee;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px 0px;
    box-shadow: inset 0px 0px 0px 1px white;
    border-radius: 4px;
    text-align: center;
}