/**
 * @author : Arslan, Fawaz
 * @Script : ClipBucket
 * @Version : v3.0
 * @Since : 2012
 * @Rev : $REV$
 */
 
 header{
     padding-top: 10px;
 }
 
 header .header-top{position: relative; height: 55px}
 header .header-top-right{position: absolute; right: 3px; display: inline-block;
 top: 5px}
 
 .logo-container{
     padding-bottom: 10px;
     position: absolute;
     left: 0px;
 }
 
 footer{margin-top: 15px}
 
.container{width:1100px; position: relative; }


.bold{font-weight: bold}

.inlineblock{display: inline-block}
.inlineblock-fix { letter-spacing:-4px; word-spacing:-4px; }
.inlineblock-fix * { letter-spacing:normal; word-spacing:normal; }

.inline{display:inline}
.block{display: block}
.display-none{display: none}

.relative {position: relative}
.absolute {position:  absolute}

.bottom{bottom:0px}
.top{top:0px}
.left{left:0px}
.right{right:0px}

.moveL,.floatL,.float-left{float: left}
.moveR,.floatR,.float-right{float: right}
.text-left{text-align: left}
.text-right{text-align: right}

.valignTop{vertical-align: top}
.valignMid{vertical-align: middle}

.spanauto{width: auto}
.span100{width: 100px}
.span700{width: 700px}
.span650{width: 650px}
.span770{width: 770px}
.span734{width: 734px}
.span336{width: 336px}
.span300{width: 300px}
.span100per{width: 100%}

.width75{width: 75px}
.width100{width: 100px}
.width150{width: 150px}
.width200{width: 200px}
.width240{width: 240px}
.width250{width: 250px}
.width270{width: 270px}
.width300{width: 300px}

.height5{height: 5px}
.height10{height: 10px}
.height15{height: 15px}
.height20{height: 20px}
.height60{height: 60px}
.height80{height: 80px}
.height100{height: 100px}
.height100perc{height: 100%}

.marginR10{margin-right: 10px}
.marginL10{margin-left: 10px}
.marginL50{margin-left: 50px}
.marginL70{margin-left: 70px}

.marginR5{margin-right: 5px}
.marginL5{margin-left: 5px}
.margin0{margin: 0px;}

.marginB10 { margin-bottom: 10px; }

.marginT5 { margin-top: 5px;}
.marginT10 { margin-top: 10px;}
.marginB20 { margin-bottom: 20px;}
.marginB0 { margin-bottom: 0px;}

.padding0{padding: 0px}

.moveL{float: left}
.moveR{float: right}
.noMove { float:none; }

.overflow-hidden { overflow: hidden; }

.resize-verticle{ resize:vertical; }

.padding_box{ box-sizing: padding-box; -moz-box-sizing: padding-box; -webkit-box-sizing: padding-box;}

.video-details-shadow{background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.12)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 100%);
background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1f000000',GradientType=0 );
; bottom: 0px; width: 100%; height:10px}

/* Icons */
.icon-hard-disk {background-position: -0px -144px;}
.icon-news {background-position: -24px -144px;}
.icon-bell {background-position: -48px -144px;}
.icon-popup {background-position: -72px -144px;}
.icon-like {background-position: -96px -144px;}
.icon-dislike {background-position: -120px -144px;}
.icon-thumb-right {background-position: -144px -144px;}
.icon-thumb-left {background-position: -168px -144px;}
.icon-thumb-up {background-position: -192px -144px;}
.icon-thumb-down {background-position: -216px -144px;}
.icon-right {background-position: -240px -144px;}
.icon-left {background-position: -264px -144px;}
.icon-up {background-position: -288px -144px;}
.icon-down {background-position: -312px -144px;}




/* V3 ClipBucket Custom icons */
.icon-stats {background-position: -0px -0px;}
.icon-globe {background-position: -24px -0px;}
.icon-keys  {background-position: -48px -0px;}
.icon-reply {background-position: -72px -0px;}
.icon-groups {background-position: -96px -0px;}
.icon-add-user {background-position: -120px -0px;}
.icon-remove-user {background-position: -144px -0px;}
.icon-toggle {background-position: -0px -0px; width: 17px; height: 17px}
/* For inverting Toggle */
.toggle-invert{background-position: -24px 0px}

.icon-v3 {
  background-image: url("../images/v3icons.png");
}

.icon-blank {
  background-image: url("../images/dot.gif");
  width: 0px;
}

.icon-v3-white {
  background-image: url("../images/v3icons-white.png");
}
.icon-set{
  background-image:url("../images/iconset.png");
  
}



/* V3 Progress Bars */
.progress-rating {
background-color: #cc0000;
height: 5px;
background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
background: linear-gradient(top,  #ff3019 0%,#cf0404 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}

/* Comments */
.comment{margin-top: 10px; margin-bottom: 10px}
.comment .comment-text{margin-left: 10px}
.comment-textarea{margin-left: 10px !important; width: 660px !important}
.comment-options{ top: -6px; right: 100px; display: none}
.like-dislike{ top: 3px; right: 7px}
.add-comment-uphoto{width: 62px; height: 62px}
.comment-login{top: 10px; left: 90px}
.comment-thumb{ width: 50px; height: 50px}
.spammed-comment-btns{right: 3px; top: 3px}
.spammed-comment{margin: 5px 0px; color: #999; font-size: 12px; font-style: italic }

/* Author Box */
.author-box-content{width: 220px}


/* Login and Registeration Modal box */
.login-modal-left{width: 249px; border-right: 1px solid #ccc; padding-right: 15px}
.login-modal-right{width: 250px; margin-left: 15px; padding-top: 10px}

.modal-username,.modal-password{width: 240px}
.terms-text{font-size: 10px; color: #666}

/* Categories */
.categories-nav{width:255px }
.categories-nav ul{margin: 0px; padding: 0px}
.categories-nav ul  li{margin: 0px; padding: 0px; list-style: none; font-size: 13px; 
 padding:8px 0px 8px 15px; 
 border-bottom: 1px solid #d8d8d8; border-top: 1px solid #fff}

.categories-nav ul > li{background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.06)));
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%);
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%);
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%);
background: linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=1 );
border-left: 5px solid #fff;
}

.categories-nav ul > li.active{border-left: 5px solid #06c}

.categories-nav ul > li ol{background-image: url(../images/gradients/categories-child.png); background-repeat: repeat-x;  margin: 8px 0px -8px -15px;
background-position: 0px 1px; border-top: 1px solid #d8d8d8; padding: 7px 0px 8px 0px;}
.categories-nav ul > li ol li{background-color:#fafafa}
.categories-nav ul > li ol > li{padding-left: 35px; border-bottom: 0px;}
.categories-nav ul > li ol ul{background: none;}
.categories-nav ul > li ol ul li{background:none; border: none; font-size: 11px; padding: 3px 0px  }
.categories-nav ul > li .icon-toggle{right: 10px; cursor: pointer}
.categories-nav ul > li a{color: #000; }

.sidebar-categories{float: left; width: 255px; margin-right: 25px}
.videos-container{float:left; width: 820px}
.cb-widget{margin-bottom: 15px}
.cb-widget-title { font-size: 14px; font-weight: normal; color: #464646; border-bottom: 1px solid #aaa; padding-bottom:3px; margin-bottom: 10px; box-shadow: 0px 4px 1px -2px rgba(0,0,0,0.1); }
.cb-widget-title a { color: #006699 }
.cb-widget-title a:hover { text-decoration: none; color: #333; }
/* Videos CSS */
.video-box{width: 190px; float: left; margin-right: 20px; }
.video-box .video-thumb img{width: 100%; height: 120px;}
.video-info-cont{height: 80px; margin-bottom: 20px}
.video-info-cont .title a{font-size: 12px; color: #333; text-decoration: none; font-weight: bold;
}
.video-info-cont .title {line-height:14px; margin: 4px 0px 3px; word-wrap:break-word; }

.video-info{font-size: 12px; color: #666; width: 100%}

.rating-text{font-size: 12px;}
.rating-green{color: #006600}
.rating-red{color: #ed0000}

.video-box .video-thumb .duration{position: absolute; left: 5px; bottom: 5px; 
         width: 35px; height: 15px; line-height: 15px; 
         background-image: url("../images/duration-bg.png"); 
         background-repeat: no-repeat;
color: #fff; font-size: 10px; text-align: center; font-weight: bold; text-shadow: 1px 1px 0px #000}


.loading_pointer {display: none; vertical-align: middle}


.add-playlist-box{background-color: #fff; max-height: 200px; overflow: auto}
.add-playlist-list{margin: 5px; padding: 4px; margin-bottom: 10px}
.add-playlist-list li{margin: 0px; padding: 0px; 
float: left;width: 100px; list-style: none}

.add-playlist-list li.title{width: 330px; }
.add-playlist-list li.privacy{width: 80px}
.add-playlist-list li.loader{width: 20px}

.add-playlist-list-ul:hover{background-color: #333; color:#fff; cursor: pointer}

.add-playlist-list li{background-color: transparent}

/* Account */
.account-left{width: 220px; margin-right: 30px; float: left}
.account-left .well{padding: 10px 0px}

.account-right{width: 850px; float: left}
.account-right h2 .label{vertical-align: middle}

.account-heading{position: relative}
.account-controls-left{width: 45%; float:left}
.account-controls-right{width: 45%; float:right}

.playlist-list{margin: 0px; padding: 0px;}
.playlist-list > li{margin: 0px; list-style: none; float: left; margin-right: 10px;
height: 120px}


.playlist-list > .thumb{display: block;width: 190px; }
.playlist-thumb{position: relative}
.playlist-thumb img{width: 160px; height: 100px; border: 1px solid #fff; 
position: absolute;}

.playlist-list .pltitle{font-size:13px; color:#000; font-weight: bold;}
.playlist-list .seperator{margin: 0px 8px}
.plinfo{width: 500px}
.playlist-list .pldesc{margin-top: 5px; color: #666; font-size: 11px}
.playlist-list .subinfo{font-size: 11px; color: #666}

.video-options{right: 5px; bottom: 5px;}
.video-options .btn{padding: 0px 2px; line-height: normal}

.row-exif { margin-left:0px; border-bottom:1px solid #DDD; padding-top:10px; }
.row-exif span:first-child { padding-left:5px; }
.row-exif-highlight { font-size:15px; }

.color-item { -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; }
.color-item:hover { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); }

.playlist-manage,.playlist-manage ul{ margin: 0px; padding: 0px}

.playlist-manage > li{list-style: none; padding: 0px; clear: both;
margin-bottom: 30px; min-height: 60px}

.playlist-manage li ul li{margin:0px; float: left; display: inline-block;
 list-style: none; padding: 0px;margin-right: 10px; min-height: 60px }
.playlist-manage .iteration{font-size: 11px; }
.playlist-manage .thumb img{width: 70px; height: 50px; border: 1px solid #000; 
          box-shadow: 2px 2px 2px #aaa; margin-right:5px}
.playlist-manage .iteration,.playlist-manage .move,.playlist-manage .delete{padding-top: 18px}
.playlist-manage .delete{float: right}
.playlist-manage .span4{vertical-align:top}
.playlist-manage .video-title{font-size: 14px; font-weight:bold; margin-bottom: 5px}
.playlist-manage .move{cursor:move}

.video-index-sidebar a h5 {
    color : #333;
}
.video-index-sidebar a:hover {
    text-decoration: none;
}

.video-index-sidebar a:hover h5 {
    color: #006699;
}

.nav-tabs-cbv3 {
    background: #efefef;
    background: -moz-linear-gradient(top,  #efefef 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,  #efefef 0%,#cccccc 100%);
    background: -o-linear-gradient(top,  #efefef 0%,#cccccc 100%);
    background: -ms-linear-gradient(top,  #efefef 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #efefef 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cccccc',GradientType=0 );
    border:solid #aaa; border-width: 1px 0px; position: relative;
    font-size: 10px; text-transform: uppercase;
}

.nav-tabs-cbv3 li.button {
    position: absolute;
    right: 0px;
}

.nav-tabs-cbv3 > li, .nav-tabs-custom-bottom-active > li {
    float: left;
    margin-bottom:-1px;
}

.nav-tabs-custom-top-active > li {
    margin-bottom:0px;
    margin-top: -1px;
}

.nav-tabs-cbv3 > li > a {
    color :#333;
    margin: 0px;
    padding: 6px 20px;
    border-right: 1px solid #aaa;
    border-radius: 0px;
}

.nav-tabs-cbv3 > li > a:hover {
    border-radius: 0px;
    background: none;
}

.nav-tabs-cbv3 span {
    display:block;
    font-size:15px;
    color: #333;
    text-transform: none;
}

.nav-tabs-cbv3 > .active > a {
    background: none;
    margin: 0px;
    color:#006699;
}
.nav-tabs-cbv3 > .active, .nav-tabs-custom-bottom-active > .active  {
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(227,227,227,1) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff',GradientType=0 );
}

.nav-tabs-custom-top-active > .active {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(227,227,227,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 );
}

.nav-tabs-cbv3 > .active span {
    color : #006699;
}

.cbv3-index-photo {
    width:189px; height:169px; display: block;
    background: #f8f8f8;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #f8f8f8 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f2f2f2',GradientType=0 );
    border:1px solid #bbb; margin: -1px -1px 0px 0px;
    position: relative; box-shadow: inset 0px 1px 0px 0px white;
}

.cbv3-index-photo:hover {
    box-shadow: inset 0px 4px 8px -2px rgba(0,0,0,0.15);
}

.cbv3-index-photo:active {
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.15);
}

.cbv3-index-photo .index-photo, .cbv3-index-photo.cbv3-index-photo-big .index-photo {
    width : 160px;
    height: 140px;
    overflow: hidden;
    background : #eee;
    position:absolute;
    top : 50%; left: 50%;
    margin-left: -81px; margin-top: -71px;
    border:1px solid #ddd;
}

.cbv3-index-photo .index-photo span {
    display: table; 
    width:100%; height: 100%;
}

.cbv3-index-photo .index-photo span img {
    display: table-cell;
    min-width: 100%;
}

.photos-index.testing .cbv3-index-photo {
    background : red;
}

.cbv3-index-photo.cbv3-index-photo-big, .photos-index:nth-child(3n+1) .cbv3-index-photo {
    width: 379px;
    height: 339px;
}

.cbv3-index-photo.cbv3-index-photo-big .index-photo, .photos-index:nth-child(3n+1) .index-photo {
    width : 350px;
    height: 310px;
    margin-left: -175px;
    margin-top: -155px;
}

.photos-index:nth-child(3n+1) .cbv3-index-photo .index-photo { display: none; }
.photos-index:nth-child(3n+1) .cbv3-index-photo .index-photo.large { display: block !important; }
.photos-index:nth-child(6n-2) { float: right; }

#latest-videos .item { height: 290px; overflow: hidden; }
.index-middle-videos {
    width: 185px;
    height: 145px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 3px;
    display: block;
    color:#333;
     -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;
}

.index-middle-videos:hover {

}

.index-middle-videos p {
     font-size: 12px;
     margin: 0px 5px;
}

#latest-videos .item .index-middle-videos:nth-child(even) {
    margin-right: 0px;
}

.index-middle-videos img {
    width: 100%;
    height: auto;
}

.index-navigation-column {
    width: 200px;
    background:#252525;
    z-index: 10;
    color:white;
}

.index-sidebar-column {
    width:300px;
    margin-left:10px;
}

.index-content-column {
    width:570px;
    padding: 10px;
}

#index-navgiation-full-height, #index-content-full-height {
    position: absolute;
    top: 0px;
    left:0px;
    width:200px;
    height:100%;
    background: #252525;
    z-index: -1;
}

#index-content-full-height {
    background : #eeeeee;
    width:590px; left:200px;
}

.index-navigation-column .cb-widget {
    background: #111;
    border-bottom: 1px solid black;
    border-top: 1px solid #222222; 
    position: relative; margin-bottom: 0px;
}

.index-navigation-column .cb-widget-title {
    color :#f0f0f0; font-size: 14px;
    box-shadow: none; font-weight: normal;
    border-bottom:0px none; text-shadow: 0px -1px black;
    margin: 5px 8px 0px; line-height: 28px;
}

.index-channel-block {
    padding:8px;
}

.index-channel-block.not-logged-in {
    background: #414141;
}

.index-channel-block .channel-profile-image {
    max-width: 159px;
    z-index: 10; border: 1px solid #090909;
}
.index-channel-block ul {
    border:solid #090909;
    border-width: 1px 1px 0px 1px;
    position: absolute; z-index: 5;
    top: 8px; right: 6px;
}
.index-channel-block ul li {
    display:block;
    width:24px; height: 24px;
    background: #212121;
    background: -moz-linear-gradient(top,  #212121 0%, #181818 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#181818));
    background: -webkit-linear-gradient(top,  #212121 0%,#181818 100%);
    background: -o-linear-gradient(top,  #212121 0%,#181818 100%);
    background: -ms-linear-gradient(top,  #212121 0%,#181818 100%);
    background: linear-gradient(to bottom,  #212121 0%,#181818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#181818',GradientType=0 );
    border-bottom: 1px solid #090909;
}

.index-channel-block ul li a {
    display:block; text-align: center;
    width:24px; height: 24px; line-height: 24px;
}

.index-channel-block li:hover {
    background: #121212;
    background: -moz-linear-gradient(top,  #121212 0%, #0d0d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121212), color-stop(100%,#0d0d0d));
    background: -webkit-linear-gradient(top,  #121212 0%,#0d0d0d 100%);
    background: -o-linear-gradient(top,  #121212 0%,#0d0d0d 100%);
    background: -ms-linear-gradient(top,  #121212 0%,#0d0d0d 100%);
    background: linear-gradient(to bottom,  #121212 0%,#0d0d0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#0d0d0d',GradientType=0 );
}

ul.index-nav-list {
    list-style: none;
    border-top: 1px solid black;
}

ul.index-nav-list li {
    display: block;
}

.cbv3-scroller {
    max-height: 290px;
    overflow: hidden;
}

.cbv3-scroller .lb-v-scrollbar:hover, .cbv3-scroller .lb-v-scrollbar:hover .lb-v-scrollbar-slider {
    width: 10px;
}

.cbv3-scroller .lb-h-scrollbar:hover, .cbv3-scroller .lb-h-scrollbar:hover .lb-h-scrollbar-slider {
    height: 10px;
}

ul.index-nav-list li a {
    background: #101010;
    background: -moz-linear-gradient(top,  #101010 0%, #0c0c0c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#0c0c0c));
    background: -webkit-linear-gradient(top,  #101010 0%,#0c0c0c 100%);
    background: -o-linear-gradient(top,  #101010 0%,#0c0c0c 100%);
    background: -ms-linear-gradient(top,  #101010 0%,#0c0c0c 100%);
    background: linear-gradient(to bottom,  #101010 0%,#0c0c0c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#0c0c0c',GradientType=0 );
    display:block; padding: 5px 8px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid black;
    font-size: 11px; color:#999;
}

ul.index-nav-list li a:hover {
    text-decoration: none;
    background: #0c0c0c;
    background: -moz-linear-gradient(top,  #0c0c0c 0%, #101010 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c0c0c), color-stop(100%,#101010));
    background: -webkit-linear-gradient(top,  #0c0c0c 0%,#101010 100%);
    background: -o-linear-gradient(top,  #0c0c0c 0%,#101010 100%);
    background: -ms-linear-gradient(top,  #0c0c0c 0%,#101010 100%);
    background: linear-gradient(to bottom,  #0c0c0c 0%,#101010 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#101010',GradientType=0 );

}

ul.index-nav-list li:last-child a {
    border-bottom:0px none;
}

/* Upload Page and all CSS related to it */
#upload_options_container{}
#upload_window{float: left; padding-right: 20px; width: 45%; margin-right: -1px; border-right: 1px solid #ccc}
#upload_options{float:left; padding-left: 20px; width: 50%; border-left: 1px solid #cccccc}
.upload-window{display: none}
.upload-icon{width: 27px; height: 26px; background-image: url('../images/upload-icons.png'); background-repeat: no-repeat;
display: inline-block; left: 10px; position: absolute}
.upload_options{margin: 0px; padding: 0px; list-style: none;}
.upload_options li{list-style: none;width: 400px; cursor: pointer; position: relative; padding: 10px 25px 10px 50px; border: 1px solid #fff; margin-bottom: 15px}
.upload_options .upload-title{font-size: 18px; font-weight: bold; }
.upload_options .upload-desc{font-size: 12px}

.upload_options li:hover,.upload_options li.active{border:1px solid #dbdbdb; border-radius: 3px; -mox-border-radius:3px; -webkit-border-radius: 3px;
background: rgb(255,255,255);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 38%, rgba(229,229,229,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(229,229,229,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(229,229,229,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 38%,rgba(229,229,229,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 38%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.upload_computer_window{text-align: center; padding: 30px 10px;}
.upload-files-dropable {
  background-color: #FAFAFA;
  border: 2px dotted #DDDDDD;
  color: #333333;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px 60px;
}
.drag_start{
    font-size: 20px;
    padding: 30px 60px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px dashed #DDDDDD;
}

.upload-divider{background-color: #eee; height: 1px; width: 100%; box-shadow: 0 5px 6px #ccc; margin-top: 15px}
.upload_list{width: 300px; min-height: 60px; padding: 15px;background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 60%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 60%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 60%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 60%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 60%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; border:1px solid #eee; margin-top: 15px}

.upload_list{opacity: 0.50; cursor: pointer}
.upload_list_active{opacity: 1.0; box-shadow: 0px 0px 3px #06c}

.upload_list .video-title, .upload_list .title{font-size: 14px; font-weight: bold; margin-left: 5px; vertical-align: top; display: inline-block; width: 280px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.upload_list .progress{margin: 5px 0px}
.upload_list .percent_upload{}
.upload_list .upload-stats{font-size: 11px;}
.upload-btn-options{padding: 8px; border: 1px solid #aaa;
border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
background: rgb(255,255,255);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 70%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(242,242,242,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 70%,rgba(242,242,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.upload-btn-options .form{margin-top: 15px}
.upload-btn-options .form-btn{cursor: pointer !important}
.upload_list_container{display: inline-block; float: left}
.upload-form-container{ width: 768px; float: left}
.upload-form{padding: 20px}
.upload-form .title h2 { word-wrap: break-word; }

.photo-upload-image-preview {
    border-radius: 3px; background: #E2E2FF;
    height: 200px; box-shadow: inset 0px 0px 0px 2px white;
    border: 1px solid #ccccff; position: relative; overflow: hidden;
}

.photo-upload-preview-outer {
    border-radius: 3px; background: white;
    padding: 2px; border: 1px solid #ccccff;
    margin-bottom: 5px;
}

.photo-upload-preview-inner {
    height: 198px; overflow: hidden;
    background: #e2e2ff; position: relative;
}

.photo-upload-preview-inner .no-photo-preview {
    max-width: 176px; opacity: 0.5;
    position: absolute; left: 50%; margin-left: -88px;
    top: 50%; margin-top: -57px;
}

.photo-upload-preview-inner img.new-photo-preview {
    width: 100%;
    max-width: none;
    margin-top: -100px;
}

/* Overall progress. Total files added, total files uploaded, total size and total progress */

.upload-overall  {
    margin-top: 10px;
}

.upload-overall .title h2 {
    text-transform: uppercase;
    padding: 0px; margin: 0px;
    border-bottom: 0px none;
}

.upload-overall .title h2 small {
    text-transform: none;
    font-weight: light;
    color : #666666;
}

.upload-overall .progress {
    position: relative;
    height: 30px;
}

.upload-overall .progress .percent_upload {
    position: absolute; top: 0px;
    text-align: center; height: 30px;
    width: 100%; line-height: 30px;
    font-size: 14px; font-weight: bold;
}

.upload-overall .progress .bar {
    height: 100%;
}

/* Editors Pick */
.cbv3-editors-pick {
    background : #333;
    position: relative;
}

.cbv3-editors-pick.editor-pick-no-videos {
    height:250px; 
    text-align: center;
    color:#999;
}

.editor-pick-has-videos {
    color : #dedede;
}

.editor-pick-no-videos .no-videos-message {
    display: table;
    width:100%;
    height:100%;
    font-size: 18px;
    font-weight: lighter;
}

.editor-pick-no-videos .no-videos-message span {
    display: table-cell;
    vertical-align: middle;
}

.editor-pick-no-videos .no-video-help {
    margin-top: 15px;
    font-size:14px;
    font-weight:normal;
    color:#aaa;
}

.editor-pick-video {
    padding: 10px 10px 7px 10px;
}

.editor-pick-video-title {
    border-bottom: 1px solid #333333;
    padding: 0px 8px 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
}

.editor-pick-video-description {
    height: 195px;
    overflow: hidden;
    padding: 10px 0px 0;
}

.editor-pick-videos-list {
    clear: both;
    width: 880px;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    border: solid #131313;
    border-width: 0px 0px 0px;
}

.editor-pick-videos-list .lb-content {
    letter-spacing: -4px;
    word-spacing: -4px;
}

.editor-pick-videos-list .lb-h-scrollbar, .editor-pick-videos-list .lb-h-scrollbar-slider {
    display: block !important;
    height: 10px;
    opacity: 0.5;
    bottom: 4px;
}

.editor-pick-videos {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #131313;
    border-bottom: 1px solid #131313;
    background: #333333;
    border-left: 1px solid #131313;
    background: -moz-linear-gradient(top,  #333333 0%, #232323 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#232323));
    background: -webkit-linear-gradient(top,  #333333 0%,#232323 100%);
    background: -o-linear-gradient(top,  #333333 0%,#232323 100%);
    background: -ms-linear-gradient(top,  #333333 0%,#232323 100%);
    background: linear-gradient(to bottom,  #333333 0%,#232323 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#232323',GradientType=0 );
    cursor: pointer;
    margin-left: -1px;
    z-index:50;
}

.editor-pick-videos:first-child {
    margin-left: 0px;
}

.editor-video-details-wrapper {
    padding: 6px 18px 6px 12px;
    border-top: 3px solid #131313;
    position: relative;

}

.editor-video-details-wrapper .play-icon {
    background: rgba(0,0,0,0.2);
    width: 50px;
    height: 38px;
    position: absolute;
    top: 6px; left: 12px;
}

.editor-video-details-wrapper .play-icon i {
    width: 28px;
    height: 28px;
    border: 2px solid #f8f8f8;
    border-radius: 28px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
    display: block;

}

.editor-video-details-wrapper .play-icon i b {
    border-left: 15px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    height: 0px; width: 0px;
}

.editor-pick-videos.selected {
    background: #141414;
    background: -moz-linear-gradient(top,  #141414 0%, #0b0b0b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#0b0b0b));
    background: -webkit-linear-gradient(top,  #141414 0%,#0b0b0b 100%);
    background: -o-linear-gradient(top,  #141414 0%,#0b0b0b 100%);
    background: -ms-linear-gradient(top,  #141414 0%,#0b0b0b 100%);
    background: linear-gradient(to bottom,  #141414 0%,#0b0b0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#0b0b0b',GradientType=0 );
    border-color: black;
    z-index: 100;
}

.editor-pick-videos.selected .editor-video-details-wrapper {
    border-top-color : #000033;
}

.btn-block {
    display: block; 
    width: 100%; 
    padding-right: 0px; 
    padding-left: 0px; 
    box-sizing: border-box
}

.featured-middle-content {
    background: white;
    border: solid #ccc;
    border-width: 1px 0px;
    padding: 15px 0px;
    position: relative;
    margin-bottom: 20px;
}

.featured-middle-content:before, .featured-middle-content:after {
    content: '';
    position: absolute;
    background: inherit;
    top: -1px;
    bottom: 0px;
    width: 10px;
    border: inherit;
    height: 100%;
}
.featured-middle-content:before { right: 100%; } .featured-middle-content:after { left: 100%; border-right: 1px solid; border-color: inherit }

.carousel-inner .featured-video-block:first-child { border-radius: 4px 0px 0px 4px }
.carousel-inner .featured-video-block:last-child { border-radius: 0px 4px 4px 0px }
.featured-video-block {
    width: 283px;
    height: 220px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dddddd 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#dddddd 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#dddddd 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=0 );
    display: inline-block;
    border: 1px solid #aaa;
    margin-left: -5px;
    color: #666;
    vertical-align: top;
}

.featured-video-block:hover {
    text-decoration: none;
    background: white;
}

.featured-video-block:first-child {
    margin-left: 0px;
}

.featured-video-inner-block {
    width: 260px;
    margin: auto;
}

.featured-video-inner-block h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.featured-video-block:hover .featured-video-inner-block h4 {
    text-decoration: underline;
}

.featured-video-inner-block p {
    font-size: 11px;
    margin: 0px;
    height: 25px;
    overflow: hidden;
    text-overflow:clip;
}

.featured-video-block:hover .featured-video-inner-block p {
    color: #666;
    text-decoration: none;
}

.featured-video-thumb-block {
    width: 100%;
    height: 146px;
    overflow: hidden;
    background: white;
    margin: 10px auto 5px;
}

.featured-video-thumb {
    width: 100%; display: block;
    height: 73px; overflow: hidden;
}

.featured-video-thumb img {
    width: 100%;
    max-width: none;
}

.featured-video-thumb.small {
    width: 50%; float: left; height: 73px; overflow: hidden;
}

.two-thumbs .featured-video-thumb.small, .one-thumb .featured-video-thumb.small {
    height: 100%;
}

.one-thumb .featured-video-thumb.small {
    width: 100%;
}

.one-thumb .featured-video-thumb.small img {
    width: 100%
}

.two-thumbs .featured-video-thumb.small img {
    height: 100%;
    width: auto;
}

/* Special style of carousel for featured videos */
#featured-videos .carousel-inner {
    z-index: 150;
}

#featured-videos .carousel-control {
    opacity: 1;
    top: auto;
    bottom: -34px;
    left: 0px;
    width: 50%;
    border-radius: 0px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: normal;
    border: solid #aaa;
    border-width: 1px 0px 1px 1px;
    border-bottom: 1px solid #ccc;
    height: 30px;
    z-index: 75;
    background: #f8f8f8;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #f5f5f5 65%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(65%,#f5f5f5), color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f5f5f5 65%,#e0e0e0 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#f5f5f5 65%,#e0e0e0 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#f5f5f5 65%,#e0e0e0 100%);
    background: linear-gradient(to bottom,  #f8f8f8 0%,#f5f5f5 65%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e0e0e0',GradientType=0 );
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    border-radius: 4px 0px 0px;
}

#featured-videos .carousel-control:hover {
    color: #000033;
}

#featured-videos .carousel-control:active {
    background: white;
}

#featured-videos  .carousel-control.right {
    right: 1px;
    left: auto;
    border-left: 0px none;
    border-right: 1px solid #aaa;
    border-radius: 0px 4px 0px 0px;
}

/* Carousal */
body .carousel-control {
    top:50%;
    left: 15px;
}


/* Embed Boxes */
.dim-box{
    padding: 3px;
    display: inline-block; margin-right: 10px;
    word-spacing: 6px;
    color: #666; font-size: 11px; border: 1px solid transparent;
    text-align: center;
    cursor: pointer
}

.dim-box:hover{border: 1px solid #d6ddeb }
.dim-box-selected{background-color:#d8e6fb;border: 1px solid #d6ddeb }
.dim-block{border: 1px solid #d0d0d0;
background-color: #dddddd; }
.dim-315{height: 34px; width: 60px}
.dim-360{height: 38px; width: 66px}
.dim-480{height: 42px; width: 74px}
.dim-720{height: 46px; width: 80px}
.dim-custom{font-size: 13px; word-spacing: normal;}
.dim-custom label,.dim-custom .controls{width: 40px; display: inline-block; 
         font-size: 11px; color: #666}
.dim-custom .control-group{margin: 0px; height: 30px; text-align: left}
.dim-custom .controls{width: 75px}

/* Photo share block */
#share-photo-block .photo-embed-name {
    font-size: 15px;
}

#share-photo-block .control-group {
    margin-bottom: 12px;
}

#share-photo-block .photo-embed-code {
    width: 80%; font-size: 14px;
    padding: 8px 15px; font-family: Consolas,Monaco,monospace;
     -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;
}

#share-photo-block .photo-embed-code.photo-embed-code-updating {
    background: #08C;
    border-color: #04C;
    color: white;
}

#share-photo-block .control-group {
    width: 50%; display: inline-block; vertical-align: top;
}

#share-photo-block .help-block {
    margin: 0px;
    font-size: 12px;
}

#share-photo-block hr {
    margin: 0px 0px 12px;
}

#share-photo-block .toggle-photo-size a {
    font-size: 14px;
}
.playlist-menu{width: 300px; padding: 10px}

.playlist-list-container .playlist-thumb{margin-right: 5px; vertical-align: top}
.playlist-list-container{color: #333}
.playlist-list-container .playlist-item{border-bottom: 1px solid #eee; 
padding-bottom: 5px; margin-bottom: 5px ;font-weight: bold; font-size: 12px; position: relative; cursor: pointer}
.playlist-list-container .playlist-item .item-thumb{margin-right: 5px; vertical-align: top;}
.item-active{color:#06c} .item-active h6{font-size: 7px}
