
.feed
{
    width: 570px;
    line-height: 20px;
}

.feed .feed-author{width: 42px; height: 42px; overflow: hidden;
                   border: 1px solid #000; float: left; margin-right: 12px}
.feed .feed-author{width: 42px; }
.feed .feed-context{float: left; width: 514px}
.feed .feed-context .feed-author-name{font-size: 12px; font-weight: bold; line-height: 12px}
.feed .feed-context .feed-message{font-size:12px }
.feed .feed-context .feed-content{
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #fff;
    padding: 5px; margin-top: 5px;
    position: relative;
    padding-left: 135px;
    font-size: 11px;
    font-family: Tahoma;
    line-height: 15px;
    height: 90px;
}
.feed .feed-context .feed-content .content-thumb{
    position: absolute; left: 5px; overflow: hidden; height: 90px;
}

.feed .feed-context .feed-content .content-thumb img{
    max-width: 120px;
} 

.feed .feed-context .feed-content .content-title a,
.feed .feed-context .feed-content .content-title{
    font-weight: bold;
    text-decoration: none
}
.feed .feed-context .feed-content .content-caption a,
.feed .feed-context .feed-content .content-caption{
    color: #acacac;
    text-decoration: none
}

.feed .feed-context .feed-content .content-description{
    margin-top: 3px;
    color: #5c5c5c
}

.feed .feed-options{font-size: 11px; color: #000; margin-top: 5px}
.feed .feed-options .feed-action-buttons{float: left;
                                         display: inline-block; font-weight: bold}

.feed .feed-options .feed-time{float: right;
                               display: inline-block}

.feed .feed-interaction{font-size: 11px; line-height: 15px; margin-bottom: 10px}
.feed .feed-interaction .feed-likes
{
    background-color: #f8f8f8; margin-bottom: 1px;
    padding: 6px; font-size: 11px; font-weight: bold;
}

.feed .feed-interaction .feed-triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6.5px 8px 6.5px;
    border-color: transparent transparent #f8f8f8 transparent;
    margin-left: 22px;
}

.feed .feed-comment{
    font-size: 11px;
    background-color: #f8f8f8; margin-bottom: 1px;
    position: relative;
    padding: 6px;
    padding-left:43px;
}

.feed .feed-comment-author{
    position: absolute; left: 6px; overflow: hidden; 
}
.feed .feed-comment-author img{width: 32px}

.feed .feed-comment .feed-comment-likes{margin-top:5px}
.feed .feed-comment .comment-field{width:97%; height: 20px}

.feed-like-link{text-decoration: none; cursor: pointer}

.add-comment-field{position: relative}
.comment-field-backend{position: absolute; top: 5px; left: 8px; color:transparent; 
                       font-size: 14px; line-height: 20px; width: 449px; 
                       word-wrap: break-word; word-break: break-all;
                       white-space:pre;
                       cursor:text}
.comment-field { background-color: transparent;resize: none;}


.new_post_box{
    position: relative;
    min-height: 60px;
    margin-bottom: 25px;

}

.post_user_thumb{
    position: absolute;
    width: 40px;
    height: 40px;

}

.new_post_container{
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-color: #fff; margin-bottom: 5px
}

.new_post_container{

    -webkit-border-top-left-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    border-top-left-radius: 0px !important;
}

.post_message_container{padding: 7px;}

.post_message{
    display: block;
    border: none;
    box-shadow: none;
    width: 100%; padding: 0px; resize: none;
   
}
.post_message:focus{ box-shadow: none}

.new_post_box .post_btns .btn:last-child{
    -webkit-border-top-right-radius: 3px !important;
    -moz-border-radius-topright: 3px !important;
    border-top-right-radius: 3px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.new_post_box .post_btns .btn:first-child{
    -webkit-border-top-left-radius: 3px !important;
    -moz-border-radius-topleft: 3px !important;
    border-top-left-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.new_post_box .post_btns{margin-left: 50px; margin-bottom: -1px}

.post_options{
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: #eee
}

.post_options .btn{padding-left: 20px; padding-right: 20px;
border-radius: 0px ; font-weight: bold;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}