.feed
{
    position: relative;
}

.view-channel-box.feed-box .view-channel-box-content {
    margin-bottom: -19px;
}

.feed .feed-header {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.feed .feed-row { background-color: #EFEFEF; padding: 6px 8px; margin: 1px 0px 0px; font-size: 11px; }
.feed .feed-header .feed-author{  }
.feed .feed-header .feed-author-name{ font-size: 12px; font-weight: bold; line-height: 12px; vertical-align: top; display: inline-block; margin-left: 5px; }
.feed .feed-header .feed-time { font-size: 12px; color: #666; position: absolute; left: 48px; bottom: 8px; }
.feed .feed-header .feed-time .icon-globe { opacity: 0; margin-left: 2px; }
.feed .feed-context{ margin: 0px -11px;  }
.feed .feed-context .feed-message{ font-size:13px; margin-bottom: 8px; padding-left: 13px; }
.feed .feed-context .feed-message-only { font-size:14px }
.feed .feed-context .feed-content{
    background-color: whitesmoke;
    position: relative;
    font-size: 11px;
    line-height: 16px;
    margin: 0px 11px;
    border: solid #ccc;
    border-width: 1px;
    padding: 5px;
    border-radius: 2px;
    
}
.feed .feed-context .feed-content .content-thumb{
    float: left;
    height: 90px;
    width: 120px;
    margin-right: 6px;
    
}

.feed .feed-context .feed-content .content-thumb img{
    max-width: 120px;
    min-height: 100%;
} 

.feed .feed-context .feed-content .content-title a,
.feed .feed-context .feed-content .content-title{
    font-weight: bold;
    text-decoration: none
}
.feed .feed-context .feed-content .content-caption a,
.feed .feed-context .feed-content .content-caption{
    color: #acacac;
    text-decoration: none
}

.feed .feed-context .feed-content .content-description{
    margin-top: 3px;
    color: #5c5c5c
}

.feed .feed-options{ margin-top: 10px; }
.feed .feed-options .feed-action-buttons{ padding: 3px 6px; color: #666; }

.feed .feed-options .feed-time{float: right; display: inline-block}

.feed .feed-interaction{font-size: 11px; line-height: 15px; margin-bottom: 10px}
.feed .feed-interaction .feed-likes
{
    background-color: #EFEFEF; margin-bottom: 1px;
    padding: 6px; font-size: 11px; font-weight: bold;
}

.feed .feed-triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6.5px 8px 6.5px;
    border-color: transparent transparent #EFEFEF transparent;
    margin-left: 22px;
    margin-bottom:  -1px;
}

.feed .feed-comment {
    font-size: 11px;
    background-color: #EFEFEF; margin-bottom: 1px;
    position: relative;
    padding: 6px;
    padding-left:43px;
}

.feed .feed-interaction > .feed-comment:last-child {
    border-radius: 0px 0px 2px 2px;
}

.feed .feed-comment-author{
    position: absolute; left: 6px; overflow: hidden; 
}
.feed .feed-comment-author img{width: 32px}

.feed .feed-comment .feed-comment-likes{margin-top:5px}

.feed-like-link{text-decoration: none; cursor: pointer}

.add-comment-field{position: relative}
.comment-field-backend{position: absolute; top: 5px; left: 8px; color:transparent; 
                       font-size: 14px; line-height: 20px; width: 449px; 
                       word-wrap: break-word; word-break: break-all;
                       white-space:pre;
                       cursor:text}
.comment-field { background-color: transparent;resize: none; padding: 0px}


.new_post_box{
    position: relative;
    min-height: 60px;
    margin-bottom: 25px;

}

.post_user_thumb{
    position: absolute;
    width: 40px;
    height: 40px;

}

.new_post_container{
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #fff; margin-bottom: 5px
}

.post_message_container{padding: 7px;}

.post_message{
    display: block;
    border: none;
    box-shadow: none;
    width: 100%; padding: 0px; resize: none;
   
}
.post_message:focus{ box-shadow: none}

.new_post_box .post_btns {
    margin: 0px; padding: 0px;
    list-style: none; margin-bottom: 5px !important;
}

.new_post_box .post_btns li {
    float: left;
    padding:0px 0px;
    margin-left: 20px;
}

.new_post_box .post_btns li:first-child {
    margin-left: 0px;
} 

.new_post_box .post_btns li a {
    color: #333;
    opacity: 0.5;
    font-weight: bold;
}

.new_post_box .post_btns li a:hover {
    text-decoration: none;
    opacity: 1;

}

.new_post_box .post_btns li.active a {
    opacity: 1;
}

.new_post_box .post_btns li a.active {
    opacity: 1;
}

.new_post_box .post_btns .btn:last-child{
    -webkit-border-top-right-radius: 3px !important;
    -moz-border-radius-topright: 3px !important;
    border-top-right-radius: 3px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.new_post_box .post_btns .btn:first-child{
    -webkit-border-top-left-radius: 3px !important;
    -moz-border-radius-topleft: 3px !important;
    border-top-left-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.new_post_box .post_btns{margin-left: 50px; margin-bottom: -1px}

.post_options{
    background-color: #eee;
    padding: 5px;
    text-align: right;
}

.post_options .btn{padding-left: 20px; padding-right: 20px;
border-radius: 2px; font-weight: bold;
}



.share_feed-content
{
    box-shadow: 0px 1px 0px #fff;
    padding: 5px; margin-top: 5px;
    position: relative;
    padding-left: 130px;
    font-size: 11px;
    font-family: Tahoma;
    line-height: 15px;
    height: 90px;
}
.share_feed-content .content-thumb{
    position: absolute; left:0px; overflow: hidden; height: 90px;
}

.share_feed-content .content-thumb img{
    max-width: 120px;
} 

.share_feed-content .content-title a,
.share_feed-content .content-title{
    font-weight: bold;
    text-decoration: none
}
.share_feed-content .content-caption a,
.share_feed-content .content-caption{
    color: #acacac;
    text-decoration: none
}

.share_feed-content .content-description{
    margin-top: 3px;
    color: #5c5c5c
}

.share_feed_modal_text,.share_feed_modal_text:focus,
.share_feed_target,.share_feed_target:focus
{
    border:0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    resize:none !important;
    width: 100% !important;
    
}
.share_feed_modal_form{margin-bottom: 0px}

.share_feed_target,.share_feed_target:focus{
    width: 300px !important;
    border: 1px solid #ccc !important;
    height: 23px !important;
    margin:0px !important;
    margin-left:5px !important
}

#share_feed_modal ul.as-selections li{
    float:none !important;
}
#share_feed_modal ul.as-selections{
    border: none !important;
    box-shadow: none !important;
    padding:0px !important
}

.share_feed_target_container{width: 340px; display: inline-block;
vertical-align: top; margin-left: 10px; height: 28px; overflow: hidden}

.post_message_container .mention{
    padding:0px;
}
.post_message_container .mentions-input-box .mentions{
    top:0px; left: 0px;
}


.add-comment-field .mentions-input-box .mentions{
    top:0px; left: 0px;
    font-size:14px; line-height: 20px
}


.add-comment-field .comment-field, .add-comment-field .comment-field:focus{
    border: none;
    padding: 0px;
    box-shadow: none;
    margin-bottom: 0px !important;
    height: 20px
}

.add-comment-field{
    padding: 5px;
    border: 1px solid #acacac;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    margin-bottom: 10px;
}
.add-comment-field form{padding: 0px !important; margin: 0px !important}

.share_feed_modal_form .mentions-input-box .mentions{top:0px; left: 0px}


.notifications{
    width: 300px;
}
.notifications .notify_title{
    padding:0px 5px;
    color: #333;
    font-size: 12px; font-weight: bold
}

.notifications div.seperator{
    margin: 5px 0px;
    border-bottom: 1px solid #ddd;
}

.notifications .notification{
    padding: 5px; position: relative;
    font-size: 12px;
}
.notifications .notification-padding{
    border-bottom: 1px solid #ddd;
}
.notify_avatar{
    width: 50px; height: 50px;
}
.notifications .notification_data{
    position: absolute;
    padding-left: 60px;
    left: 0px; top: 0px;
    color: #333
}

.notification_time{font-size: 12px; color: #ccc; color: #999}
.notification .actor_name{font-weight: bold}
.notifications-container{height: 300px;}
.notifications .all_notifications a{margin: 0px; padding: 0px; text-align: center}



.group-feed .feed-context{
    margin: 0px;
}



.group-feed{padding: 6px; margin-bottom: 10px; border-bottom: 1px solid #dedddd}

.group-feed .feed-interaction .feed-likes{background-color:#fff}
.group-feed .feed-row{background-color:#fff}
.group-feed .feed-triangle{border-color: transparent transparent #fff transparent;}
.group-feed .feed-context .feed-message{font-size:14px; padding-left: 2px}
.group-feed .feed-context .feed-content{
    margin: 0px;
}

.group-feed .feed-author img{position:absolute; left: 0px}
.group-feed .feed-author{padding-left:45px}
.group-feed .feed-header{border-bottom: 0px}
.group-feed .feed-header .feed-time{right:0px; left: auto}
.group-feed .feed-context{margin-left: 50px; margin-top: -20px}