/* 
    Document   : group
    Created on : Sep 23, 2012, 3:57:42 AM
    Author     : Arslan
    Description:
        Purpose of the stylesheet follows.
*/

.group-topic-block{
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff
}

.group-topic-block:first{border-top: none}
.group-topic-block:last{border-bottom: none}

.group-topic-block .group-topic-icon img{
    border:1px solid #000;
}

.group-topic-block .group-topic-icon{
    float: left;
    margin-right: 10px;
}

.group-topic-block .group-topic-title,.group-topic-block .group-topic-title a{
    font-weight: bold; font-size: 14px; color: #06c;
    line-height: 15px;
}

.group-topic-block .group-topic-desc{
    font-size: 12px;
}

.group-topic-block .group-topic-replies{
    padding: 3px 8px;
    text-align: center;
    background-color: #333;
    top: 10px;
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}

.group-topic-block .group-topic-replies ._replies{font-size: 10px; text-transform: uppercase}
.group-topic-block .group-topic-replies ._numeric{font-size: 16px; font-weight: bold}

.group-topic-block .group-topic{float: left; width: 435px}

.group-topic-block .group-topic-opts,.group-topic-block .group-topic-opts a{
    color:#06c; font-size: 10px;
}


.global-navigation-column .group-thumb
{
    border:1px solid #000;
    margin: 14px;
    width: 170px
}

.group-left-buttons{margin-bottom: 10px}
.group-left-buttons button{
    width: 170px;
}



/** Groups CSS **/
.group-block{

    font-size:12px;
    color: #7d7d7d;
    margin: 10px 0px;
    border:1px solid transparent;
    padding: 10px; min-height: 100px;
    position: relative
}
.group-block:hover{background-color: #f5f5f5; border : 1px solid #ddd; }
.group-block .group-left{width: 100px; position: absolute; left: 10px; }
.group-block .group-thumb{}
.group-right{padding-left: 110px}

.group-block .group-title, .group-block .group-title a{font-size: 14px; font-weight: bold; color: #000}
.group-block .group-desc{font-size: 13px; margin: 5px 0px}
.group-block .group-topics{font-size: 10px; font-weight: bold}
.group-block .group-topics ul{ list-style: none;margin: 0px; padding: 0px; list-style:none}
.group-block .group-topics ul li{list-style: none; list-style-type: none; line-height: 15px}
.group-block .group-topics ul li a{color:#7d7d7d;  text-decoration: underline;}
.group-block .group-stat{line-height: 15px; font-size: 10px; font-weight: bold}

.group-block .group-title{font-size: 17px; font-weight: bold; color: #000}
.group-block .group-desc{font-size: 13px; margin: 5px 0px}
.group-block .group-topics{font-size: 10px; font-weight: bold}
.group-block .group-topics ul{ list-style: none;margin: 0px; padding: 0px; list-style:none}
.group-block .group-topics ul li{list-style: none; list-style-type: none; line-height: 15px; float: left; margin-right: 15px}
.group-block .group-topics ul li a{color:#7d7d7d;  text-decoration: underline;}
.group-left-stat{line-height: 15px; font-size: 10px; font-weight: bold}

.view-group .group-title{font-size: 16px; text-shadow: 0px 1px 0px #fff; color: #222; font-weight: bold}
.view-group .nav{
    margin-top: 10px;
}
.view-group .nav-tabs > .active > a, .nav-tabs > .active > a:hover{
    box-shadow: 0px -2px 2px rgba(0,0,0,0.10);
    outline: none
}

.view-group .nav-tabs{
    color:#000;
}
.view-group .nav-tabs > li > a{padding-top:3px; line-height: 15px; padding-bottom: 3px; border-radius: 0px; font-size: 11px}
.group-head{margin-bottom: 15px}

.view-topic .topic-title{font-size: 15px; font-weight: bold}

.topic-bubble-caret {
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
  border-top: 8px solid transparent;
  height: 0;
  left: -7px;
  position: absolute;
  top: 10px;
  width: 0;
}

.group-topic-post .topic-content{width: 495px; float: right}
.group-topic-post .topic-post-thumb img{width: 40px; 
border-radius: 2px; -moz-border-radius:2px; -webkit-border-radius: 2px;
box-shadow: 0px 2px 1px rgba(0,0,0,0.16)
}
.group-topic-post .topic-post-thumb{margin-right: 10px; float: left;}
.group-topic-post .topic-title{font-size: 14px; font-weight: bold; }
.group-topic-post .topic-info{color: #7d7d7d; font-size: 10px}

.group-privacy{position: absolute; right:5px; top: 8px; font-size: 11px}

.group-topic-post .topic-post{font-size: 13px; font-weight: normal}
.group-topic-post .like-dislike{top: 7px; right: 7px}
.group-topic-post .topic-options a{font-size: 11px}

.group-video-block{width: 176px; float: left; margin-right: 20px; }

.group-video-checkable .video-thumb {
    border:3px #E6E6E6 solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.group-video-checkable label{cursor:pointer}

.group-video-checkable .checked-video {
  display: inline-block;
  height: 17px;
  padding: 0 0 0 2px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 15px;
  border: none;
  
}

.group-video-checked .video-thumb{border-color:#06c}

.group-video-block:nth-child(3n){margin-right: 0px}
.group-video-block .video-thumb img{width: 100%; height:110px;}
.group-video-info-cont{height: 80px; margin-bottom: 20px}
.group-video-info-cont .title a{font-size: 12px; color: #333; text-decoration: none; font-weight: bold;}
