/* 
    Document   : pm
    Created on : Dec 29, 2012, 2:22:37 AM
    Author     : Arslan
    Description:
        Purpose of the stylesheet follows.
*/



.pm_left_column
{
    float:left; width: 300px;
    border-right:1px solid #c3c3c3;
}

.pm_right_column{
    float:left;
    width:525px;
    margin-left: -1px;
    padding-left:  20px;
    border-left: 1px solid #c3c3c3
}

.thread_container{
    height: 50px;
    padding: 10px;
    padding-left: 70px;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px
}

.thread_container .thread_time{
    position: absolute;
    right: 010px;
    top: 00px; color: #999999; font-size: 10px;
}

.thread_container .thread_author_image{position: absolute; left: 10px;}
.thread_container .thread_author_image img{width: 50px; height: 50px}

.thread_container .thread_author_name{font-size: 14px; font-weight: bold; margin-top: 5px}
.thread_container .thread_subject{font-size:11px; font-family: Tahoma; color: #808080}

.thread_active{
    background: #0094de;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMSUiIHN0b3AtY29sb3I9IiMwMDk0ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA3N2IyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #0094de 31%, #0077b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#0094de), color-stop(100%,#0077b2));
    background: -webkit-linear-gradient(top,  #0094de 31%,#0077b2 100%);
    background: -o-linear-gradient(top,  #0094de 31%,#0077b2 100%);
    background: -ms-linear-gradient(top,  #0094de 31%,#0077b2 100%);
    background: linear-gradient(to bottom,  #0094de 31%,#0077b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094de', endColorstr='#0077b2',GradientType=0 );

}

.thread_active{color: #fff; margin-right: -1px}
.thread_active .thread_author_name{color: #fff; text-shadow: 1px 0px 0px #00699d}
.thread_active .thread_subject{color:#fff}
.thread_active .thread_time{color:#fff}

.msg_container{margin-bottom: 20px; position: relative; padding-left: 50px; font-family: Tahoma}
.msg_container .msg_author_thumb{position: absolute; left: 0px; top: 0px;}
.msg_container .msg_author_thumb img{width: 40px;}
.msg_container .msg_time{position: absolute; right: 0px; top: 0px; font-size: 11px;}

.msg_container .msg_author_name{font-weight: bold}

.new_msg_container{
    background-color: #eee;
    margin-left: -21px;
    padding: 10px 20px;
    border: 1px solid #c3c3c3;
   
    box-shadow: 0px -2px 2px rgba(0,0,0,0.1);
}

.new_msg_container form{margin: 0px;}

.new_msg_container .new_msg_textfield_container{
    border:1px solid #a8a8a8;
    border-radius: 2px; -webkit-border-radius:2px; -moz-border-radius: 2px;
    position: relative;
    padding: 5px;
    padding-right: 15px;
    background-color: #fff
}
.new_msg_container .new_msg_subj{font-weight: bold; margin-bottom: 10px}
.new_msg_container .new_msg_textfield_container .msg_smiley{position: absolute;
right: 3px; top: 3px}
.new_msg_container .new_msg_textfield_container textarea{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    width: 100%;
    resize: none;
}

.new_msg_actions{position: relative; margin-top: 5px; height: 35px}
.new_msg_actions .btn{position: absolute; right: 0px}
.new_msg_container .msg_subject{
    display: block;
    width: 100%;
    margin: 0px; padding: 0px; border: 0px;
    box-shadow: none !important; font-weight: bold;
    background: transparent; color: inherit
}

.msgs_container{height: 300px; padding-bottom: 20px}


.compose_new_form .as-selections{

}
.compose_new_form .as-selections input{box-shadow: none !important; border: none}
.compose_new_form .pm_subject{width: 98%; padding: inherit 1%}
.compose_new_form .pm_message{width: 98%; padding: inherit 1%}