/* 
    Document   : search
    Created on : Dec 26, 2012, 11:42:12 AM
    Author     : Fawaz
    Description:
        Purpose of the stylesheet follows.
*/

.search-header {
    position: relative;
}

.search-header button.btn {
    padding: 14px 18px;
    font-size: 16px;
}

.search-header .btn.active {
    border-color: #888;
}

.search-header .form-search input[type=text] {
    padding: 14px 18px;
    font-size: 16px;
}

.search-header .form-search input[type=text].span5 {
    width: 823px;
}

.search-header .input-append .btn-group:last-child .btn:first-child {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-left: -1px;
}

.search-options {
    position: relative;
}

.search-options-caret {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    bottom: -13px;
    left: 50%;
    margin-left: -7px;
    display: none;
}

.search-options-caret:before {
    position: absolute;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.5);
    z-index: -1;
    left: 50%;
    margin-left: -7px;
    top: -1px;
}

.search-header .btn.active .search-options-caret {
    display: block;
}

.search-header .selected-search-type {
    max-width: 100px;
    min-width: 100px;
    position: relative;
}

.search-header .selected-search-type span {
    display: block;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.search-header .selected-search-type i {
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -1px;
}

.search-advance-options {
    border: 1px solid rgba( 0, 0, 0, 0.3);
    margin-top: -9px;
    border-radius: 4px;
    padding: 0px 10px 10px;
    background: whitesmoke;
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.search-advance-options input[type=text], .search-advance-options select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: auto;
}

.search-advance-options .form-horizontal .control-label {
    padding-top: 10px;
}

.search-advance-options .controls label input[type=checkbox] {
    margin-right: 4px;
    margin-top: -2px;
}

.search-advance-options .controls br {
    display: none;
}

.search-advance-options-heading {
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba( 0,0,0,0.2 );
    padding: 10px; margin: 0px -10px 10px;
    box-shadow: 0px 1px 0px 0px white;
    background: #eee;
    border-radius: 3px 3px 0px 0px;
}

.search-advance-option {
    display: none;
}