/* 
    Document   : signup
    Created on : Dec 23, 2012, 11:51:39 PM
    Author     : Arslan
    Description:
        Signup Page Classes
*/


.signup_field input
{
    width:350px;
    font-size: 16px;
    padding: 7px;
}
.signup_field select{
   width:364px;
   font-size: 16px; 
}
.signup_field input[type=radio],.signup_field input[type=checkbox]{
    width:auto;
}

.signup_field label.radio{
    font-size:16px; font-weight: bold
}

.name_field input{
    width: 166px
}
.name_field{margin-bottom: 5px}

.signup_create_new{
    float: left;
    width: 400px;
    border-left: 1px solid #ccc;
    padding-left: 100px;
}

.signup_login_box{
    float: left;
    width: 49%;
    padding-left: 1%
}

.login_signup_bttn,
.signup_bttn{width: 363px!important }
