/* 
    Document   : videos
    Created on : Dec 25, 2012, 3:19:16 AM
    Author     : Arslan
    Description:
        Purpose of the stylesheet follows.
*/

#videos-container .global-content-column{
    background: #EEE;
    padding: 0px;
    border: solid #CCC;
    border-width: 0px 1px 1px 0px;
    padding: 0px 12px 12px;
    border-radius: 0px 3px 3px 0px;
    width: 610px;
}

.videos-filter-row
{
    padding: 8px;
    margin: 0px -12px 12px;
    border: solid #CCC;
    border-width: 1px 0px;
    background: white;
}


#videos-container .global-sidebar-column
{
    width: 250px;
}

/* Videos CSS */
.video-box{width: 190px; float: left; margin-right: 20px; position: relative}
.video-box .video-thumb{width: 100%; height: 120px; overflow: hidden}
.video-box .video-thumb img{width: 100%;}
.video-info-cont{height: 55px; margin-bottom: 20px}
.video-info-cont .title a{font-size: 12px; color: #333; text-decoration: none; font-weight: bold;
}
.video-info-cont .title {line-height:14px; margin: 4px 0px 3px; word-wrap:break-word; }

.video-info{font-size: 11px; width: 100%}

.rating-text{font-size: 12px;}
.rating-green{color: #006600}
.rating-red{color: #ed0000}


.video-options{right: 5px; top:95px;}
.video-options .btn{padding: 0px 2px; line-height: normal}

.video-box .video-thumb .video-badge{ position: absolute; top: 5px; right: 5px}