<div id="qlist_main" class="quicklist_box">
	<div class="quicklist_box_head clearfix">
		<span class="quick_title">Quicklists<!-- (<span id="qlist_count" data="{$litems_count}">{$litems_count}</span>) --></span>
		<div class="btn-group">
			<a class="ql_show-hide1 glyphicon glyphicon-minus btn btn-danger btn-sm" href="javascript:void(0)" onClick="quick_show_hide_toggle('#quicklist_cont')"></a>
			<a class="ql_rem glyphicon glyphicon-trash btn btn-danger btn-sm" href="javascript:void(0)"  ></a>
		</div>
	</div>
	<div id="quicklist_cont" class="quicklist_cont" style="display: block;">
		{foreach $qlist_videos as $ql_item}
			{include file="$style_dir/blocks/quicklist/fast_qlist.html"}
		{/foreach}
		<div id="my_quicklist" class="my_quicklist">
		</div>
	</div>
</div>