<div class="manage_contacts_tbl">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="15"><input type="checkbox" name="users[]" id="check_userd-{$user.userid}" value="{$user.userid}" /></td>
    <td width="50" height="50" align="center" valign="middle"><a href="{$userquery->profile_link($user)}"><img src="{$userquery->getUserThumb($user)}" alt="{$user.username}" width="40" height="40" border="0"></a></td>
    <td><a href="{$userquery->profile_link($user)}">{$user.username}</a></td>
    <td width="100">{$user.profile_hits|number_format}</td>
    <td width="100">{$status}
    </td>
    <td width="50" align="center" valign="middle">{if $del_link}<a href="{$del_link}"><img src="{$imageurl}/cancel.png" width="16" height="16" border="0" /></a>{/if}</td>
  </tr>
</table>
</div>